n8n-agent/workflows/HELPERS/[HELPERS] Stream Update Sender.json
{
  "updatedAt": "2025-11-23T17:39:25.000Z",
  "createdAt": "2025-11-20T21:29:51.803Z",
  "id": "che6u5z0grJ4AoNr",
  "name": "[HELPERS] Stream Update Sender",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "data",
              "type": "object"
            },
            {
              "name": "stage"
            },
            {
              "name": "status"
            },
            {
              "name": "message"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        -288
      ],
      "id": "620a761f-a3df-4749-a6d7-1dff35c52717",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.streamUrl || 'http://localhost:3000/api/stream/update' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.eventBody }}",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        -288
      ],
      "id": "23d01899-e4c6-4a3f-8c1d-d058bb42a977",
      "name": "Send Stream Update",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n   \"eventBody\":   {\n    \"executionId\": {{ $execution.id.toJsonString() }},\n    \"sessionId\": {{ ($json.sessionId ?? 'NO ID PROVIDED').toJsonString() }},\n    \"stage\": {{ $json.stage.toJsonString() }},\n    \"status\": {{ $json.status.toJsonString() }},\n    \"message\": {{ $json.message.toJsonString() }},\n    \"data\": {{ $json.data?.toJsonString() }} ,\n    \"streamUrl\": \"http://localhost:3000/api/stream/update\"\n  } \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -288
      ],
      "id": "27ce6c7c-468d-4511-82b3-03f71f5b0d82",
      "name": "Create Event Data"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event Data": {
      "main": [
        [
          {
            "node": "Send Stream Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "data": {},
          "stage": "manager_input",
          "status": "in_progress",
          "message": "Workflow is starting with user prompt: \"search for cody on telegram\"",
          "sessionId": null
        }
      }
    ]
  },
  "versionId": "8b61f27c-4976-427f-8604-de19747f58a7",
  "versionCounter": 13,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-20T21:29:51.806Z",
      "createdAt": "2025-11-20T21:29:51.806Z",
      "role": "workflow:owner",
      "workflowId": "che6u5z0grJ4AoNr",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}