n8n-agent/workflows/HELPERS/[HELPERS] Generic Context Scout Core.json
{
  "updatedAt": "2025-12-07T01:06:52.000Z",
  "createdAt": "2025-12-06T17:30:00.000Z",
  "id": "GenericContextScoutCore",
  "name": "[HELPERS] Generic Context Scout Core",
  "description": "Core workflow that orchestrates entity fetching, caching, and searching based on platform configuration",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "entity"
            },
            {
              "name": "platformConfig",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        304,
        352
      ],
      "id": "trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Debug: Log what we received\nif (!input.entity) {\n  throw new Error(`Entity is missing. Received input: ${JSON.stringify(input, null, 2)}`);\n}\n\nconst { query, entity, platformConfig } = input;\n\n// Validate entity exists in config\nif (!platformConfig || !platformConfig.entities || !platformConfig.entities[entity]) {\n  throw new Error(`Entity type '${entity}' not found in platform config. Input keys: ${Object.keys(input).join(', ')}`);\n}\n\nconst entityConfig = platformConfig.entities[entity];\n\n// Build fetch workflow inputs\nconst fetchWorkflowInputs = {};\n\n// If entity has special parameters, pass them\nif (entityConfig.mcpTool?.parameters) {\n  Object.assign(fetchWorkflowInputs, entityConfig.mcpTool.parameters);\n}\n\nreturn {\n  query: query || '',\n  entity: entity,\n  entityConfig: entityConfig,\n  platformConfig: platformConfig,\n  fetchWorkflowInputs: fetchWorkflowInputs\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        352
      ],
      "id": "prepare-entity",
      "name": "Prepare Entity Config"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-skip-query",
              "leftValue": "={{ $json.entityConfig.skipQuery }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        752,
        352
      ],
      "id": "check-skip-query",
      "name": "Check Skip Query"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-rag-status",
              "leftValue": "={{ $json.entityConfig.requiresRAGStatusCheck }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        976,
        280
      ],
      "id": "check-rag-status",
      "name": "Check RAG Status Required"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EntityCacheHandler",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cacheKey": "={{ $json.entityConfig.cacheKey }}",
            "ttl": "={{ $json.entityConfig.ttl || $json.platformConfig.defaultTTL }}",
            "fetchWorkflowId": "={{ $json.entityConfig.fetchWorkflowId }}",
            "fetchWorkflowInputs": "={{ $json.fetchWorkflowInputs }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ttl",
              "displayName": "ttl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "fetchWorkflowId",
              "displayName": "fetchWorkflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fetchWorkflowInputs",
              "displayName": "fetchWorkflowInputs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1200,
        352
      ],
      "id": "get-entity-data",
      "name": "Get Entity Data (Cache or Fetch)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "merge-entity-config",
              "name": "entityConfig",
              "value": "={{ $('Prepare Entity Config').first().json.entityConfig }}",
              "type": "object"
            },
            {
              "id": "merge-query",
              "name": "query",
              "value": "={{ $('Prepare Entity Config').first().json.query }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        352
      ],
      "id": "merge-entity-config",
      "name": "Merge Entity Config"
    },
    {
      "parameters": {
        "jsCode": "// Extract entity data from cache handler output and merge with entityConfig\nconst cacheHandlerOutput = $input.first().json;\nconst entityConfig = $json.entityConfig;\nconst query = $json.query || '';\n\n// Handle error cases from cache handler\nif (cacheHandlerOutput.error) {\n  throw new Error(`Failed to fetch entity data: ${cacheHandlerOutput.error}`);\n}\n\nif (!entityConfig) {\n  throw new Error(`entityConfig is missing. Available keys: ${JSON.stringify(Object.keys($json || {}))}`);\n}\n\nconst dataKey = entityConfig.dataKey;\n\n// Cache handler returns the data directly (from cache or fetch)\n// The data might be the array itself, or nested under dataKey\nlet entityData = cacheHandlerOutput;\n\n// If cacheHandlerOutput is an array, use it directly\n// Otherwise, check if it's nested under dataKey\nif (!Array.isArray(entityData) && entityData && entityData[dataKey] !== undefined) {\n  entityData = entityData[dataKey];\n}\n\n// Ensure entityData is an array\nif (!Array.isArray(entityData)) {\n  entityData = entityData ? [entityData] : [];\n}\n\n// Return data in format expected by search nodes\nreturn {\n  [dataKey]: entityData,\n  entityConfig: entityConfig,\n  query: query\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        352
      ],
      "id": "extract-entity-data",
      "name": "Extract Entity Data"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "search-type-fuzzy",
                    "leftValue": "={{ $('Prepare Entity Config').first().json.entityConfig.searchType }}",
                    "rightValue": "fuzzy",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FUZZY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "search-type-rag",
                    "leftValue": "={{ $('Prepare Entity Config').first().json.entityConfig.searchType }}",
                    "rightValue": "rag",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RAG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "search-type-none",
                    "leftValue": "={{ $('Prepare Entity Config').first().json.entityConfig.searchType }}",
                    "rightValue": "none",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NONE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1872,
        336
      ],
      "id": "route-search-type",
      "name": "Route Search Type"
    },
    {
      "parameters": {
        "query": "={{ $('Prepare Entity Config').item.json.query }}",
        "arrayField": "={{ $('Prepare Entity Config').item.json.entityConfig.dataKey }}",
        "searchKeys": "={{ $('Prepare Entity Config').item.json.entityConfig.fuzzyConfig.searchKeys.join('\\n') }}",
        "matchQuality": "={{ $('Prepare Entity Config').item.json.entityConfig.fuzzyConfig.matchQuality }}",
        "limit": "={{ $('Prepare Entity Config').item.json.entityConfig.fuzzyConfig.limit }}",
        "advancedOptions": {
          "includeScore": true,
          "matchIndividualWords": false
        }
      },
      "type": "n8n-nodes-paragon-os.fuzzySearch",
      "typeVersion": 1,
      "position": [
        2096,
        208
      ],
      "id": "fuzzy-search",
      "name": "Fuzzy Search"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IZa7S90Z9W1qxysr",
          "mode": "list",
          "cachedResultUrl": "/workflow/IZa7S90Z9W1qxysr",
          "cachedResultName": "[HELPERS] Dynamic RAG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mode": "SEARCH",
            "collectionId": "={{ $('Prepare Entity Config').first().json.entityConfig.ragConfig.collectionId }}",
            "input": "={{ $('Prepare Entity Config').first().json.query }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "collectionId",
              "displayName": "collectionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2096,
        496
      ],
      "id": "rag-search",
      "name": "RAG Search"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2320,
        336
      ],
      "id": "merge-results",
      "name": "Merge Results"
    },
    {
      "parameters": {
        "jsCode": "// Format final output based on search type\nconst input = $input.first().json;\n\n// Handle error cases\nif (input.error) {\n  throw new Error(input.error);\n}\n\nconst entityConfig = $('Prepare Entity Config').first().json.entityConfig;\nconst searchType = entityConfig.searchType;\n\n// Handle different output formats\nif (searchType === 'none' || entityConfig.skipQuery) {\n  // For skipQuery entities (like 'self'), return the data directly\n  const dataKey = entityConfig.dataKey;\n  return input[dataKey] || input;\n} else if (searchType === 'fuzzy') {\n  // Fuzzy search returns results with scores\n  return input;\n} else if (searchType === 'rag') {\n  // RAG search returns { results, count, answer }\n  // Extract results array\n  return input.results || input;\n}\n\n// Fallback: return as-is\nreturn input;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        352
      ],
      "id": "format-output",
      "name": "Format Output"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Entity Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Entity Config": {
      "main": [
        [
          {
            "node": "Check Skip Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Skip Query": {
      "main": [
        [
          {
            "node": "Get Entity Data (Cache or Fetch)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check RAG Status Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check RAG Status Required": {
      "main": [
        [
          {
            "node": "Get Entity Data (Cache or Fetch)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Entity Data (Cache or Fetch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Entity Data (Cache or Fetch)": {
      "main": [
        [
          {
            "node": "Merge Entity Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Entity Config": {
      "main": [
        [
          {
            "node": "Extract Entity Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Entity Data": {
      "main": [
        [
          {
            "node": "Route Search Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Search Type": {
      "main": [
        [
          {
            "node": "Fuzzy Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RAG Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fuzzy Search": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RAG Search": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "pasindu",
          "entity": "contact-rag",
          "platformConfig": {
            "platform": "TELEGRAM",
            "mcpCredentialId": "aiYCclLDUqob5iQ0",
            "cacheKeyPrefix": "telegram",
            "defaultTTL": 21600000,
            "entities": {
              "contact": {
                "cacheKey": "telegramContacts",
                "fetchWorkflowId": "TelegramContactFetch",
                "mcpTool": {
                  "name": "telegram_list_contacts",
                  "parameters": {
                    "limit": 200
                  },
                  "mcpDataKey": "contacts"
                },
                "mapper": "(c) => ({ id: c.id, username: c.username, displayName: c.name, lastMessage: c.lastMessageAtRelative, contactType: c.type, phone: c.phone })",
                "dataKey": "contacts",
                "searchType": "rag",
                "ragConfig": {
                  "collectionId": "paragon-os-contacts",
                  "autoIngest": true
                },
                "requiresRAGStatusCheck": true
              },
              "contact-rag": {
                "cacheKey": "telegramContacts",
                "fetchWorkflowId": "TelegramContactFetch",
                "mcpTool": {
                  "name": "telegram_list_contacts",
                  "parameters": {
                    "limit": 200
                  },
                  "mcpDataKey": "contacts"
                },
                "mapper": "(c) => ({ id: c.id, username: c.username, displayName: c.name, lastMessage: c.lastMessageAtRelative, contactType: c.type, phone: c.phone })",
                "dataKey": "contacts",
                "searchType": "rag",
                "ragConfig": {
                  "collectionId": "paragon-os-contacts",
                  "autoIngest": true
                },
                "requiresRAGStatusCheck": true
              },
              "chat": {
                "cacheKey": "telegramChannels",
                "fetchWorkflowId": "TelegramChatFetch",
                "mcpTool": {
                  "name": "telegram_list_chats",
                  "parameters": {
                    "limit": 50
                  },
                  "mcpDataKey": "items"
                },
                "mapper": "(g) => ({ id: g.id, name: g.name, members: g.memberCount, kind: g.kind, unread: g.unread })",
                "dataKey": "channels",
                "searchType": "fuzzy",
                "fuzzyConfig": {
                  "searchKeys": [
                    "name",
                    "kind"
                  ],
                  "matchQuality": 50,
                  "limit": 10
                }
              },
              "tool": {
                "cacheKey": "telegramTools",
                "fetchWorkflowId": "TelegramToolFetch",
                "mapper": "(t) => t",
                "dataKey": "tools",
                "searchType": "fuzzy",
                "fuzzyConfig": {
                  "searchKeys": [
                    "name",
                    "description"
                  ],
                  "matchQuality": 50,
                  "limit": 10
                }
              },
              "self": {
                "cacheKey": "telegramProfile",
                "fetchWorkflowId": "TelegramProfileFetch",
                "mapper": "(p) => p",
                "dataKey": "myProfile",
                "searchType": "none",
                "skipQuery": true
              },
              "message-rag": {
                "cacheKey": "telegramMessages",
                "fetchWorkflowId": "TelegramMessageFetch",
                "mcpTool": {
                  "name": "telegram_list_messages",
                  "parameters": {
                    "chat_id": "4000551178",
                    "limit": 100
                  },
                  "mcpDataKey": ""
                },
                "mapper": "(m) => ({ id: m.id, chatId: m.chatId, text: m.text || '', senderId: m.senderId, senderName: m.senderName || m.from?.name || '', date: m.date || m.timestamp, kind: m.kind || 'message' })",
                "dataKey": "messages",
                "searchType": "rag",
                "ragConfig": {
                  "collectionId": "paragon-os-messages",
                  "autoIngest": true
                },
                "requiresRAGStatusCheck": true
              }
            }
          }
        }
      }
    ]
  },
  "versionId": "e642b54f-e3c2-4f84-a375-dab838152794",
  "activeVersionId": null,
  "versionCounter": 6,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-12-07T00:23:48.980Z",
      "createdAt": "2025-12-07T00:23:48.980Z",
      "role": "workflow:owner",
      "workflowId": "GenericContextScoutCore",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}