n8n-agent/workflows/HELPERS/[HELPERS] Discord Tool Fetch.json
{
  "updatedAt": "2025-12-07T01:45:43.000Z",
  "createdAt": "2025-12-06T17:30:00.000Z",
  "id": "DiscordToolFetch",
  "name": "[HELPERS] Discord Tool Fetch",
  "description": "Fetches and normalizes Discord MCP tools",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        304,
        400
      ],
      "id": "trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        528,
        400
      ],
      "id": "mcp-call",
      "name": "List MCP Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Tools are returned differently - they're in result.content[0].text as a JSON object\n// Validate cache result - check if tools exist and is valid\nif (!input || !input.tools || (Array.isArray(input.tools) && input.tools.length === 0) || (typeof input.tools === 'object' && Object.keys(input.tools).length === 0)) {\n  // Try to extract from MCP response\n  try {\n    if (input.result?.content?.[0]?.text) {\n      const parsed = JSON.parse(input.result.content[0].text);\n      const tools = parsed.tools || parsed;\n      if (tools && Object.keys(tools).length > 0) {\n        return {\n          output: {\n            tools: Object.values(tools)\n          }\n        };\n      }\n    }\n  } catch (e) {\n    // Fall through to error\n  }\n  \n  // Invalid/empty cache - return error to trigger fetch\n  return {\n    error: 'Invalid or empty cache result',\n    shouldFetch: true,\n    output: { tools: [] }\n  };\n}\n\n// If tools is already an array, return as-is\nif (Array.isArray(input.tools)) {\n  return {\n    output: {\n      tools: input.tools\n    }\n  };\n}\n\n// If tools is an object, convert to array\nreturn {\n  output: {\n    tools: Object.values(input.tools)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        400
      ],
      "id": "normalize",
      "name": "Normalize Tools"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "List MCP Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List MCP Tools": {
      "main": [
        [
          {
            "node": "Normalize Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "491f1702-f833-4363-b8f1-69713414c020",
  "activeVersionId": null,
  "versionCounter": 6,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-12-07T00:23:56.000Z",
      "createdAt": "2025-12-07T00:23:56.000Z",
      "role": "workflow:owner",
      "workflowId": "DiscordToolFetch",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}