n8n-agent/workflows/HELPERS/[HELPERS] Dynamic RAG.json
{
  "updatedAt": "2025-12-05T14:06:25.000Z",
  "createdAt": "2025-12-02T01:18:35.706Z",
  "id": "IZa7S90Z9W1qxysr",
  "name": "[HELPERS] Dynamic RAG",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "batch-aggregate-node",
      "name": "Aggregate Batch",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1360,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/text-embedding-004:batchEmbedContents",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": {{ JSON.stringify($json.data.map(item => ({ \"model\": \"models/text-embedding-004\", \"content\": { \"parts\": [{ \"text\": item.content }] } }))) }}\n}",
        "options": {}
      },
      "id": "batch-embed-gemini",
      "name": "Batch Embed (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1584,
        960
      ],
      "typeVersion": 4.2,
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine original items with embeddings\nconst items = $('Aggregate Batch').first().json.data;\nconst embeddings = $input.first().json.embeddings;\n\n// Generate Qdrant points\nconst points = items.map((item, index) => {\n  let metadata = {};\n  try { metadata = JSON.parse(item.metadata || '{}'); } catch(e) {}\n  \n  // Qdrant requires ID to be unsigned integer or UUID\n  // Use the numeric id if available, otherwise use index\n  const id = typeof metadata.id === 'number' ? metadata.id : index;\n  \n  return {\n    id: id,\n    vector: embeddings[index].values,\n    payload: {\n      content: item.content,\n      metadata: item.metadata\n    }\n  };\n});\n\nreturn [{ json: { points, collectionId: $('Switch').first().json.collectionId } }];"
      },
      "id": "prepare-qdrant-points",
      "name": "Prepare Qdrant Points",
      "type": "n8n-nodes-base.code",
      "position": [
        1808,
        960
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://fc88ca3b-0d52-4861-8aea-4ddad3adb373.us-east4-0.gcp.cloud.qdrant.io:6333/collections/{{ $json.collectionId }}/points",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ points: $json.points }) }}",
        "options": {}
      },
      "id": "batch-upsert-qdrant",
      "name": "Batch Upsert (Qdrant)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2032,
        960
      ],
      "typeVersion": 4.2,
      "credentials": {
        "qdrantApi": {
          "id": "ytBh4xOzWNQ347S5",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://fc88ca3b-0d52-4861-8aea-4ddad3adb373.us-east4-0.gcp.cloud.qdrant.io:6333/collections/{{ $json.collectionId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"vectors\": {\n    \"size\": 768,\n    \"distance\": \"Cosine\"  \n  },\n  \"shard_number\": 1,  \n  \"replication_factor\": 1,  \n  \"write_consistency_factor\": 1 \n}",
        "options": {}
      },
      "id": "aed0bdff-4e56-4128-80f5-2e373cee6905",
      "name": "Create collection",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        64,
        2024
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "S0nticGtHhYu1fe4",
          "name": "Header Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {}
      },
      "id": "1d6ad257-d218-4964-8084-a69a6155e821",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "position": [
        672,
        1760
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "id": "dae1e6e6-16b2-4120-b5b1-adae15db6cae",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        640,
        1984
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "topK": 5
      },
      "id": "be311b8d-c43e-4be4-96e9-cbebb0dd4832",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "position": [
        768,
        1984
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $('Switch').item.json.collectionId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "2b128ca6-60ed-4e70-9a30-fe9aaa2c2d58",
      "name": "Qdrant Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        768,
        2192
      ],
      "typeVersion": 1.1,
      "credentials": {
        "qdrantApi": {
          "id": "ytBh4xOzWNQ347S5",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "f39fcb8f-71bc-4c1e-8bfe-f3a01e38c89c",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        1136,
        1508
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "document.metadata.file_id"
            },
            {
              "fieldToAggregate": "document.metadata.file_name"
            }
          ]
        },
        "options": {}
      },
      "id": "0934c7d2-f3f3-469e-8d87-65dbfa6de06c",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        776,
        1256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fc88ca3b-0d52-4861-8aea-4ddad3adb373.us-east4-0.gcp.cloud.qdrant.io:6333/collections/{{ $json.collectionId }}/points/delete",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {}\n}",
        "options": {}
      },
      "id": "6f4e90ae-415a-404b-ad61-c5ac62d74f10",
      "name": "Clear collection",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        64,
        960
      ],
      "typeVersion": 4.2,
      "retryOnFail": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "S0nticGtHhYu1fe4",
          "name": "Header Auth account"
        },
        "qdrantApi": {
          "id": "ytBh4xOzWNQ347S5",
          "name": "QdrantApi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b296c92b-d9ee-4322-b972-d1069d01feb8",
              "name": "output",
              "type": "string",
              "value": "={{ $('Question and Answer Chain').item.json.response }}\n\nSources: {{ (JSON.stringify($json.unique_file_names)) }},"
            }
          ]
        },
        "options": {}
      },
      "id": "ee957717-7708-4ec4-82de-6b5e0f59af04",
      "name": "Output",
      "type": "n8n-nodes-base.set",
      "position": [
        1584,
        1504
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\n// Creiamo Set per rimuovere duplicati\nconst uniqueFileIds = Array.from(new Set(item.file_id));\nconst uniqueFileNames = Array.from(new Set(item.file_name));\n\n// Ritorniamo un item con i valori univoci\nreturn [\n  {\n    json: {\n      unique_file_ids: uniqueFileIds,\n      unique_file_names: uniqueFileNames\n    }\n  }\n];\n"
      },
      "id": "17d5e418-e03f-4358-9a8c-0749c134ea37",
      "name": "Response",
      "type": "n8n-nodes-base.code",
      "position": [
        1360,
        1508
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bdb8250e-e4b6-4e5b-b3b2-4f941c14e307",
              "name": "content",
              "value": "={{ $('Switch').item.json.input.content }}",
              "type": "object"
            },
            {
              "id": "f30308e0-ffa7-4ced-9538-99077a0b7ecb",
              "name": "metadata",
              "value": "={{ $('Switch').item.json.input.metadata }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        960
      ],
      "id": "9f9b5121-2980-48c3-9d0b-81187e1a6df6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sourceField": "content",
        "outputMode": "multiple",
        "options": {
          "includeRawJson": true,
          "idField": "id",
          "skipEmpty": true
        }
      },
      "type": "n8n-nodes-paragon-os.jsonDocumentLoader",
      "typeVersion": 1,
      "position": [
        776,
        960
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "JSON Document Loader"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "map-content-field",
              "name": "content",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "map-metadata-field",
              "name": "metadata",
              "type": "string",
              "value": "={{ JSON.stringify($json.metadata) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        960
      ],
      "id": "b2c3d4e5-f678-9012-bcde-f23456789abc",
      "name": "Map to Vector Store Format"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        360,
        1480
      ],
      "id": "e873c882-2217-4bde-920a-06bc481ea5db",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        2400
      ],
      "id": "1428525f-8265-4b91-ab83-3a82696e8348",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $('Switch').item.json.collectionId }}",
          "mode": "id"
        },
        "prompt": "={{ $json.input }}",
        "topK": 5,
        "options": {}
      },
      "id": "579efbf5-55e4-4c28-9bcb-c8b4652d0e54",
      "name": "Retrive sources1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        288,
        1256
      ],
      "typeVersion": 1.3,
      "alwaysOutputData": true,
      "credentials": {
        "qdrantApi": {
          "id": "ytBh4xOzWNQ347S5",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        64,
        1508
      ],
      "id": "1286b78a-a4ba-429c-83cc-911c058e1bd1",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "input",
              "type": "any"
            },
            {
              "name": "mode"
            },
            {
              "name": "collectionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -832,
        1928
      ],
      "id": "0daf4a1a-88cc-4f6f-b827-b663ba32c0b8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0c0d73c5-48dd-4704-a4ec-018e7f38fbd3",
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "INSERT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INSERT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "81936f1d-a6cb-45af-b8b8-6dffa7f565fb",
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "SEARCH",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SEARCH"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "CLEAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "204b2ebf-7ad7-4e51-9849-6553610a5afb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CLEAR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d9f4d1f-c41b-4578-a7c4-d09f8fde2876",
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "CREATE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CREATE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7b1d45a5-0dec-4a34-96c2-aceb7bed030a",
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "DELETE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DELETE"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -160,
        1864
      ],
      "id": "ae868fcd-b699-437f-908b-bd9fd03b5941",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fc88ca3b-0d52-4861-8aea-4ddad3adb373.us-east4-0.gcp.cloud.qdrant.io:6333/collections/{{ $json.collectionId }}/points/delete",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {}\n}",
        "options": {}
      },
      "id": "7fc827f6-2878-4fe4-bdd7-96eecddd8c05",
      "name": "Clear collection1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        64,
        1832
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "S0nticGtHhYu1fe4",
          "name": "Header Auth account"
        },
        "qdrantApi": {
          "id": "ytBh4xOzWNQ347S5",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -608,
        1928
      ],
      "id": "337f0a5f-c7fc-4fe4-958c-39abd6c8b51c",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        1928
      ],
      "id": "53284e1b-b4b6-482d-bab8-d1a2a4897d15",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error.message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        352,
        2024
      ],
      "id": "7e1aac0a-a9f1-42b0-a631-d5a9bd8b10c9",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://fc88ca3b-0d52-4861-8aea-4ddad3adb373.us-east4-0.gcp.cloud.qdrant.io:6333/collections/{{ $json.collectionId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{     \"optimizers_config\": {         \"indexing_threshold\": 10000     }   }",
        "options": {}
      },
      "id": "0320a784-752d-4ca1-a43b-2f53600093fa",
      "name": "Delete collection",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        64,
        2216
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "S0nticGtHhYu1fe4",
          "name": "Header Auth account"
        },
        "qdrantApi": {
          "id": "ytBh4xOzWNQ347S5",
          "name": "QdrantApi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error.message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        352,
        2216
      ],
      "id": "dc3aa657-42cf-4efe-b45a-1c207bc801ee",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "errorMessage": "=Unknown execution mode: {{ $('Edit Fields1').item.json.mode }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        64,
        2408
      ],
      "id": "8bc4d5f7-9756-4dc5-9d23-8f3b5172de31",
      "name": "Stop and Error2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2256,
        960
      ],
      "id": "5afa0640-f722-446e-a90a-f10bd2ed0f49",
      "name": "Edit Fields2"
    }
  ],
  "connections": {
    "Merge1": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear collection": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Batch": {
      "main": [
        [
          {
            "node": "Batch Embed (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Embed (Gemini)": {
      "main": [
        [
          {
            "node": "Prepare Qdrant Points",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Qdrant Points": {
      "main": [
        [
          {
            "node": "Batch Upsert (Qdrant)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Upsert (Qdrant)": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "JSON Document Loader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Document Loader": {
      "main": [
        [
          {
            "node": "Map to Vector Store Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to Vector Store Format": {
      "main": [
        [
          {
            "node": "Aggregate Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Retrive sources1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Retrive sources1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Retrive sources1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Clear collection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clear collection1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create collection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete collection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create collection": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete collection": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "mode": "SEARCH",
          "collectionId": "paragon-os-contacts",
          "input": "sano numbr"
        }
      },
      {
        "json": {
          "=": "============================================================="
        }
      },
      {
        "json": {
          "input": {
            "content": {
              "allContacts": [
                {
                  "id": 333000,
                  "displayName": "Kids",
                  "contactType": "user",
                  "phone": "333"
                },
                {
                  "id": 225850636,
                  "username": "zlatapaul",
                  "displayName": "Zlata Paul",
                  "contactType": "user",
                  "phone": "995599335201"
                },
                {
                  "id": 340351644,
                  "username": "SumanthNeppalli",
                  "displayName": "Sumanth | Polygon Ventures",
                  "contactType": "user"
                },
                {
                  "id": 348840761,
                  "username": "clemensley",
                  "displayName": "Clemens Ley",
                  "contactType": "user"
                },
                {
                  "id": 363128374,
                  "username": "Avihay_H",
                  "displayName": "Avihay",
                  "contactType": "user"
                },
                {
                  "id": 416852475,
                  "username": "devkratos",
                  "displayName": "Kratos (David) Dev | CL",
                  "contactType": "user"
                },
                {
                  "id": 520043278,
                  "username": "midasch",
                  "displayName": "MK | Matt",
                  "contactType": "user"
                },
                {
                  "id": 543100343,
                  "username": "dush88c",
                  "displayName": "Crypto - Dark",
                  "contactType": "user"
                },
                {
                  "id": 586558850,
                  "username": "johngvibes",
                  "displayName": "John Vibes",
                  "contactType": "user",
                  "phone": "14436190761"
                },
                {
                  "id": 587300333,
                  "username": "iCartic",
                  "displayName": "Cartic",
                  "contactType": "user",
                  "phone": "918197536227"
                },
                {
                  "id": 624165486,
                  "username": "vlkpthrna",
                  "displayName": "Venul",
                  "contactType": "user"
                },
                {
                  "id": 632108563,
                  "username": "chaingovernance",
                  "displayName": "Chaingovernance",
                  "contactType": "user"
                },
                {
                  "id": 649401202,
                  "username": "wholemealbread69",
                  "displayName": "Munchi",
                  "contactType": "user",
                  "phone": "94715852028"
                },
                {
                  "id": 664694900,
                  "username": "DonAnarchy",
                  "displayName": "Dulmina",
                  "contactType": "user",
                  "phone": "94763103710"
                },
                {
                  "id": 668597892,
                  "username": "SanSLR",
                  "displayName": "Janitha Metaroon",
                  "contactType": "user",
                  "phone": "94775527374"
                },
                {
                  "id": 678211632,
                  "username": "EmilyEmilyert6t4564e6",
                  "displayName": "Vajira",
                  "contactType": "user",
                  "phone": "94710413045"
                },
                {
                  "id": 696359483,
                  "username": "vivekst1",
                  "displayName": "vivek",
                  "contactType": "user"
                },
                {
                  "id": 714725084,
                  "username": "stoXmod",
                  "displayName": "Nishara Malli",
                  "contactType": "user",
                  "phone": "94775777956"
                },
                {
                  "id": 722369780,
                  "username": "dinukasal",
                  "displayName": "Dinuka Salwathura",
                  "contactType": "user",
                  "phone": "94714697757"
                },
                {
                  "id": 742595333,
                  "username": "Ruchira_s",
                  "displayName": "RUCHIRA SACHINTHANA",
                  "contactType": "user",
                  "phone": "94778072233"
                },
                {
                  "id": 780339289,
                  "username": "Trimasha21",
                  "displayName": "Trimasha",
                  "contactType": "user",
                  "phone": "94769083219"
                },
                {
                  "id": 822246157,
                  "username": "ahamedrikas",
                  "displayName": "Team - UCSC",
                  "contactType": "user",
                  "phone": "94756855515"
                },
                {
                  "id": 835380621,
                  "username": "nadeeshisu",
                  "displayName": "Nadeesh",
                  "contactType": "user"
                },
                {
                  "id": 837248846,
                  "username": "Aayush_Gupta_ji",
                  "displayName": "Aayush Gupta",
                  "contactType": "user"
                },
                {
                  "id": 847498752,
                  "username": "sandalu0",
                  "displayName": "sandalu 🏎 🐾Hivera",
                  "contactType": "user"
                },
                {
                  "id": 875774449,
                  "username": "SutYKP",
                  "displayName": "Kasun Alagiyawanna",
                  "contactType": "user"
                },
                {
                  "id": 883709109,
                  "username": "DNA1945",
                  "displayName": "Ayesh - Web3",
                  "contactType": "user",
                  "phone": "94779420892"
                },
                {
                  "id": 894565034,
                  "username": "rebeccaa_m",
                  "displayName": "Rebecca Meegahapola",
                  "contactType": "user"
                },
                {
                  "id": 899220754,
                  "username": "gabocarranza",
                  "displayName": "Gabriel Carranza",
                  "contactType": "user"
                },
                {
                  "id": 919776951,
                  "username": "dxshas",
                  "displayName": "Hash - co-founder dx.app",
                  "contactType": "user"
                },
                {
                  "id": 930169996,
                  "username": "MichilaBimsara",
                  "displayName": "Michila Bimsara",
                  "contactType": "user",
                  "phone": "94703417567"
                },
                {
                  "id": 936198127,
                  "username": "sano_d",
                  "displayName": "Pasindu",
                  "contactType": "user",
                  "phone": "94702025582"
                },
                {
                  "id": 964605812,
                  "username": "uwinma",
                  "displayName": "Uvin",
                  "contactType": "user",
                  "phone": "94716594979"
                },
                {
                  "id": 969611956,
                  "username": "DilshanFd",
                  "displayName": "Moratu Ayya",
                  "contactType": "user",
                  "phone": "94757086204"
                },
                {
                  "id": 973000347,
                  "username": "HashSuranjana12",
                  "displayName": "Hasitha Metarune",
                  "contactType": "user",
                  "phone": "94774178066"
                },
                {
                  "id": 1000194878,
                  "username": "apsare_prashakthi",
                  "displayName": "Apsara Prashakthi🔅",
                  "contactType": "user",
                  "phone": "94772333266"
                },
                {
                  "id": 1007382901,
                  "displayName": "Malaka Metaroon",
                  "contactType": "user",
                  "phone": "94766679114"
                },
                {
                  "id": 1011124163,
                  "displayName": "Chamin",
                  "contactType": "user",
                  "phone": "94716650996"
                },
                {
                  "id": 1026488792,
                  "username": "AndreasNicolos",
                  "displayName": "Andreas Nicolos | Access Protocol",
                  "contactType": "user"
                },
                {
                  "id": 1032630935,
                  "displayName": "Nirasha Candidate",
                  "contactType": "user",
                  "phone": "94761319259"
                },
                {
                  "id": 1036942989,
                  "username": "rash_mieee",
                  "displayName": "Rashmi Nangi",
                  "contactType": "user",
                  "phone": "94772883918"
                },
                {
                  "id": 1041291136,
                  "displayName": "Udul Dialog",
                  "contactType": "user",
                  "phone": "94763356363"
                },
                {
                  "id": 1047921467,
                  "username": "anoj_TeamIR",
                  "displayName": "Vpack Ayya",
                  "contactType": "user",
                  "phone": "94715292649"
                },
                {
                  "id": 1056033462,
                  "displayName": "Jayani Rathnayake 🙂",
                  "contactType": "user"
                },
                {
                  "id": 1062562923,
                  "username": "SpartacusAgt99",
                  "displayName": "Binoj",
                  "contactType": "user",
                  "phone": "94769175718"
                },
                {
                  "id": 1069589728,
                  "username": "Vihanga_ms",
                  "displayName": "Sithum Vihanga",
                  "contactType": "user",
                  "phone": "94713039970"
                },
                {
                  "id": 1074918919,
                  "username": "ftwpirate",
                  "displayName": "Pirate",
                  "contactType": "user",
                  "phone": "94719118611"
                },
                {
                  "id": 1080550211,
                  "username": "shanendri",
                  "displayName": "Kesharika",
                  "contactType": "user",
                  "phone": "94716001283"
                },
                {
                  "id": 1103597876,
                  "displayName": "Kasup",
                  "contactType": "user"
                },
                {
                  "id": 1110176166,
                  "username": "wrecksgg",
                  "displayName": "Wrecks",
                  "contactType": "user"
                },
                {
                  "id": 1119827933,
                  "username": "nawodyaishan",
                  "displayName": "Nawodya Ishan Whatsapp",
                  "contactType": "user",
                  "phone": "94712006388"
                },
                {
                  "id": 1144776420,
                  "username": "Anujasathsara",
                  "displayName": "Anuja Malli",
                  "contactType": "user",
                  "phone": "94768790092"
                },
                {
                  "id": 1148190268,
                  "displayName": "Dr Sriya Whatsapp",
                  "contactType": "user",
                  "phone": "94775771125"
                },
                {
                  "id": 1167687886,
                  "username": "Thanu_me",
                  "displayName": "Kavinsa (Sithu's Sister)",
                  "contactType": "user"
                },
                {
                  "id": 1185444176,
                  "username": "manzzup",
                  "displayName": "Manujith Pallewatta",
                  "contactType": "user",
                  "phone": "94773684014"
                },
                {
                  "id": 1190146531,
                  "username": "vihan_001",
                  "displayName": "Vihan Malli",
                  "contactType": "user",
                  "phone": "94775276664"
                },
                {
                  "id": 1202327099,
                  "displayName": "Binupa Weerakoon",
                  "contactType": "user"
                },
                {
                  "id": 1210370782,
                  "username": "apniadmin",
                  "displayName": "Shehan Bio",
                  "contactType": "user",
                  "phone": "94713961386"
                },
                {
                  "id": 1210384405,
                  "username": "Nipuni_Wijesinghe",
                  "displayName": "Sanduni Wijesinghe",
                  "contactType": "user",
                  "phone": "94714477572"
                },
                {
                  "id": 1213801266,
                  "displayName": "Indika IT",
                  "contactType": "user",
                  "phone": "94710957512"
                },
                {
                  "id": 1218703930,
                  "username": "senseinin",
                  "displayName": "WERWOLF",
                  "contactType": "user"
                },
                {
                  "id": 1219079193,
                  "username": "deephawk",
                  "displayName": "Deependra (Mangala Aunty)",
                  "contactType": "user",
                  "phone": "94719374870"
                },
                {
                  "id": 1239602158,
                  "username": "amandi_n",
                  "displayName": "Amandi Nimasha",
                  "contactType": "user",
                  "phone": "94761732998"
                },
                {
                  "id": 1245084856,
                  "displayName": "Ajith Pickme Uber Prius Tax",
                  "contactType": "user",
                  "phone": "94779178091"
                },
                {
                  "id": 1247919812,
                  "username": "daparasyte",
                  "displayName": "Aneesh",
                  "contactType": "user"
                },
                {
                  "id": 1248381899,
                  "username": "Ginushmal",
                  "displayName": "Ginushmal Wikumjith",
                  "contactType": "user",
                  "phone": "94711926461"
                },
                {
                  "id": 1249319918,
                  "username": "dxsrph",
                  "displayName": "Raphael - DxSale Founder",
                  "contactType": "user"
                },
                {
                  "id": 1265641367,
                  "displayName": "Sahana",
                  "contactType": "user",
                  "phone": "94771872112"
                },
                {
                  "id": 1288162356,
                  "displayName": "Thushan Smart Mobile",
                  "contactType": "user",
                  "phone": "94772337148"
                },
                {
                  "id": 1308773607,
                  "username": "thirasarad",
                  "displayName": "Thirasara",
                  "contactType": "user",
                  "phone": "61423675220"
                },
                {
                  "id": 1321094734,
                  "displayName": "Tharindu",
                  "contactType": "user"
                },
                {
                  "id": 1335731085,
                  "displayName": "Riviru prabathiya",
                  "contactType": "user"
                },
                {
                  "id": 1336322691,
                  "username": "Goal_01",
                  "displayName": "Yashini Intern",
                  "contactType": "user",
                  "phone": "94705518090"
                },
                {
                  "id": 1342925197,
                  "username": "Molindu_Achintha",
                  "displayName": "Molindu Achintha",
                  "contactType": "user",
                  "phone": "94783030932"
                },
                {
                  "id": 1343218352,
                  "username": "mdtpandi",
                  "displayName": "Thangapandi D",
                  "contactType": "user",
                  "phone": "919500466625"
                },
                {
                  "id": 1347224013,
                  "username": "laalitha_indrajith",
                  "displayName": "Laalitha Gajanayake",
                  "contactType": "user",
                  "phone": "94711049379"
                },
                {
                  "id": 1366304779,
                  "username": "legoat_tg",
                  "displayName": "Le Goat",
                  "contactType": "user",
                  "phone": "13109949776"
                },
                {
                  "id": 1368335272,
                  "username": "Dinaaaliii",
                  "displayName": "Dinali Metaroon",
                  "contactType": "user",
                  "phone": "94703818358"
                },
                {
                  "id": 1369554215,
                  "username": "LchBot2",
                  "displayName": "Vimukthi Nanayakkara",
                  "contactType": "user"
                },
                {
                  "id": 1390153834,
                  "username": "thatsdrop",
                  "displayName": "ThatsDrop Drop ( Multi language DEV- DM for NFT or DEV work )",
                  "contactType": "user",
                  "phone": "16186103151"
                },
                {
                  "id": 1401580205,
                  "username": "PA_MI_th",
                  "displayName": "Pamith sandaru",
                  "contactType": "user"
                },
                {
                  "id": 1403617726,
                  "displayName": "Uddhika app",
                  "contactType": "user",
                  "phone": "94761837711"
                },
                {
                  "id": 1409636155,
                  "displayName": "Lalalala",
                  "contactType": "user",
                  "phone": "94775407342"
                },
                {
                  "id": 1412977518,
                  "displayName": "Ijaz Ameen",
                  "contactType": "user"
                },
                {
                  "id": 1423430887,
                  "username": "Asindaa",
                  "displayName": "Oshan Malli",
                  "contactType": "user",
                  "phone": "94764323452"
                },
                {
                  "id": 1431052077,
                  "username": "kithmal1993",
                  "displayName": "Kithmal New",
                  "contactType": "user",
                  "phone": "94712907389"
                },
                {
                  "id": 1431211256,
                  "username": "ap_lanka",
                  "displayName": "Pasindu Lanka",
                  "contactType": "user",
                  "phone": "94705747549"
                },
                {
                  "id": 1441360080,
                  "username": "navodkawshal",
                  "displayName": "Navod Kawshal",
                  "contactType": "user"
                },
                {
                  "id": 1441968953,
                  "displayName": "Manranga~",
                  "contactType": "user",
                  "phone": "94788673120"
                },
                {
                  "id": 1451941899,
                  "username": "onebyteai",
                  "displayName": "Thejan",
                  "contactType": "user"
                },
                {
                  "id": 1458475925,
                  "displayName": "Kalani Dayawansha",
                  "contactType": "user",
                  "phone": "94702518746"
                },
                {
                  "id": 1463319151,
                  "displayName": "Chirath UOM",
                  "contactType": "user",
                  "phone": "94716033458"
                },
                {
                  "id": 1464932828,
                  "displayName": "Mihindum Liyanage",
                  "contactType": "user"
                },
                {
                  "id": 1477508188,
                  "username": "Sandyv0",
                  "displayName": "Saliya Wickramsinghe",
                  "contactType": "user"
                },
                {
                  "id": 1482961035,
                  "username": "DFGBDFGSDFGDSRFG",
                  "displayName": "Nadugala Mobitel",
                  "contactType": "user",
                  "phone": "94711010312"
                },
                {
                  "id": 1491973890,
                  "displayName": "Rangi Furniture Mobile",
                  "contactType": "user",
                  "phone": "94772373750"
                },
                {
                  "id": 1498481758,
                  "username": "Retro_moon",
                  "displayName": "Mithul Pirate",
                  "contactType": "user",
                  "phone": "94703649095"
                },
                {
                  "id": 1514177353,
                  "username": "limitlessotc",
                  "displayName": "Limitless",
                  "contactType": "user"
                },
                {
                  "id": 1523653714,
                  "displayName": "Supun (Dulanga's Friend)",
                  "contactType": "user",
                  "phone": "94717712496"
                },
                {
                  "id": 1525362528,
                  "username": "AmayuruUpanith",
                  "displayName": "Amayuru Amarasinghe",
                  "contactType": "user",
                  "phone": "94741112634"
                }
              ]
            }
          },
          "mode": "INSERT",
          "collectionId": "paragon-os-contacts"
        }
      },
      {
        "json": {
          "mode": "INSERT",
          "collectionId": "chat-agent-experiment-1",
          "input": {
            "content": {
              "page 1": "Metarune Labs is a Sri Lanka based B2B software development studio that blends deep engineering expertise with practical product thinking to build future ready digital solutions for global clients. Specializing in Web3, mobile, AI, AR and VR, the team partners with startups and enterprises across North America and Europe to design and ship custom platforms, games, and tools that are actually used in the wild, not just in pitch decks. ([metarunelabs.dev][1]) From blockchain powered experiences like Draftables and DeFi Kingdoms to creator platforms, productivity tools, and immersive apps, Metarune Labs focuses on turning ambitious ideas into scalable, market ready products while staying lean, collaborative, and highly communicative throughout every engagement. ([metarunelabs.dev][1])\n\n[1]: https://www.metarunelabs.dev/?utm_source=chatgpt.com \"Metarune Labs - Web3 Innovation & AI-Powered Solutions\""
            },
            "metadata": {
              "topic": [
                "metarune"
              ]
            }
          }
        }
      },
      {
        "json": {
          "mode": "CREATE",
          "collectionId": "paragon-os-contacts"
        }
      },
      {
        "json": {
          "mode": "SEARCH",
          "collectionId": "chat-agent-experiment-1",
          "input": "metarune"
        }
      },
      {
        "json": {
          "mode": "DELETE",
          "collectionId": "chat-agent-experiment-1"
        }
      },
      {
        "json": {
          "mode": "CLEAR",
          "collectionId": "chat-agent-experiment-1"
        }
      }
    ]
  },
  "versionId": "1050df89-883f-4d8d-b773-227680f048cd",
  "activeVersionId": null,
  "versionCounter": 117,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-12-02T01:18:35.713Z",
      "createdAt": "2025-12-02T01:18:35.713Z",
      "role": "workflow:owner",
      "workflowId": "IZa7S90Z9W1qxysr",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}