n8n-agent/workflows/HELPERS/[HELPERS] Discord Profile Fetch.json
{
  "updatedAt": "2025-12-07T01:45:59.000Z",
  "createdAt": "2025-12-06T17:30:00.000Z",
  "id": "DiscordProfileFetch",
  "name": "[HELPERS] Discord Profile Fetch",
  "description": "Fetches and normalizes Discord user profile",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        304,
        400
      ],
      "id": "trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=discord_get_user_info",
        "toolParameters": "={}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        528,
        400
      ],
      "id": "mcp-call",
      "name": "Get My Profile",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Profile is returned as a single object in result.content[0].text\nlet profile;\n\ntry {\n  if (input.result?.content?.[0]?.text) {\n    profile = JSON.parse(input.result.content[0].text);\n  } else if (input.myProfile) {\n    profile = input.myProfile;\n  } else {\n    throw new Error('No profile found');\n  }\n  \n  return {\n    myProfile: profile\n  };\n} catch (error) {\n  return {\n    myProfile: null,\n    error: error.message\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        400
      ],
      "id": "normalize",
      "name": "Normalize Profile"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get My Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get My Profile": {
      "main": [
        [
          {
            "node": "Normalize Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8c6d7112-560f-45d6-9ff6-aa1d84f6a8a9",
  "activeVersionId": null,
  "versionCounter": 6,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-12-07T00:23:54.575Z",
      "createdAt": "2025-12-07T00:23:54.575Z",
      "role": "workflow:owner",
      "workflowId": "DiscordProfileFetch",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}