n8n-agent/workflows/HELPERS/[HELPERS] Discord Context Enricher.json
{
  "updatedAt": "2025-11-30T07:24:36.000Z",
  "createdAt": "2025-11-12T21:20:27.994Z",
  "id": "zBL0JT7t26pK2x95",
  "name": "[HELPERS] Discord Context Enricher",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userPrompt"
            },
            {
              "name": "previousAttempt",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1712,
        128
      ],
      "id": "6d835265-7154-4f78-a7ea-70662bc484b2",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -368,
        112
      ],
      "id": "db8dbe1c-55ef-4f6c-b1a9-44e450d327ec",
      "name": "Context Aggregator"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"prompt\": {\n      \"type\": \"string\",\n      \"description\": \"The optimized enriched user prompt\"\n    },\n    \"guildsToUse\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\"\n      },\n      \"description\": \"List of guilds that includes guild channel objects (original format you recieved from the tool) required to execute the task\"\n    },\n    \"toolsToUse\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\"\n      },\n      \"description\": \"List of recommended tool objects (original format you recieved from the tool) required to execute the task\"\n    },    \n    \"contactsToUse\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\"\n      },\n      \"description\": \"List of recommended contact objects (original format you recieved from the tool) required to execute the task\"\n    }\n  },\n  \"required\": [\"prompt\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        48,
        528
      ],
      "id": "6b81163c-5a17-4ed8-adf9-99d524005b4b",
      "name": "Context Optimizer Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Prompt:\n{{ $json.userPrompt }}\n\n{{ $('When Executed by Another Workflow').item.json.previousAttempt.isNotEmpty() ? `There has been a failed previous attempt: \\n\\n` + $('When Executed by Another Workflow').item.json.previousAttempt.toJsonString() : '' }}\n\nCurrent Date & Time: {{ $now }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## You are a helpful assistant with the capabilities to decide & output data\n- Output an optimal, enriched version of the user prompt with identifiers (including userIds, toolIds, guildIds, channelIds).\n- Recommend 'contacts', 'guilds', or 'tools' to use by searching the unified Discord search tool, which supports all three entity types.\n- Based on your search tool matches, include:\n  • 'toolsToUse' from the tool catalog as an array of objects including exact tool descriptions, exact tool schema.\n  • 'guildsToUse' as an array of guild objects required to execute the task\n  • 'contactsToUse' as an array of contact objects required to execute the task\n- You are allowed to call searching tools as many times needed to collect the full context.\n- DO NOT HALLUCINATE Ids, tool-names.\n- Be aware of the difference between UNREAD & UNRESPONDED.\n\n## Your own discord profile:\n\n{{ $json.myProfile?.toJsonString() ?? 'No profile available' }}",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -144,
        304
      ],
      "id": "5b3749cc-4b46-4285-988a-1c91cbaf9928",
      "name": "Context Optimizer AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b3a9035-b84c-4a24-aa48-3dec71da33fc",
              "name": "userPrompt",
              "value": "={{ $json.output.prompt }}",
              "type": "string"
            },
            {
              "id": "9b646056-469f-4ac2-b3f7-d663f1623446",
              "name": "context.serversOrGuilds",
              "value": "={{ $json.output.guildsToUse ?? [] }}",
              "type": "array"
            },
            {
              "id": "fc277e59-b514-44de-aa9a-1612171d34e7",
              "name": "context.discordContacts",
              "value": "={{ $json.output.contactsToUse ?? [] }}",
              "type": "array"
            },
            {
              "id": "10469c07-980b-43a2-bf38-42a8cb530534",
              "name": "context.toolRecommendations",
              "value": "={{ $json.output.toolsToUse ?? [] }}",
              "type": "array"
            },
            {
              "id": "c7b916b0-7bf0-456b-8ce7-41e7df21562a",
              "name": "context.myProfile",
              "value": "={{ $json.myProfile }}",
              "type": "object"
            },
            {
              "id": "8d7c0bca-b24c-4f1f-8e94-e2a53985c53c",
              "name": "context.previousAttempt",
              "value": "={{ $json.previousAttempt ?? {} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        128
      ],
      "id": "6f21e6e0-e873-4205-915b-7434c660a220",
      "name": "Prepare Planner Context"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -12,
        736
      ],
      "id": "10bb4322-a169-4562-b993-64d4a576a396",
      "name": "Gemini Model (Context Optimizer)",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ff64b02-278c-49e8-847e-b2039e3bc017",
              "name": "userPrompt",
              "value": "={{ $json.userPrompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        128
      ],
      "id": "69d1de78-3e6d-46de-b38c-507805bca509",
      "name": "User Prompt Extractor"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        424,
        128
      ],
      "id": "70097737-a191-431e-82ab-0dbcc46ece9d",
      "name": "Merge Context with Optimized Prompt"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        128
      ],
      "id": "58391c37-e320-4f43-9a54-1e8490d2c1f9",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=discord_get_user_info",
        "toolParameters": "={}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -1264,
        416
      ],
      "id": "047a8b07-e4a8-46d6-a418-8219bdcd5f78",
      "name": "Get My Profile",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n    myProfile: JSON.parse($input.first().json.result.content[0].text)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        416
      ],
      "id": "8ebf19b0-5466-45c1-9ac1-51cdf110c8b4",
      "name": "User Profile Simplifier"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HTXqB729RFNozetP",
          "mode": "list",
          "cachedResultUrl": "/workflow/HTXqB729RFNozetP",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cacheKey": "discordProfile",
            "trueToWrite": false,
            "writeTTLms": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1488,
        344
      ],
      "id": "e31480ab-a2af-4ba3-98a5-88b1ce57ad6e",
      "name": "Check Profile Cache",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HTXqB729RFNozetP",
          "mode": "list",
          "cachedResultUrl": "/workflow/HTXqB729RFNozetP",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "writeTTLms": "={{ 30 * 60 * 1000 }}",
            "cacheKey": "discordProfile",
            "writeValue": "={{ {myProfile: $json.myProfile} }}",
            "trueToWrite": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -816,
        416
      ],
      "id": "553db23f-45a2-468e-8d35-2ec1091394ce",
      "name": "Update Profile Cache"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -592,
        344
      ],
      "id": "c3f48d29-8535-4888-8632-00d08a1fe26c",
      "name": "My Profile"
    },
    {
      "parameters": {
        "description": "This sub-workflow provides a fast, consistent lookup system for Discord data by combining MCP tools, structured normalization, caching, and fuzzy search.\n\nIt supports three entity types:\n\n**contact**\nRepresents a Discord user contact returned by the `discord_list_contacts` MCP tool. The workflow normalizes each contact to include id, username, displayName, lastMessage, and contactType.\n\n**guild**\nRepresents a Discord server returned by the `discord_list_guilds` MCP tool. Each guild is normalized to include id, name, memberCount, and channels.\n\n**tool**\nRepresents an MCP tool exposed by the Discord MCP server. Each item includes the tool name and description.\n\n### What the workflow does\n\n**1. Retrieval**\nWhen an entity type is requested, the workflow fetches the relevant raw data from the appropriate MCP tool unless valid cached data is already available.\n\n**2. Normalization**\nFetched data is transformed into a predictable format for each entity category, enabling reliable fuzzy matching downstream.\n\n**3. Caching**\nAll data types are cached independently with a TTL to reduce repeated MCP calls and improve tool execution speed.\n\n**4. Query Processing**\nThe workflow accepts a search query along with an entity type, then performs fuzzy matching over the appropriate cached dataset and returns the most relevant matches along with match scores.\n\nUse this tool whenever a workflow needs structured Discord data lookup for contacts, guilds, or discord MCP tools.\n",
        "workflowId": {
          "__rl": true,
          "value": "BB1zsros5LmyJO9N",
          "mode": "list",
          "cachedResultUrl": "/workflow/BB1zsros5LmyJO9N",
          "cachedResultName": "[Tool] Discord Contact Search Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `The text used to search Discord contacts, guilds, or MCP tools. This query is fuzzily matched against the fields relevant to the selected entity type.`, 'string') }}",
            "entity": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('entity', `Specifies which dataset to search. Must be one of the following:\n\n**contact**\nSearches through Discord contacts using username, display name, and contact type.\n\n**guild**\nSearches through Discord guilds using server name and channel names.\n\n**tool**\nSearches through MCP tools using tool name and description.`, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "entity",
              "displayName": "entity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -176,
        624
      ],
      "id": "2a714430-22db-48cc-a1cd-084807941f8b",
      "name": "Call '[Tool] Discord Search Tool'"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Check Profile Cache",
            "type": "main",
            "index": 0
          },
          {
            "node": "User Prompt Extractor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Context Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Optimizer Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Context Optimizer AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Context Optimizer AI Agent": {
      "main": [
        [
          {
            "node": "Merge Context with Optimized Prompt",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gemini Model (Context Optimizer)": {
      "ai_languageModel": [
        [
          {
            "node": "Context Optimizer AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Context Optimizer Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "User Prompt Extractor": {
      "main": [
        [
          {
            "node": "Context Aggregator",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Context Aggregator": {
      "main": [
        [
          {
            "node": "Merge Context with Optimized Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Context Optimizer AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context with Optimized Prompt": {
      "main": [
        [
          {
            "node": "Prepare Planner Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Planner Context": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get My Profile": {
      "main": [
        [
          {
            "node": "User Profile Simplifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Profile Simplifier": {
      "main": [
        [
          {
            "node": "Update Profile Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Profile Cache": {
      "main": [
        [
          {
            "node": "My Profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get My Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Profile Cache": {
      "main": [
        [
          {
            "node": "My Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "My Profile": {
      "main": [
        [
          {
            "node": "Context Aggregator",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Call '[Tool] Discord Search Tool'": {
      "ai_tool": [
        [
          {
            "node": "Context Optimizer AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "userPrompt": "list messages from 2 weeks ago in the Discord channel 'staryo qa'",
          "previousAttempt": {
            "shouldRetry": true,
            "retryStrategy": "change_approach",
            "reasoning": "The generated output correctly identifies the tool and parameters to fetch messages from the specified channel on the given date. However, it only provides the tool call and not the actual list of messages. The next step should be to execute this tool and then present the messages to the user.",
            "directAnswer": ""
          }
        }
      }
    ]
  },
  "versionId": "23a64328-dbdc-4445-b36e-c65873381671",
  "versionCounter": 155,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2025-11-02T21:22:20.646Z",
      "createdAt": "2025-11-02T21:22:20.646Z",
      "id": "95mwWdOxtdnkFLhS",
      "name": "Discord"
    },
    {
      "updatedAt": "2025-11-02T21:22:14.342Z",
      "createdAt": "2025-11-02T21:22:14.342Z",
      "id": "w6FOnYOvODOXV9os",
      "name": "MCP"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-11-12T21:20:27.997Z",
      "createdAt": "2025-11-12T21:20:27.997Z",
      "role": "workflow:owner",
      "workflowId": "zBL0JT7t26pK2x95",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}