n8n-agent/workflows/HELPERS/[HELPERS] Generic Context Scout Core.json
{
  "updatedAt": "2025-12-06T17:30:00.000Z",
  "createdAt": "2025-12-06T17:30:00.000Z",
  "id": "GenericContextScoutCore",
  "name": "[HELPERS] Generic Context Scout Core",
  "description": "Core workflow that orchestrates entity fetching, caching, and searching based on platform configuration",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "entity"
            },
            {
              "name": "platformConfig",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        304,
        400
      ],
      "id": "trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst { query, entity, platformConfig } = input;\n\n// Validate entity exists in config\nif (!platformConfig.entities || !platformConfig.entities[entity]) {\n  throw new Error(`Entity type '${entity}' not found in platform config`);\n}\n\nconst entityConfig = platformConfig.entities[entity];\n\n// Build fetch workflow inputs\nconst fetchWorkflowInputs = {};\n\n// If entity has special parameters, pass them\nif (entityConfig.mcpTool?.parameters) {\n  Object.assign(fetchWorkflowInputs, entityConfig.mcpTool.parameters);\n}\n\nreturn {\n  query: query || '',\n  entity: entity,\n  entityConfig: entityConfig,\n  platformConfig: platformConfig,\n  fetchWorkflowInputs: fetchWorkflowInputs\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        400
      ],
      "id": "prepare-entity",
      "name": "Prepare Entity Config"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-skip-query",
              "leftValue": "={{ $json.entityConfig.skipQuery }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        752,
        400
      ],
      "id": "check-skip-query",
      "name": "Check Skip Query"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-rag-status",
              "leftValue": "={{ $json.entityConfig.requiresRAGStatusCheck }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        976,
        300
      ],
      "id": "check-rag-status",
      "name": "Check RAG Status Required"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EntityCacheHandler",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cacheKey": "={{ $json.entityConfig.cacheKey }}",
            "ttl": "={{ $json.entityConfig.ttl || $json.platformConfig.defaultTTL }}",
            "fetchWorkflowId": "={{ $json.entityConfig.fetchWorkflowId }}",
            "fetchWorkflowInputs": "={{ $json.fetchWorkflowInputs }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ttl",
              "displayName": "ttl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "fetchWorkflowId",
              "displayName": "fetchWorkflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fetchWorkflowInputs",
              "displayName": "fetchWorkflowInputs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1200,
        300
      ],
      "id": "get-entity-data",
      "name": "Get Entity Data (Cache or Fetch)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "search-type-fuzzy",
                    "leftValue": "={{ $('Prepare Entity Config').item.json.entityConfig.searchType }}",
                    "rightValue": "fuzzy",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FUZZY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "search-type-rag",
                    "leftValue": "={{ $('Prepare Entity Config').item.json.entityConfig.searchType }}",
                    "rightValue": "rag",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RAG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "search-type-none",
                    "leftValue": "={{ $('Prepare Entity Config').item.json.entityConfig.searchType }}",
                    "rightValue": "none",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NONE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1424,
        300
      ],
      "id": "route-search-type",
      "name": "Route Search Type"
    },
    {
      "parameters": {
        "query": "={{ $('Prepare Entity Config').item.json.query }}",
        "arrayField": "={{ $('Prepare Entity Config').item.json.entityConfig.dataKey }}",
        "searchKeys": "={{ $('Prepare Entity Config').item.json.entityConfig.fuzzyConfig.searchKeys.join('\\n') }}",
        "matchQuality": "={{ $('Prepare Entity Config').item.json.entityConfig.fuzzyConfig.matchQuality }}",
        "limit": "={{ $('Prepare Entity Config').item.json.entityConfig.fuzzyConfig.limit }}",
        "advancedOptions": {
          "includeScore": true,
          "matchIndividualWords": false
        }
      },
      "type": "n8n-nodes-paragon-os.fuzzySearch",
      "typeVersion": 1,
      "position": [
        1648,
        200
      ],
      "id": "fuzzy-search",
      "name": "Fuzzy Search"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IZa7S90Z9W1qxysr",
          "mode": "list",
          "cachedResultUrl": "/workflow/IZa7S90Z9W1qxysr",
          "cachedResultName": "[HELPERS] Dynamic RAG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mode": "SEARCH",
            "collectionId": "={{ $('Prepare Entity Config').item.json.entityConfig.ragConfig.collectionId }}",
            "input": "={{ $('Prepare Entity Config').item.json.query }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "collectionId",
              "displayName": "collectionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1648,
        400
      ],
      "id": "rag-search",
      "name": "RAG Search"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1872,
        300
      ],
      "id": "merge-results",
      "name": "Merge Results"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Entity Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Entity Config": {
      "main": [
        [
          {
            "node": "Check Skip Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Skip Query": {
      "main": [
        [
          {
            "node": "Get Entity Data (Cache or Fetch)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check RAG Status Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check RAG Status Required": {
      "main": [
        [
          {
            "node": "Get Entity Data (Cache or Fetch)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Entity Data (Cache or Fetch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Entity Data (Cache or Fetch)": {
      "main": [
        [
          {
            "node": "Route Search Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Search Type": {
      "main": [
        [
          {
            "node": "Fuzzy Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RAG Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fuzzy Search": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RAG Search": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "versionId": "generic-context-scout-core-v1",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "tags": [],
  "shared": []
}

