n8n-agent/workflows/HELPERS/[HELPERS] Telegram Profile Fetch.json
{
  "updatedAt": "2025-12-08T18:28:23.884Z",
  "createdAt": "2025-12-08T18:23:28.586Z",
  "id": "OzUpms3y9YjK2djw",
  "name": "[HELPERS] Telegram Profile Fetch",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        304,
        400
      ],
      "id": "trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=telegram_get_me",
        "toolParameters": "={}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        528,
        400
      ],
      "id": "mcp-call",
      "name": "Get My Profile",
      "credentials": {
        "mcpClientApi": {
          "id": "aiYCclLDUqob5iQ0",
          "name": "Telegram MCP Client (STDIO) account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Handle error cases from MCP call\nif (input.error) {\n  const errorMsg = typeof input.error === 'string' ? input.error : (input.error.message || JSON.stringify(input.error));\n  return {\n    myProfile: null,\n    error: `MCP call failed: ${errorMsg}`\n  };\n}\n\n// Profile is returned as a single object in result.content[0].text\nlet profile;\n\ntry {\n  if (input.result?.content?.[0]?.text) {\n    profile = JSON.parse(input.result.content[0].text);\n  } else if (input.myProfile) {\n    profile = input.myProfile;\n  } else {\n    throw new Error('No profile found in MCP response');\n  }\n  \n  return {\n    myProfile: profile\n  };\n} catch (error) {\n  return {\n    myProfile: null,\n    error: error.message || String(error)\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        400
      ],
      "id": "normalize",
      "name": "Normalize Profile"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get My Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get My Profile": {
      "main": [
        [
          {
            "node": "Normalize Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "d3661445-c3fc-46ec-9c7d-fd2601052ef4",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-08T18:23:28.587Z",
      "createdAt": "2025-12-08T18:23:28.587Z",
      "role": "workflow:owner",
      "workflowId": "OzUpms3y9YjK2djw",
      "projectId": "GEUEn6ArNROzJ5FY"
    }
  ],
  "activeVersion": null,
  "tags": []
}