n8n-agent/workflows/HELPERS/[HELPERS] Global Cache System.json
{
  "updatedAt": "2025-11-26T20:13:12.000Z",
  "createdAt": "2025-11-06T21:54:34.704Z",
  "id": "HTXqB729RFNozetP",
  "name": "[HELPERS] Global Cache System",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "trueToWrite",
              "type": "boolean"
            },
            {
              "name": "cacheKey"
            },
            {
              "name": "writeValue",
              "type": "any"
            },
            {
              "name": "writeTTLms",
              "type": "number"
            }
          ]
        }
      },
      "id": "33cc157e-c398-417b-9736-01fea6747eaf",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        304,
        80
      ],
      "typeVersion": 1.1,
      "notes": "To write set the value to true.\nTTL is in milliseconds"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "AxHE7kFUIMEVfQgd",
          "mode": "list",
          "cachedResultName": "cache",
          "cachedResultUrl": "/projects/GEUEn6ArNROzJ5FY/datatables/AxHE7kFUIMEVfQgd"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "={{ $json.cacheKey }}"
            }
          ]
        },
        "columns": {
          "value": {
            "key": "={{ $json.cacheKey }}",
            "ttl": "={{ $now.plus($json.writeTTLms > 0 ? $json.writeTTLms : 10000) }}",
            "value": "={{ JSON.stringify($json.writeValue) }}"
          },
          "schema": [
            {
              "id": "key",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "key",
              "defaultMatch": false
            },
            {
              "id": "value",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "value",
              "defaultMatch": false
            },
            {
              "id": "ttl",
              "type": "dateTime",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "ttl",
              "defaultMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b241947c-97ce-4ecf-ae51-cf33f80e34ef",
      "name": "Upsert row(s)",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        976,
        -16
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('When Executed by Another Workflow').item.json.writeValue }}",
        "options": {}
      },
      "id": "dd45e52c-4419-4bd2-b051-56f707d718ae",
      "name": "Return Value",
      "type": "n8n-nodes-base.set",
      "position": [
        1200,
        -16
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {},
      "id": "84b7508c-1b73-435e-bee6-93235cabd6e8",
      "name": "Action Write Value",
      "type": "n8n-nodes-base.noOp",
      "position": [
        752,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "AxHE7kFUIMEVfQgd",
          "mode": "list",
          "cachedResultName": "cache",
          "cachedResultUrl": "/projects/GEUEn6ArNROzJ5FY/datatables/AxHE7kFUIMEVfQgd"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "={{ $json.cacheKey }}"
            }
          ]
        }
      },
      "id": "d920cf30-c99b-4be7-a822-60426e5aa98b",
      "name": "Get row(s)",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        976,
        176
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "03943791-3760-46e3-ac12-028fdbd5b440",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              },
              "leftValue": "={{ $json.ttl }}",
              "rightValue": "={{ $now }}"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "5bbebf08-e0ba-4596-ab9e-682a00d900d8",
      "name": "If Expired Cache",
      "type": "n8n-nodes-base.if",
      "position": [
        1424,
        248
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "8463df4a-6a61-4e85-b009-322720f21f85",
      "name": "Read Action",
      "type": "n8n-nodes-base.noOp",
      "position": [
        752,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cfe96997-a2c7-44d1-a270-798fa5fdbeee",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ !!$json.trueToWrite }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "ddc11667-d328-4685-ae5a-accd6ed2ea7a",
      "name": "Check Action Type",
      "type": "n8n-nodes-base.if",
      "position": [
        528,
        80
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a3e38df9-cfdc-4a30-943f-34b42c37eb63",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "fc38cdf6-32ba-4839-9573-02efa7f46874",
      "name": "If not in Cache",
      "type": "n8n-nodes-base.if",
      "position": [
        1200,
        176
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "errorMessage": "No Entry or Expired Cache Item."
      },
      "id": "e4879522-d903-4913-84d0-06c9cb3f50b4",
      "name": "No cache found, use error detection to detect this.",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        1648,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($('Get row(s)').item.json.value) }}",
        "options": {}
      },
      "id": "662e3347-f1d3-4980-9b2c-92214701379b",
      "name": "Return Value from Cache",
      "type": "n8n-nodes-base.set",
      "position": [
        1648,
        296
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "b81abef9-2ac4-4392-9c0f-59bbca085087",
      "name": "1 Hour Clean for Cache Table",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        304,
        520
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "AxHE7kFUIMEVfQgd",
          "mode": "list",
          "cachedResultName": "cache",
          "cachedResultUrl": "/projects/GEUEn6ArNROzJ5FY/datatables/AxHE7kFUIMEVfQgd"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "ttl",
              "condition": "lt",
              "keyValue": "={{ $now }}"
            }
          ]
        },
        "options": {
          "dryRun": true
        }
      },
      "id": "87fbca63-1ad2-4261-86c9-c5f5883488a2",
      "name": "Drop all rows with expired cache entires",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        528,
        520
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Check Action Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Return Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Write Value": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If not in Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Expired Cache": {
      "main": [
        [
          {
            "node": "No cache found, use error detection to detect this.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Value from Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Action": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Action Type": {
      "main": [
        [
          {
            "node": "Action Write Value",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not in Cache": {
      "main": [
        [
          {
            "node": "No cache found, use error detection to detect this.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Expired Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 Hour Clean for Cache Table": {
      "main": [
        [
          {
            "node": "Drop all rows with expired cache entires",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "userPrompt": "Who is sebastian on Telegram?",
          "previousAttempt": {},
          "cacheKey": "telegramContacts",
          "trueToWrite": false,
          "writeTTLms": 0
        }
      }
    ]
  },
  "versionId": "1150c5d4-9082-4eb0-b455-9737222300b2",
  "activeVersionId": null,
  "versionCounter": 14,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-06T21:54:34.710Z",
      "createdAt": "2025-11-06T21:54:34.710Z",
      "role": "workflow:owner",
      "workflowId": "HTXqB729RFNozetP",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}