n8n-agent/workflows/HELPERS/Global Cache System.json
{
  "updatedAt": "2025-12-09T01:35:03.645Z",
  "createdAt": "2025-12-09T01:23:33.246Z",
  "id": "dIk4LoS6s39B0WkV",
  "name": "[HELPERS] Global Cache System",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Clear All Cache (Manual)",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        304,
        -200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "command": "podman exec n8n-redis redis-cli FLUSHDB"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Flush Redis Cache",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        528,
        -200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "All cache entries have been cleared"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Cache Cleared Response",
      "type": "n8n-nodes-base.set",
      "position": [
        752,
        -200
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "trueToWrite",
              "type": "boolean"
            },
            {
              "name": "cacheKey"
            },
            {
              "name": "writeValue",
              "type": "any"
            },
            {
              "name": "writeTTLms",
              "type": "number"
            }
          ]
        }
      },
      "id": "33cc157e-c398-417b-9736-01fea6747eaf",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        304,
        80
      ],
      "typeVersion": 1.1,
      "notes": "To write set the value to true.\nTTL is in milliseconds"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.cacheKey }}",
        "value": "={{ JSON.stringify($json.writeValue) }}",
        "expire": true,
        "ttl": "={{ Math.floor(($json.writeTTLms > 0 ? $json.writeTTLms : 10000) / 1000) }}"
      },
      "id": "b241947c-97ce-4ecf-ae51-cf33f80e34ef",
      "name": "Redis Set",
      "type": "n8n-nodes-base.redis",
      "position": [
        976,
        -16
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "I9K02BUMIbHYp1nQ",
          "name": "Redis account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('When Executed by Another Workflow').item.json.writeValue }}",
        "options": {}
      },
      "id": "dd45e52c-4419-4bd2-b051-56f707d718ae",
      "name": "Return Value",
      "type": "n8n-nodes-base.set",
      "position": [
        1200,
        -16
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {},
      "id": "84b7508c-1b73-435e-bee6-93235cabd6e8",
      "name": "Action Write Value",
      "type": "n8n-nodes-base.noOp",
      "position": [
        752,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.cacheKey }}"
      },
      "id": "d920cf30-c99b-4be7-a822-60426e5aa98b",
      "name": "Redis Get",
      "type": "n8n-nodes-base.redis",
      "position": [
        976,
        176
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "I9K02BUMIbHYp1nQ",
          "name": "Redis account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "8463df4a-6a61-4e85-b009-322720f21f85",
      "name": "Read Action",
      "type": "n8n-nodes-base.noOp",
      "position": [
        752,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cfe96997-a2c7-44d1-a270-798fa5fdbeee",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ !!$json.trueToWrite }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "ddc11667-d328-4685-ae5a-accd6ed2ea7a",
      "name": "Check Action Type",
      "type": "n8n-nodes-base.if",
      "position": [
        528,
        80
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "// Get the raw Redis response\nconst input = $input.first().json;\nconst cacheKey = $('When Executed by Another Workflow').item.json.cacheKey;\n\n// Redis returns { keyName: value } or { keyName: null } if not found\n// The key in the response is the actual cache key we queried\nconst rawValue = input[cacheKey] ?? input[Object.keys(input)[0]];\n\nif (!rawValue || rawValue === 'null' || rawValue === null) {\n  // Cache miss - throw error to trigger the error output path\n  throw new Error('No Entry or Expired Cache Item.');\n}\n\n// Parse the cached JSON value and return it\ntry {\n  return JSON.parse(rawValue);\n} catch (e) {\n  // If it's not JSON, return as-is\n  return { value: rawValue };\n}"
      },
      "id": "fc38cdf6-32ba-4839-9573-02efa7f46874",
      "name": "Parse Cache Result",
      "type": "n8n-nodes-base.code",
      "position": [
        1200,
        176
      ],
      "typeVersion": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "No Entry or Expired Cache Item."
      },
      "id": "e4879522-d903-4913-84d0-06c9cb3f50b4",
      "name": "No cache found, use error detection to detect this.",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        1424,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "662e3347-f1d3-4980-9b2c-92214701379b",
      "name": "Return Value from Cache",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1424,
        256
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Clear All Cache (Manual)": {
      "main": [
        [
          {
            "node": "Flush Redis Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flush Redis Cache": {
      "main": [
        [
          {
            "node": "Cache Cleared Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Check Action Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Set": {
      "main": [
        [
          {
            "node": "Return Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Write Value": {
      "main": [
        [
          {
            "node": "Redis Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Get": {
      "main": [
        [
          {
            "node": "Parse Cache Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Action": {
      "main": [
        [
          {
            "node": "Redis Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Action Type": {
      "main": [
        [
          {
            "node": "Action Write Value",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cache Result": {
      "main": [
        [
          {
            "node": "Return Value from Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No cache found, use error detection to detect this.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "68f52436-7ef2-4213-be52-d1b48a583c2e",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-09T01:23:33.247Z",
      "createdAt": "2025-12-09T01:23:33.247Z",
      "role": "workflow:owner",
      "workflowId": "dIk4LoS6s39B0WkV",
      "projectId": "GEUEn6ArNROzJ5FY"
    }
  ],
  "activeVersion": null,
  "tags": []
}
