n8n-agent/workflows/HELPERS/Telegram Message Fetch.json
{
  "updatedAt": "2025-12-09T01:35:05.077Z",
  "createdAt": "2025-12-09T01:23:33.477Z",
  "id": "5FiyNjrGImPs8TWA",
  "name": "[HELPERS] Telegram Message Fetch",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chat_id"
            },
            {
              "name": "limit",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        304,
        400
      ],
      "id": "trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "connectionType": "sse",
        "uriOverride": " http://0.0.0.0:8001/sse",
        "operation": "executeTool",
        "toolName": "=telegram_list_messages",
        "toolParameters": "={{\n  \"chat_id\": $json.chat_id || \"4000551178\",\n  \"limit\": $json.limit || 100\n}}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        528,
        400
      ],
      "id": "mcp-call",
      "name": "List Messages",
      "credentials": {
        "mcpClientSseApi": {
          "id": "telegramMcpSseCredential",
          "name": "Telegram MCP Client (SSE) account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6BCTh6yGP6H1F3ps",
          "mode": "list",
          "cachedResultName": "[HELPERS] MCP Data Normalizer",
          "cachedResultUrl": "/workflow/6BCTh6yGP6H1F3ps"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "rawData": "={{ $json }}",
            "dataKey": "messages",
            "mcpDataKey": "",
            "mapper": "(m) => ({ id: m.id, chatId: m.chatId, text: m.text || '', senderId: m.senderId, senderName: m.senderName || m.from?.name || '', date: m.date || m.timestamp, kind: m.kind || 'message' })",
            "errorMsg": "No valid messages found"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "rawData",
              "displayName": "rawData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dataKey",
              "displayName": "dataKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mcpDataKey",
              "displayName": "mcpDataKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mapper",
              "displayName": "mapper",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "errorMsg",
              "displayName": "errorMsg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        752,
        400
      ],
      "id": "normalize",
      "name": "Normalize Messages"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "List Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Messages": {
      "main": [
        [
          {
            "node": "Normalize Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "8f2419a3-162d-4db9-a22e-13c5a5fc7705",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-09T01:23:33.478Z",
      "createdAt": "2025-12-09T01:23:33.478Z",
      "role": "workflow:owner",
      "workflowId": "5FiyNjrGImPs8TWA",
      "projectId": "GEUEn6ArNROzJ5FY"
    }
  ],
  "activeVersion": null,
  "tags": []
}
