n8n-agent/workflows/HELPERS/Telegram Chat Fetch.json
{
  "updatedAt": "2025-12-09T01:35:05.571Z",
  "createdAt": "2025-12-09T01:23:33.455Z",
  "id": "YGJz4rHsu26sNhBb",
  "name": "[HELPERS] Telegram Chat Fetch",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        304,
        400
      ],
      "id": "trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "connectionType": "sse",
        "uriOverride": " http://0.0.0.0:8001/sse",
        "operation": "executeTool",
        "toolName": "=telegram_list_chats",
        "toolParameters": "={\n  \"limit\": 50\n}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        528,
        400
      ],
      "id": "mcp-call",
      "name": "List Chats",
      "credentials": {
        "mcpClientSseApi": {
          "id": "telegramMcpSseCredential",
          "name": "Telegram MCP Client (SSE) account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6BCTh6yGP6H1F3ps",
          "mode": "list",
          "cachedResultName": "[HELPERS] MCP Data Normalizer",
          "cachedResultUrl": "/workflow/6BCTh6yGP6H1F3ps"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "rawData": "={{ $json }}",
            "dataKey": "channels",
            "mcpDataKey": "items",
            "mapper": "(g) => ({ id: g.id, name: g.name, members: g.memberCount, kind: g.kind, unread: g.unread })",
            "errorMsg": "No valid chats found"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "rawData",
              "displayName": "rawData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dataKey",
              "displayName": "dataKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mcpDataKey",
              "displayName": "mcpDataKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mapper",
              "displayName": "mapper",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "errorMsg",
              "displayName": "errorMsg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        752,
        400
      ],
      "id": "normalize",
      "name": "Normalize Data"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "List Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Chats": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "b6f6aca8-8822-4449-9e55-ddb7c5a9f062",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-09T01:23:33.456Z",
      "createdAt": "2025-12-09T01:23:33.456Z",
      "role": "workflow:owner",
      "workflowId": "YGJz4rHsu26sNhBb",
      "projectId": "GEUEn6ArNROzJ5FY"
    }
  ],
  "activeVersion": null,
  "tags": []
}
