n8n-agent/workflows/HELPERS/Telegram Entity Cache Handler.json
{
  "name": "[HELPERS] Telegram Entity Cache Handler",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "cacheKey"
            },
            {
              "name": "ttl",
              "type": "number"
            },
            {
              "name": "entity"
            },
            {
              "name": "fetchWorkflowInputs",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [304, 400],
      "id": "trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dIk4LoS6s39B0WkV",
          "mode": "list",
          "cachedResultUrl": "/workflow/dIk4LoS6s39B0WkV",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cacheKey": "={{ $json.cacheKey }}",
            "trueToWrite": false,
            "writeTTLms": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [528, 400],
      "id": "check-cache",
      "name": "Check Cache",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [976, 300],
      "id": "cache-hit",
      "name": "Cache Hit"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "universal-entity-fetcher-placeholder",
          "mode": "list",
          "cachedResultUrl": "/workflow/universal-entity-fetcher-placeholder",
          "cachedResultName": "[HELPERS] Universal Entity Fetcher"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "platform": "TELEGRAM",
            "entityType": "={{ $('When Executed by Another Workflow').item.json.entity }}",
            "params": "={{ $('When Executed by Another Workflow').item.json.fetchWorkflowInputs || {} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "entityType",
              "displayName": "entityType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [752, 500],
      "id": "fetch-entity",
      "name": "Fetch Entity",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dIk4LoS6s39B0WkV",
          "mode": "list",
          "cachedResultUrl": "/workflow/dIk4LoS6s39B0WkV",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "writeTTLms": "={{ $('When Executed by Another Workflow').item.json.ttl }}",
            "cacheKey": "={{ $('When Executed by Another Workflow').item.json.cacheKey }}",
            "writeValue": "={{ $json }}",
            "trueToWrite": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [976, 500],
      "id": "update-cache",
      "name": "Update Cache",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1200, 400],
      "id": "merge-results",
      "name": "Merge Results"
    },
    {
      "parameters": {
        "jsCode": "// Handle errors from either cache hit or fetch path\nconst input = $input.first().json;\n\n// If there's an error, return it in a structured format\nif (input.error) {\n  const errorMsg = typeof input.error === 'string' ? input.error : (input.error.message || JSON.stringify(input.error));\n  return {\n    error: errorMsg\n  };\n}\n\n// Return the data as-is if no error\nreturn input;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1424, 400],
      "id": "handle-errors",
      "name": "Handle Errors"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Check Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache": {
      "main": [
        [
          {
            "node": "Cache Hit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Entity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Entity": {
      "main": [
        [
          {
            "node": "Update Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cache": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Hit": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Handle Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "tags": []
}
