n8n-agent/workflows/HELPERS/Test Runner.json
{
  "updatedAt": "2025-12-14T01:12:41.663Z",
  "createdAt": "2025-12-14T01:12:41.663Z",
  "id": "Tn22psbMbqCJnaFr",
  "name": "[HELPERS] Test Runner",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-runner",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "test-runner-trigger",
      "name": "Run Test",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "typeVersion": 2,
      "webhookId": "test-runner-webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"workflow\": \"DynamicRAG\",\n  \"testCase\": \"status\",\n  \"testData\": null\n}",
        "options": {}
      },
      "id": "test-config",
      "name": "⚙️ Test Config",
      "type": "n8n-nodes-base.set",
      "position": [
        460,
        300
      ],
      "typeVersion": 3.4,
      "notes": "╔════════════════════════════════════════╗\n║  CHANGE THESE VALUES TO SWITCH TESTS   ║\n╠════════════════════════════════════════╣\n║  workflow: Target workflow name        ║\n║  testCase: Test case ID from Test Data ║\n╚════════════════════════════════════════╝\n\nAvailable:\n• DynamicRAG: status, search-contacts, search-metarune, create-collection, delete-collection, clear-collection, insert, search-test\n• DiscordContextScout: contact-fuzzy, guild-search, tool-lookup, self-profile, contact-empty-query"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qWow3CzbFkjcT7hh",
          "mode": "list",
          "cachedResultName": "[HELPERS] Test Data",
          "cachedResultUrl": "/workflow/qWow3CzbFkjcT7hh"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow": "={{ $json.workflow }}",
            "testCase": "={{ $json.testCase }}",
            "testData": "={{ $json.testData }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "testCase",
              "displayName": "testCase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "testData",
              "displayName": "testData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "load-test-data",
      "name": "Load Test Data",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        680,
        300
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('⚙️ Test Config').item.json.workflow }}",
                    "rightValue": "DynamicRAG",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "route-rag"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DynamicRAG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('⚙️ Test Config').item.json.workflow }}",
                    "rightValue": "DiscordContextScout",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "route-discord"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DiscordContextScout"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "workflow-router",
      "name": "Route to Workflow",
      "type": "n8n-nodes-base.switch",
      "position": [
        900,
        300
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BVI8WfWulWFCFvwk",
          "mode": "list",
          "cachedResultName": "[HELPERS] Dynamic RAG",
          "cachedResultUrl": "/workflow/BVI8WfWulWFCFvwk"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mode": "={{ $json.mode }}",
            "collectionId": "={{ $json.collectionId }}",
            "input": "={{ $json.input }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "collectionId",
              "displayName": "collectionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "run-dynamic-rag",
      "name": "Run: Dynamic RAG",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1140,
        300
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FvXGq1CLqsmjzL8n",
          "mode": "list",
          "cachedResultName": "Discord Context Scout",
          "cachedResultUrl": "/workflow/FvXGq1CLqsmjzL8n"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.query }}",
            "entity": "={{ $json.entity }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "entity",
              "displayName": "entity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "run-discord-scout",
      "name": "Run: Discord Context Scout",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1140,
        400
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "errorMessage": "={{ 'Unknown workflow: ' + $('⚙️ Test Config').item.json.workflow }}"
      },
      "id": "unknown-workflow-error",
      "name": "Unknown Workflow",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        1140,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-results",
      "name": "Results",
      "type": "n8n-nodes-base.merge",
      "position": [
        1380,
        300
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1600,
        300
      ],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Run Test": {
      "main": [
        [
          {
            "node": "⚙️ Test Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Test Config": {
      "main": [
        [
          {
            "node": "Load Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Test Data": {
      "main": [
        [
          {
            "node": "Route to Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Workflow": {
      "main": [
        [
          {
            "node": "Run: Dynamic RAG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run: Discord Context Scout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run: Dynamic RAG": {
      "main": [
        [
          {
            "node": "Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run: Discord Context Scout": {
      "main": [
        [
          {
            "node": "Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "16e54167-00fa-4232-aaff-7bbf4af0f6e1",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-14T01:12:41.666Z",
      "createdAt": "2025-12-14T01:12:41.666Z",
      "role": "workflow:owner",
      "workflowId": "Tn22psbMbqCJnaFr",
      "projectId": "DXB9XSLhWPNygtLw",
      "project": {
        "updatedAt": "2025-12-14T01:06:18.959Z",
        "createdAt": "2025-12-14T01:06:14.796Z",
        "id": "DXB9XSLhWPNygtLw",
        "name": "Test User <test@n8n.test>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-14T01:06:14.796Z",
            "createdAt": "2025-12-14T01:06:14.796Z",
            "userId": "e3d25c3c-0243-4285-80de-404d84472c78",
            "projectId": "DXB9XSLhWPNygtLw",
            "user": {
              "updatedAt": "2025-12-14T01:07:34.000Z",
              "createdAt": "2025-12-14T01:06:14.564Z",
              "id": "e3d25c3c-0243-4285-80de-404d84472c78",
              "email": "test@n8n.test",
              "firstName": "Test",
              "lastName": "User",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-14T01:07:09.175Z",
                "personalization_survey_n8n_version": "1.123.5"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "uogzAWtDp9AMT7VJ",
                "userActivatedAt": 1765674449908
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "parentFolder": null,
  "activeVersion": null,
  "scopes": [
    "workflow:create",
    "workflow:delete",
    "workflow:execute",
    "workflow:list",
    "workflow:move",
    "workflow:read",
    "workflow:share",
    "workflow:update"
  ]
}
