n8n-agent/workflows/HELPERS/Universal Entity Fetcher.json
{
  "updatedAt": "2025-12-14T01:12:42.029Z",
  "createdAt": "2025-12-14T01:12:42.029Z",
  "id": "zSUGEr0rD00q6yt8",
  "name": "[HELPERS] Universal Entity Fetcher",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "platform"
            },
            {
              "name": "entityType"
            },
            {
              "name": "params",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        400
      ],
      "id": "trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const { platform, entityType, params } = $input.first().json;\n\n// Normalize RAG entity types (contact-rag -> contact, message-rag -> message)\nconst normalizedEntity = entityType.replace('-rag', '');\n\nconst configs = {\n  DISCORD: {\n    contact: {\n      operation: 'executeTool',\n      toolName: 'discord_list_contacts',\n      toolParams: { limit: 100 },\n      dataKey: 'contacts',\n      mcpDataKey: 'contacts',\n      mapper: \"(c) => ({ id: c.id, username: c.tag, displayName: c.displayName, lastMessage: c.lastMessageAtRelative, contactType: c.type, platform: 'DISCORD' })\",\n      errorMsg: 'No valid contacts found'\n    },\n    guild: {\n      operation: 'executeTool',\n      toolName: 'discord_list_guilds',\n      toolParams: {},\n      dataKey: 'guilds',\n      mcpDataKey: 'guilds',\n      mapper: \"(g) => ({ id: g.id, name: g.name, members: g.memberCount, channels: g.channels ?? [] })\",\n      errorMsg: 'No valid guilds found'\n    },\n    self: {\n      operation: 'executeTool',\n      toolName: 'discord_get_user_info',\n      toolParams: {},\n      normalizeType: 'profile'\n    },\n    tool: {\n      operation: 'listTools',\n      normalizeType: 'tools'\n    }\n  },\n  TELEGRAM: {\n    contact: {\n      operation: 'executeTool',\n      toolName: 'telegram_list_contacts',\n      toolParams: { limit: 200 },\n      dataKey: 'contacts',\n      mcpDataKey: 'contacts',\n      mapper: \"(c) => ({ id: c.id, username: c.username, displayName: c.name, lastMessage: c.lastMessageAtRelative, contactType: c.type, phone: c.phone, platform: 'TELEGRAM' })\",\n      errorMsg: 'No valid contacts found'\n    },\n    chat: {\n      operation: 'executeTool',\n      toolName: 'telegram_list_chats',\n      toolParams: { limit: 50 },\n      dataKey: 'channels',\n      mcpDataKey: 'items',\n      mapper: \"(g) => ({ id: g.id, name: g.name, members: g.memberCount, kind: g.kind, unread: g.unread })\",\n      errorMsg: 'No valid chats found'\n    },\n    self: {\n      operation: 'executeTool',\n      toolName: 'telegram_get_me',\n      toolParams: {},\n      normalizeType: 'profile'\n    },\n    tool: {\n      operation: 'listTools',\n      normalizeType: 'tools'\n    },\n    message: {\n      operation: 'executeTool',\n      toolName: 'telegram_list_messages',\n      toolParams: {\n        chat_id: params?.chat_id || '4000551178',\n        limit: params?.limit || 100\n      },\n      dataKey: 'messages',\n      mcpDataKey: '',\n      mapper: \"(m) => ({ id: m.id, chatId: m.chatId, text: m.text || '', senderId: m.senderId, senderName: m.senderName || m.from?.name || '', date: m.date || m.timestamp, kind: m.kind || 'message' })\",\n      errorMsg: 'No valid messages found'\n    }\n  }\n};\n\nconst platformConfig = configs[platform];\nif (!platformConfig) {\n  throw new Error(`Unknown platform: ${platform}`);\n}\n\nconst entityConfig = platformConfig[normalizedEntity];\nif (!entityConfig) {\n  throw new Error(`Unknown entity type: ${normalizedEntity} for platform: ${platform}`);\n}\n\nreturn {\n  platform,\n  entityType: normalizedEntity,\n  config: entityConfig\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        424,
        400
      ],
      "id": "build-config",
      "name": "Build Config"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "op-execute",
                    "leftValue": "={{ $json.config.operation }}",
                    "rightValue": "executeTool",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "executeTool"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "op-list",
                    "leftValue": "={{ $json.config.operation }}",
                    "rightValue": "listTools",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "listTools"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        648,
        400
      ],
      "id": "route-operation",
      "name": "Route by Operation"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "platform-discord-exec",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "DISCORD",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "discord"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "platform-telegram-exec",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "TELEGRAM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "telegram"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        872,
        300
      ],
      "id": "route-platform-exec",
      "name": "Route Platform (Execute)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "platform-discord-list",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "DISCORD",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "discord"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "platform-telegram-list",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "TELEGRAM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "telegram"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        872,
        500
      ],
      "id": "route-platform-list",
      "name": "Route Platform (List)"
    },
    {
      "parameters": {
        "connectionType": "sse",
        "uriOverride": " http://0.0.0.0:8000/sse",
        "operation": "executeTool",
        "toolName": "={{ $json.config.toolName }}",
        "toolParameters": "={{ JSON.stringify($json.config.toolParams || {}) }}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        1096,
        200
      ],
      "id": "discord-mcp-exec",
      "name": "Discord MCP (Execute)",
      "credentials": {
        "mcpClientSseApi": {
          "id": "discordMcpSseCredential",
          "name": "Discord MCP Client (SSE) account"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "sse",
        "uriOverride": " http://0.0.0.0:8001/sse",
        "operation": "executeTool",
        "toolName": "={{ $json.config.toolName }}",
        "toolParameters": "={{ JSON.stringify($json.config.toolParams || {}) }}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        1096,
        400
      ],
      "id": "telegram-mcp-exec",
      "name": "Telegram MCP (Execute)",
      "credentials": {
        "mcpClientSseApi": {
          "id": "telegramMcpSseCredential",
          "name": "Telegram MCP Client (SSE) account"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "sse",
        "uriOverride": " http://0.0.0.0:8000/sse",
        "operation": "listTools"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        1096,
        600
      ],
      "id": "discord-mcp-list",
      "name": "Discord MCP (List)",
      "credentials": {
        "mcpClientSseApi": {
          "id": "discordMcpSseCredential",
          "name": "Discord MCP Client (SSE) account"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "sse",
        "uriOverride": " http://0.0.0.0:8001/sse",
        "operation": "listTools"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        1096,
        800
      ],
      "id": "telegram-mcp-list",
      "name": "Telegram MCP (List)",
      "credentials": {
        "mcpClientSseApi": {
          "id": "telegramMcpSseCredential",
          "name": "Telegram MCP Client (SSE) account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1320,
        400
      ],
      "id": "merge-mcp-results",
      "name": "Merge MCP Results"
    },
    {
      "parameters": {
        "jsCode": "const mcpResponse = $input.first().json;\nconst config = $('Build Config').first().json.config;\n\n// Handle profile normalization (single object)\nif (config.normalizeType === 'profile') {\n  let profile = null;\n  try {\n    if (mcpResponse.result?.content?.[0]?.text) {\n      profile = JSON.parse(mcpResponse.result.content[0].text);\n    } else if (mcpResponse.myProfile) {\n      profile = mcpResponse.myProfile;\n    } else {\n      throw new Error('No profile found');\n    }\n    return { myProfile: profile };\n  } catch (error) {\n    return { myProfile: null, error: error.message };\n  }\n}\n\n// Handle tools normalization (object or array)\nif (config.normalizeType === 'tools') {\n  let tools = [];\n  try {\n    if (mcpResponse.result?.content?.[0]?.text) {\n      const parsed = JSON.parse(mcpResponse.result.content[0].text);\n      tools = parsed.tools || parsed;\n    } else if (mcpResponse.tools) {\n      tools = mcpResponse.tools;\n    }\n    \n    // Ensure tools is an array\n    if (!Array.isArray(tools)) {\n      tools = Object.values(tools);\n    }\n    \n    return {\n      output: { tools }\n    };\n  } catch (error) {\n    return {\n      error: error.message,\n      output: { tools: [] }\n    };\n  }\n}\n\n// Standard MCP Data Normalizer logic (contacts, guilds, chats, messages)\nconst { dataKey, mcpDataKey, mapper, errorMsg } = config;\nlet extractedData = [];\n\ntry {\n  // Extract data from MCP response\n  if (mcpResponse.result?.content?.[0]?.text) {\n    const parsed = JSON.parse(mcpResponse.result.content[0].text);\n    extractedData = mcpDataKey ? (parsed[mcpDataKey] || []) : (Array.isArray(parsed) ? parsed : []);\n  } else if (mcpResponse[dataKey]) {\n    extractedData = mcpResponse[dataKey];\n  }\n  \n  if (!Array.isArray(extractedData) || extractedData.length === 0) {\n    return { [dataKey]: [], error: errorMsg };\n  }\n  \n  // Apply mapper function\n  const mapperFunc = new Function('item', `return (${mapper})(item)`);\n  return { [dataKey]: extractedData.map(mapperFunc) };\n} catch (error) {\n  return { [dataKey]: [], error: error.message };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1544,
        400
      ],
      "id": "normalize",
      "name": "Normalize Data"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Build Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Config": {
      "main": [
        [
          {
            "node": "Route by Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Operation": {
      "main": [
        [
          {
            "node": "Route Platform (Execute)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Platform (List)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Platform (Execute)": {
      "main": [
        [
          {
            "node": "Discord MCP (Execute)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram MCP (Execute)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Platform (List)": {
      "main": [
        [
          {
            "node": "Discord MCP (List)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram MCP (List)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord MCP (Execute)": {
      "main": [
        [
          {
            "node": "Merge MCP Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram MCP (Execute)": {
      "main": [
        [
          {
            "node": "Merge MCP Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Discord MCP (List)": {
      "main": [
        [
          {
            "node": "Merge MCP Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Telegram MCP (List)": {
      "main": [
        [
          {
            "node": "Merge MCP Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge MCP Results": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "e5d9d45e-5269-4efe-b164-7ba93edf0a64",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-14T01:12:42.032Z",
      "createdAt": "2025-12-14T01:12:42.032Z",
      "role": "workflow:owner",
      "workflowId": "zSUGEr0rD00q6yt8",
      "projectId": "DXB9XSLhWPNygtLw",
      "project": {
        "updatedAt": "2025-12-14T01:06:18.959Z",
        "createdAt": "2025-12-14T01:06:14.796Z",
        "id": "DXB9XSLhWPNygtLw",
        "name": "Test User <test@n8n.test>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-14T01:06:14.796Z",
            "createdAt": "2025-12-14T01:06:14.796Z",
            "userId": "e3d25c3c-0243-4285-80de-404d84472c78",
            "projectId": "DXB9XSLhWPNygtLw",
            "user": {
              "updatedAt": "2025-12-14T01:07:34.000Z",
              "createdAt": "2025-12-14T01:06:14.564Z",
              "id": "e3d25c3c-0243-4285-80de-404d84472c78",
              "email": "test@n8n.test",
              "firstName": "Test",
              "lastName": "User",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-14T01:07:09.175Z",
                "personalization_survey_n8n_version": "1.123.5"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "uogzAWtDp9AMT7VJ",
                "userActivatedAt": 1765674449908
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "parentFolder": null,
  "activeVersion": null,
  "scopes": [
    "workflow:create",
    "workflow:delete",
    "workflow:execute",
    "workflow:list",
    "workflow:move",
    "workflow:read",
    "workflow:share",
    "workflow:update"
  ]
}
