Discord Manager.json
{
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json['User Request'] }}",
          "options": {
            "systemMessage": "You are an expert Discord MCP assistant agent. Your role is to help users interact with Discord through workflow tools."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          -672,
          -624
        ],
        "id": "d113adc9-916e-43fc-89e7-187d109d32c5",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $workflow.id }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -656,
          -400
        ],
        "id": "e0e6e785-82e7-4d9b-8d15-3e553e014b52",
        "name": "Simple Memory",
        "disabled": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -784,
          -400
        ],
        "id": "fb7b9a56-d23b-4f29-9cd7-41abed69e2e1",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "NIhZoi9otQV2vaAP",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "description": "Call this tool to list messages from a discord username or user ID",
          "workflowId": {
            "__rl": true,
            "value": "qXzz33pAVkLd4UOO",
            "mode": "list",
            "cachedResultUrl": "/workflow/qXzz33pAVkLd4UOO",
            "cachedResultName": "Discord MCP Client"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "discordRelatedPrompt": "=Fetch last {{ $fromAI('limit', ``, 'string') }} messages from the user {{ $fromAI('userId', ``, 'string') }}."
            },
            "matchingColumns": [
              "discordRelatedPrompt"
            ],
            "schema": [
              {
                "id": "discordRelatedPrompt",
                "displayName": "discordRelatedPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          -528,
          -400
        ],
        "id": "024ba43e-7de2-4746-9487-8b98ba6ce9d2",
        "name": "List last messages"
      },
      {
        "parameters": {
          "description": "Call this tool to retrieve a user profile from a discord username or user ID",
          "workflowId": {
            "__rl": true,
            "value": "qXzz33pAVkLd4UOO",
            "mode": "list",
            "cachedResultUrl": "/workflow/qXzz33pAVkLd4UOO",
            "cachedResultName": "Discord MCP Client"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "discordRelatedPrompt": "=Fetch profile of the user {{ $fromAI('userId', ``, 'string') }}."
            },
            "matchingColumns": [
              "discordRelatedPrompt"
            ],
            "schema": [
              {
                "id": "discordRelatedPrompt",
                "displayName": "discordRelatedPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          -400,
          -400
        ],
        "id": "a5ed6ae6-9c0b-4c3c-b4e0-8c7ebd077b6b",
        "name": "Fetch a user profile"
      },
      {
        "parameters": {
          "formTitle": "Read & Analyze User Chat",
          "formDescription": "Insert user information you want to read",
          "formFields": {
            "values": [
              {
                "fieldLabel": "User Request",
                "requiredField": true
              }
            ]
          },
          "options": {
            "appendAttribution": false,
            "buttonLabel": "Look for the chat"
          }
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.3,
        "position": [
          -1008,
          -720
        ],
        "id": "db505c17-8622-4327-8471-8149e54668bf",
        "name": "list messages form",
        "webhookId": "d67a4ea1-a673-4a21-9e69-881815f6da80"
      },
      {
        "parameters": {
          "formTitle": "Read & Analyze User Chat",
          "formDescription": "Insert query you want to read",
          "formFields": {
            "values": [
              {
                "fieldLabel": "User Request",
                "requiredField": true
              }
            ]
          },
          "options": {
            "appendAttribution": false,
            "buttonLabel": "Look for the chat"
          }
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.3,
        "position": [
          -1008,
          -528
        ],
        "id": "eca05751-67ce-4aea-b118-baf5bc3c0611",
        "name": "get profile form",
        "webhookId": "85177d21-9220-49af-bfa6-70b2aa7f7ea0"
      }
    ],
    "connections": {
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "List last messages": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Fetch a user profile": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "list messages form": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get profile form": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {
      "list messages form": [
        {
          "User Request": "list last 10 messages with yasindu",
          "submittedAt": "2025-11-02T02:36:51.319-05:00",
          "formMode": "test"
        }
      ]
    },
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "cd381b17813b1f32bbed6ff56a914eb5679cd0e7bd9a8ef4580ebc82f8011b84"
    }
  }