Discord Indexer.json
{
    "nodes": [
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.indexingPrompt }}",
                "hasOutputParser": true,
                "options": {
                    "systemMessage": "You are an expert assistant for indexing Discord contacts from Direct Message conversations into a DataTable. Your role is to discover and cache Discord user profiles from DM conversations.\n\n**Primary Operation: Indexing Contacts from DMs**\nYour main task is to:\n1. Discover all Direct Message conversations/channels\n2. Extract unique user IDs from DM conversations\n3. Fetch user profiles for each discovered user\n4. Cache all contacts in the DataTable\n\n**Re-caching Behavior:**\n- When the user requests re-indexing or mentions clearing/refreshing the cache, you MUST clear ALL rows from the DataTable FIRST before indexing\n- Use the 'Clear All Rows' tool to delete all existing contacts\n- Then proceed with fresh indexing from all DM conversations\n- This ensures a clean, complete index with no stale data\n\n**Indexing Workflow:**\n1. If re-indexing requested: Clear all rows using 'Clear All Rows' tool\n2. List all DM conversations using 'List DM Conversations' tool\n3. For each DM channel:\n   - Get messages using 'Get DM Messages' to discover participants\n   - Extract unique user IDs from message authors\n4. For each unique user ID discovered:\n   - Fetch profile using 'Fetch User Profile' tool\n   - Extract discord_id, username, display_name\n5. Batch upsert all discovered contacts using 'Upsert row(s) in Data table'\n\n**DataTable Schema:**\n- discord_id (string, required, unique identifier)\n- username (string)\n- display_name (string)\n- createdAt (auto-managed timestamp)\n- updatedAt (auto-managed timestamp)\n\n**Guidelines:**\n- Always check if the user wants to re-index (clear and refresh) vs incremental indexing\n- When re-indexing is requested, clear the table first\n- Extract contacts from ALL available DM conversations\n- Deduplicate user IDs before fetching profiles (each user should only be fetched once)\n- Batch process contacts efficiently\n- Handle errors gracefully - continue indexing even if some profiles fail to fetch\n- Provide summary of indexed contacts count\n- Include status and counts in your response"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                24,
                -192
            ],
            "id": "f7a8b9c1-d2e3-4f5a-6b7c-8d9e0f1a2b3c",
            "name": "Indexer AI Agent"
        },
        {
            "parameters": {
                "options": {
                    "temperature": 0.2
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                156,
                240
            ],
            "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "NIhZoi9otQV2vaAP",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "operation": "deleteRows",
                "dataTableId": {
                    "__rl": true,
                    "value": "aqMjQOYOqhSGVImr",
                    "mode": "list",
                    "cachedResultName": "Paragon's Discord Contacts",
                    "cachedResultUrl": "/projects/GEUEn6ArNROzJ5FY/datatables/aqMjQOYOqhSGVImr"
                },
                "filters": {
                    "conditions": []
                },
                "options": {}
            },
            "type": "n8n-nodes-base.dataTableTool",
            "typeVersion": 1,
            "position": [
                -96,
                32
            ],
            "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
            "name": "Clear All Rows in Data table"
        },
        {
            "parameters": {
                "description": "Call this tool to list all Direct Message conversations/channels from Discord",
                "workflowId": {
                    "__rl": true,
                    "value": "qXzz33pAVkLd4UOO",
                    "mode": "list",
                    "cachedResultUrl": "/workflow/qXzz33pAVkLd4UOO",
                    "cachedResultName": "Discord MCP Client"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "discordRelatedPrompt": "={{ $fromAI('listDMPrompt', `List all Direct Message conversations/channels`, 'string') }}"
                    },
                    "matchingColumns": [
                        "discordRelatedPrompt"
                    ],
                    "schema": [
                        {
                            "id": "discordRelatedPrompt",
                            "displayName": "discordRelatedPrompt",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string",
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                32,
                32
            ],
            "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
            "name": "List DM Conversations"
        },
        {
            "parameters": {
                "description": "Call this tool to get messages from a specific Direct Message channel to discover participants",
                "workflowId": {
                    "__rl": true,
                    "value": "qXzz33pAVkLd4UOO",
                    "mode": "list",
                    "cachedResultUrl": "/workflow/qXzz33pAVkLd4UOO",
                    "cachedResultName": "Discord MCP Client"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "discordRelatedPrompt": "={{ $fromAI('getDMMessagesPrompt', `Get messages from DM channel with ID or user ID`, 'string') }}"
                    },
                    "matchingColumns": [
                        "discordRelatedPrompt"
                    ],
                    "schema": [
                        {
                            "id": "discordRelatedPrompt",
                            "displayName": "discordRelatedPrompt",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string",
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                160,
                32
            ],
            "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
            "name": "Get DM Messages"
        },
        {
            "parameters": {
                "description": "Call this tool to retrieve a user profile from a discord username or user ID",
                "workflowId": {
                    "__rl": true,
                    "value": "qXzz33pAVkLd4UOO",
                    "mode": "list",
                    "cachedResultUrl": "/workflow/qXzz33pAVkLd4UOO",
                    "cachedResultName": "Discord MCP Client"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "discordRelatedPrompt": "=Fetch profile of the user {{ $fromAI('userId', `Discord user ID to fetch profile for`, 'string') }}."
                    },
                    "matchingColumns": [
                        "discordRelatedPrompt"
                    ],
                    "schema": [
                        {
                            "id": "discordRelatedPrompt",
                            "displayName": "discordRelatedPrompt",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string",
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                288,
                32
            ],
            "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
            "name": "Fetch User Profile"
        },
        {
            "parameters": {
                "operation": "upsert",
                "dataTableId": {
                    "__rl": true,
                    "value": "aqMjQOYOqhSGVImr",
                    "mode": "list",
                    "cachedResultName": "Paragon's Discord Contacts",
                    "cachedResultUrl": "/projects/GEUEn6ArNROzJ5FY/datatables/aqMjQOYOqhSGVImr"
                },
                "filters": {
                    "conditions": [
                        {
                            "keyName": "discord_id",
                            "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('discord_id', `Discord ID from fetched user profile`, 'string') }}"
                        }
                    ]
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "discord_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('discord_id', `Discord ID from fetched user profile`, 'string') }}",
                        "username": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('username', `Username from fetched user profile`, 'string') }}",
                        "display_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('display_name', `Display name from fetched user profile`, 'string') }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "discord_id",
                            "displayName": "discord_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "username",
                            "displayName": "username",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "display_name",
                            "displayName": "display_name",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.dataTableTool",
            "typeVersion": 1,
            "position": [
                416,
                32
            ],
            "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
            "name": "Upsert row(s) in Data table"
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $workflow.id }} v1",
                "contextWindowLength": 10
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                -224,
                32
            ],
            "id": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d",
            "name": "Simple Memory"
        },
        {
            "parameters": {
                "workflowInputs": {
                    "values": [
                        {
                            "name": "indexingPrompt"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [
                -448,
                -192
            ],
            "id": "b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e",
            "name": "When Executed by Another Workflow"
        },
        {
            "parameters": {
                "schemaType": "manual",
                "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"status\": {\n      \"type\": \"string\",\n      \"enum\": [\"success\", \"error\", \"partial\"],\n      \"description\": \"Status of the indexing operation\"\n    },\n    \"contactsIndexed\": {\n      \"type\": \"number\",\n      \"description\": \"Total number of contacts successfully indexed\"\n    },\n    \"contactsProcessed\": {\n      \"type\": \"number\",\n      \"description\": \"Total number of contacts processed (including failures)\"\n    },\n    \"data\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"indexedContacts\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"discord_id\": {\n                \"type\": \"string\",\n                \"description\": \"Discord user ID\"\n              },\n              \"username\": {\n                \"type\": \"string\",\n                \"description\": \"Discord username\"\n              },\n              \"display_name\": {\n                \"type\": \"string\",\n                \"description\": \"Display name\"\n              }\n            }\n          }\n        },\n        \"source\": {\n          \"type\": \"string\",\n          \"description\": \"Source of indexed contacts (e.g. direct_messages)\"\n        }\n      }\n    },\n    \"message\": {\n      \"type\": \"string\",\n      \"description\": \"Summary message about the indexing operation\"\n    }\n  },\n  \"required\": [\"status\", \"contactsIndexed\", \"contactsProcessed\", \"data\", \"message\"]\n}",
                "autoFix": true
            },
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.3,
            "position": [
                544,
                32
            ],
            "id": "c9d0e1f2-a3b4-4c5d-6e7f-8a9b0c1d2e3f",
            "name": "Structured Output Parser"
        }
    ],
    "connections": {
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Indexer AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Structured Output Parser",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Clear All Rows in Data table": {
            "ai_tool": [
                [
                    {
                        "node": "Indexer AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "List DM Conversations": {
            "ai_tool": [
                [
                    {
                        "node": "Indexer AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Get DM Messages": {
            "ai_tool": [
                [
                    {
                        "node": "Indexer AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch User Profile": {
            "ai_tool": [
                [
                    {
                        "node": "Indexer AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert row(s) in Data table": {
            "ai_tool": [
                [
                    {
                        "node": "Indexer AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Indexer AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "When Executed by Another Workflow": {
            "main": [
                [
                    {
                        "node": "Indexer AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Structured Output Parser": {
            "ai_outputParser": [
                [
                    {
                        "node": "Indexer AI Agent",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {
        "When Executed by Another Workflow": [
            {
                "indexingPrompt": "Index all contacts from Direct Messages"
            }
        ]
    },
    "meta": {
        "instanceId": "cd381b17813b1f32bbed6ff56a914eb5679cd0e7bd9a8ef4580ebc82f8011b84"
    }
}