Discord MCP Client.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.discordRelatedPrompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert Discord MCP assistant agent. Your role is to help users interact with Discord through MCP tools.\n\n**Capabilities:**\n- Discover available Discord MCP tools by calling `mcp_list_tools` when needed\n- Execute Discord MCP tools directly using the Discord MCP Tool Executer\n- Understand natural language requests and select appropriate tools automatically\n- Handle multi-step workflows by chaining tool calls when necessary\n- Provide clear, helpful responses based on tool execution results\n\n**Workflow:**\n1. When you need to discover available tools, call `mcp_list_tools` first\n2. Analyze the user's request and identify which tool(s) to use\n3. Execute the tool(s) with appropriate parameters\n4. Process the results and provide a helpful response to the user\n5. Always include IDs of discord entities in the output.\n6. If a tool execution fails, analyze the error and retry or suggest alternatives\n\n**Guidelines:**\n- Always check available tools if you're unsure which one to use\n- Make sure to search chats/contacts/guilds/servers and fetch discord IDs before calling tools that require them.\n- Read tool descriptions and input schemas carefully before execution\n- Extract parameter values from the user's natural language request\n- Provide clear, conversational responses based on tool results\n- Maintain context across multiple tool calls in a conversation"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        184,
        -224
      ],
      "id": "98e83ef8-cac3-4249-8d6e-b94bc08e4923",
      "name": "Discord MCP Agent"
    },
    {
      "parameters": {
        "sessionKey": "={{ $execution.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        128,
        0
      ],
      "id": "4712c1f1-6161-47d6-9678-3b716f967dc2",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        316,
        208
      ],
      "id": "77a67469-7cd5-4a82-bba3-2da89a896485",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"required\": [\"toolName\", \"responseType\"],\n  \"properties\": {\n    \"toolName\": {\n      \"type\": \"string\"\n    },\n    \"responseType\": {\n      \"type\": \"string\",\n      \"enum\": [\"list\", \"single\", \"action\", \"tool_catalog\", \"error\"]\n    },\n    \"data\": {},\n    \"pagination\": {\n      \"type\": \"object\"\n    },\n    \"summary\": {\n      \"type\": \"string\"\n    },\n    \"status\": {\n      \"type\": \"string\"\n    },\n    \"message\": {\n      \"type\": \"string\"\n    },\n    \"error\": {\n      \"type\": \"string\"\n    }\n  },\n  \"additionalProperties\": true\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        512,
        0
      ],
      "id": "a0bd23cf-616b-492e-b3e5-bed543a6c8ea",
      "name": "Generic MCP Response Parser"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool_name', ``, 'string') }}",
        "toolParameters": "={{ $fromAI('tool_parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        256,
        0
      ],
      "id": "397fdb8a-f333-4465-8b3a-be30bd80e2b9",
      "name": "Discord MCP Tool Executer",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "**Tool Name:** `mcp_list_tools`\n\n**Purpose:**\nDiscover and return the current live catalog of tools from the connected Discord MCP server.\nThis catalog is the single source of truth for all tool names, descriptions, and input schemas.\n\n**Call When:**\n- You do not yet know which tools exist\n- You need to refresh the tool registry before selection\n- You must check parameter names, types, or schema requirements\n\n**Contract:**\n- **Input:** none\n- **Output:** Array of tools → each object has `{ name, description, input_schema }`\n- Treat this response as authoritative; never invent tools or fields\n\n**Usage Pattern:**\n1. Call `mcp_list_tools` to fetch the live catalog\n2. Review available tools and their `input_schema` for parameter requirements\n3. Select and execute the appropriate tool directly using the Discord MCP Tool Executer\n\n**Notes:**\n- No parameters are required\n- Always use this first when you need to discover available Discord MCP tools\n- Acts as the ground truth registry for the MCP environment\n"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        384,
        0
      ],
      "id": "2d15ffd6-e8cb-4573-bd39-dfc2618512c1",
      "name": "Discord MCP List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "discordRelatedPrompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -96,
        -224
      ],
      "id": "8b66297e-f5ae-4bde-9bce-204803808f86",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Discord MCP Agent": {
      "main": [
        []
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generic MCP Response Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generic MCP Response Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Discord MCP Tool Executer": {
      "ai_tool": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Discord MCP List Tools": {
      "ai_tool": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "discordRelatedPrompt": "get 5 last messages in chat with sebastian"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd381b17813b1f32bbed6ff56a914eb5679cd0e7bd9a8ef4580ebc82f8011b84"
  }
}