Discord MCP Client v1.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.discordRelatedPrompt || 'I want to list my first 5 discord contacts' }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert Discord MCP assistant agent. Your role is to help users interact with Discord through MCP tools.\n\n**Capabilities:**\n- Discover available Discord MCP tools by calling `mcp_list_tools` when needed\n- Execute Discord MCP tools directly using the Discord MCP Tool Executer\n- Understand natural language requests and select appropriate tools automatically\n- Handle multi-step workflows by chaining tool calls when necessary\n- Provide clear, helpful responses based on tool execution results\n\n**Workflow:**\n1. When you need to discover available tools, call `mcp_list_tools` first\n2. Analyze the user's request and identify which tool(s) to use\n3. Execute the tool(s) with appropriate parameters\n4. Process the results and provide a helpful response to the user\n5. If a tool execution fails, analyze the error and retry or suggest alternatives\n\n**Guidelines:**\n- Always check available tools if you're unsure which one to use\n- Read tool descriptions and input schemas carefully before execution\n- Extract parameter values from the user's natural language request\n- Provide clear, conversational responses based on tool results\n- Maintain context across multiple tool calls in a conversation"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -32,
        -400
      ],
      "id": "c790cb01-8645-4f2d-8ceb-3b4445f47f23",
      "name": "Discord MCP Agent"
    },
    {
      "parameters": {
        "sessionKey": "={{ $workflow.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        -96,
        -176
      ],
      "id": "0caa962e-593b-491f-ac3a-40bb6fe7cc70",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        32
      ],
      "id": "4d646a23-b333-4a52-9f44-2f2db64254d2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"MCPToolResponse\",\n  \"strict\": false,\n  \"schema\": {\n    \"type\": \"object\",\n    \"additionalProperties\": true,\n    \"required\": [\"toolName\", \"responseType\"],\n    \"properties\": {\n      \"toolName\": {\n        \"type\": \"string\",\n        \"description\": \"Name of the MCP tool that generated this response (e.g., 'discord_list_channels', 'discord_send_message', 'mcp_list_tools')\"\n      },\n      \"responseType\": {\n        \"type\": \"string\",\n        \"enum\": [\"list\", \"single\", \"action\", \"tool_catalog\", \"error\"],\n        \"description\": \"Type of response: 'list' for arrays of items, 'single' for single objects, 'action' for operations (send/edit/delete), 'tool_catalog' for tool listings, 'error' for failures\"\n      },\n      \"data\": {\n        \"description\": \"Main response data - structure varies by responseType. For 'list': array of items. For 'single': object. For 'action': operation result. For 'tool_catalog': array of tool definitions.\",\n        \"oneOf\": [\n          {\n            \"type\": \"array\",\n            \"description\": \"Array of items for list responses\"\n          },\n          {\n            \"type\": \"object\",\n            \"description\": \"Single object for single-item or action responses\",\n            \"additionalProperties\": true\n          }\n        ]\n      },\n      \"pagination\": {\n        \"type\": [\"object\", \"null\"],\n        \"description\": \"Pagination metadata (only present for list responses that support pagination)\",\n        \"additionalProperties\": true,\n        \"properties\": {\n          \"offset\": {\n            \"type\": [\"number\", \"null\"],\n            \"description\": \"Starting position for pagination\",\n            \"minimum\": 0\n          },\n          \"limit\": {\n            \"type\": [\"number\", \"null\"],\n            \"description\": \"Number of items per page\",\n            \"minimum\": 1\n          },\n          \"hasMore\": {\n            \"type\": [\"boolean\", \"null\"],\n            \"description\": \"Whether more items can be fetched\"\n          },\n          \"nextOffset\": {\n            \"type\": [\"number\", \"string\", \"null\"],\n            \"description\": \"Offset or cursor for next page if hasMore is true\"\n          },\n          \"before\": {\n            \"type\": [\"string\", \"null\"],\n            \"description\": \"Cursor/before ID for pagination (message/channel IDs, etc.)\"\n          },\n          \"after\": {\n            \"type\": [\"string\", \"null\"],\n            \"description\": \"Cursor/after ID for pagination\"\n          }\n        }\n      },\n      \"summary\": {\n        \"type\": [\"object\", \"null\"],\n        \"description\": \"Summary/metadata about the response (total counts, returned counts, etc.)\",\n        \"additionalProperties\": true,\n        \"properties\": {\n          \"total\": {\n            \"type\": [\"number\", \"null\"],\n            \"description\": \"Total number of items available\"\n          },\n          \"returned\": {\n            \"type\": [\"number\", \"null\"],\n            \"description\": \"Number of items included in this response\"\n          },\n          \"hasMore\": {\n            \"type\": [\"boolean\", \"null\"],\n            \"description\": \"Whether more items can be fetched\"\n          }\n        }\n      },\n      \"status\": {\n        \"type\": [\"string\", \"null\"],\n        \"description\": \"Status for action responses: 'success', 'error', 'partial', etc.\",\n        \"enum\": [\"success\", \"error\", \"partial\", null]\n      },\n      \"message\": {\n        \"type\": [\"string\", \"null\"],\n        \"description\": \"Human-readable message describing the result or error\"\n      },\n      \"error\": {\n        \"type\": [\"object\", \"null\"],\n        \"description\": \"Error details if responseType is 'error' or status is 'error'\",\n        \"additionalProperties\": true,\n        \"properties\": {\n          \"code\": {\n            \"type\": [\"string\", \"number\", \"null\"],\n            \"description\": \"Error code if available\"\n          },\n          \"message\": {\n            \"type\": [\"string\", \"null\"],\n            \"description\": \"Error message\"\n          },\n          \"details\": {\n            \"type\": [\"object\", \"string\", \"null\"],\n            \"description\": \"Additional error details\",\n            \"additionalProperties\": true\n          }\n        }\n      },\n      \"metadata\": {\n        \"type\": [\"object\", \"null\"],\n        \"description\": \"Additional metadata specific to the tool or response\",\n        \"additionalProperties\": true\n      }\n    }\n  }\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        304,
        -176
      ],
      "id": "f13c2886-7ba5-4f76-a985-44fe871af897",
      "name": "Generic MCP Response Parser"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool_name', ``, 'string') }}",
        "toolParameters": "={{ $fromAI('tool_parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        176,
        -176
      ],
      "id": "8dd33613-b9fc-4f37-bb85-9cce52327e9e",
      "name": "Discord MCP Tool Executer",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "**Tool Name:** `mcp_list_tools`\n\n**Purpose:**\nDiscover and return the current live catalog of tools from the connected Discord MCP server.\nThis catalog is the single source of truth for all tool names, descriptions, and input schemas.\n\n**Call When:**\n- You do not yet know which tools exist\n- You need to refresh the tool registry before selection\n- You must check parameter names, types, or schema requirements\n\n**Contract:**\n- **Input:** none\n- **Output:** Array of tools → each object has `{ name, description, input_schema }`\n- Treat this response as authoritative; never invent tools or fields\n\n**Usage Pattern:**\n1. Call `mcp_list_tools` to fetch the live catalog\n2. Review available tools and their `input_schema` for parameter requirements\n3. Select and execute the appropriate tool directly using the Discord MCP Tool Executer\n\n**Notes:**\n- No parameters are required\n- Always use this first when you need to discover available Discord MCP tools\n- Acts as the ground truth registry for the MCP environment\n"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        48,
        -176
      ],
      "id": "23c0a7ff-bdc7-4328-9406-3325a4780ba6",
      "name": "Discord MCP List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "discordRelatedPrompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        -400
      ],
      "id": "c8d04514-e755-452a-bcb4-ee62d2a93e4a",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generic MCP Response Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generic MCP Response Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Discord MCP Tool Executer": {
      "ai_tool": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Discord MCP List Tools": {
      "ai_tool": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "discordRelatedPrompt": "list my first 5 discord contacts"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd381b17813b1f32bbed6ff56a914eb5679cd0e7bd9a8ef4580ebc82f8011b84"
  }
}