Discord MCP Client v1.json
{
  "name": "Discord MCP Client",
  "nodes": [
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "**Tool Name:** `mcp_list_tools`\n\n**Purpose:**\nDiscover and return the current live catalog of tools from the connected Discord MCP server.\nThis catalog is the single source of truth for all tool names, descriptions, and input schemas.\n\n**Call When:**\n- You do not yet know which tools exist\n- You need to refresh the tool registry before selection\n- You must check parameter names, types, or schema requirements\n\n**Contract:**\n- **Input:** none\n- **Output:** Array of tools → each object has `{ name, description, input_schema }`\n- Treat this response as authoritative; never invent tools or fields\n\n**Usage Pattern:**\n1. Call `mcp_list_tools` to fetch the live catalog\n2. Review available tools and their `input_schema` for parameter requirements\n3. Select and execute the appropriate tool directly using the Discord MCP Tool Executer\n\n**Notes:**\n- No parameters are required\n- Always use this first when you need to discover available Discord MCP tools\n- Acts as the ground truth registry for the MCP environment\n"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -32,
        -48
      ],
      "id": "65ece782-25db-47e2-8abb-25a6c5f2e25a",
      "name": "Discord MCP List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        -272
      ],
      "id": "1629c756-96d1-4f08-a6f6-bee606a2408c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        368
      ],
      "id": "5d67203f-f44f-48b3-a56d-596aa9b211d5",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $input.item.json.query || 'I want to list my first 5 discord contacts' }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are an expert Discord MCP assistant agent. Your role is to help users interact with Discord through MCP tools.\n\n**Capabilities:**\n- Discover available Discord MCP tools by calling `mcp_list_tools` when needed\n- Execute Discord MCP tools directly using the Discord MCP Tool Executer\n- Understand natural language requests and select appropriate tools automatically\n- Handle multi-step workflows by chaining tool calls when necessary\n- Provide clear, helpful responses based on tool execution results\n\n**Workflow:**\n1. When you need to discover available tools, call `mcp_list_tools` first\n2. Analyze the user's request and identify which tool(s) to use\n3. Execute the tool(s) with appropriate parameters\n4. Process the results and provide a helpful response to the user\n5. If a tool execution fails, analyze the error and retry or suggest alternatives\n\n**Guidelines:**\n- Always check available tools if you're unsure which one to use\n- Read tool descriptions and input schemas carefully before execution\n- Extract parameter values from the user's natural language request\n- Provide clear, conversational responses based on tool results\n- Maintain context across multiple tool calls in a conversation"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -112,
        -272
      ],
      "id": "7518556f-a3c0-4ee7-b95b-5992690555f6",
      "name": "Discord MCP Agent"
    },
    {
      "parameters": {
        "descriptionType": "auto",
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool_name', ``, 'string') }}",
        "toolParameters": "={{ $fromAI('tool_parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        544,
        -48
      ],
      "id": "d6589339-2de0-4352-a93a-f9d8c3e172dc",
      "name": "Discord MCP Tool Executer",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"ContactsDigest\",\n  \"strict\": true,\n  \"schema\": {\n    \"type\": \"object\",\n    \"additionalProperties\": false,\n    \"required\": [\"summary\", \"pagination\", \"contacts\"],\n    \"properties\": {\n      \"summary\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\"total\", \"returned\", \"hasMore\"],\n        \"properties\": {\n          \"total\": {\n            \"type\": \"integer\",\n            \"description\": \"Total number of contacts available\"\n          },\n          \"returned\": {\n            \"type\": \"integer\",\n            \"description\": \"Number of contacts included in this response\"\n          },\n          \"hasMore\": {\n            \"type\": \"boolean\",\n            \"description\": \"Whether more contacts can be fetched with a larger offset\"\n          }\n        }\n      },\n      \"pagination\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\"offset\", \"limit\"],\n        \"properties\": {\n          \"offset\": {\n            \"type\": \"integer\",\n            \"minimum\": 0\n          },\n          \"limit\": {\n            \"type\": \"integer\",\n            \"minimum\": 1\n          },\n          \"nextOffset\": {\n            \"type\": [\"integer\", \"null\"],\n            \"description\": \"Offset to request next if hasMore is true, otherwise null\"\n          },\n          \"type\": {\n            \"type\": \"string\",\n            \"description\": \"Original list type if provided\",\n            \"examples\": [\"all\", \"dm\", \"friend\"]\n          },\n          \"filtersApplied\": {\n            \"type\": \"boolean\",\n            \"description\": \"Whether source indicated filters are applied\"\n          }\n        }\n      },\n      \"contacts\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"additionalProperties\": false,\n          \"required\": [\"id\", \"name\", \"username\", \"type\", \"isBot\"],\n          \"properties\": {\n            \"id\": {\n              \"type\": \"string\",\n              \"description\": \"Contact identifier as string\"\n            },\n            \"name\": {\n              \"type\": \"string\",\n              \"description\": \"Display name best available\"\n            },\n            \"username\": {\n              \"type\": \"string\",\n              \"description\": \"Handle or unique username\"\n            },\n            \"type\": {\n              \"type\": \"string\",\n              \"enum\": [\"dm\", \"friend\", \"other\"],\n              \"description\": \"Relationship or thread type\"\n            },\n            \"isBot\": {\n              \"type\": \"boolean\",\n              \"description\": \"True if contact is a bot\"\n            },\n            \"status\": {\n              \"type\": \"string\",\n              \"description\": \"Online status if provided\",\n              \"examples\": [\"online\", \"offline\", \"idle\", \"dnd\", \"unknown\"]\n            },\n            \"lastMessageAtIso\": {\n              \"type\": \"string\",\n              \"format\": \"date-time\",\n              \"description\": \"Last message timestamp in ISO 8601 UTC if available\"\n            },\n            \"lastMessageAgo\": {\n              \"type\": \"string\",\n              \"description\": \"Human relative time if provided\",\n              \"examples\": [\"7 days ago\"]\n            },\n            \"avatar\": {\n              \"type\": \"string\",\n              \"format\": \"uri\",\n              \"description\": \"Avatar URL if available\"\n            }\n          }\n        }\n      }\n    }\n  }\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        688,
        144
      ],
      "id": "1ba9ea23-5c33-4271-bd59-3e39ae826694",
      "name": "Contact List Parser"
    },
    {
      "parameters": {
        "sessionIdType": "define",
        "sessionKey": "={{ $workflow.id }}",
        "memoryType": "bufferWindow",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        128,
        64
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Conversation Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Discord MCP List Tools": {
      "ai_tool": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Contact List Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Discord MCP Tool Executer": {
      "ai_tool": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Discord MCP Agent": {
      "main": [
        []
      ]
    },
    "Contact List Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8899d863-36ca-46e3-b1b6-f68c595d5258",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd381b17813b1f32bbed6ff56a914eb5679cd0e7bd9a8ef4580ebc82f8011b84"
  },
  "id": "qXzz33pAVkLd4UOO",
  "tags": []
}