Global Cache System.json
{
  "name": "Global Cache System",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "trueToWrite",
              "type": "boolean"
            },
            {
              "name": "cacheKey"
            },
            {
              "name": "writeValue",
              "type": "any"
            },
            {
              "name": "writeTTLms",
              "type": "number"
            }
          ]
        }
      },
      "id": "80d4daa0-8e51-4310-b90d-cfb185bf4eb7",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -336,
        768
      ],
      "typeVersion": 1.1,
      "notes": "To write set the value to true.\nTTL is in milliseconds"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "AxHE7kFUIMEVfQgd",
          "mode": "list",
          "cachedResultName": "cache",
          "cachedResultUrl": "/projects/GEUEn6ArNROzJ5FY/datatables/AxHE7kFUIMEVfQgd"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "={{ $json.cacheKey }}"
            }
          ]
        },
        "columns": {
          "value": {
            "key": "={{ $json.cacheKey }}",
            "ttl": "={{ $now.plus($json.writeTTLms > 0 ? $json.writeTTLms : 10000) }}",
            "value": "={{ JSON.stringify($json.writeValue) }}"
          },
          "schema": [
            {
              "id": "key",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "key",
              "defaultMatch": false
            },
            {
              "id": "value",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "value",
              "defaultMatch": false
            },
            {
              "id": "ttl",
              "type": "dateTime",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "ttl",
              "defaultMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9788e7e3-7ddb-47af-ba5a-827a0295936d",
      "name": "Upsert row(s)",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        336,
        672
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('When Executed by Another Workflow').item.json.writeValue }}",
        "options": {}
      },
      "id": "b4ca4ca2-936e-4dfc-b228-259e2f0dd242",
      "name": "Return Value",
      "type": "n8n-nodes-base.set",
      "position": [
        560,
        672
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {},
      "id": "0e2f3208-edd5-474f-b980-e4eb86a46790",
      "name": "Action Write Value",
      "type": "n8n-nodes-base.noOp",
      "position": [
        112,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "AxHE7kFUIMEVfQgd",
          "mode": "list",
          "cachedResultName": "cache",
          "cachedResultUrl": "/projects/GEUEn6ArNROzJ5FY/datatables/AxHE7kFUIMEVfQgd"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "={{ $json.cacheKey }}"
            }
          ]
        }
      },
      "id": "5d9f44d7-9b84-4f06-ba99-8df7bb3ee45d",
      "name": "Get row(s)",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        336,
        864
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "03943791-3760-46e3-ac12-028fdbd5b440",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              },
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json.ttl }}"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "91789ef3-7913-466b-a3e4-a2544fc58eec",
      "name": "If Expired Cache",
      "type": "n8n-nodes-base.if",
      "position": [
        784,
        936
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "a3f7550d-f704-4eb8-bb47-d6941168d5e5",
      "name": "Read Action",
      "type": "n8n-nodes-base.noOp",
      "position": [
        112,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cfe96997-a2c7-44d1-a270-798fa5fdbeee",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ !!$json.trueToWrite }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "1221b701-dff2-4d6e-9aaf-8b3f1fdf73fe",
      "name": "Check Action Type",
      "type": "n8n-nodes-base.if",
      "position": [
        -112,
        768
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a3e38df9-cfdc-4a30-943f-34b42c37eb63",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "628703e5-8db4-460e-bbad-b0c673fe6051",
      "name": "If not in Cache",
      "type": "n8n-nodes-base.if",
      "position": [
        560,
        864
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "errorMessage": "No Entry or Expired Cache Item."
      },
      "id": "7555ad5b-b80a-4187-bb3a-9f9595e5c260",
      "name": "No cache found, use error detection to detect this.",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        1008,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($('Get row(s)').item.json.value) }}",
        "options": {}
      },
      "id": "4da8c83d-dd02-45b3-83c0-75d795a635fa",
      "name": "Return Value from Cache",
      "type": "n8n-nodes-base.set",
      "position": [
        1008,
        984
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "987157dc-54f4-4bd9-a632-617b54001bbe",
      "name": "1 Hour Clean for Cache Table",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -336,
        1208
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "AxHE7kFUIMEVfQgd",
          "mode": "list",
          "cachedResultName": "cache",
          "cachedResultUrl": "/projects/GEUEn6ArNROzJ5FY/datatables/AxHE7kFUIMEVfQgd"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "ttl",
              "condition": "lt",
              "keyValue": "={{ $now }}"
            }
          ]
        },
        "options": {
          "dryRun": true
        }
      },
      "id": "c33d06de-3c8e-45a2-805b-cdc64748f0c9",
      "name": "Drop all rows with expired cache entires",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        -112,
        1208
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "trueToWrite": false,
          "cacheKey": "discordGuilds",
          "writeTTLms": 1000000,
          "writeValue": {
            "data": "cool data"
          }
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Check Action Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Return Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Write Value": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If not in Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Expired Cache": {
      "main": [
        [
          {
            "node": "No cache found, use error detection to detect this.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Value from Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Action": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Action Type": {
      "main": [
        [
          {
            "node": "Action Write Value",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not in Cache": {
      "main": [
        [
          {
            "node": "No cache found, use error detection to detect this.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Expired Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 Hour Clean for Cache Table": {
      "main": [
        [
          {
            "node": "Drop all rows with expired cache entires",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "371b4d6e-c4d7-408d-802c-01e9820bb02a",
  "meta": {
    "instanceId": "cd381b17813b1f32bbed6ff56a914eb5679cd0e7bd9a8ef4580ebc82f8011b84"
  },
  "id": "HTXqB729RFNozetP",
  "tags": []
}