n8n-agent/workflows/HELPERS/Entity Fetch Workflows/[HELPERS] Discord Guild Fetch.json
{
  "updatedAt": "2025-12-06T17:30:00.000Z",
  "createdAt": "2025-12-06T17:30:00.000Z",
  "id": "DiscordGuildFetch",
  "name": "[HELPERS] Discord Guild Fetch",
  "description": "Fetches and normalizes Discord guilds from MCP",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": []
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        304,
        400
      ],
      "id": "trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=discord_list_guilds",
        "toolParameters": "={}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        528,
        400
      ],
      "id": "mcp-call",
      "name": "List Guilds/Servers",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MCPDataNormalizer",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "rawData": "={{ $json }}",
            "dataKey": "guilds",
            "mcpDataKey": "guilds",
            "mapper": "(g) => ({ id: g.id, name: g.name, members: g.memberCount, channels: g.channels ?? [] })",
            "errorMsg": "No valid guilds found"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "rawData",
              "displayName": "rawData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dataKey",
              "displayName": "dataKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mcpDataKey",
              "displayName": "mcpDataKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mapper",
              "displayName": "mapper",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "errorMsg",
              "displayName": "errorMsg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        752,
        400
      ],
      "id": "normalize",
      "name": "Normalize Data"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "List Guilds/Servers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Guilds/Servers": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "versionId": "discord-guild-fetch-v1",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "tags": [],
  "shared": []
}

