workflows/HELPERS/[HELPERS] Telegram Context Cache.json
{
  "updatedAt": "2025-11-16T14:34:57.000Z",
  "createdAt": "2025-11-12T21:13:55.082Z",
  "id": "WFlhiFmm1Tt6ICRM",
  "name": "[HELPERS] Telegram Context Cache",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -352,
        -176
      ],
      "id": "58f1c4a9-cdb1-431f-a4b5-e03f19d28bd4",
      "name": "List MCP Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "aiYCclLDUqob5iQ0",
          "name": "Telegram MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=telegram_list_contacts",
        "toolParameters": "={}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -352,
        208
      ],
      "id": "fad8143d-2bbf-40e8-b70f-f156659092aa",
      "name": "List Contacts",
      "credentials": {
        "mcpClientApi": {
          "id": "aiYCclLDUqob5iQ0",
          "name": "Telegram MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet rawContacts = [];\n\ntry {\n  // Handle MCP response format (from List Contacts)\n  if (input.result && input.result.content && input.result.content[0]) {\n    const parsed = JSON.parse(input.result.content[0].text);\n    rawContacts = parsed?.contacts || [];\n  }\n  // Handle cache format (direct from cache)\n  else if (input.contacts) {\n    rawContacts = Array.isArray(input.contacts) ? input.contacts : [];\n  }\n  // Handle cache output format (from cache system)\n  else if (input.output && input.output.contacts) {\n    rawContacts = Array.isArray(input.output.contacts) ? input.output.contacts : [];\n  }\n  \n  // Validate: if empty or invalid, return empty array\n  if (!Array.isArray(rawContacts) || rawContacts.length === 0) {\n    return {\n      output: {\n        contacts: []\n      },\n      error: 'No valid contacts found',\n      shouldFetch: true\n    };\n  }\n  \n  return {\n    output: {\n      contacts: rawContacts.map(contact=>(contact))\n    }\n  };\n} catch (error) {\n  return {\n    output: {\n      contacts: []\n    },\n    error: error?.message,\n    shouldFetch: true\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        208
      ],
      "id": "56875c8f-d4ae-4f7a-b705-7e055aed9ea2",
      "name": "Contact Data Simplifier"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HTXqB729RFNozetP",
          "mode": "list",
          "cachedResultUrl": "/workflow/HTXqB729RFNozetP",
          "cachedResultName": "Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cacheKey": "telegramChats",
            "trueToWrite": false,
            "writeTTLms": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -576,
        432
      ],
      "id": "57ad4556-5b5d-40b6-b6ad-e38617971928",
      "name": "Check Chat Cache",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HTXqB729RFNozetP",
          "mode": "list",
          "cachedResultUrl": "/workflow/HTXqB729RFNozetP",
          "cachedResultName": "Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "writeTTLms": 1000000,
            "cacheKey": "telegramChats",
            "writeValue": "={{ $json.output }}",
            "trueToWrite": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        96,
        496
      ],
      "id": "c9b18260-ea32-4826-a28c-4ce7dd92a4b5",
      "name": "Update Chat Cache"
    },
    {
      "parameters": {
        "jsCode": "let rawChats = JSON.parse($input.first().json.result.content[0].text)?.items;\n\ntry {  \n  return {\n    output: {\n      chats: rawChats.map(chat=>(chat))\n    }\n  };\n} catch (error) {\n  return {\n    output: {\n      chats: []\n    },\n    error: error.message,\n    shouldFetch: true\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        496
      ],
      "id": "1c1a6e08-7f40-43d5-aa79-629fba64836f",
      "name": "Chat Data Simplifier"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=telegram_list_chats",
        "toolParameters": "={}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -352,
        496
      ],
      "id": "fe3d8d4c-9299-4858-96ce-a560e125bd57",
      "name": "List Chats",
      "credentials": {
        "mcpClientApi": {
          "id": "aiYCclLDUqob5iQ0",
          "name": "Telegram MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HTXqB729RFNozetP",
          "mode": "list",
          "cachedResultUrl": "/workflow/HTXqB729RFNozetP",
          "cachedResultName": "Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cacheKey": "telegramTools",
            "trueToWrite": false,
            "writeTTLms": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -576,
        -112
      ],
      "id": "0f723a14-79f9-4dc5-aeba-6d637e9cd202",
      "name": "Check Tool Cache",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HTXqB729RFNozetP",
          "mode": "list",
          "cachedResultUrl": "/workflow/HTXqB729RFNozetP",
          "cachedResultName": "Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cacheKey": "telegramContacts",
            "trueToWrite": false,
            "writeTTLms": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -576,
        144
      ],
      "id": "3d613ef4-cf4e-42ba-8695-625b23ea55ea",
      "name": "Check Contact Cache",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Validate cache result - check if tools exist and is valid\nif (!input || !input.tools || (Array.isArray(input.tools) && input.tools.length === 0) || (typeof input.tools === 'object' && Object.keys(input.tools).length === 0)) {\n  // Invalid/empty cache - return error to trigger fetch\n  return {\n    error: 'Invalid or empty cache result',\n    shouldFetch: true,\n    output: { tools: [] }\n  };\n}\n\nreturn {\n  output: {\n    tools: input.tools\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -176
      ],
      "id": "dd4ee747-c94b-460e-baea-776617ef334f",
      "name": "Tool Data Simplifier"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HTXqB729RFNozetP",
          "mode": "list",
          "cachedResultUrl": "/workflow/HTXqB729RFNozetP",
          "cachedResultName": "Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "writeTTLms": 1000000,
            "cacheKey": "telegramTools",
            "writeValue": "={{ $json.output }}",
            "trueToWrite": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        96,
        -176
      ],
      "id": "24f266b4-a5d9-4704-9efc-d37a05f10c45",
      "name": "Update Tool Cache"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HTXqB729RFNozetP",
          "mode": "list",
          "cachedResultUrl": "/workflow/HTXqB729RFNozetP",
          "cachedResultName": "Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "writeTTLms": 1000000,
            "cacheKey": "telegramContacts",
            "writeValue": "={{ $json.output }}",
            "trueToWrite": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        96,
        208
      ],
      "id": "55a65407-d636-4ed9-922e-b43987fa8ac5",
      "name": "Update Contact Cache"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        320,
        128
      ],
      "id": "4d62e33a-7b83-410e-9ac2-8bc93029a471",
      "name": "Context Aggregator"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -800,
        144
      ],
      "id": "a56fd7b3-5747-4685-96b8-56ce87986e4f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1024,
        144
      ],
      "id": "827318db-d204-466e-83d9-5d4eae143279",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "List MCP Tools": {
      "main": [
        [
          {
            "node": "Tool Data Simplifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Contacts": {
      "main": [
        [
          {
            "node": "Contact Data Simplifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Data Simplifier": {
      "main": [
        [
          {
            "node": "Update Contact Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Chat Cache": {
      "main": [
        [
          {
            "node": "Context Aggregator",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "List Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Chat Cache": {
      "main": [
        [
          {
            "node": "Context Aggregator",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Chat Data Simplifier": {
      "main": [
        [
          {
            "node": "Update Chat Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Chats": {
      "main": [
        [
          {
            "node": "Chat Data Simplifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tool Cache": {
      "main": [
        [
          {
            "node": "Context Aggregator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List MCP Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Contact Cache": {
      "main": [
        [
          {
            "node": "Context Aggregator",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "List Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Data Simplifier": {
      "main": [
        [
          {
            "node": "Update Tool Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tool Cache": {
      "main": [
        [
          {
            "node": "Context Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact Cache": {
      "main": [
        [
          {
            "node": "Context Aggregator",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Check Contact Cache",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Tool Cache",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Chat Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b29dd050-d000-42c2-8ebf-57870737d5f9",
  "versionCounter": 9,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2025-11-07T17:59:49.155Z",
      "createdAt": "2025-11-07T17:59:49.155Z",
      "id": "q6mxN2D7JQjPEzuF",
      "name": "Telegram"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-11-12T21:13:55.089Z",
      "createdAt": "2025-11-12T21:13:55.089Z",
      "role": "workflow:owner",
      "workflowId": "WFlhiFmm1Tt6ICRM",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}