n8n-agent/workflows/LAB/[LAB] Discord MCP Client Sequencer.json
{
  "updatedAt": "2025-12-08T18:55:43.090Z",
  "createdAt": "2025-12-08T18:55:43.090Z",
  "id": "74ED1qqwkch3PXIs",
  "name": "[LAB] Discord MCP Client Sequencer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userPrompt"
            },
            {
              "name": "metadata",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        -1232
      ],
      "id": "9a1fc959-c92c-4140-877e-6a1badc12e5b",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.hasDirectAnswer }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "ff6241e7-5888-44d3-bcd7-543a0deffafe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HAS DIRECT ANSWER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5093fd74-cc07-45b4-8725-2d1de4075919",
                    "leftValue": "={{ $json.output.executionSteps ?? [] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HAS EXECUTION STEPS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        848,
        -1408
      ],
      "id": "762a6c3b-ecaf-4984-8d41-fe9c43813e40",
      "name": "Has a direct answer?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User prompt: \"{{ $json.userPrompt }}\"",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## You are a helpful assistant with the capabilities to generate\n- Either a sequence of tool execution steps for a user's prompt to accomplish the task OR a `directAnswer` answer if you can answer directly from your knowledge\n- You are NOT a tool executor.\n- You MUST output a valid JSON object\n\nInstructions:\n- you are PROHIBITED from using guild/server/channel/contact display names instead of proper IDs as execution parameters.\n- If you only have a name of a guild/server/channel/contact, your TOP PRIORITY is finding the discord guild/server/channel/contact IDs.\n- try to use your knowledge of the contact list instead of calling 'discord_list_contacts'\n- try to use your knowledge of the guilds/servers list instead of calling 'discord_list_guilds'\n\nFor ANY operation that requires Discord API calls, you MUST use executionSteps:\n- Reading/list/get operations (list messages, read channel, get user info, etc.)\n- Writing/send operations (send message, etc.)\n- Finding/searching operations (find channel, search messages, etc.)\n- Any action that retrieves or modifies Discord data\n\nExamples:\n- \"list messages with user X\" → find contact ID then list messages\n- \"list channels in guild/server Y\" → find guild ID then list\n- \"list messages in the guild/server Y channel Z\" → find guild ID, list channels, then list messages of the matching channel\n- \"send a message to channel Y\" → find channel ID, then send a message\n- \"who are in my contacts?\" → list contacts\n\n## Your Knowledge of Discord Contacts:\n\n{{ $json.context.discordContacts?.toJsonString() ?? '[]' }}\n\n## Your Knowledge of Your Own Profile:\n\n{{ $json.context.myProfile?.toJsonString() ?? 'Error! No Profile Info' }}\n\n## Your Knowledge of Discord Servers/Guilds:\n\n{{ $json.context.serversOrGuilds?.toJsonString() ?? '[]' }}\n\n## Your Knowledge of Recommended Playbook Play: \n\n{{ $json.context.playbookRecommendations?.toJsonString() ?? '[]' }}\n\n## Your Knowledge of Recommended Tools to Use:\n\n{{ $json.context.toolRecommendations?.toJsonString() ?? '[]' }}\n",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        48,
        -1408
      ],
      "id": "4d12a4dd-3b4f-472b-a944-6265ad99de9e",
      "name": "Execution Planner AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"executionSteps\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"toolName\": {\n            \"type\": \"string\"\n          },\n          \"callParams\": {\n            \"type\": \"object\"\n          }\n        },\n        \"required\": [\"toolName\"],\n        \"additionalProperties\": false\n      },\n      \"description\": \"List MCP tool execution steps to achieve user's goal. ONLY USE WHEN NOT A DIRECT ANSWER\"\n    },\n    \"directAnswer\": {\n      \"type\": \"string\",\n      \"description\": \"You can provide a direct answer instead of providing a list of executionSteps. ONLY USE WHEN YOU CAN DIRECT ANSWER\"\n    }\n  },\n  \"additionalProperties\": false\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        256,
        -1184
      ],
      "id": "fc946901-08ae-4ac6-b072-a8d59798086f",
      "name": "Execution Plan Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        -976
      ],
      "id": "c79482a2-0b52-475c-a1d5-8f92e6b322e2",
      "name": "Gemini Model (Execution Planner)",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uoYXevOl4ePWKeNx",
          "mode": "list",
          "cachedResultUrl": "/workflow/uoYXevOl4ePWKeNx",
          "cachedResultName": "[HELPERS] Discord & Telegram Step Executor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "executionSteps": "={{ $json.output.executionSteps }}",
            "targetMcp": "DISCORD",
            "metadata": "={{ $('When Executed by Another Workflow').item.json.metadata }}"
          },
          "matchingColumns": [
            "executionSteps"
          ],
          "schema": [
            {
              "id": "executionSteps",
              "displayName": "executionSteps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "targetMcp",
              "displayName": "targetMcp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1072,
        -1312
      ],
      "id": "06e27531-aa79-4d3c-aa37-748e1b322840",
      "name": "Call Discord Step Executor"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zBL0JT7t26pK2x95",
          "mode": "list",
          "cachedResultUrl": "/workflow/zBL0JT7t26pK2x95",
          "cachedResultName": "[HELPERS] Discord Context Enricher"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userPrompt": "={{ $json.userPrompt }}",
            "previousAttempt": "={{ $json.previousAttempt ?? {} }}"
          },
          "matchingColumns": [
            "userPrompt"
          ],
          "schema": [
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "previousAttempt",
              "displayName": "previousAttempt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -176,
        -1232
      ],
      "id": "7382b6fd-ba53-4b3e-95fa-a475585629ef",
      "name": "Enrich With Discord Context"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"shouldRetry\": {\n      \"type\": \"boolean\",\n      \"description\": \"Indicates whether the operation should be retried\"\n    },\n    \"retryStrategy\": {\n      \"type\": \"string\",\n      \"description\": \"The retry strategy to use (e.g., 'none', 'exponential', 'linear')\"\n    },\n    \"reasoning\": {\n      \"type\": \"string\",\n      \"description\": \"Explanation of the decision-making process\"\n    },\n    \"directAnswer\": {\n      \"type\": \"string\",\n      \"description\": \"Direct answer to the user's prompt\"\n    }\n  },\n  \"required\": [\"shouldRetry\", \"directAnswer\"],\n  \"additionalProperties\": false\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1600,
        -1184
      ],
      "id": "538e65bd-9cdf-4ccb-aee3-900717e59667",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "254965fb-79da-4ee1-a539-3e9e5bda7eae",
              "leftValue": "={{ $json.output.shouldRetry }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1968,
        -1408
      ],
      "id": "a9a10da9-6271-473d-a015-5c866fee05c0",
      "name": "Is Successful"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1296,
        -1408
      ],
      "id": "116b33a8-d590-4a79-b13b-74d5fa60c436",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## User's prompt input:\n\n\"{{ $('Enrich With Discord Context').item.json.userPrompt }}\"\n\n## Generated output: \n\n\"{{ $json.executionSteps?.toJsonString() ?? $('Has a direct answer?').item.json.output.directAnswer }}\"\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are SOLELY a AI generated answer validator. You are NOT a tool executor. \n\n# IMPORTANT:\n- You just judge the user's prompt vs the generated output answer and output as a {} object.\n- If there is no Generated output, it's automatically a failure.\n\nYou must output in JSON:\n- shouldRetry: boolean\n- retryStrategy: \"refine_prompt\" | \"change_approach\" | \"add_context\" | \"none\"\n- reasoning: string\n- directAnswer: string\n\n# If you receive an already processed Direct Anwer to the user's prompt: put that in the `directAnswer` of your output, and pass the validation.\n\n# If you receive a MCP tool execution result array: \nONLY IF the execution results doesn't trivially answer the user prompt AND you can confidently answer the question, use `directAnswer` to output an accurate answer based on the available execution results.\n\n## Your Knowledge of Discord Contacts:\n\n{{ $('Enrich With Discord Context').item.json.context.discordContacts?.toJsonString() ?? '[]' }}\n\n## Your Knowledge of Discord Servers/Guilds:\n\n{{ $('Enrich With Discord Context').item.json.context.serversOrGuilds?.toJsonString() ?? '[]' }}\n\n## Your Knowledge of Your Own Profile:\n\n{{ $('Enrich With Discord Context').item.json.context.myProfile?.toJsonString() ?? 'Error! No Profile Info' }}\n\n## Your Knowledge of Recommended Tools to Use:\n\n{{ $('Enrich With Discord Context').item.json.context.toolRecommendations.toJsonString() }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1520,
        -1408
      ],
      "id": "eefe7dfc-4226-4cd7-90bf-fde29a23adbf",
      "name": "Result Validator AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f5e87b1-12e3-45a9-a7f4-e811c57e5477",
              "name": "executionSteps",
              "value": "={{ $('Merge').item.json.executionSteps ?? [] }}",
              "type": "array"
            },
            {
              "id": "c6d2472e-3c6b-4fa5-af80-aa60691fdd36",
              "name": "directAnswer",
              "value": "={{ $('Has a direct answer?').item.json.output.directAnswer ?? $json.output.directAnswer ?? null }}",
              "type": "string"
            },
            {
              "id": "aab0f5f3-c0f4-4f99-b31b-a9181c1d6666",
              "name": "refinedUserPrompt",
              "value": "={{ $('Enrich With Discord Context').item.json.userPrompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        -1456
      ],
      "id": "b145076c-014e-42a5-aee7-cc476819044f",
      "name": "Format Final Output"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2416,
        -1456
      ],
      "id": "22e4bd83-b3fb-43c4-b545-01b7936d30de",
      "name": "Output"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1584,
        -976
      ],
      "id": "7853e358-9903-400b-bd72-b17ee43c2e02",
      "name": "Gemini Model (Validator)",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        128,
        -1184
      ],
      "id": "7b08e3df-3525-412b-8563-ff32b122f63b",
      "name": "Execution Planning Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12099019-73e3-4d7d-9a3e-ae6101e4ede3",
              "name": "userPrompt",
              "value": "={{ $('When Executed by Another Workflow').item.json.userPrompt }}",
              "type": "string"
            },
            {
              "id": "f59a7d1a-f3c6-45f5-bcac-2508d5625233",
              "name": "previousAttempt",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        -1104
      ],
      "id": "79bf2852-a5b3-42af-b671-6a220ba9bf75",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cac0038-c81f-4eb8-b556-573d7c74fbd7",
              "name": "output.hasDirectAnswer",
              "value": "={{ !!$json.output.directAnswer?.toJsonString() }}",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -1408
      ],
      "id": "b659088c-b9c5-4975-bfc0-925c0a041339",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Enrich With Discord Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has a direct answer?": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Discord Step Executor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Planner AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Plan Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Execution Planner AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model (Execution Planner)": {
      "ai_languageModel": [
        [
          {
            "node": "Execution Planner AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Execution Plan Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call Discord Step Executor": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Enrich With Discord Context": {
      "main": [
        [
          {
            "node": "Execution Planner AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Result Validator AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Is Successful": {
      "main": [
        [
          {
            "node": "Format Final Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Result Validator AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result Validator AI Agent": {
      "main": [
        [
          {
            "node": "Is Successful",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Output": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model (Validator)": {
      "ai_languageModel": [
        [
          {
            "node": "Result Validator AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execution Planning Memory": {
      "ai_memory": [
        [
          {
            "node": "Execution Planner AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Enrich With Discord Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Has a direct answer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "fbdcfff7-cbad-496c-a868-324f465ee05b",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-08T18:55:43.091Z",
      "createdAt": "2025-12-08T18:55:43.091Z",
      "role": "workflow:owner",
      "workflowId": "74ED1qqwkch3PXIs",
      "projectId": "GEUEn6ArNROzJ5FY"
    }
  ],
  "activeVersion": null,
  "tags": []
}