n8n-agent/workflows/LAB/[LAB] Discord Contact Indexer.json
{
  "updatedAt": "2025-12-08T18:55:43.059Z",
  "createdAt": "2025-12-08T18:55:43.059Z",
  "id": "GrOv0m9k233QQGUt",
  "name": "[LAB] Discord Contact Indexer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.indexingOrQueryRequest }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert assistant for managing Discord contacts in a DataTable. You operate in two modes: INDEX and QUERY.\n\n## INDEX Mode\n**Primary Objective**: Discover and cache ALL Discord contacts into the DataTable.\n\n**Critical Rules**:\n- You MUST perform a full indexing of all contacts - partial indexing is NOT allowed\n- Always use `discord_list_contacts` to fetch ALL contacts\n- Output format: `data` field must contain array of strings: `[\"Discord user '<displayname>' with username '<username>' has the user ID '<userid>'\", ...]`\n\n**Re-indexing Protocol**:\n1. Use 'Clear All Rows' tool to delete existing contacts\n2. Fetch all contacts with `discord_list_contacts`\n3. Index ALL fetched contacts into DataTable\n\n## QUERY Mode\n- Input: `contact_knowledge_base` must contain an `input` field with search query\n- Use cached DataTable data - avoid expensive `discord_list_contacts` calls\n- Query the DataTable to retrieve indexed contact information\n\n## DataTable Schema\n- `discord_id` (string, required, unique)\n- `username` (string)\n- `display_name` (string)\n- `createdAt` (auto-timestamp)\n- `updatedAt` (auto-timestamp)\n\n## Best Practices\n- Minimize expensive Discord API calls - prioritize DataTable queries\n- Process contacts in batches efficiently\n- Never partially index - always complete full indexing cycle"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        848,
        128
      ],
      "id": "12dac9c6-dba8-4c8c-a77c-36c39787e29b",
      "name": "Indexer AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        560
      ],
      "id": "3f97c85a-fa4f-418d-ba71-96170c119180",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "aqMjQOYOqhSGVImr",
          "mode": "list",
          "cachedResultName": "Paragon's Discord Contacts",
          "cachedResultUrl": "/projects/GEUEn6ArNROzJ5FY/datatables/aqMjQOYOqhSGVImr"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "discord_id",
              "condition": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        864,
        352
      ],
      "id": "a3597c5e-f551-40a8-9c16-1e316f538a07",
      "name": "Clear All Rows in Data table"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "aqMjQOYOqhSGVImr",
          "mode": "list",
          "cachedResultName": "Paragon's Discord Contacts",
          "cachedResultUrl": "/projects/GEUEn6ArNROzJ5FY/datatables/aqMjQOYOqhSGVImr"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "discord_id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('discord_id', `Discord ID from fetched user profile`, 'string') }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "discord_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('discord_id', `Discord ID from fetched user profile`, 'string') }}",
            "username": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('username', `Username from fetched user profile`, 'string') }}",
            "display_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('display_name', `Display name from fetched user profile`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "discord_id",
              "displayName": "discord_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "display_name",
              "displayName": "display_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        992,
        352
      ],
      "id": "aad0c04d-40da-4d91-b489-fe7e55917907",
      "name": "Upsert row(s) in Data table"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "discord_list_contacts",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', `here's the tool schema\n\n{\n  \"name\": \"discord_list_channels\",\n  \"description\": \"List all accessible channels for the current user with pagination support\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"guildId\": {\n        \"type\": \"string\",\n        \"description\": \"Optional: Filter channels by Discord server (guild) ID\"\n      },\n      \"limit\": {\n        \"type\": \"number\",\n        \"description\": \"Number of channels to fetch per page (default: 50, max: 500)\"\n      },\n      \"offset\": {\n        \"type\": \"number\",\n        \"description\": \"Starting position for pagination (default: 0)\"\n      },\n      \"applyFilters\": {\n        \"type\": \"boolean\",\n        \"description\": \"Whether to apply channel whitelist/blacklist filters (default: true)\"\n      },\n      \"checkPermissions\": {\n        \"type\": \"boolean\",\n        \"description\": \"Whether to filter channels based on user permissions (default: true)\"\n      }\n    },\n    \"additionalProperties\": false,\n    \"$schema\": \"http://json-schema.org/draft-07/schema#\"\n  }\n}`, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1120,
        352
      ],
      "id": "25986790-7f66-4796-bc6d-fdb0fdaa31fe",
      "name": "Discord List Contacts",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2192,
        496
      ],
      "id": "b1b9264f-0d70-41f1-9ebf-e75f74cc6c5c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "contact_store_key",
          "mode": "list",
          "cachedResultName": "contact_store_key"
        },
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        2128,
        272
      ],
      "id": "68dfb5ce-b681-4345-8e47-80479c6c653f",
      "name": "Insert Data to Store"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1328,
        560
      ],
      "id": "a0339466-6bf6-4a4a-9a50-df19f9604e17",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }} v1",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        736,
        352
      ],
      "id": "58335356-da3f-478c-8581-3aa6d5406304",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "contact_knowledge_base",
        "toolDescription": "Use this discord contact knowledge base FIRST before fetching profiles or performing other contact queries. This tool searches existing indexed contacts in the knowledge base. Always query this tool to check if a contact already exists before making API calls to fetch new profiles. Only proceed with profile fetching if the contact is NOT found in the knowledge base.\n\nMUST HAVE: `input` field in the input object when calling",
        "memoryKey": {
          "__rl": true,
          "value": "contact_store_key",
          "mode": "list",
          "cachedResultName": "contact_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        1248,
        352
      ],
      "id": "9c64b431-5e7b-4cc0-944a-21a0b3755af4",
      "name": "Query Contact Embeddings Tool"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"status\": {\n      \"type\": \"string\",\n      \"enum\": [\"success\", \"error\"],\n      \"description\": \"Status of the operation\"\n    },\n    \"action\": {\n      \"type\": \"string\",\n      \"enum\": [\"index\", \"query\"],\n      \"description\": \"type of the operation\"\n    },\n    \"data\": {\n      \"type\": \"list\",\n      \"description\": \"based on action, query output data or all fetched & indexed data\"\n\n    },\n    \"message\": {\n      \"type\": \"string\",\n      \"description\": \"Summary message about the indexing operation\"\n    }\n  },\n  \"required\": [\"status\", \"action\", \"message\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1536,
        352
      ],
      "id": "8573614b-8a89-4c67-b141-2ed7b38fe226",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "baaac2ec-8094-47dc-b194-063c7df32022",
                    "leftValue": "={{ $json.output.status }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FAILED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.action }}",
                    "rightValue": "query",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4e2382cd-4543-4563-9db1-788f6dd3df05"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "QUERY MODE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ed65617f-5fe3-49e2-8c86-2f13ec83a381",
                    "leftValue": "={{ $json.output.action }}",
                    "rightValue": "=index",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INDEX MODE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1904,
        112
      ],
      "id": "61876902-bdd5-476a-8c9b-8b06567da00f",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "indexingOrQueryRequest"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        416,
        128
      ],
      "id": "7672c97c-b54d-4bff-866f-d0a0aa7fbaea",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "errorMessage": "=Failed to execute the contact RAG operation. Reason: {{ $json.output.message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2192,
        -32
      ],
      "id": "96e8dc22-6d72-4c84-ab9c-62a68b18acd0",
      "name": "Stop and Error"
    }
  ],
  "connections": {
    "Indexer AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Clear All Rows in Data table": {
      "ai_tool": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s) in Data table": {
      "ai_tool": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Discord List Contacts": {
      "ai_tool": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Query Contact Embeddings Tool",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Insert Data to Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Query Contact Embeddings Tool": {
      "ai_tool": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Insert Data to Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "b5063e97-539c-4c11-a74c-d430c6b60de3",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-08T18:55:43.061Z",
      "createdAt": "2025-12-08T18:55:43.061Z",
      "role": "workflow:owner",
      "workflowId": "GrOv0m9k233QQGUt",
      "projectId": "GEUEn6ArNROzJ5FY"
    }
  ],
  "activeVersion": null,
  "tags": []
}