n8n-agent/workflows/LAB/Discord Deterministic MCP Client.json
{
  "updatedAt": "2025-12-08T21:25:05.889Z",
  "createdAt": "2025-12-08T21:19:49.663Z",
  "id": "65yZeDI0U3ZdneWM",
  "name": "[LAB] Discord Deterministic MCP Client",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        -80
      ],
      "id": "296abb7e-388b-4b9a-b7d4-2db16a16825c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Provided task is \"{{ $json.userPrompt }}\"",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## You are a helpful assistant with the capabilities to generate a direct answer to a user's prompt, or a sequential JSON array of tool execution steps to accomplish the task. If the execution sequence has only a single step and its either `discord_list_guilds` or `discord_list_contacts` you can just output the answer instead executing any tools, \n\n{{ $json.tools.toJsonString() }}\n\n## Available contacts:\n\n{{ $json.contacts.toJsonString() }}\n\n## Servers/Guilds I'm In:\n\n{{ $json.guilds.toJsonString() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        144,
        -80
      ],
      "id": "2db0ae12-6ac6-44d8-8c8d-0d4bec612401",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        368
      ],
      "id": "c13bb1d2-8449-44bf-88c4-ba8412cdbadd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"executionSteps\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"toolName\": {\n            \"type\": \"string\"\n          },\n          \"callParams\": {\n            \"type\": \"object\"\n          }\n        },\n        \"required\": [\"toolName\", \"callParams\"],\n        \"additionalProperties\": false\n      },\n      \"description\": \"List MCP tool execution steps to achieve user's goal\"\n    },\n    \"directAnswer\": {\n      \"type\": \"object\",\n      \"description\": \"You can provide a direct answer without providing a list of executionSteps\"\n    }\n  },\n  \"additionalProperties\": false\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        224,
        160
      ],
      "id": "855fb79c-fb9d-4ba6-b5f0-8b5048c7851c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -80,
        -112
      ],
      "id": "10f2de42-cf9f-4948-aa1a-e096a66d68ff",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -304,
        -288
      ],
      "id": "02843314-2b08-4fbf-8a95-17d9f857c5d7",
      "name": "List MCP Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=discord_list_contacts",
        "toolParameters": "={}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -528,
        0
      ],
      "id": "82753888-beb3-43e1-a8b1-aabb38c5c7f9",
      "name": "List Contacts",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawContacts = JSON.parse($input.first().json.result.content[0].text)?.contacts;\n\nreturn {\n  contacts: rawContacts.map(contact=>({\n    id: contact.id,\n    username: contact.tag,\n    displayName: contact.displayName,\n    lastMessage: contact.lastMessageAtRelative,\n    contactType: contact.type,\n    platform: 'DISCORD'\n  }))\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        0
      ],
      "id": "2219f613-fa57-49d4-bdd2-0a9dc8ac7bef",
      "name": "Contact Data Simplifier"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=discord_list_guilds",
        "toolParameters": "={}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -528,
        192
      ],
      "id": "60ca544c-1f58-4419-a661-dba8663f5273",
      "name": "List Servers",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawGuilds = JSON.parse($input.first().json.result.content[0].text)?.guilds;\n\nreturn {\n  guilds: rawGuilds.map(guild=>({\n    id: guild.id,\n    name: guild.name,\n    members: guild.memberCount\n  }))\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        192
      ],
      "id": "2b09179a-b9c8-44f0-bcaf-8f032c746dd0",
      "name": "Server Data Simplifier"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "497d547e-48e4-4218-a02e-9648db9a4c93",
              "name": "output.executionSteps",
              "value": "={{ $json.output.executionSteps ?? [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        0
      ],
      "id": "abf9c542-53cd-41d5-82de-eae3dbe0ea76",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ !!$json.output.directAnswer?.toJsonString() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "ff6241e7-5888-44d3-bcd7-543a0deffafe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HAS DIRECT ANSWER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5093fd74-cc07-45b4-8725-2d1de4075919",
                    "leftValue": "={{ $json.output.executionSteps ?? [] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HAS EXECUTION STEPS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        592,
        -80
      ],
      "id": "69a28d3f-75e6-4a31-be4e-39756a2fa73b",
      "name": "Switch"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1712,
        -80
      ],
      "id": "98844693-b463-44e4-a96c-43e2786c1c73",
      "name": "Merge1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.executionSteps",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "4c9fda22-3958-4463-8e60-048a700996da",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.first().json.result.content[0].text)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        0
      ],
      "id": "fd704d10-9f2f-426a-8dbf-16f67b2db822",
      "name": "Execution Data Aggregator"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $json.toolName }}",
        "toolParameters": "={{ $json.callParams }}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        1264,
        0
      ],
      "id": "5184a346-bf47-4aa9-a14d-c17360309b48",
      "name": "Sequence Executor",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Client (STDIO) account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "List MCP Tools",
            "type": "main",
            "index": 0
          },
          {
            "node": "List Contacts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          },
          {
            "node": "List Servers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List MCP Tools": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Contacts": {
      "main": [
        [
          {
            "node": "Contact Data Simplifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Data Simplifier": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "List Servers": {
      "main": [
        [
          {
            "node": "Server Data Simplifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Server Data Simplifier": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Sequence Executor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data Aggregator": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sequence Executor": {
      "main": [
        [
          {
            "node": "Execution Data Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "e0afe9ea-01c8-4739-9855-8e5b685d37bf",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-08T21:19:49.663Z",
      "createdAt": "2025-12-08T21:19:49.663Z",
      "role": "workflow:owner",
      "workflowId": "65yZeDI0U3ZdneWM",
      "projectId": "GEUEn6ArNROzJ5FY"
    }
  ],
  "activeVersion": null,
  "tags": []
}
