n8n-agent/workflows/LAB/Loop & collect data.json
{
  "updatedAt": "2025-12-09T01:35:04.756Z",
  "createdAt": "2025-12-09T01:23:34.240Z",
  "id": "3Gp0Xt8qgERYAmz4",
  "name": "[LAB] Loop & collect data",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1152,
        288
      ],
      "id": "d33eb63d-3eb4-4bcd-bf3a-8206022e02b3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "f",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -720,
        288
      ],
      "id": "667cc5d9-1cc8-4679-bba0-e7cdb88c6c3c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -512,
        288
      ],
      "id": "96f8934e-65e8-41f7-b85f-042917cf9bb5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.f }}",
                    "rightValue": "02_",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ccdb5020-af8b-4f6d-95af-a2c28edcaa81"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "02"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0b5136db-a1d6-4c06-a838-95a91c2a478a",
                    "leftValue": "={{ $json.f }}",
                    "rightValue": "03_",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "03"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a300b063-85ef-44d0-8426-771625b81616",
                    "leftValue": "={{ $json.f }}",
                    "rightValue": "04_",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "04"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -256,
        288
      ],
      "id": "f85e1f7d-f0b7-4518-94c8-015c996fbb04",
      "name": "Switch"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"file_1\": \"{{ $json.f[0] }}\",\n\"file_2\": \"{{ $json.f[1] }}\",\n\"file_3\": \"{{ $json.f[2] }}\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        80
      ],
      "id": "cb5bb52f-d34b-474c-a8ad-4e88637cb80d",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b0e6adb-31bd-4951-baa7-7e31242011eb",
              "name": "f",
              "value": "={{\n[\n\"02_de_nghi_thanh_toan.pdf\",\n\"03_202504_bien ban doi soat Saymee NCT.pdf\",\n\"04_223_hoa_don.pdf\"\n]\n}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        288
      ],
      "id": "a06fe8a0-7924-491e-a5c5-6479840bcc59",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "840d73c6-a7e0-4cd0-bca9-f705a178f361",
              "name": "f",
              "value": "={{ $json.f.replaceAll('02','002') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        272
      ],
      "id": "e15620e0-ff84-4718-9bd2-c97e44b494e6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cae85583-ecac-41dd-b787-3a6371efa475",
              "name": "f",
              "value": "={{ $json.f.replaceAll('03','003') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        480
      ],
      "id": "203607c1-2c7d-402f-939d-6e6df414ff08",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd8fa76f-6ede-43c9-b97d-4396cfb97e60",
              "name": "f",
              "value": "={{ $json.f.replaceAll('04','004') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        688
      ],
      "id": "95119c06-031d-43ad-b98b-8b81525637a8",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "f"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -256,
        80
      ],
      "id": "0cb420fa-7f5b-424d-b003-abab0d7ca10d",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "18fc7817-cf59-409d-8ad4-6783f22c371b",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-09T01:23:34.240Z",
      "createdAt": "2025-12-09T01:23:34.240Z",
      "role": "workflow:owner",
      "workflowId": "3Gp0Xt8qgERYAmz4",
      "projectId": "GEUEn6ArNROzJ5FY"
    }
  ],
  "activeVersion": null,
  "tags": []
}
