n8n-agent/workflows/LAB/Pinecone Embeddings.json
{
  "updatedAt": "2025-12-09T01:35:04.812Z",
  "createdAt": "2025-12-09T01:23:34.262Z",
  "id": "tKNjV4NbmCKDxNkw",
  "name": "[LAB] Pinecone Embeddings",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1248,
        472
      ],
      "id": "b7c94b85-d19f-40d6-8596-9d218e8cb7a1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "contacts",
          "mode": "list",
          "cachedResultName": "contacts"
        },
        "embeddingBatchSize": 100,
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "toolz1.1"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -672,
        144
      ],
      "id": "43663119-bf54-4b97-9ff0-8ba4debc55e9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "AjwVKGbxaD6TrCuF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -952,
        -32
      ],
      "id": "c685c063-9b31-424b-b181-922b372a48f5",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"contacts\": [\n    {\n      \"id\": 333000,\n      \"displayName\": \"Kids\",\n      \"contactType\": \"user\",\n      \"phone\": \"333\"\n    },\n    {\n      \"id\": 225850636,\n      \"username\": \"zlatapaul\",\n      \"displayName\": \"Zlata Paul\",\n      \"contactType\": \"user\",\n      \"phone\": \"995599335201\"\n    },\n    {\n      \"id\": 340351644,\n      \"username\": \"SumanthNeppalli\",\n      \"displayName\": \"Sumanth | Polygon Ventures\",\n      \"contactType\": \"user\"\n    },\n    {\n      \"id\": 348840761,\n      \"username\": \"clemensley\",\n      \"displayName\": \"Clemens Ley\",\n      \"contactType\": \"user\"\n    },\n    {\n      \"id\": 363128374,\n      \"username\": \"Avihay_H\",\n      \"displayName\": \"Avihay\",\n      \"contactType\": \"user\"\n    },\n    {\n      \"id\": 416852475,\n      \"username\": \"devkratos\",\n      \"displayName\": \"Kratos (David) Dev | CL\",\n      \"contactType\": \"user\"\n    },\n    {\n      \"id\": 520043278,\n      \"username\": \"midasch\",\n      \"displayName\": \"MK | Matt\",\n      \"contactType\": \"user\"\n    },\n    {\n      \"id\": 543100343,\n      \"username\": \"dush88c\",\n      \"displayName\": \"Crypto - Dark\",\n      \"contactType\": \"user\"\n    },\n    {\n      \"id\": 586558850,\n      \"username\": \"johngvibes\",\n      \"displayName\": \"John Vibes\",\n      \"contactType\": \"user\",\n      \"phone\": \"14436190761\"\n    },\n    {\n      \"id\": 587300333,\n      \"username\": \"iCartic\",\n      \"displayName\": \"Cartic\",\n      \"contactType\": \"user\",\n      \"phone\": \"918197536227\"\n    },\n    {\n      \"id\": 624165486,\n      \"username\": \"vlkpthrna\",\n      \"displayName\": \"Venul\",\n      \"contactType\": \"user\"\n    },\n    {\n      \"id\": 632108563,\n      \"username\": \"chaingovernance\",\n      \"displayName\": \"Chaingovernance\",\n      \"contactType\": \"user\"\n    },\n    {\n      \"id\": 649401202,\n      \"username\": \"wholemealbread69\",\n      \"displayName\": \"Munchi\",\n      \"contactType\": \"user\",\n      \"phone\": \"94715852028\"\n    },\n    {\n      \"id\": 664694900,\n      \"username\": \"DonAnarchy\",\n      \"displayName\": \"Dulmina\",\n      \"contactType\": \"user\",\n      \"phone\": \"94763103710\"\n    },\n    {\n      \"id\": 668597892,\n      \"username\": \"SanSLR\",\n      \"displayName\": \"Janitha Metaroon\",\n      \"contactType\": \"user\",\n      \"phone\": \"94775527374\"\n    },\n    {\n      \"id\": 678211632,\n      \"username\": \"EmilyEmilyert6t4564e6\",\n      \"displayName\": \"Vajira\",\n      \"contactType\": \"user\",\n      \"phone\": \"94710413045\"\n    },\n    {\n      \"id\": 696359483,\n      \"username\": \"vivekst1\",\n      \"displayName\": \"vivek\",\n      \"contactType\": \"user\"\n    },\n    {\n      \"id\": 714725084,\n      \"username\": \"stoXmod\",\n      \"displayName\": \"Nishara Malli\",\n      \"contactType\": \"user\",\n      \"phone\": \"94775777956\"\n    },\n    {\n      \"id\": 722369780,\n      \"username\": \"dinukasal\",\n      \"displayName\": \"Dinuka Salwathura\",\n      \"contactType\": \"user\",\n      \"phone\": \"94714697757\"\n    },\n    {\n      \"id\": 742595333,\n      \"username\": \"Ruchira_s\",\n      \"displayName\": \"RUCHIRA SACHINTHANA\",\n      \"contactType\": \"user\",\n      \"phone\": \"94778072233\"\n    },\n    {\n      \"id\": 780339289,\n      \"username\": \"Trimasha21\",\n      \"displayName\": \"Trimasha\",\n      \"contactType\": \"user\",\n      \"phone\": \"94769083219\"\n    },\n    {\n      \"id\": 822246157,\n      \"username\": \"ahamedrikas\",\n      \"displayName\": \"Team - UCSC\",\n      \"contactType\": \"user\",\n      \"phone\": \"94756855515\"\n    },\n    {\n      \"id\": 835380621,\n      \"username\": \"nadeeshisu\",\n      \"displayName\": \"Nadeesh\",\n      \"contactType\": \"user\"\n    },\n    {\n      \"id\": 837248846,\n      \"username\": \"Aayush_Gupta_ji\",\n      \"displayName\": \"Aayush Gupta\",\n      \"contactType\": \"user\"\n    },\n    {\n      \"id\": 847498752,\n      \"username\": \"sandalu0\",\n      \"displayName\": \"sandalu 🏎 🐾Hivera\",\n      \"contactType\": \"user\"\n    },\n    {\n      \"id\": 875774449,\n      \"username\": \"SutYKP\",\n      \"displayName\": \"Kasun Alagiyawanna\",\n      \"contactType\": \"user\"\n    },\n    {\n      \"id\": 883709109,\n      \"username\": \"DNA1945\",\n      \"displayName\": \"Ayesh - Web3\",\n      \"contactType\": \"user\",\n      \"phone\": \"94779420892\"\n    },\n    {\n      \"id\": 894565034,\n      \"username\": \"rebeccaa_m\",\n      \"displayName\": \"Rebecca Meegahapola\",\n      \"contactType\": \"user\"\n    },\n    {\n      \"id\": 899220754,\n      \"username\": \"gabocarranza\",\n      \"displayName\": \"Gabriel Carranza\",\n      \"contactType\": \"user\"\n    },\n    {\n      \"id\": 919776951,\n      \"username\": \"dxshas\",\n      \"displayName\": \"Hash - co-founder dx.app\",\n      \"contactType\": \"user\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        696
      ],
      "id": "efc3e89f-4e10-4dc3-a597-b0b3f7a1e1b7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "contacts",
          "mode": "list",
          "cachedResultName": "contacts"
        },
        "prompt": "={{ $json.chatInput }}",
        "topK": 3,
        "options": {
          "pineconeNamespace": "toolz1.1"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1024,
        -256
      ],
      "id": "5f72b5d8-13ed-4b9c-800d-14094b311e78",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "AjwVKGbxaD6TrCuF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Tool name: {{ $('Split Out').item.json.tool.name }},\nTool Description: {{ $('Split Out').item.json.tool.description }},\nTool Properties: {{ Object.keys($('Split Out').item.json.tool.schema.properties) }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=toolName",
                "value": "={{ $('Split Out').item.json.tool.name }}"
              },
              {
                "name": "toolDescription",
                "value": "={{ $('Split Out').item.json.tool.description }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -600,
        368
      ],
      "id": "4de9027c-7d2f-4552-86cb-76506c49747d",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1248,
        -152
      ],
      "id": "374058ab-48d8-4c81-91c4-23f8e1e0f399",
      "name": "When chat message received",
      "webhookId": "d80bacc2-9626-45b0-946b-39bfdbb64bd3"
    },
    {
      "parameters": {
        "query": "nish",
        "arrayField": "contacts",
        "matchQuality": 60,
        "limit": 10,
        "advancedOptions": {
          "includeScore": true,
          "matchIndividualWords": true
        }
      },
      "type": "n8n-nodes-paragon-os.fuzzySearch",
      "typeVersion": 1,
      "position": [
        -1024,
        696
      ],
      "id": "87d16b02-f364-4af5-8075-bddf1158a937",
      "name": "FuzzySearch"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"tools\": [\n    {\n      \"name\": \"discord_read_channel\",\n      \"description\": \"Read messages from a Discord channel or direct message (DM) chat using IDs only. Provide either a channelId to read any channel, or a userId to read the DM channel with that user. Supports comprehensive pagination options.\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"channelId\": {\n            \"type\": \"string\",\n            \"description\": \"The Discord channel ID to read messages from (alternative to userId).\"\n          },\n          \"userId\": {\n            \"type\": \"string\",\n            \"description\": \"The Discord user ID to read DM chat history with (alternative to channelId). Use this to list direct messages with a specific user.\"\n          },\n          \"limit\": {\n            \"type\": \"number\",\n            \"description\": \"Number of messages to fetch (default: 50, max: 100)\",\n            \"default\": 50\n          },\n          \"before\": {\n            \"type\": \"string\",\n            \"description\": \"Message ID to fetch messages before (for pagination)\"\n          },\n          \"after\": {\n            \"type\": \"string\",\n            \"description\": \"Message ID to fetch messages after (for pagination)\"\n          },\n          \"beforeDate\": {\n            \"type\": \"string\",\n            \"description\": \"ISO date string to fetch messages before (e.g., \\\"2023-12-01T10:00:00Z\\\")\"\n          },\n          \"afterDate\": {\n            \"type\": \"string\",\n            \"description\": \"ISO date string to fetch messages after (e.g., \\\"2023-12-01T10:00:00Z\\\")\"\n          },\n          \"applyFilters\": {\n            \"type\": \"boolean\",\n            \"description\": \"Whether to apply channel whitelist/blacklist filters (default: false)\",\n            \"default\": false\n          }\n        },\n        \"required\": []\n      }\n    },\n    {\n      \"name\": \"discord_search_messages\",\n      \"description\": \"Search for messages in a Discord channel by content, author, or date range\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"channelId\": {\n            \"type\": \"string\",\n            \"description\": \"The Discord channel ID to search messages in\"\n          },\n          \"query\": {\n            \"type\": \"string\",\n            \"description\": \"Text to search for in message content\"\n          },\n          \"authorId\": {\n            \"type\": \"string\",\n            \"description\": \"Optional: Filter by author ID\"\n          },\n          \"limit\": {\n            \"type\": \"number\",\n            \"description\": \"Number of messages to search through (default: 100, max: 500)\",\n            \"default\": 100\n          },\n          \"before\": {\n            \"type\": \"string\",\n            \"description\": \"Optional: Search messages before this message ID\"\n          },\n          \"after\": {\n            \"type\": \"string\",\n            \"description\": \"Optional: Search messages after this message ID\"\n          }\n        },\n        \"required\": [\n          \"channelId\"\n        ]\n      }\n    },\n    {\n      \"name\": \"discord_send_message\",\n      \"description\": \"Send a message to a specific Discord channel or user. Can accept either a channel ID or user ID (will create DM channel automatically). Supports file attachments.\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"channelId\": {\n            \"type\": \"string\",\n            \"description\": \"The Discord channel ID or user ID to send the message to\"\n          },\n          \"content\": {\n            \"type\": \"string\",\n            \"description\": \"The message content to send\"\n          },\n          \"replyToMessageId\": {\n            \"type\": \"string\",\n            \"description\": \"Optional: Message ID to reply to\"\n          },\n          \"filePaths\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"description\": \"Optional: Array of local file paths to attach (max 10 files)\"\n          },\n          \"maxFileSizeMB\": {\n            \"type\": \"number\",\n            \"description\": \"Optional: Maximum file size in MB (default: 10MB, Discord limit for non-Nitro users)\"\n          }\n        },\n        \"required\": [\n          \"channelId\",\n          \"content\"\n        ]\n      }\n    },\n    {\n      \"name\": \"discord_edit_message\",\n      \"description\": \"Edit a previously sent Discord message. Can only edit your own messages. Accepts channel ID or user ID.\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"channelId\": {\n            \"type\": \"string\",\n            \"description\": \"The Discord channel ID or user ID where the message was sent\"\n          },\n          \"messageId\": {\n            \"type\": \"string\",\n            \"description\": \"The ID of the message to edit\"\n          },\n          \"content\": {\n            \"type\": \"string\",\n            \"description\": \"The new message content\"\n          }\n        },\n        \"required\": [\n          \"channelId\",\n          \"messageId\",\n          \"content\"\n        ]\n      }\n    },\n    {\n      \"name\": \"discord_reply_message\",\n      \"description\": \"Reply to a specific Discord message. Creates a message that references the original message. Accepts channel ID or user ID. Supports file attachments.\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"channelId\": {\n            \"type\": \"string\",\n            \"description\": \"The Discord channel ID or user ID where the message is located\"\n          },\n          \"messageId\": {\n            \"type\": \"string\",\n            \"description\": \"The ID of the message to reply to\"\n          },\n          \"content\": {\n            \"type\": \"string\",\n            \"description\": \"Your reply message content\"\n          },\n          \"filePaths\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"description\": \"Optional: Array of local file paths to attach (max 10 files)\"\n          },\n          \"maxFileSizeMB\": {\n            \"type\": \"number\",\n            \"description\": \"Optional: Maximum file size in MB (default: 10MB, Discord limit for non-Nitro users)\"\n          }\n        },\n        \"required\": [\n          \"channelId\",\n          \"messageId\",\n          \"content\"\n        ]\n      }\n    },\n    {\n      \"name\": \"discord_delete_message\",\n      \"description\": \"Delete a Discord message. For your own messages: always deletes from Discord. For others' messages with force=true: tries Discord deletion first, falls back to hiding the message locally if Discord API restricts it (e.g., in DMs).\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"channelId\": {\n            \"type\": \"string\",\n            \"description\": \"The Discord channel ID or user ID where the message is located\"\n          },\n          \"messageId\": {\n            \"type\": \"string\",\n            \"description\": \"The ID of the message to delete\"\n          },\n          \"force\": {\n            \"type\": \"boolean\",\n            \"description\": \"Bypass ownership check and attempt to delete any message. For others' messages: tries Discord deletion first, falls back to hiding locally if restricted. Default: false\",\n            \"default\": false\n          }\n        },\n        \"required\": [\n          \"channelId\",\n          \"messageId\"\n        ]\n      }\n    },\n    {\n      \"name\": \"discord_download_attachments\",\n      \"description\": \"Download all attachments (images, videos, files, etc.) from a specific Discord message to a local directory. Supports all attachment types.\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"channelId\": {\n            \"type\": \"string\",\n            \"description\": \"The Discord channel ID containing the message\"\n          },\n          \"messageId\": {\n            \"type\": \"string\",\n            \"description\": \"The Discord message ID with attachments to download\"\n          },\n          \"downloadPath\": {\n            \"type\": \"string\",\n            \"description\": \"Optional: Custom download directory path (default: ~/.discord-mcp-server/downloads/)\"\n          },\n          \"maxFileSizeMB\": {\n            \"type\": \"number\",\n            \"description\": \"Optional: Maximum file size in MB (default: 50MB). Files larger than this will be skipped.\"\n          }\n        },\n        \"required\": [\n          \"channelId\",\n          \"messageId\"\n        ]\n      }\n    },\n    {\n      \"name\": \"discord_list_guilds\",\n      \"description\": \"List all Discord servers (guilds) the user is in\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {}\n      }\n    },\n    {\n      \"name\": \"discord_list_channels\",\n      \"description\": \"List all accessible channels for the current user with pagination support\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"guildId\": {\n            \"type\": \"string\",\n            \"description\": \"Optional: Filter channels by Discord server (guild) ID\"\n          },\n          \"limit\": {\n            \"type\": \"number\",\n            \"description\": \"Number of channels to fetch per page (default: 50, max: 500)\",\n            \"default\": 50\n          },\n          \"offset\": {\n            \"type\": \"number\",\n            \"description\": \"Starting position for pagination (default: 0)\",\n            \"default\": 0\n          },\n          \"applyFilters\": {\n            \"type\": \"boolean\",\n            \"description\": \"Whether to apply channel whitelist/blacklist filters (default: true)\",\n            \"default\": true\n          },\n          \"checkPermissions\": {\n            \"type\": \"boolean\",\n            \"description\": \"Whether to filter channels based on user permissions (default: true)\",\n            \"default\": true\n          }\n        }\n      }\n    },\n    {\n      \"name\": \"discord_list_guild_members\",\n      \"description\": \"List members of a specific Discord server (guild)\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"guildId\": {\n            \"type\": \"string\",\n            \"description\": \"The Discord server (guild) ID to list members from\"\n          },\n          \"limit\": {\n            \"type\": \"number\",\n            \"description\": \"Number of members to fetch (default: 50, max: 1000)\",\n            \"default\": 50\n          },\n          \"includeRoles\": {\n            \"type\": \"boolean\",\n            \"description\": \"Whether to include role information for each member\",\n            \"default\": false\n          }\n        },\n        \"required\": [\n          \"guildId\"\n        ]\n      }\n    },\n    {\n      \"name\": \"discord_list_channel_filters\",\n      \"description\": \"List whitelist and blacklist filters for Discord servers (guilds), Direct Messages (DMs), or group DMs. Use type=\\\"guild\\\" for server channels, type=\\\"dm\\\" for individual user DMs, type=\\\"group\\\" for group DM channels, type=\\\"guilds\\\" for filtering guilds themselves.\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"type\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"guild\",\n              \"dm\",\n              \"group\",\n              \"guilds\"\n            ],\n            \"description\": \"Type of filters to list: \\\"guild\\\" (Discord server channels), \\\"dm\\\" (Direct Messages with specific users), \\\"group\\\" (Group DM channels), or \\\"guilds\\\" (filtering guilds themselves)\"\n          },\n          \"guildId\": {\n            \"type\": \"string\",\n            \"description\": \"The Discord server (guild) ID - REQUIRED only when type=\\\"guild\\\"\"\n          }\n        },\n        \"required\": [\n          \"type\"\n        ]\n      }\n    },\n    {\n      \"name\": \"discord_update_channel_filters\",\n      \"description\": \"Update whitelist and blacklist filters for Discord servers (guilds), Direct Messages (DMs), or group DMs. Use type=\\\"guild\\\" for server channels, type=\\\"dm\\\" for individual user DMs, type=\\\"group\\\" for group DM channels, type=\\\"guilds\\\" for filtering guilds themselves. Supports multi-item operations.\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"type\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"guild\",\n              \"dm\",\n              \"group\",\n              \"guilds\"\n            ],\n            \"description\": \"Type of filters to update: \\\"guild\\\" (Discord server channels), \\\"dm\\\" (Direct Messages with specific users), \\\"group\\\" (Group DM channels), or \\\"guilds\\\" (filtering guilds themselves)\"\n          },\n          \"guildId\": {\n            \"type\": \"string\",\n            \"description\": \"The Discord server (guild) ID - REQUIRED only when type=\\\"guild\\\"\"\n          },\n          \"operation\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"add_whitelist\",\n              \"remove_whitelist\",\n              \"add_blacklist\",\n              \"remove_blacklist\",\n              \"set_whitelist\",\n              \"set_blacklist\",\n              \"clear\"\n            ],\n            \"description\": \"The operation to perform: add_whitelist, remove_whitelist, add_blacklist, remove_blacklist, set_whitelist, set_blacklist, or clear\"\n          },\n          \"channelIds\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"description\": \"Array of channel IDs - USE for type=\\\"guild\\\" (server channels) and type=\\\"group\\\" (group DM channels). NOT used for type=\\\"dm\\\" or type=\\\"guilds\\\"\"\n          },\n          \"userIds\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"description\": \"Array of user IDs - USE ONLY for type=\\\"dm\\\" (Direct Messages with specific users). NOT used for type=\\\"guild\\\", type=\\\"group\\\", or type=\\\"guilds\\\"\"\n          },\n          \"guildIds\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"description\": \"Array of guild IDs - USE ONLY for type=\\\"guilds\\\" (filtering guilds themselves). NOT used for type=\\\"guild\\\", type=\\\"dm\\\", or type=\\\"group\\\"\"\n          }\n        },\n        \"required\": [\n          \"type\",\n          \"operation\"\n        ]\n      }\n    },\n    {\n      \"name\": \"discord_get_pending_guild_channels\",\n      \"description\": \"Get pending channels within a Discord server (guild) that require attention. Returns channels with either unread messages or @mentions. Only works for text channels within a single guild/server. Helps you identify channels that need follow-up.\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"guildId\": {\n            \"type\": \"string\",\n            \"description\": \"Discord server (guild) ID to get pending channels from\"\n          },\n          \"limit\": {\n            \"type\": \"number\",\n            \"description\": \"Number of pending channels to fetch per page (default: 50, max: 200)\",\n            \"default\": 50\n          },\n          \"offset\": {\n            \"type\": \"number\",\n            \"description\": \"Starting position for pagination (default: 0)\",\n            \"default\": 0\n          },\n          \"includeUnread\": {\n            \"type\": \"boolean\",\n            \"description\": \"Include channels with unread messages (default: true)\",\n            \"default\": true\n          },\n          \"includeMentions\": {\n            \"type\": \"boolean\",\n            \"description\": \"Include channels with @mentions (default: true)\",\n            \"default\": true\n          },\n          \"applyFilters\": {\n            \"type\": \"boolean\",\n            \"description\": \"Whether to apply channel whitelist/blacklist filters (default: true)\",\n            \"default\": true\n          }\n        },\n        \"required\": [\n          \"guildId\"\n        ]\n      }\n    },\n    {\n      \"name\": \"discord_get_user_info\",\n      \"description\": \"Get information about the logged-in user\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {}\n      }\n    },\n    {\n      \"name\": \"discord_list_contacts\",\n      \"description\": \"List all Discord contacts (DMs and friends) with pagination. By default, applies DM whitelist/blacklist filters to only show allowed DM contacts. Use this to browse or retrieve complete contact lists. For searching by name, use search_contacts instead.\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"limit\": {\n            \"type\": \"number\",\n            \"description\": \"Number of contacts to fetch per page (default: 20, max: 200)\",\n            \"default\": 20\n          },\n          \"offset\": {\n            \"type\": \"number\",\n            \"description\": \"Starting position for pagination (default: 0)\",\n            \"default\": 0\n          },\n          \"type\": {\n            \"type\": \"string\",\n            \"description\": \"Filter contacts by type: \\\"dm\\\" for direct messages, \\\"friend\\\" for friends, \\\"all\\\" for both (default: \\\"all\\\")\",\n            \"enum\": [\n              \"dm\",\n              \"friend\",\n              \"all\"\n            ],\n            \"default\": \"all\"\n          },\n          \"userIds\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"description\": \"Optional: List of user IDs to fetch contact details for (bypasses pagination)\"\n          },\n          \"fetchFresh\": {\n            \"type\": \"boolean\",\n            \"description\": \"Whether to fetch fresh data from API instead of cache (default: false)\",\n            \"default\": false\n          },\n          \"applyFilters\": {\n            \"type\": \"boolean\",\n            \"description\": \"Whether to apply DM whitelist/blacklist filters (default: true)\",\n            \"default\": true\n          }\n        }\n      }\n    },\n    {\n      \"name\": \"discord_search_contacts\",\n      \"description\": \"Search for specific Discord contacts by name with partial/fuzzy matching. Use this when looking for a particular person (e.g., \\\"find John\\\", \\\"search for brian\\\"). Supports typos and partial matches. If no results found in cache, automatically tries fetchFresh to search fresh data.\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"query\": {\n            \"type\": \"string\",\n            \"description\": \"Search term to match against usernames, display names, and tags\"\n          },\n          \"fetchFresh\": {\n            \"type\": \"boolean\",\n            \"description\": \"Whether to fetch fresh data from API instead of cache (default: false)\",\n            \"default\": false\n          },\n          \"limit\": {\n            \"type\": \"number\",\n            \"description\": \"Maximum number of results to return (default: 20, max: 100)\",\n            \"default\": 20\n          },\n          \"includeMatchScore\": {\n            \"type\": \"boolean\",\n            \"description\": \"Whether to include detailed match scoring information (default: false)\",\n            \"default\": false\n          }\n        },\n        \"required\": [\n          \"query\"\n        ]\n      }\n    },\n    {\n      \"name\": \"discord_get_pending_dms\",\n      \"description\": \"Get pending Direct Messages (DMs) that require attention. Returns DMs with either unread messages or DMs you opened but haven't replied to yet. Only works for 1-on-1 DM conversations, not guild/server channels. Helps you identify personal conversations that need follow-up.\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"limit\": {\n            \"type\": \"number\",\n            \"description\": \"Number of pending DMs to fetch per page (default: 20, max: 200)\",\n            \"default\": 20\n          },\n          \"offset\": {\n            \"type\": \"number\",\n            \"description\": \"Starting position for pagination (default: 0)\",\n            \"default\": 0\n          },\n          \"includeUnread\": {\n            \"type\": \"boolean\",\n            \"description\": \"Include DMs with unread messages (default: true)\",\n            \"default\": true\n          },\n          \"includeOpened\": {\n            \"type\": \"boolean\",\n            \"description\": \"Include DMs you opened but haven't replied to (default: true)\",\n            \"default\": true\n          },\n          \"applyFilters\": {\n            \"type\": \"boolean\",\n            \"description\": \"Whether to apply DM whitelist/blacklist filters (default: true)\",\n            \"default\": true\n          }\n        }\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        144
      ],
      "id": "52932ab8-65c3-447e-818a-d35bf90841c9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=tools",
        "include": "allOtherFields",
        "options": {
          "destinationFieldName": "tool"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -960,
        144
      ],
      "id": "c1b16b1e-0df8-4912-bbcd-2796fa62c995",
      "name": "Split Out"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "FuzzySearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "main": [
        []
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "49174794-4541-4a58-baa3-ad1c6c05eab4",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-09T01:23:34.263Z",
      "createdAt": "2025-12-09T01:23:34.263Z",
      "role": "workflow:owner",
      "workflowId": "tKNjV4NbmCKDxNkw",
      "projectId": "GEUEn6ArNROzJ5FY"
    }
  ],
  "activeVersion": null,
  "tags": []
}
