workflows/[LAB] Discord MCP Client Basic.json
{
  "updatedAt": "2025-11-07T12:42:59.000Z",
  "createdAt": "2025-11-06T20:06:18.096Z",
  "id": "UuGcXfQxyAPrGegI",
  "name": "[LAB] Discord MCP Client Basic",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert Discord MCP assistant agent. Your role is to help users interact with Discord through MCP tools.\n\n**Capabilities:**\n- Discover available Discord MCP tools by calling `mcp_list_tools` when needed\n- Execute Discord MCP tools directly using the Discord MCP Tool Executer\n- Understand natural language requests and select appropriate tools automatically\n- Handle multi-step workflows by chaining tool calls when necessary\n- Provide clear, helpful responses based on tool execution results\n\n**Workflow:**\n1. When you need to discover available tools, call `mcp_list_tools` first\n2. Analyze the user's request and identify which tool(s) to use\n3. Execute the tool(s) with appropriate parameters\n4. Process the results and provide a helpful response to the user\n5. Always include IDs of discord entities in the output.\n6. If a tool execution fails, analyze the error and retry or suggest alternatives\n\n**Guidelines:**\n- Always check available tools if you're unsure which one to use\n- Make sure to search chats/contacts/guilds/servers and fetch discord IDs before calling tools that require them.\n- Read tool descriptions and input schemas carefully before execution\n- Extract parameter values from the user's natural language request\n- Provide clear, conversational responses based on tool results\n- Maintain context across multiple tool calls in a conversation",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        400,
        288
      ],
      "id": "0fe747a8-f76f-4c24-9c59-008f9be58269",
      "name": "Discord MCP Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        720
      ],
      "id": "599a479a-c033-46c0-a26d-9cd6bda0e81d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"data\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"required\": [\n          \"messageId\",\n          \"channelId\",\n          \"type\",\n          \"content\",\n          \"timestamp\"\n        ],\n        \"properties\": {\n          \"messageId\": {\n            \"type\": \"string\",\n            \"description\": \"Message ID\"\n          },\n          \"channelId\": {\n            \"type\": \"string\",\n            \"description\": \"Channel ID of the message\"\n          },\n          \"type\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"dm\",\n              \"group\"\n            ]\n          },\n          \"content\": {\n            \"type\": \"string\",\n            \"description\": \"Message text content\"\n          },\n          \"timestamp\": {\n            \"type\": \"string\",\n            \"format\": \"date-time\",\n            \"description\": \"ISO 8601 datetime\"\n          },\n          \"attachments\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\"\n            }\n          },\n          \"replyTo\": {\n            \"type\": \"string\",\n            \"description\": \"optional message ID\"\n          }\n        },\n        \"additionalProperties\": false\n      }\n    },\n    \"pagination\": {\n      \"type\": \"object\"\n    },\n    \"status\": {\n      \"type\": \"string\"\n    },\n    \"message\": {\n      \"type\": \"string\"\n    },\n    \"error\": {\n      \"type\": \"string\"\n    }\n  },\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        720,
        512
      ],
      "id": "d4d5b1de-2466-45bd-895a-445fa5831ff9",
      "name": "Generic MCP Response Parser"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool_name', ``, 'string') }}",
        "toolParameters": "={{ $fromAI('tool_parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        432,
        512
      ],
      "id": "4c521e1e-5079-4c76-bd8f-d89c32f14d49",
      "name": "Discord MCP Tool Executer",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "**Tool Name:** `mcp_list_tools`\n\n**Purpose:**\nDiscover and return the current live catalog of tools from the connected Discord MCP server.\nThis catalog is the single source of truth for all tool names, descriptions, and input schemas.\n\n**Call When:**\n- You do not yet know which tools exist\n- You need to refresh the tool registry before selection\n- You must check parameter names, types, or schema requirements\n\n**Contract:**\n- **Input:** none\n- **Output:** Array of tools → each object has `{ name, description, input_schema }`\n- Treat this response as authoritative; never invent tools or fields\n\n**Usage Pattern:**\n1. Call `mcp_list_tools` to fetch the live catalog\n2. Review available tools and their `input_schema` for parameter requirements\n3. Select and execute the appropriate tool directly using the Discord MCP Tool Executer\n\n**Notes:**\n- No parameters are required\n- Always use this first when you need to discover available Discord MCP tools\n- Acts as the ground truth registry for the MCP environment\n"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        592,
        512
      ],
      "id": "b4a6b06e-d5d0-4c35-9437-5decbc2b8f8a",
      "name": "Discord MCP List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatInput"
            },
            {
              "name": "outputType"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        384
      ],
      "id": "b09662fb-1fdb-49bc-bf26-6c9010af1ea9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00820575-0f9a-4cad-8470-47ffa96c7c38",
              "leftValue": "={{ $json.outputType }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        384
      ],
      "id": "7f71a118-af45-49d9-bd61-6bba32c5531a",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Must provide a valid outputType"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        112,
        480
      ],
      "id": "dac85359-305c-4371-a25c-b15ad072bcf7",
      "name": "Stop and Error"
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generic MCP Response Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generic MCP Response Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Discord MCP Tool Executer": {
      "ai_tool": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Discord MCP List Tools": {
      "ai_tool": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "chatInput": "list my first 5 contacts",
          "outputType": ""
        }
      }
    ]
  },
  "versionId": "2bf85c48-50a9-4632-8de9-646f41d3cb75",
  "versionCounter": 2,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2025-11-07T12:42:46.406Z",
      "createdAt": "2025-11-07T12:42:46.406Z",
      "id": "nP0FjyF3pFepp7fe",
      "name": "LAB"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-11-06T20:06:18.099Z",
      "createdAt": "2025-11-06T20:06:18.099Z",
      "role": "workflow:owner",
      "workflowId": "UuGcXfQxyAPrGegI",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}