workflows/D3bRHwEfpCwLk8zy.json
{
  "updatedAt": "2025-11-07T12:44:53.000Z",
  "createdAt": "2025-10-30T13:48:22.976Z",
  "id": "D3bRHwEfpCwLk8zy",
  "name": "[LAB] Email Sender",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "https://api.agify.io/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "Nipuna"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        -208
      ],
      "id": "da192901-95b4-45c7-8a15-f563ec474e70",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "nipuna.sudha@gmail.com",
        "subject": "={{ $json.output.subject }}",
        "message": "={{ $json.output.content }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        -208
      ],
      "id": "cb65ac8c-34e7-4b97-b1f3-ec08234cc391",
      "name": "Send a message",
      "webhookId": "717f7a4e-b1c3-425f-a0ce-f8c0a239a333",
      "credentials": {
        "gmailOAuth2": {
          "id": "YTo91hCU5KquQMnX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an email content generator. Your task is to create exactly two sentences based on the provided data.\n\nINPUT DATA:\n- Name: {{ $json.name }}\n- Age: {{ $json.age }}\n- Count: {{ $json.count }}\n\nOUTPUT REQUIREMENTS:\nGenerate a JSON object with these exact fields:\n1. \"subject\" - A concise subject line (5-10 words)\n2. \"content\" - A complete email body sentence (15-30 words)\n\nBoth sentences must naturally incorporate the provided data points where relevant.\n\nEXAMPLE:\nIf name=\"John\", age=25, count=3:\n{\n  \"subject\": \"John's Third Update at Age 25\",\n  \"content\": \"We're pleased to inform you that John, now 25 years old, has successfully completed his third milestone with our team.\"\n}\n\nGenerate the output as valid non-nested JSON only, with no additional text or explanation.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -128,
        -208
      ],
      "id": "20711e62-a515-4cee-b7e1-7b234778a4b1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "mistral:instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -192,
        32
      ],
      "id": "1940e1e9-919e-4c73-8d91-785a0bdc5500",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "ocz8JdQXZuMEnepT",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"subject\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n        \"content\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        160,
        48
      ],
      "id": "22e94cd1-8b3f-47fd-856d-5d62522c3fa1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        -208
      ],
      "id": "c1ae723b-c812-4f49-aec8-800542a46221",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "dac7a799-a477-4d59-990e-085ba5380d4e",
  "versionCounter": 1,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2025-11-07T12:42:46.406Z",
      "createdAt": "2025-11-07T12:42:46.406Z",
      "id": "nP0FjyF3pFepp7fe",
      "name": "LAB"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-10-30T13:48:22.980Z",
      "createdAt": "2025-10-30T13:48:22.980Z",
      "role": "workflow:owner",
      "workflowId": "D3bRHwEfpCwLk8zy",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}