workflows/Discord MCP Client Sequencer.json
{
  "updatedAt": "2025-11-16T22:23:16.000Z",
  "createdAt": "2025-11-06T21:51:04.792Z",
  "id": "vfcxqLBDDMKL5lnG",
  "name": "Discord MCP Client Sequencer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1968,
        576
      ],
      "id": "c79482a2-0b52-475c-a1d5-8f92e6b322e2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "executionSteps",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2852,
        288
      ],
      "id": "a913b319-ec9f-419b-ba12-55cd8fe54ec5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userPrompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        16
      ],
      "id": "9a1fc959-c92c-4140-877e-6a1badc12e5b",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        48,
        16
      ],
      "id": "9130e8ca-91b0-45be-8ea1-6851e6c32ec5",
      "name": "Context Aggregator"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ !!$json.output.directAnswer?.toJsonString() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "ff6241e7-5888-44d3-bcd7-543a0deffafe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HAS DIRECT ANSWER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5093fd74-cc07-45b4-8725-2d1de4075919",
                    "leftValue": "={{ $json.output.executionSteps ?? [] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HAS EXECUTION STEPS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2404,
        144
      ],
      "id": "762a6c3b-ecaf-4984-8d41-fe9c43813e40",
      "name": "Has a direct answer?"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4420,
        -264
      ],
      "id": "7ee012e2-dc46-45e4-bb47-d949b8d65d32",
      "name": "Final Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "497d547e-48e4-4218-a02e-9648db9a4c93",
              "name": "executionSteps",
              "value": "={{ $json.output.executionSteps ?? [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2628,
        216
      ],
      "id": "8094c0ee-513f-4b2c-97bf-fbd04c293ec3",
      "name": "Prepare Execution Steps"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee6d0a21-266b-44c6-8536-a80f30695e6a",
              "name": "stepResult.stepOutput",
              "value": "={{ JSON.parse($json.result.content[0].text) }}",
              "type": "object"
            },
            {
              "id": "bec043e7-22fd-4b23-a549-d1e81ec6bcb6",
              "name": "stepResult.toolName",
              "value": "={{ $json.toolName }}",
              "type": "string"
            },
            {
              "id": "3cbfb631-8642-43bb-82f4-1333495056f8",
              "name": "stepResult.callParams",
              "value": "={{ $json.callParams }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3524,
        200
      ],
      "id": "8c9365ee-290f-410b-978a-5a8389f62a50",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8338f4c8-fec3-44c9-b2d5-375790642f17",
              "name": "userPrompt",
              "value": "={{ $json.userPrompt }}",
              "type": "string"
            },
            {
              "id": "83b2b73c-cdd9-469f-b0e0-c228c0a5fa7e",
              "name": "cachedTools",
              "value": "={{ $json.tools?.length ?? 0 }}",
              "type": "number"
            },
            {
              "id": "0138bb46-fdba-4ab8-89b9-76830358bc9c",
              "name": "cachedContacts",
              "value": "={{ $json.discordContacts?.length ?? 0 }}",
              "type": "number"
            },
            {
              "id": "8eae33a9-d42a-49b8-9e73-d270a72e62d0",
              "name": "cachedGuilds",
              "value": "={{ $json.serversOrGuilds?.length ?? 0 }}",
              "type": "number"
            },
            {
              "id": "db49315b-8cb4-47a5-8553-453db33a4187",
              "name": "stepCount",
              "value": "={{ $json.executionSteps.length }}",
              "type": "number"
            },
            {
              "id": "90a974f7-04b9-42d6-96fa-031c05698c27",
              "name": "executionSuccess",
              "value": "={{ $json.executionSteps.filter(item=>!!item).length }}/{{ $json.executionSteps.length }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4196,
        -272
      ],
      "id": "5fcbce29-85d8-4232-838b-2cd38b294adc",
      "name": "Create Diagnostics"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "toolCount",
              "value": "={{ $json.cachedTools }}"
            },
            {
              "key": "contactCount",
              "value": "={{ $json.cachedContacts }}"
            },
            {
              "key": "guildCount",
              "value": "={{ $json.cachedGuilds }}"
            },
            {
              "key": "prompt",
              "value": "={{ $json.userPrompt }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        4420,
        -16
      ],
      "id": "0531736f-8a69-45e0-a6b2-8113cd94abf2",
      "name": "Input Data Logger"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3972,
        -288
      ],
      "id": "f3c0a50e-a686-4c6c-9a13-e60577c187af",
      "name": "Metadata Collector"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": false
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3300,
        200
      ],
      "id": "871c4869-0387-4c48-9294-950eb3619f49",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3076,
        384
      ],
      "id": "00a1e7fc-a979-4709-8708-b726d7682e5f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $json.toolName }}",
        "toolParameters": "={{ $json.callParams }}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        3300,
        432
      ],
      "id": "d75824bc-5423-4512-af44-bff9b7180ffd",
      "name": "MCP Sequence Executor",
      "executeOnce": false,
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "executionSteps",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3748,
        200
      ],
      "id": "3022283d-32f3-4b91-b6e5-223d96d8d453",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1908,
        368
      ],
      "id": "7b08e3df-3525-412b-8563-ff32b122f63b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Prompt: `{{ $json.userPrompt }}`",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## You are a helpful assistant with the capabilities to generate\n- Either a sequential JSON enclosed array of tool execution steps for a user's prompt to accomplish the task OR a JSON with a `directAnswer` answer if you can answer directly from your knowledge\n- You MUST smartly decide if it can be answered from your current knowledge or memory\n- You are NOT a tool executor.\n\nInstructions:\n- you are PROHIBITED from using guild/server/channel/contact display names instead of proper IDs as execution parameters.\n- If you only have a name of a guild/server/channel/contact, your TOP PRIORITY is finding the discord guild/server/channel/contact IDs.\n- try to use your knowledge of the contact list instead of calling 'discord_list_contacts'\n- try to use your knowledge of the guilds/servers list instead of calling 'discord_list_guilds'\n\nFor ANY operation that requires Discord API calls, you MUST use executionSteps:\n- Reading/list/get operations (list messages, read channel, get user info, etc.)\n- Writing/send operations (send message, etc.)\n- Finding/searching operations (find channel, search messages, etc.)\n- Any action that retrieves or modifies Discord data\n\nExamples:\n- \"list messages with user X\" → find contact ID then list messages\n- \"list channels in guild/server Y\" → find guild ID then list\n- \"list messages in the guild/server Y channel Z\" → find guild ID, list channels, then list messages of the matching channel\n- \"send a message to channel Y\" → find channel ID, then send a message\n- \"who are in my contacts?\" → list contacts\n\n## Your Knowledge of Discord Contacts:\n\n```\n{{ $json.discordContacts ? $json.discordContacts.toJsonString() : '[]' }}\n```\n\n## Your Knowledge of Discord Servers/Guilds:\n\n```\n{{ $json.serversOrGuilds ? $json.serversOrGuilds.toJsonString() : '[]' }}\n```\n\n## Your Knowledge of Recommended resources:\n\n```\nRecommended Playbook Play: `{{ $json.playbookRecommendations.toJsonString() }}`\nRecommended Tools to Use: `{{ $json.toolRecommendations.toJsonString() }}`\n```",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1836,
        144
      ],
      "id": "4d12a4dd-3b4f-472b-a944-6265ad99de9e",
      "name": "Execution Planner AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"executionSteps\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"toolName\": {\n            \"type\": \"string\"\n          },\n          \"callParams\": {\n            \"type\": \"object\"\n          }\n        },\n        \"required\": [\"toolName\", \"callParams\"],\n        \"additionalProperties\": false\n      },\n      \"description\": \"List MCP tool execution steps to achieve user's goal. ONLY USE WHEN NOT A DIRECT ANSWER\"\n    },\n    \"directAnswer\": {\n      \"type\": \"string\",\n      \"description\": \"You can provide a direct answer instead of providing a list of executionSteps. ONLY USE WHEN YOU CAN DIRECT ANSWER\"\n    }\n  },\n  \"additionalProperties\": false\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2036,
        368
      ],
      "id": "fc946901-08ae-4ac6-b072-a8d59798086f",
      "name": "Execution Plan Output Parser"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zBL0JT7t26pK2x95",
          "mode": "list",
          "cachedResultUrl": "/workflow/zBL0JT7t26pK2x95",
          "cachedResultName": "[HELPERS] Discord Context Cache"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -176,
        88
      ],
      "id": "7382b6fd-ba53-4b3e-95fa-a475585629ef",
      "name": "Fetch Discord Context"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        344,
        800
      ],
      "id": "6bc75621-75de-42b0-b50d-9f4b9db661e3",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"prompt\": {\n      \"type\": \"string\",\n      \"description\": \"The optimized, less ambiguous user prompt\"\n    },\n    \"plays\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"List of recommended plays from the playbook to accomplish the task\"\n    },\n    \"toolsToUse\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"List of recommended tool names required to execute the task\"\n    },\n     \"toolsNotRelated\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"List of tool names not at all relavent to execute the task\"\n    }\n  },\n  \"required\": [\"prompt\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        348,
        592
      ],
      "id": "4d6341b6-7339-411b-9088-b87ab81f58fb",
      "name": "Context Optimizer Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## You are a helpful assistant with the capabilities to decide & output\n- An optimal, enriched version of the user prompt with less ambiguities in wording and identifiers (include userIds, guildIds).\n- Recommend 'plays' from the playbook as an array of play-names (e.g. [\"dm_contact_by_name\", \"search_topic_in_channel_and_summarize\"])\n- Based on the plays you picked, Recommend 'toolsToUse' from the tool catalog as an array of tool-names (e.g. [\"discord_read_channel\", \"discord_send_message\"])\n- Based on the plays you picked, Recommend 'toolsNotRelated' by picking an completely unrelated list of tool names to EXCLUDE from the full tool list to save context.\n- DO NOT HILLUCINATE Ids, tool-names & play-names\n\n## Your Knowledge of The Discord Playbook:\n\n```\n{{ $json.discordPlaybook ? $json.discordPlaybook.toJsonString() : '[]' }}\n```\n\n## Your Knowledge of Discord Contacts:\n\n```\n{{ $json.discordContacts ? $json.discordContacts.toJsonString() : '[]' }}\n```\n\n## Your Knowledge of Discord Servers/Guilds:\n\n```\n{{ $json.serversOrGuilds ? $json.serversOrGuilds.toJsonString() : '[]' }}\n```\n\n## Your Knowledge of Available Discord API MCP tools:\n\n```\n{{ $json.tools ? $json.tools.toJsonString() : '[]' }}\n```",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        368
      ],
      "id": "6c26f0b0-9003-46d6-b62e-dd80f691638d",
      "name": "Context Optimizer AI Agent"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.plays",
        "include": "selectedOtherFields",
        "fieldsToInclude": "=discordPlaybook",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        940,
        -96
      ],
      "id": "c0fa4f4c-fbd4-4eac-baa9-233b77dba3cf",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.toolsToUse",
        "include": "selectedOtherFields",
        "fieldsToInclude": "tools",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        940,
        96
      ],
      "id": "264fcaf7-38ef-4c4f-885f-bdf38ecbb860",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        716,
        192
      ],
      "id": "735f0c79-bb29-4b17-807d-ee542f3d64b7",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d78d5a24-205f-4aa6-a671-845182883ec1",
              "name": "toolName",
              "value": "={{ $json['output.toolsToUse'] }}",
              "type": "string"
            },
            {
              "id": "bb33be81-c1e0-4777-a0a7-83d3ba8fbba5",
              "name": "toolSpecification",
              "value": "={{ $json.tools.find(item => item.name == $json['output.toolsToUse']) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1164,
        96
      ],
      "id": "de585ebc-7537-4509-97d2-301bde85bf4f",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d78d5a24-205f-4aa6-a671-845182883ec1",
              "name": "playName",
              "value": "={{ $json['output.plays'] }}",
              "type": "string"
            },
            {
              "id": "bb33be81-c1e0-4777-a0a7-83d3ba8fbba5",
              "name": "playSpecification",
              "value": "={{ $json.discordPlaybook.find(item => item.name == $json['output.plays']) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1164,
        -96
      ],
      "id": "1a984116-34ce-4c7d-b101-fe15b86b8c1c",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "playbookRecommendations",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1388,
        -96
      ],
      "id": "cb4b1c51-1859-4c62-848f-263e17d72ddb",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "toolRecommendations",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1388,
        96
      ],
      "id": "662f7319-4b39-4a4a-a65c-17ba34fb5170",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {
          "includeUnpaired": false
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1612,
        112
      ],
      "id": "4f1bb9d0-7b34-446a-9d67-0c02470ded84",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34bcd304-8d1e-4815-bf00-f0f91ca0a829",
              "name": "serversOrGuilds",
              "value": "={{ $json.serversOrGuilds }}",
              "type": "string"
            },
            {
              "id": "5a3fa6e2-058b-434b-95a0-872aaabedce9",
              "name": "discordContacts",
              "value": "={{ $json.discordContacts }}",
              "type": "array"
            },
            {
              "id": "c04f7e88-7103-45f5-8b5d-6a30503e61b4",
              "name": "userPrompt",
              "value": "={{ $json.output.prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1388,
        288
      ],
      "id": "78e7ac79-906c-4feb-8ea4-d615444ae915",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "tools",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        940,
        480
      ],
      "id": "2c79a8b4-04d8-4fd8-8d57-9be5fdc22e0b",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c60793c-c435-486e-9438-3083ed36c7bb",
              "leftValue": "={{ $('Merge1').item.json.output.toolsNotRelated }}",
              "rightValue": "={{ $json.name }}",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1164,
        480
      ],
      "id": "ea8ebc2d-30c9-461a-89d1-8dc4d7ea86e8",
      "name": "Filter"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "allRelaventTools",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1388,
        480
      ],
      "id": "e64f78cd-294c-4998-9e3a-ac3a022f9a71",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "content": "### Lets fetch & cache discord server channels on demand"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        688
      ],
      "id": "afab36d3-39dd-4af3-82e5-f1b4f12767ec",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Execution Planner AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Execution Plan Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Context Aggregator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Discord Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Aggregator": {
      "main": [
        [
          {
            "node": "Metadata Collector",
            "type": "main",
            "index": 1
          },
          {
            "node": "Context Optimizer AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has a direct answer?": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Prepare Execution Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Execution Steps": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Metadata Collector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Diagnostics": {
      "main": [
        [
          {
            "node": "Input Data Logger",
            "type": "main",
            "index": 0
          },
          {
            "node": "Final Response",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Input Data Logger": {
      "main": [
        []
      ]
    },
    "Metadata Collector": {
      "main": [
        [
          {
            "node": "Create Diagnostics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "MCP Sequence Executor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Sequence Executor": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Metadata Collector",
            "type": "main",
            "index": 2
          },
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Response": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Execution Planner AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Execution Planner AI Agent": {
      "main": [
        [
          {
            "node": "Has a direct answer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Plan Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Execution Planner AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Discord Context": {
      "main": [
        [
          {
            "node": "Context Aggregator",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Context Optimizer AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Context Optimizer Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Context Optimizer Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Context Optimizer AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Context Optimizer AI Agent": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Execution Planner AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 3
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "userPrompt": "catch me up with sebastians dms"
        }
      }
    ]
  },
  "versionId": "d850d4aa-b662-4fe7-bd37-25975c0b14ba",
  "versionCounter": 116,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2025-11-02T21:22:20.646Z",
      "createdAt": "2025-11-02T21:22:20.646Z",
      "id": "95mwWdOxtdnkFLhS",
      "name": "Discord"
    },
    {
      "updatedAt": "2025-11-02T21:22:14.342Z",
      "createdAt": "2025-11-02T21:22:14.342Z",
      "id": "w6FOnYOvODOXV9os",
      "name": "MCP"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-11-06T21:51:04.796Z",
      "createdAt": "2025-11-06T21:51:04.796Z",
      "role": "workflow:owner",
      "workflowId": "vfcxqLBDDMKL5lnG",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}