workflows/Discord MCP Client Sequencer.json
{
  "updatedAt": "2025-11-16T15:32:18.000Z",
  "createdAt": "2025-11-06T21:51:04.792Z",
  "id": "vfcxqLBDDMKL5lnG",
  "name": "Discord MCP Client Sequencer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        404,
        328
      ],
      "id": "c79482a2-0b52-475c-a1d5-8f92e6b322e2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "executionSteps",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1288,
        -104
      ],
      "id": "a913b319-ec9f-419b-ba12-55cd8fe54ec5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userPrompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        72
      ],
      "id": "9a1fc959-c92c-4140-877e-6a1badc12e5b",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        48,
        72
      ],
      "id": "9130e8ca-91b0-45be-8ea1-6851e6c32ec5",
      "name": "Context Aggregator"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ !!$json.output.directAnswer?.toJsonString() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "ff6241e7-5888-44d3-bcd7-543a0deffafe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HAS DIRECT ANSWER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5093fd74-cc07-45b4-8725-2d1de4075919",
                    "leftValue": "={{ $json.output.executionSteps ?? [] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HAS EXECUTION STEPS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        840,
        -104
      ],
      "id": "762a6c3b-ecaf-4984-8d41-fe9c43813e40",
      "name": "Has a direct answer?"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2856,
        -288
      ],
      "id": "7ee012e2-dc46-45e4-bb47-d949b8d65d32",
      "name": "Final Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "497d547e-48e4-4218-a02e-9648db9a4c93",
              "name": "executionSteps",
              "value": "={{ $json.output.executionSteps ?? [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1064,
        -32
      ],
      "id": "8094c0ee-513f-4b2c-97bf-fbd04c293ec3",
      "name": "Prepare Execution Steps"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee6d0a21-266b-44c6-8536-a80f30695e6a",
              "name": "stepResult.stepOutput",
              "value": "={{ JSON.parse($json.result.content[0].text) }}",
              "type": "object"
            },
            {
              "id": "bec043e7-22fd-4b23-a549-d1e81ec6bcb6",
              "name": "stepResult.toolName",
              "value": "={{ $json.toolName }}",
              "type": "string"
            },
            {
              "id": "3cbfb631-8642-43bb-82f4-1333495056f8",
              "name": "stepResult.callParams",
              "value": "={{ $json.callParams }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1960,
        -200
      ],
      "id": "8c9365ee-290f-410b-978a-5a8389f62a50",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8338f4c8-fec3-44c9-b2d5-375790642f17",
              "name": "userPrompt",
              "value": "={{ $json.userPrompt }}",
              "type": "string"
            },
            {
              "id": "83b2b73c-cdd9-469f-b0e0-c228c0a5fa7e",
              "name": "cachedTools",
              "value": "={{ $json.tools?.length ?? 0 }}",
              "type": "number"
            },
            {
              "id": "0138bb46-fdba-4ab8-89b9-76830358bc9c",
              "name": "cachedContacts",
              "value": "={{ $json.discordContacts?.length ?? 0 }}",
              "type": "number"
            },
            {
              "id": "8eae33a9-d42a-49b8-9e73-d270a72e62d0",
              "name": "cachedGuilds",
              "value": "={{ $json.serversOrGuilds?.length ?? 0 }}",
              "type": "number"
            },
            {
              "id": "db49315b-8cb4-47a5-8553-453db33a4187",
              "name": "stepCount",
              "value": "={{ $json.executionSteps.length }}",
              "type": "number"
            },
            {
              "id": "90a974f7-04b9-42d6-96fa-031c05698c27",
              "name": "executionSuccess",
              "value": "={{ $json.executionSteps.filter(item=>!!item).length }}/{{ $json.executionSteps.length }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2632,
        200
      ],
      "id": "5fcbce29-85d8-4232-838b-2cd38b294adc",
      "name": "Create Diagnostics"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "toolCount",
              "value": "={{ $json.cachedTools }}"
            },
            {
              "key": "contactCount",
              "value": "={{ $json.cachedContacts }}"
            },
            {
              "key": "guildCount",
              "value": "={{ $json.cachedGuilds }}"
            },
            {
              "key": "prompt",
              "value": "={{ $json.userPrompt }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        2856,
        272
      ],
      "id": "0531736f-8a69-45e0-a6b2-8113cd94abf2",
      "name": "Input Data Logger"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2408,
        184
      ],
      "id": "f3c0a50e-a686-4c6c-9a13-e60577c187af",
      "name": "Metadata Collector"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": false
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1736,
        -200
      ],
      "id": "871c4869-0387-4c48-9294-950eb3619f49",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1512,
        -32
      ],
      "id": "00a1e7fc-a979-4709-8708-b726d7682e5f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $json.toolName }}",
        "toolParameters": "={{ $json.callParams }}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        1736,
        -8
      ],
      "id": "d75824bc-5423-4512-af44-bff9b7180ffd",
      "name": "MCP Sequence Executor",
      "executeOnce": false,
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "executionSteps",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2184,
        -200
      ],
      "id": "3022283d-32f3-4b91-b6e5-223d96d8d453",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zBL0JT7t26pK2x95",
          "mode": "list",
          "cachedResultUrl": "/workflow/zBL0JT7t26pK2x95",
          "cachedResultName": "Discord Context Cache"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -176,
        144
      ],
      "id": "7382b6fd-ba53-4b3e-95fa-a475585629ef",
      "name": "Call 'Discord Context Cache'"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        344,
        120
      ],
      "id": "7b08e3df-3525-412b-8563-ff32b122f63b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## You are a helpful assistant with the capabilities to generate\n- Either a sequential JSON enclosed array of tool execution steps for a user's prompt to accomplish the task OR a JSON with a `directAnswer` answer if you can answer directly from your knowledge\n- You MUST smartly decide if it can be answered from your current knowledge or memory\n\nInstructions:\n- you are PROHIBITED from using guild/server/channel/contact display names instead of proper IDs as execution parameters.\n- If you only have a name of a guild/server/channel/contact, your TOP PRIORITY is finding the discord guild/server/channel/contact IDs.\n- try to use your knowledge of the contact list instead of calling 'discord_list_contacts'\n- try to use your knowledge of the guilds/servers list instead of calling 'discord_list_guilds'\n\nFor ANY operation that requires Discord API calls, you MUST use executionSteps:\n- Reading/list/get operations (list messages, read channel, get user info, etc.)\n- Writing/send operations (send message, etc.)\n- Finding/searching operations (find channel, search messages, etc.)\n- Any action that retrieves or modifies Discord data\n\nExamples:\n- \"list messages with user X\" → find contact ID then list messages\n- \"list channels in guild/server Y\" → find guild ID then list\n- \"list messages in the guild/server Y channel Z\" → find guild ID, list channels, then list messages of the matching channel\n- \"send a message to channel Y\" → find channel ID, then send a message\n- \"who are in my contacts?\" → list contacts\n\n## Your Knowledge of Discord Contacts:\n\n```\n{{ $json.discordContacts ? $json.discordContacts.toJsonString() : '[]' }}\n```\n\n## Your Knowledge of Discord Servers/Guilds:\n\n```\n{{ $json.serversOrGuilds ? $json.serversOrGuilds.toJsonString() : '[]' }}\n```\n\n## Your Knowledge of Available MCP tools:\n\n```\n{{ $json.tools ? $json.tools.toJsonString() : '[]' }}\n```",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        -104
      ],
      "id": "4d12a4dd-3b4f-472b-a944-6265ad99de9e",
      "name": "Execution Planner AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"executionSteps\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"toolName\": {\n            \"type\": \"string\"\n          },\n          \"callParams\": {\n            \"type\": \"object\"\n          }\n        },\n        \"required\": [\"toolName\", \"callParams\"],\n        \"additionalProperties\": false\n      },\n      \"description\": \"List MCP tool execution steps to achieve user's goal. ONLY USE WHEN NOT A DIRECT ANSWER\"\n    },\n    \"directAnswer\": {\n      \"type\": \"string\",\n      \"description\": \"You can provide a direct answer instead of providing a list of executionSteps. ONLY USE WHEN YOU CAN DIRECT ANSWER\"\n    }\n  },\n  \"additionalProperties\": false\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        472,
        120
      ],
      "id": "fc946901-08ae-4ac6-b072-a8d59798086f",
      "name": "Execution Plan Output Parser"
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Execution Planner AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Execution Plan Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Context Aggregator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Discord Context Cache'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Aggregator": {
      "main": [
        [
          {
            "node": "Metadata Collector",
            "type": "main",
            "index": 1
          },
          {
            "node": "Execution Planner AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has a direct answer?": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Prepare Execution Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Execution Steps": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Metadata Collector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Diagnostics": {
      "main": [
        [
          {
            "node": "Input Data Logger",
            "type": "main",
            "index": 0
          },
          {
            "node": "Final Response",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Input Data Logger": {
      "main": [
        []
      ]
    },
    "Metadata Collector": {
      "main": [
        [
          {
            "node": "Create Diagnostics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "MCP Sequence Executor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Sequence Executor": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Metadata Collector",
            "type": "main",
            "index": 2
          },
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Response": {
      "main": [
        []
      ]
    },
    "Call 'Discord Context Cache'": {
      "main": [
        [
          {
            "node": "Context Aggregator",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Execution Planner AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Execution Planner AI Agent": {
      "main": [
        [
          {
            "node": "Has a direct answer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Plan Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Execution Planner AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "userPrompt": "catch me up with sebastians dms"
        }
      }
    ]
  },
  "versionId": "21c31d49-c36d-4657-8a16-d06cbddbb5c4",
  "versionCounter": 62,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2025-11-02T21:22:20.646Z",
      "createdAt": "2025-11-02T21:22:20.646Z",
      "id": "95mwWdOxtdnkFLhS",
      "name": "Discord"
    },
    {
      "updatedAt": "2025-11-02T21:22:14.342Z",
      "createdAt": "2025-11-02T21:22:14.342Z",
      "id": "w6FOnYOvODOXV9os",
      "name": "MCP"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-11-06T21:51:04.796Z",
      "createdAt": "2025-11-06T21:51:04.796Z",
      "role": "workflow:owner",
      "workflowId": "vfcxqLBDDMKL5lnG",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}