workflows/eLCksBmG9uMZi4Dd.json
{
  "updatedAt": "2025-10-30T15:39:44.000Z",
  "createdAt": "2025-10-28T15:26:32.314Z",
  "id": "eLCksBmG9uMZi4Dd",
  "name": "My workflow",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        -192
      ],
      "id": "257f615b-03e6-47be-bf91-c6b56eabc88c",
      "name": "When chat message received",
      "webhookId": "b5de736b-091e-41dc-8ae2-f1ac0693a5d6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Discord assistant. When the user asks about Discord, you MUST call the appropriate Discord tool to get real data. Do not explain what tools are available - actually USE them.\n\nUser request: {{ $json.chatInput }}\n\nNow execute the appropriate tool to fulfill this request.",
        "options": {
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -48,
        -272
      ],
      "id": "ac2e476a-1ea8-4f94-99dd-4f6df2d087da",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        288,
        16
      ],
      "id": "10812b62-35c3-4d4c-a465-20c2eda0e463",
      "name": "Discord List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -144,
        112
      ],
      "id": "d292f09e-b04e-4f0f-8d23-9b7a63e59fc3",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "isyty1NtptrrMxOT",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord List Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "96db86c2-21ce-4a81-918e-a6ca1aa0790c",
  "versionCounter": 1,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-10-28T15:26:32.317Z",
      "createdAt": "2025-10-28T15:26:32.317Z",
      "role": "workflow:owner",
      "workflowId": "eLCksBmG9uMZi4Dd",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}