workflows/GI4TWKW0VgalB5Yj.json
{
  "updatedAt": "2025-11-02T07:56:54.000Z",
  "createdAt": "2025-11-01T07:41:49.983Z",
  "id": "GI4TWKW0VgalB5Yj",
  "name": "v1 working: Discord MCP Client",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "**Tool Name:** `mcp_list_tools`\n\n**Purpose:**\nDiscover and return the current live catalog of tools from the connected Discord MCP server.\nThis catalog is the single source of truth for all tool names, descriptions, and input schemas.\n\n**Call When:**\n- You do not yet know which tools exist\n- You need to refresh the tool registry before selection\n- You must check parameter names, types, or schema requirements\n\n**Contract:**\n- **Input:** none\n- **Output:** Array of tools → each object has `{ name, description, input_schema }`\n- Treat this response as authoritative; never invent tools or fields\n\n**Usage Pattern:**\n1. Call `mcp_list_tools` to fetch the live catalog\n2. Read each tool’s `input_schema` for parameter requirements\n3. Use the Tool Finder Agent to select the matching tool and return a structured JSON spec for execution\n\n**Notes:**\n- No parameters are required\n- Always use this first when the tool list is empty (`action = \"LIST\"`)\n- Acts as the ground truth registry for the MCP environment\n"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "114080b2-3535-479e-9756-96fd956763a2",
      "name": "Discord MCP List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        -224
      ],
      "id": "80ea7b1d-c252-4fbb-a79c-cfb8073b84f7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"ToolFinderResult\",\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\"action\", \"reason\", \"available_tools\", \"selection\"],\n  \"properties\": {\n    \"action\": { \"type\": \"string\", \"enum\": [\"LIST\", \"ASK\", \"SELECT\"] },\n    \"reason\": { \"type\": \"string\" },\n    \"available_tools\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\"name\", \"description\", \"input_schema\"],\n        \"properties\": {\n          \"name\": { \"type\": \"string\" },\n          \"description\": { \"type\": \"string\" },\n          \"input_schema\": { \"type\": \"object\" }\n        }\n      }\n    },\n    \"selection\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"tool_name\", \"confidence\", \"missing_fields\", \"tool_parameters\", \"tool_info\"],\n      \"properties\": {\n        \"tool_name\": { \"type\": \"string\" },\n        \"confidence\": { \"type\": \"number\", \"minimum\": 0, \"maximum\": 1 },\n        \"missing_fields\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n        \"tool_parameters\": { \"type\": \"object\" },\n        \"tool_info\": {\n          \"type\": \"object\",\n          \"additionalProperties\": false,\n          \"required\": [\"name\", \"description\", \"input_schema\"],\n          \"properties\": {\n            \"name\": { \"type\": \"string\" },\n            \"description\": { \"type\": \"string\" },\n            \"input_schema\": { \"type\": \"object\" }\n          }\n        }\n      }\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        160,
        32
      ],
      "id": "945dbc53-0750-4e05-9c3e-a61751824a88",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "I want to list my discord contacts",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "**Role**:\nYou are a **Tool Finder AI Agent**.\nYour job is to analyze a user’s natural-language request, interpret their intent, and identify the **most relevant tool** from a provided MCP tool catalog.\nYou **do not execute** any tools — you **only select** and return structured information for the next agent to act upon.\n\n**Goal**:\nGiven:\n- A user instruction in plain language\n- A catalog of available tools, each with `name`, `description`, and `input_schema` (as returned by `listTools`)\n\nYou will:\n1. Understand the user’s intent\n2. Match it to the most relevant tool(s)\n3. Infer possible parameter values from the user request\n4. Output a single **JSON object** following the `ToolFinderResult` schema\n\n---\n\n### 🧩 **Behavior Rules**\n\n**1. LIST Mode**\n- If the tool list is missing or empty, set `\"action\": \"LIST\"`\n- Respond with a reason such as “No tools provided; I need the catalog first.”\n\n**2. SELECT Mode**\n- If you can confidently match a tool and fill all its required fields, set `\"action\": \"SELECT\"`\n- Include the tool’s name, parameters, confidence (0.0–1.0), and the complete `tool_info` block\n\n**3. ASK Mode**\n- If a likely tool is found but some required fields are missing, set `\"action\": \"ASK\"`\n- Include `\"missing_fields\"` and a brief explanation of what the next agent should ask the user\n\n---\n\n### 🧮 **Confidence Scoring**\n- Base confidence on the overlap between user prompt keywords and tool name + description + schema fields\n- Boost confidence when user text directly provides required parameter values\n- Normalize to a value between 0 and 1\n\n---\n\n### 💬 **Reasoning and Output Formatting**\n- Include a short, human-readable explanation in `\"reason\"` (why that tool was chosen)\n- **Do not** reveal internal reasoning or chain-of-thought\n- Output exactly **one JSON object** conforming to this schema—no extra text, comments, or formatting.\n- Starting character must be a `{`\n\n**Style Guidelines**\n\n- No markdown, no commentary, no apology statements.\n- Deterministic, factual output — set temperature ≈ 0.2 for reliability.\n- If information is missing, clarify via the `\"ASK\"` path rather than guessing.\n\n**Remember:** You never run MCP tools; you only identify the right one and provide precise specs for the next agent."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -112,
        -224
      ],
      "id": "019648c4-e83f-44c0-bfab-f0cb2ff854a9",
      "name": "Tool Finder Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.action }}",
                    "rightValue": "SELECT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cf78d0ca-cc85-4be1-8ab1-badde07ea481"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        288,
        -240
      ],
      "id": "352796f7-aa88-495e-a9e0-d8fe7f35ce64",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        32
      ],
      "id": "15d82704-5b9e-47ef-a983-2cebcab389d8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Discord MCP List Tools": {
      "ai_tool": [
        [
          {
            "node": "Tool Finder Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Tool Finder Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Tool Finder Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Tool Finder Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tool Finder Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "86e50b32-25a1-4a85-a022-bd1dffc5da5f",
  "versionCounter": 1,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-01T07:41:49.985Z",
      "createdAt": "2025-11-01T07:41:49.985Z",
      "role": "workflow:owner",
      "workflowId": "GI4TWKW0VgalB5Yj",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}