workflows/Mi4xonmaM14OnUUW.json
{
  "updatedAt": "2025-11-07T12:43:44.000Z",
  "createdAt": "2025-11-03T03:51:20.731Z",
  "id": "Mi4xonmaM14OnUUW",
  "name": "[LAB] Discord Message Indexer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert assistant for managing Discord messages in a DataTable. You operate in two modes: INDEXING and QUERY.\n\n## INDEXING Mode\n**Primary Objective**: Discover and cache ALL messages from specified Discord channels.\n\n**Critical Rules**:\n- You MUST perform complete channel indexing - partial indexing is NOT allowed\n- Use `discord_read_channel` with pagination to fetch ALL messages from the channel\n- Continue paginating until all messages are retrieved\n- Output format: `data` field must contain all fetched message data (full objects or structured format)\n\n**Re-indexing Protocol**:\n1. Use 'Clear All Rows' tool to delete existing messages\n2. Fetch all messages with `discord_read_channel` using pagination\n3. Index ALL fetched messages into DataTable\n\n## QUERY Mode\n- Input: Query tool must contain an `input` field with search query\n- Use cached DataTable via `message_knowledge_base` - avoid expensive `discord_read_channel` calls\n- Query the DataTable to retrieve indexed message information\n\n## DataTable Schema\n- `messageId` (string, required, unique)\n- `channelId` (string)\n- `senderId` (string)\n- `messageText` (string)\n- `createdAt` (auto-timestamp)\n- `updatedAt` (auto-timestamp)\n\n## Best Practices\n- **Minimize expensive Discord API calls** - prioritize `message_knowledge_base` queries\n- Process messages in batches efficiently during indexing\n- Always complete full channel indexing - never stop mid-pagination\n- Use pagination parameters (`after`, `before`, `limit`) effectively"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1088,
        96
      ],
      "id": "f60a01ba-19e7-4e07-a3c6-d1cb67a6b8a5",
      "name": "Indexer AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        528
      ],
      "id": "e2b2e0b9-3712-40e6-91b7-d189afb1a769",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "UKOq3l77ajFizbkq",
          "mode": "list",
          "cachedResultName": "Paragon's Discord Messages",
          "cachedResultUrl": "/projects/GEUEn6ArNROzJ5FY/datatables/UKOq3l77ajFizbkq"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "messageId",
              "condition": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        784,
        320
      ],
      "id": "8cba5e48-5ec9-4661-8e1d-e344b5bbd7ae",
      "name": "Clear All Rows in Data table"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "UKOq3l77ajFizbkq",
          "mode": "list",
          "cachedResultName": "Paragon's Discord Messages",
          "cachedResultUrl": "/projects/GEUEn6ArNROzJ5FY/datatables/UKOq3l77ajFizbkq"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "messageId",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', `Discord Message ID`, 'string') }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "channelId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('channelId', ``, 'string') }}",
            "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('messageId', ``, 'string') }}",
            "messageText": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('messageText', ``, 'string') }}",
            "senderId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('senderId', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channelId",
              "displayName": "channelId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "messageText",
              "displayName": "messageText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "senderId",
              "displayName": "senderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        912,
        320
      ],
      "id": "e99f417a-5808-47e5-89b8-1bca3223354c",
      "name": "Upsert row(s) in Data table"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2496,
        320
      ],
      "id": "073dc94f-190e-4090-8fc3-0ee85b553e34",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "message_store_key",
          "mode": "list",
          "cachedResultName": "message_store_key"
        },
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        2432,
        96
      ],
      "id": "3cd477f0-a0ef-4687-869e-7382b0275c7f",
      "name": "Insert Data to Store"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1120,
        528
      ],
      "id": "41ccbb5f-96f6-47eb-b65c-d6ed2cad7f88",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }} v1",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        656,
        320
      ],
      "id": "798d3d7a-9f2e-4d16-89e4-e4184cc82c57",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "message_knowledge_base",
        "toolDescription": "Use this message_knowledge_base FIRST before fetching profiles or performing other message queries. This tool searches existing indexed messages in the knowledge base. Always query this tool to check if a message already exists before making API calls to fetch new profiles. Only proceed with profile fetching if the message is NOT found in the knowledge base.",
        "memoryKey": {
          "__rl": true,
          "value": "message_store_key",
          "mode": "list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        1056,
        336
      ],
      "id": "9d9a2e17-2395-4a1d-b628-376705ef3bb6",
      "name": "Query Contact Embeddings Tool"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d1dd97e-024b-42ac-b583-836868219629",
              "leftValue": "={{ $json.output.action }}",
              "rightValue": "index",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "53312a9d-9b14-4652-95ff-95de0470570e",
              "leftValue": "={{ $json.output.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2208,
        96
      ],
      "id": "dde1a4cd-8bff-4109-a25f-12248fa87f75",
      "name": "If"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"status\": {\n      \"type\": \"string\",\n      \"enum\": [\"success\", \"error\"],\n      \"description\": \"Status of the operation\"\n    },\n    \"action\": {\n      \"type\": \"string\",\n      \"enum\": [\"index\", \"query\"],\n      \"description\": \"type of the operation\"\n    },\n    \"data\": {\n      \"type\": \"list\",\n      \"description\": \"based on action, query output data or all fetched & indexed data\"\n\n    },\n    \"message\": {\n      \"type\": \"string\",\n      \"description\": \"Summary message about the indexing operation\"\n    }\n  },\n  \"required\": [\"status\", \"action\", \"message\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1840,
        320
      ],
      "id": "0f1123e2-e36d-4d45-9f86-9ea437a01395",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        336,
        96
      ],
      "id": "9458de07-4066-4306-bd2a-619a15a96d86",
      "name": "When chat message received",
      "webhookId": "19a85ad8-b4a9-4e4c-99fb-37862db0f9ee"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1328,
        320
      ],
      "id": "988d10f9-8b25-4cd8-bac5-ff334ef23412",
      "name": "Discord List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "discord_read_channel",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', `here's the tool schema\n\n{\n  \"name\": \"discord_read_channel\",\n  \"description\": \"Read messages from a Discord channel or direct message (DM) chat. Use this to list DM chat history by providing a userId, read Discord server channels by providing channelName (optionally with guildId/guildName), or read any channel by providing channelId. Supports comprehensive pagination options.\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"channelId\": {\n        \"type\": \"string\",\n        \"description\": \"The Discord channel ID to read messages from (alternative to userId or channelName)\"\n      },\n      \"userId\": {\n        \"type\": \"string\",\n        \"description\": \"The Discord user ID to read DM chat history with (alternative to channelId or channelName). Use this to list direct messages with a specific user.\"\n      },\n      \"channelName\": {\n        \"type\": \"string\",\n        \"description\": \"Name of the channel to find (e.g., \\\\\"general\\\\\", \\\\\"announcements\\\\\"). Optionally specify guildId or guildName to narrow down search. Supports # prefix.\"\n      },\n      \"guildId\": {\n        \"type\": \"string\",\n        \"description\": \"Discord server (guild) ID to search for channelName in (optional, alternative to guildName)\"\n      },\n      \"guildName\": {\n        \"type\": \"string\",\n        \"description\": \"Discord server (guild) name to search for channelName in (optional, alternative to guildId)\"\n      },\n      \"limit\": {\n        \"type\": \"number\",\n        \"description\": \"Number of messages to fetch (default: 50, max: 100)\"\n      },\n      \"before\": {\n        \"type\": \"string\",\n        \"description\": \"Message ID to fetch messages before (for pagination)\"\n      },\n      \"after\": {\n        \"type\": \"string\",\n        \"description\": \"Message ID to fetch messages after (for pagination)\"\n      },\n      \"beforeDate\": {\n        \"type\": \"string\",\n        \"description\": \"ISO date string to fetch messages before (e.g., \\\\\"2023-12-01T10:00:00Z\\\\\")\"\n      },\n      \"afterDate\": {\n        \"type\": \"string\",\n        \"description\": \"ISO date string to fetch messages after (e.g., \\\\\"2023-12-01T10:00:00Z\\\\\")\"\n      },\n      \"applyFilters\": {\n        \"type\": \"boolean\",\n        \"description\": \"Whether to apply channel whitelist/blacklist filters (default: false)\"\n      }\n    },\n    \"additionalProperties\": false,\n    \"$schema\": \"http://json-schema.org/draft-07/schema#\"\n  }\n}`, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1456,
        320
      ],
      "id": "13633add-915d-463c-9db8-ed696ea67e99",
      "name": "Discord Read Channel",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "discord_list_channels",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', `here's the tool schema\n\n{\n  \"name\": \"discord_list_channels\",\n  \"description\": \"List all accessible channels for the current user with pagination support\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"guildId\": {\n        \"type\": \"string\",\n        \"description\": \"Optional: Filter channels by Discord server (guild) ID\"\n      },\n      \"limit\": {\n        \"type\": \"number\",\n        \"description\": \"Number of channels to fetch per page (default: 50, max: 500)\"\n      },\n      \"offset\": {\n        \"type\": \"number\",\n        \"description\": \"Starting position for pagination (default: 0)\"\n      },\n      \"applyFilters\": {\n        \"type\": \"boolean\",\n        \"description\": \"Whether to apply channel whitelist/blacklist filters (default: true)\"\n      },\n      \"checkPermissions\": {\n        \"type\": \"boolean\",\n        \"description\": \"Whether to filter channels based on user permissions (default: true)\"\n      }\n    },\n    \"additionalProperties\": false,\n    \"$schema\": \"http://json-schema.org/draft-07/schema#\"\n  }\n}`, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1584,
        320
      ],
      "id": "9ce31d36-2d1e-4157-a73a-827d0db921b9",
      "name": "Discord List Channels",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "discord_search_contacts",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', `{\n  \"name\": \"discord_search_contacts\",\n  \"description\": \"Search for specific Discord contacts by name with partial/fuzzy matching. Use this when looking for a particular person (e.g., \\\\\"find John\\\\\", \\\\\"search for brian\\\\\"). Supports typos and partial matches. If no results found in cache, automatically tries fetchFresh to search fresh data.\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"query\": {\n        \"type\": \"string\",\n        \"description\": \"Search term to match against usernames, display names, and tags\"\n      },\n      \"fetchFresh\": {\n        \"type\": \"boolean\",\n        \"description\": \"Whether to fetch fresh data from API instead of cache (default: false)\"\n      },\n      \"limit\": {\n        \"type\": \"number\",\n        \"description\": \"Maximum number of results to return (default: 20, max: 100)\"\n      },\n      \"includeMatchScore\": {\n        \"type\": \"boolean\",\n        \"description\": \"Whether to include detailed match scoring information (default: false)\"\n      }\n    },\n    \"required\": [\n      \"query\"\n    ],\n    \"additionalProperties\": false,\n    \"$schema\": \"http://json-schema.org/draft-07/schema#\"\n  }\n}`, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1712,
        320
      ],
      "id": "a9b1fbae-9701-4f3d-9bc1-3ed6debc2d33",
      "name": "Discord Search Contacts",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      }
    }
  ],
  "connections": {
    "Indexer AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Clear All Rows in Data table": {
      "ai_tool": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s) in Data table": {
      "ai_tool": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Query Contact Embeddings Tool",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Insert Data to Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Query Contact Embeddings Tool": {
      "ai_tool": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert Data to Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord List Tools": {
      "ai_tool": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Discord Read Channel": {
      "ai_tool": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Discord List Channels": {
      "ai_tool": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Discord Search Contacts": {
      "ai_tool": [
        [
          {
            "node": "Indexer AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1df7dd8a-b508-4188-ab7c-d23ed962f5e9",
  "versionCounter": 1,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2025-11-07T12:42:46.406Z",
      "createdAt": "2025-11-07T12:42:46.406Z",
      "id": "nP0FjyF3pFepp7fe",
      "name": "LAB"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-11-03T03:51:20.734Z",
      "createdAt": "2025-11-03T03:51:20.734Z",
      "role": "workflow:owner",
      "workflowId": "Mi4xonmaM14OnUUW",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}