workflows/ParagonOS Manager.json
{
  "updatedAt": "2025-11-20T20:26:47.000Z",
  "createdAt": "2025-11-06T23:04:10.688Z",
  "id": "z1Ry4y4k5dGR0BqR",
  "name": "ParagonOS Manager",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        -48
      ],
      "id": "4077b1f3-df5a-4112-a949-a4a86c743d57",
      "name": "When chat message received",
      "webhookId": "171c216b-baf1-4dfc-b52e-280926480ed7"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        80
      ],
      "id": "4478f090-adaf-495e-8b71-37592aa93537",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "={{ `\nIntelligently plans and executes Discord operations using cached context and AI-powered sequencing.\\n\\n# How It Works:\\n\\n1. **Context Enrichment**: Automatically retrieves and caches Discord contacts, guilds/servers, channels, available MCP tools, and your profile. Uses a 30-minute cache to minimize API calls.\\n\\n2. **AI Planning**: Analyzes your request against a Discord playbook of common workflows (DMing contacts, catching up on channels, replying to pending messages, searching topics, editing/deleting messages, downloading attachments, triaging guild channels). Recommends relevant tools and generates either:\\n   - A direct answer (if no API calls needed)\\n   - A sequential execution plan with specific MCP tool calls\\n\\n3. **Sequential Execution**: Executes planned steps in order, passing data between steps automatically.\\n\\n4. **Validation & Retry**: Validates execution results against your original request. Automatically retries with refined approach if needed.\\n\\n# Capabilities:\\n\\nRead messages (channels/DMs with pagination, date filtering), search messages, send/edit/delete messages with attachments, download attachments, list guilds/servers/channels/contacts/members, search contacts, get pending channels/DMs (messages after your last reply), manage whitelist/blacklist filters. Supports both server channels and direct messages.\n`}}",
        "workflowId": {
          "__rl": true,
          "value": "vfcxqLBDDMKL5lnG",
          "mode": "list",
          "cachedResultUrl": "/workflow/vfcxqLBDDMKL5lnG",
          "cachedResultName": "Discord MCP Client Sequencer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userPrompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('userPrompt', `Natural language request for Discord operations. Examples: 'Check for unreplied messages in wandrlust admin channel', 'DM sebastian about the meeting', 'What did people say about the launch in metarune-labs?', 'Reply to my pending DMs', 'List all members in the dev server'`, 'string') }}"
          },
          "matchingColumns": [
            "userPrompt"
          ],
          "schema": [
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        32,
        80
      ],
      "id": "a85ea5f0-1f3f-4d39-af49-35e27cade5b4",
      "name": "Discord Agent with Caching"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }} v6.5",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -96,
        80
      ],
      "id": "8b52e12c-7f0e-4129-8a64-80a18a1714b6",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are ParagonOS, an intelligent Discord management assistant.\n\n# Your Capabilities:\n\nYou have access to a sophisticated Discord Agent tool that:\n- Automatically enriches requests with cached context (contacts, guilds, channels, your profile)\n- Uses an AI planner with a playbook of common Discord workflows\n- Generates and executes sequential MCP tool operations\n- Validates results and retries with refined approaches if needed\n\n# How to Use the Discord Agent:\n\n1. **Pass natural language requests directly** - The agent handles planning and execution automatically\n2. **Provide clear intent** - Be specific about what the user wants (check messages, send DM, search topics, etc.)\n3. **Include relevant context** - Mention channel names, contact names, server names, time ranges, or specific topics\n4. **Trust the sub-workflow** - It will resolve names to IDs, plan multi-step operations, and handle retries\n\n# Good Examples:\n- \"Check for unreplied messages in the wandrlust admin & dev channel\"\n- \"DM sebastian asking about the deployment status\"\n- \"What were the key points discussed about the token launch in metarune-labs?\"\n- \"Show me all pending DMs that need my attention\"\n- \"Find and list all messages from the past week in the dev-team channel\"\n\n# Your Role:\n- Understand user intent and reformulate as clear, actionable requests\n- Interpret the Discord Agent's results and present them conversationally\n- Handle multi-turn conversations with context from memory\n- Ask clarifying questions if the user's request is ambiguous"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -104,
        -144
      ],
      "id": "e572d52c-0585-473c-84aa-34fc1b8ee691",
      "name": "Metarune Admin Chat Agent"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatInput"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        -240
      ],
      "id": "c2a04407-3712-44aa-a758-a324f3b37a33",
      "name": "When Executed by Another Workflow",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        368,
        -144
      ],
      "id": "b435c3de-9724-4add-bbbe-a0f0eeea066e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "description": "={{ `\nIntelligently plans and executes Discord operations using cached context and AI-powered sequencing.\\n\\n# How It Works:\\n\\n1. **Context Enrichment**: Automatically retrieves and caches Discord contacts, guilds/servers, channels, available MCP tools, and your profile. Uses a 30-minute cache to minimize API calls.\\n\\n2. **AI Planning**: Analyzes your request against a Discord playbook of common workflows (DMing contacts, catching up on channels, replying to pending messages, searching topics, editing/deleting messages, downloading attachments, triaging guild channels). Recommends relevant tools and generates either:\\n   - A direct answer (if no API calls needed)\\n   - A sequential execution plan with specific MCP tool calls\\n\\n3. **Sequential Execution**: Executes planned steps in order, passing data between steps automatically.\\n\\n4. **Validation & Retry**: Validates execution results against your original request. Automatically retries with refined approach if needed.\\n\\n# Capabilities:\\n\\nRead messages (channels/DMs with pagination, date filtering), search messages, send/edit/delete messages with attachments, download attachments, list guilds/servers/channels/contacts/members, search contacts, get pending channels/DMs (messages after your last reply), manage whitelist/blacklist filters. Supports both server channels and direct messages.\n`}}",
        "workflowId": {
          "__rl": true,
          "value": "vfcxqLBDDMKL5lnG",
          "mode": "list",
          "cachedResultUrl": "/workflow/vfcxqLBDDMKL5lnG",
          "cachedResultName": "Discord MCP Client Sequencer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userPrompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('userPrompt', `Natural language request for Discord operations. Examples: 'Check for unreplied messages in wandrlust admin channel', 'DM sebastian about the meeting', 'What did people say about the launch in metarune-labs?', 'Reply to my pending DMs', 'List all members in the dev server'`, 'string') }}"
          },
          "matchingColumns": [
            "userPrompt"
          ],
          "schema": [
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        160,
        80
      ],
      "id": "77779f7b-6217-46a5-a355-4cb35d2e935a",
      "name": "Telegram Agent with Caching"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Metarune Admin Chat Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Metarune Admin Chat Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Discord Agent with Caching": {
      "ai_tool": [
        [
          {
            "node": "Metarune Admin Chat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Metarune Admin Chat Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Metarune Admin Chat Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Metarune Admin Chat Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Agent with Caching": {
      "ai_tool": [
        [
          {
            "node": "Metarune Admin Chat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "chatInput": "find staryo admin only channel in metarune labs guild, then list messages"
        }
      }
    ]
  },
  "versionId": "1df1ce11-a061-4c99-8665-48cb9cc74c0e",
  "versionCounter": 84,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2025-11-02T21:22:20.646Z",
      "createdAt": "2025-11-02T21:22:20.646Z",
      "id": "95mwWdOxtdnkFLhS",
      "name": "Discord"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-11-06T23:04:10.693Z",
      "createdAt": "2025-11-06T23:04:10.693Z",
      "role": "workflow:owner",
      "workflowId": "z1Ry4y4k5dGR0BqR",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}