workflows/v2 working_ Discord MCP Client.json
{
  "updatedAt": "2025-11-02T07:56:57.000Z",
  "createdAt": "2025-11-01T12:02:03.153Z",
  "id": "J0QHXqqAc9mNRpdy",
  "name": "v2 working: Discord MCP Client",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "**Tool Name:** `mcp_list_tools`\n\n**Purpose:**\nDiscover and return the current live catalog of tools from the connected Discord MCP server.\nThis catalog is the single source of truth for all tool names, descriptions, and input schemas.\n\n**Call When:**\n- You do not yet know which tools exist\n- You need to refresh the tool registry before selection\n- You must check parameter names, types, or schema requirements\n\n**Contract:**\n- **Input:** none\n- **Output:** Array of tools → each object has `{ name, description, input_schema }`\n- Treat this response as authoritative; never invent tools or fields\n\n**Usage Pattern:**\n1. Call `mcp_list_tools` to fetch the live catalog\n2. Read each tool’s `input_schema` for parameter requirements\n3. Use the Tool Finder Agent to select the matching tool and return a structured JSON spec for execution\n\n**Notes:**\n- No parameters are required\n- Always use this first when the tool list is empty (`action = \"LIST\"`)\n- Acts as the ground truth registry for the MCP environment\n"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -32,
        -48
      ],
      "id": "cdf5306d-c5fb-44ab-8d02-65908b3d1ff1",
      "name": "Discord MCP List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        -272
      ],
      "id": "47d1766e-f8f5-4dae-b702-53346e20a3a5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "I want to list my fist 5 discord contacts",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "**Role**:\nYou are a **Tool Finder AI Agent**.\nYour job is to analyze a user’s natural-language request, interpret their intent, and identify the **most relevant tool** from a provided MCP tool catalog.\nYou only call mcp_list_tools & **only select** and return structured information for the next agent to act upon.\n\n**Goal**:\nGiven:\n- A user instruction in plain language\n- A catalog of available tools, each with `name`, `description`, and `input_schema` (as returned by `mcp_list_tools`)\n\nYou will:\n1. Understand the user’s intent\n2. Match it to the most relevant tool(s)\n3. Infer possible parameter values from the user request\n\n---\n\n### **Behavior Rules**\n\n**1. LIST Mode**\n- If the tool list is missing or empty, set `\"action\": \"LIST\"`\n- Respond with a reason such as “No tools provided; I need the catalog first.”\n\n**2. SELECT Mode**\n- If you can confidently match a tool and fill all its required fields, set `\"action\": \"SELECT\"`\n- Include the tool’s name, parameters, confidence (0.0–1.0), and the complete `tool_info` block\n\n**3. ASK Mode**\n- If a likely tool is found but some required fields are missing, set `\"action\": \"ASK\"`\n- Include `\"missing_fields\"` and a brief explanation of what the next agent should ask the user\n\n---\n\n### 🧮 **Confidence Scoring**\n- Base confidence on the overlap between user prompt keywords and tool name + description + schema fields\n- Boost confidence when user text directly provides required parameter values\n- Normalize to a value between 0 and 1\n\n---\n\n### 💬 **Reasoning and Output Formatting**\n- Include a short, human-readable explanation in `\"reason\"` (why that tool was chosen)\n- **Do not** reveal internal reasoning or chain-of-thought\n- Output exactly **one JSON object** conforming to this schema—no extra text, comments, or formatting.\n- Starting character must be a `{`\n\n**Style Guidelines**\n\n- No markdown, no commentary, no apology statements.\n- Deterministic, factual output — set temperature ≈ 0.2 for reliability.\n- If information is missing, clarify via the `\"ASK\"` path rather than guessing."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -112,
        -272
      ],
      "id": "00c0f9e1-328c-4968-86a8-f3061a8b37f1",
      "name": "Tool Finder Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        368
      ],
      "id": "9fa79079-03eb-47bf-a347-4365a12a3c42",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Execute the specified Discord MCP tool with provided parameters\n\nTool_Name: {{ $json.output.selection.tool_name }}\nTool_Parameters: {{ $json.output.selection.tool_parameters.toJsonString() }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert Discord MCP tool executor agent"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        464,
        -272
      ],
      "id": "a04817f4-7466-4406-b865-0f2e5145320d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Purpose:\n\n{{ $json.output.selection.tool_info.description }}",
        "operation": "executeTool",
        "toolName": "={{ $fromAI('Tool_Name', ``, 'string') }}",
        "toolParameters": "={{ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        544,
        -48
      ],
      "id": "fae837b8-5ee3-4d02-9bcc-d458736e34ae",
      "name": "Discord MCP Tool Executer",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"ToolFinderResult\",\n  \"type\": \"object\",\n  \"required\": [\"action\", \"reason\", \"available_tools\", \"selection\"],\n  \"properties\": {\n    \"action\": { \"type\": \"string\", \"enum\": [\"LIST\", \"ASK\", \"SELECT\"] },\n    \"reason\": { \"type\": \"string\" },\n    \"selection\": {\n      \"type\": \"object\",\n      \"required\": [\"tool_name\", \"confidence\", \"missing_fields\", \"tool_parameters\", \"tool_info\"],\n      \"properties\": {\n        \"tool_name\": { \"type\": \"string\" },\n        \"confidence\": { \"type\": \"number\" },\n        \"missing_fields\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n        \"tool_parameters\": { \"type\": \"object\" },\n        \"tool_info\": {\n          \"type\": \"object\",\n          \"required\": [\"name\", \"description\", \"input_schema\"],\n          \"properties\": {\n            \"name\": { \"type\": \"string\" },\n            \"description\": { \"type\": \"string\" },\n            \"input_schema\": { \"type\": \"object\" }\n          }\n        }\n      }\n    }\n  }\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        96,
        -48
      ],
      "id": "ccd2adb0-d1e8-4a28-a6e1-45051c665cc4",
      "name": "Tool List Parser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"ContactsDigest\",\n  \"strict\": true,\n  \"schema\": {\n    \"type\": \"object\",\n    \"additionalProperties\": false,\n    \"required\": [\"summary\", \"pagination\", \"contacts\"],\n    \"properties\": {\n      \"summary\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\"total\", \"returned\", \"hasMore\"],\n        \"properties\": {\n          \"total\": {\n            \"type\": \"integer\",\n            \"description\": \"Total number of contacts available\"\n          },\n          \"returned\": {\n            \"type\": \"integer\",\n            \"description\": \"Number of contacts included in this response\"\n          },\n          \"hasMore\": {\n            \"type\": \"boolean\",\n            \"description\": \"Whether more contacts can be fetched with a larger offset\"\n          }\n        }\n      },\n      \"pagination\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\"offset\", \"limit\"],\n        \"properties\": {\n          \"offset\": {\n            \"type\": \"integer\",\n            \"minimum\": 0\n          },\n          \"limit\": {\n            \"type\": \"integer\",\n            \"minimum\": 1\n          },\n          \"nextOffset\": {\n            \"type\": [\"integer\", \"null\"],\n            \"description\": \"Offset to request next if hasMore is true, otherwise null\"\n          },\n          \"type\": {\n            \"type\": \"string\",\n            \"description\": \"Original list type if provided\",\n            \"examples\": [\"all\", \"dm\", \"friend\"]\n          },\n          \"filtersApplied\": {\n            \"type\": \"boolean\",\n            \"description\": \"Whether source indicated filters are applied\"\n          }\n        }\n      },\n      \"contacts\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"additionalProperties\": false,\n          \"required\": [\"id\", \"name\", \"username\", \"type\", \"isBot\"],\n          \"properties\": {\n            \"id\": {\n              \"type\": \"string\",\n              \"description\": \"Contact identifier as string\"\n            },\n            \"name\": {\n              \"type\": \"string\",\n              \"description\": \"Display name best available\"\n            },\n            \"username\": {\n              \"type\": \"string\",\n              \"description\": \"Handle or unique username\"\n            },\n            \"type\": {\n              \"type\": \"string\",\n              \"enum\": [\"dm\", \"friend\", \"other\"],\n              \"description\": \"Relationship or thread type\"\n            },\n            \"isBot\": {\n              \"type\": \"boolean\",\n              \"description\": \"True if contact is a bot\"\n            },\n            \"status\": {\n              \"type\": \"string\",\n              \"description\": \"Online status if provided\",\n              \"examples\": [\"online\", \"offline\", \"idle\", \"dnd\", \"unknown\"]\n            },\n            \"lastMessageAtIso\": {\n              \"type\": \"string\",\n              \"format\": \"date-time\",\n              \"description\": \"Last message timestamp in ISO 8601 UTC if available\"\n            },\n            \"lastMessageAgo\": {\n              \"type\": \"string\",\n              \"description\": \"Human relative time if provided\",\n              \"examples\": [\"7 days ago\"]\n            },\n            \"avatar\": {\n              \"type\": \"string\",\n              \"format\": \"uri\",\n              \"description\": \"Avatar URL if available\"\n            }\n          }\n        }\n      }\n    }\n  }\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        688,
        144
      ],
      "id": "7a11da18-02f1-4959-953f-5110bf82bae9",
      "name": "Contact List Parser"
    }
  ],
  "connections": {
    "Discord MCP List Tools": {
      "ai_tool": [
        [
          {
            "node": "Tool Finder Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Tool Finder Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Finder Agent": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Tool List Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Tool Finder Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Contact List Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Discord MCP Tool Executer": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Tool List Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Tool Finder Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Contact List Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e3020319-075b-4eef-883e-b6547ea16159",
  "versionCounter": 2,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-01T12:02:03.174Z",
      "createdAt": "2025-11-01T12:02:03.174Z",
      "role": "workflow:owner",
      "workflowId": "J0QHXqqAc9mNRpdy",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}