workflows/v4 working_ Discord MCP Client.json
{
  "updatedAt": "2025-11-02T07:56:49.000Z",
  "createdAt": "2025-11-01T14:54:17.993Z",
  "id": "ld57LaWCvE6AtXmu",
  "name": "v4 working: Discord MCP Client",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.discordRelatedPrompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert Discord MCP assistant agent. Your role is to help users interact with Discord through MCP tools.\n\n**Capabilities:**\n- Discover available Discord MCP tools by calling `mcp_list_tools` when needed\n- Execute Discord MCP tools directly using the Discord MCP Tool Executer\n- Understand natural language requests and select appropriate tools automatically\n- Handle multi-step workflows by chaining tool calls when necessary\n- Provide clear, helpful responses based on tool execution results\n\n**Workflow:**\n1. When you need to discover available tools, call `mcp_list_tools` first\n2. Analyze the user's request and identify which tool(s) to use\n3. Execute the tool(s) with appropriate parameters\n4. Process the results and provide a helpful response to the user\n5. Always include IDs of discord entities in the output.\n6. If a tool execution fails, analyze the error and retry or suggest alternatives\n\n**Guidelines:**\n- Always check available tools if you're unsure which one to use\n- Read tool descriptions and input schemas carefully before execution\n- Extract parameter values from the user's natural language request\n- Provide clear, conversational responses based on tool results\n- Maintain context across multiple tool calls in a conversation"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        192,
        -224
      ],
      "id": "d1f7b614-cba8-443f-a001-6accbca49757",
      "name": "Discord MCP Agent"
    },
    {
      "parameters": {
        "sessionKey": "={{ $execution.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        128,
        0
      ],
      "id": "673ad69a-76e0-49fc-9b8c-88a3c33d7300",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        208
      ],
      "id": "f8c18458-f7b2-4ba9-a0dd-e896e5ef2639",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"required\": [\"toolName\", \"responseType\"],\n  \"properties\": {\n    \"toolName\": {\n      \"type\": \"string\"\n    },\n    \"responseType\": {\n      \"type\": \"string\",\n      \"enum\": [\"list\", \"single\", \"action\", \"tool_catalog\", \"error\"]\n    },\n    \"data\": {},\n    \"pagination\": {\n      \"type\": \"object\"\n    },\n    \"summary\": {\n      \"type\": \"string\"\n    },\n    \"status\": {\n      \"type\": \"string\"\n    },\n    \"message\": {\n      \"type\": \"string\"\n    },\n    \"error\": {\n      \"type\": \"string\"\n    }\n  },\n  \"additionalProperties\": true\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        528,
        -16
      ],
      "id": "e76348e5-3529-4516-9a6a-a901cba8ae22",
      "name": "Generic MCP Response Parser"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool_name', ``, 'string') }}",
        "toolParameters": "={{ $fromAI('tool_parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        384,
        0
      ],
      "id": "abf0ef96-35c7-4d6f-ad23-010c062e1a6a",
      "name": "Discord MCP Tool Executer",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "**Tool Name:** `mcp_list_tools`\n\n**Purpose:**\nDiscover and return the current live catalog of tools from the connected Discord MCP server.\nThis catalog is the single source of truth for all tool names, descriptions, and input schemas.\n\n**Call When:**\n- You do not yet know which tools exist\n- You need to refresh the tool registry before selection\n- You must check parameter names, types, or schema requirements\n\n**Contract:**\n- **Input:** none\n- **Output:** Array of tools → each object has `{ name, description, input_schema }`\n- Treat this response as authoritative; never invent tools or fields\n\n**Usage Pattern:**\n1. Call `mcp_list_tools` to fetch the live catalog\n2. Review available tools and their `input_schema` for parameter requirements\n3. Select and execute the appropriate tool directly using the Discord MCP Tool Executer\n\n**Notes:**\n- No parameters are required\n- Always use this first when you need to discover available Discord MCP tools\n- Acts as the ground truth registry for the MCP environment\n"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        256,
        0
      ],
      "id": "33a926c2-5528-4d18-a922-6526f7f4e0ed",
      "name": "Discord MCP List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Server"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "discordRelatedPrompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -96,
        -224
      ],
      "id": "8d0da248-5913-427e-9750-9c50685b72e5",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generic MCP Response Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generic MCP Response Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Discord MCP Tool Executer": {
      "ai_tool": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Discord MCP List Tools": {
      "ai_tool": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Discord MCP Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord MCP Agent": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "discordRelatedPrompt": "get 5 last messages in chat with sebastian"
        }
      }
    ]
  },
  "versionId": "d72a2f51-0dba-47b7-93aa-bae0ce1e54f0",
  "versionCounter": 2,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-01T14:54:17.995Z",
      "createdAt": "2025-11-01T14:54:17.995Z",
      "role": "workflow:owner",
      "workflowId": "ld57LaWCvE6AtXmu",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}