n8n-agent/workflows/Discord Smart Agent.json
{
  "updatedAt": "2025-12-07T09:55:32.000Z",
  "createdAt": "2025-11-12T21:20:27.994Z",
  "id": "zBL0JT7t26pK2x95",
  "name": "Discord Smart Agent",
  "description": "",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userPrompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1712,
        112
      ],
      "id": "6d835265-7154-4f78-a7ea-70662bc484b2",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"executionSteps\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"toolName\": {\n            \"type\": \"string\",\n            \"description\": \"The exact MCP tool name to execute (e.g., 'discord_read_channel', 'discord_send_message')\"\n          },\n          \"callParams\": {\n            \"type\": \"object\",\n            \"description\": \"The parameters object for the tool call with all required IDs and values\",\n            \"additionalProperties\": true\n          },\n          \"reasoning\": {\n            \"type\": \"string\",\n            \"description\": \"Brief explanation of why this step is needed\"\n          }\n        },\n        \"required\": [\"toolName\", \"callParams\"],\n        \"additionalProperties\": false\n      },\n      \"description\": \"Execution step array to achieve the user's goal\"\n    },\n    \"guildsUsed\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"string\"\n          },\n          \"name\": {\n            \"type\": \"string\"\n          },\n          \"channels\": {\n            \"type\": \"object\",\n            \"additionalProperties\": {\n              \"type\": \"string\"\n            }\n          }\n        }\n      },\n      \"description\": \"List of guild objects (with channels) that were referenced when providing the answer to user prompt\"\n    },\n    \"contactsUsed\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"string\"\n          },\n          \"username\": {\n            \"type\": \"string\"\n          },\n          \"displayName\": {\n            \"type\": \"string\"\n          }\n        }\n      },\n      \"description\": \"List of contact objects that were referenced when providing the answer to user prompt\"\n    },\n    \"toolsUsed\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\"\n          },\n          \"description\": {\n            \"type\": \"string\"\n          },\n          \"inputSchema\": {\n            \"type\": \"object\"\n          }\n        }\n      },\n      \"description\": \"List of MCP specifications used in the executionStep execution\"\n    },\n    \"answerToUserPrompt\": {\n      \"type\": \"string\",\n      \"description\": \"Your answer to the user prompt after calling search tool & executing discord MCP calls for executionSteps. MUST be proper markdown formatted.\"\n    }\n  },\n  \"required\": [\n    \"executionSteps\",\n    \"guildsUsed\",\n    \"contactsUsed\",\n    \"toolsUsed\",\n    \"answerToUserPrompt\"\n  ],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -880,
        336
      ],
      "id": "6b81163c-5a17-4ed8-adf9-99d524005b4b",
      "name": "Context Optimizer Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Prompt: {{ $json.userPrompt.toJsonString() }}\n\nCurrent Date & Time: {{ $now.toString() }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Your responsibility is to answer the user’s prompt as accurately as possible, using context searching and step executions when required.\n\n- You may call the unified Discord Search Tool as many times as needed to gather full context.\n- This search tool can return contacts, guilds, and tools. Use it to discover all entities required for execution.\n\nEvery executionStep must be fully resolved at generation time. \nYou may not invent IDs, and you may not reference prior steps symbolically. \nYou may only use values explicitly returned by earlier tool calls. \nIf you have not run a tool that returns the needed identifier, do not generate the next step.\n\n\nUse the results of the Discord Search Tool and the Step Executor to populate:\n- executionSteps: exact steps you executed (each with toolName and callParams)\n- guildsUsed: all guilds referenced in those steps\n- contactsUsed: all contacts referenced in those steps\n- toolsUsed: the specific tool specifications and schemas actually used\n\n- Construct a valid sequence of MCP tool calls that adheres to tool schemas.\n- Execute that sequence using the `mcp-sequence-executor` tool.\n- Use both search results and executor results to produce a complete answer for the user prompt: {{ $json.userPrompt.toJsonString() }}.\n\nIMPORTANT: If executionSteps exist, you must run the executor and obtain successful results before answering.\n\n## Your Discord profile:\n{{ $json.myProfile?.toJsonString() ?? 'No profile available' }}\n\nYOU MUST USE THE FOLLOWING KEYWORDS to SEARCH and RETRIEVE TOOL SCHEMAS before constructing executionSteps:\n\n    \"read\": [\"read\", \"fetch\", \"history\", \"logs\", \"pagination\"]\n    \"search\": [\"search\", \"query\", \"find\", \"filter\", \"match\"]\n    \"send\": [\"send\", \"post\", \"reply\", \"write\", \"notify\"]\n    \"edit\": [\"edit\", \"update\", \"modify\"]\n    \"delete\": [\"delete\", \"remove\", \"erase\"]\n    \"attachments\": [\"download\", \"attachments\", \"files\", \"media\"]\n    \"guilds\": [\"guild\", \"server\", \"members\", \"roles\"]\n    \"channels\": [\"channel\", \"list\", \"filter\", \"permissions\"]\n    \"messages\": [\"message\", \"talk\", \"chat\", \"dm\", \"contacts\", \"friends\", \"direct\"]\n    \"user\": [\"user\", \"profile\", \"account\"]\n\nYou must always:\n1. Call the Step Executor tool with the full executionSteps array.\n2. Include the same executionSteps array in your final JSON output.\n\n---\n## Media output rules\n\nWhen your executionSteps read, download, or otherwise reference Discord attachments (images, videos, audio, files), you MUST document them in the `answerToUserPrompt` markdown using this pattern:\n\n### Media\n\n- **Type**: <image|video|audio|file|other>\n- **Source**: <channel name> in <guild name> (Discord)\n- **When**: <timestamp or relative time, if available>\n- **From**: <sender display name or username, if available>\n- **File**: `<filename or identifier>`\n- **Local path**: `<absolute path on disk>` (if provided)\n- **Message link**: [Open in Discord](<message URL>, only if provided)\n\nIf a safe HTTP(S) URL is present in tool results, add:\n\n- **Preview**:\n\n  ![Last media item](<http or https URL>)\n\nNEVER invent URLs or file paths. Only use values that appear in the tool or executor outputs.\n",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1216,
        112
      ],
      "id": "5b3749cc-4b46-4285-988a-1c91cbaf9928",
      "name": "Context Optimizer AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1072,
        544
      ],
      "id": "10bb4322-a169-4562-b993-64d4a576a396",
      "name": "Gemini Model (Context Optimizer)",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -288,
        112
      ],
      "id": "58391c37-e320-4f43-9a54-1e8490d2c1f9",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1488,
        112
      ],
      "id": "da358a6f-1692-4bea-9906-a792eb4b1a32",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "347af2c5-ac8d-49f1-91dc-f0465f61835a",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            },
            {
              "id": "73f80685-faeb-4d12-9e17-0386b0afb330",
              "name": "userPrompt",
              "value": "={{ $('When Executed by Another Workflow').item.json.userPrompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        112
      ],
      "id": "335ad423-7607-4bf4-81fe-bcd611bbe2e9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "description": "This sub-workflow provides a fast, consistent lookup system for Discord data by combining MCP tools, structured normalization, caching, and fuzzy search.\n\nIt supports four entity types:\n\n**contact**\nRepresents a Discord user contact returned by the `discord_list_contacts` MCP tool. The workflow normalizes each contact to include id, username, displayName, lastMessage, and contactType.\n\n**guild**\nRepresents a Discord server returned by the `discord_list_guilds` MCP tool. Each guild is normalized to include id, name, memberCount, and channels.\n\n**tool**\nRepresents an MCP tool exposed by the Discord MCP server. Each item includes the tool name, description and the exact tool call schema.\n\n**self**\nRepresents current user's own discord profile. It's a single item includes the displayName, userId, username etc. This entity ignores the `query` parameter.\n\n### What the workflow does\n\n**1. Retrieval**\nWhen an entity type is requested, the workflow fetches the relevant raw data from the appropriate MCP tool unless valid cached data is already available.\n\n**2. Normalization**\nFetched data is transformed into a predictable format for each entity category, enabling reliable fuzzy matching downstream.\n\n**3. Caching**\nAll data types are cached independently with a TTL to reduce repeated MCP calls and improve tool execution speed.\n\n**4. Query Processing**\nThe workflow accepts a search query along with an entity type, then performs fuzzy matching over the appropriate cached dataset and returns the most relevant matches along with match scores.\n\nUse this tool whenever a workflow needs structured Discord data lookup for contacts, guilds, or discord MCP tools.\n",
        "workflowId": {
          "__rl": true,
          "value": "BB1zsros5LmyJO9N",
          "mode": "list",
          "cachedResultUrl": "/workflow/BB1zsros5LmyJO9N",
          "cachedResultName": "Discord Context Scout"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `Space separated keywords used to search Discord contacts, guilds, or MCP tools. This query is fuzzily matched against the fields relevant to the selected entity type.\n\nexample: \"read messages\"`, 'string') }}",
            "entity": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('entity', `Specifies which dataset to search. Must be one of the following:\n\n**contact**\nSearches through Discord contacts using username, display name, and contact type.\n\n**guild**\nSearches through Discord guilds using server name and channel names.\n\n**tool**\nSearches through MCP tools using tool name and description.`, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "entity",
              "displayName": "entity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1136,
        336
      ],
      "id": "2a714430-22db-48cc-a1cd-084807941f8b",
      "name": "Discord Smart Agent"
    },
    {
      "parameters": {
        "description": "Call this tool with a valid executionSteps array to execute a sequence of MCP calls and get results from Discord or Telegram",
        "workflowId": {
          "__rl": true,
          "value": "uoYXevOl4ePWKeNx",
          "mode": "list",
          "cachedResultUrl": "/workflow/uoYXevOl4ePWKeNx",
          "cachedResultName": "[HELPERS] Discord & Telegram Step Executor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "executionSteps": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('executionSteps', ``, 'json') }}",
            "targetMcp": "DISCORD"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "executionSteps",
              "displayName": "executionSteps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "targetMcp",
              "displayName": "targetMcp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1008,
        336
      ],
      "id": "7c6fcd04-0f99-446f-9981-ac8683830885",
      "name": "Step Executor"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1264,
        336
      ],
      "id": "5461d125-1a56-4ec1-8c6a-d2f11d12b86d",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Optimizer Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Context Optimizer AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Context Optimizer AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model (Context Optimizer)": {
      "ai_languageModel": [
        [
          {
            "node": "Context Optimizer AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Context Optimizer Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Context Optimizer AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Smart Agent": {
      "ai_tool": [
        [
          {
            "node": "Context Optimizer AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Step Executor": {
      "ai_tool": [
        [
          {
            "node": "Context Optimizer AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Context Optimizer AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "userPrompt": "who is metaops"
        }
      }
    ]
  },
  "versionId": "4dcb39b8-add6-45c4-a877-f48f4d2112eb",
  "activeVersionId": null,
  "versionCounter": 273,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2025-11-02T21:22:20.646Z",
      "createdAt": "2025-11-02T21:22:20.646Z",
      "id": "95mwWdOxtdnkFLhS",
      "name": "Discord"
    },
    {
      "updatedAt": "2025-11-02T21:22:14.342Z",
      "createdAt": "2025-11-02T21:22:14.342Z",
      "id": "w6FOnYOvODOXV9os",
      "name": "MCP"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-11-12T21:20:27.997Z",
      "createdAt": "2025-11-12T21:20:27.997Z",
      "role": "workflow:owner",
      "workflowId": "zBL0JT7t26pK2x95",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}