n8n-agent/workflows/Discord Smart Agent.json
{
  "updatedAt": "2025-12-08T19:06:21.188Z",
  "createdAt": "2025-12-08T18:55:41.313Z",
  "id": "BFbTKhLH4c3es8j3",
  "name": "Discord Smart Agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userPrompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1712,
        112
      ],
      "id": "6d835265-7154-4f78-a7ea-70662bc484b2",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"executionSteps\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"toolName\": {\n            \"type\": \"string\",\n            \"description\": \"The exact MCP tool name to execute (e.g., 'discord_read_channel', 'discord_send_message')\"\n          },\n          \"callParams\": {\n            \"type\": \"object\",\n            \"description\": \"The parameters object for the tool call with all required IDs and values\",\n            \"additionalProperties\": true\n          },\n          \"reasoning\": {\n            \"type\": \"string\",\n            \"description\": \"Brief explanation of why this step is needed\"\n          }\n        },\n        \"required\": [\"toolName\", \"callParams\"],\n        \"additionalProperties\": false\n      },\n      \"description\": \"Execution step array to achieve the user's goal\"\n    },\n    \"guildsUsed\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"string\"\n          },\n          \"name\": {\n            \"type\": \"string\"\n          },\n          \"channels\": {\n            \"type\": \"object\",\n            \"additionalProperties\": {\n              \"type\": \"string\"\n            }\n          }\n        }\n      },\n      \"description\": \"List of guild objects (with channels) that were referenced when providing the answer to user prompt\"\n    },\n    \"contactsUsed\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"string\"\n          },\n          \"username\": {\n            \"type\": \"string\"\n          },\n          \"displayName\": {\n            \"type\": \"string\"\n          }\n        }\n      },\n      \"description\": \"List of contact objects that were referenced when providing the answer to user prompt\"\n    },\n    \"toolsUsed\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\"\n          },\n          \"description\": {\n            \"type\": \"string\"\n          },\n          \"inputSchema\": {\n            \"type\": \"object\"\n          }\n        }\n      },\n      \"description\": \"List of MCP specifications used in the executionStep execution\"\n    },\n    \"answerToUserPrompt\": {\n      \"type\": \"string\",\n      \"description\": \"Your answer to the user prompt after calling search tool & executing discord MCP calls for executionSteps. MUST be proper markdown formatted.\"\n    }\n  },\n  \"required\": [\n    \"executionSteps\",\n    \"guildsUsed\",\n    \"contactsUsed\",\n    \"toolsUsed\",\n    \"answerToUserPrompt\"\n  ],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -880,
        336
      ],
      "id": "6b81163c-5a17-4ed8-adf9-99d524005b4b",
      "name": "Context Optimizer Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Prompt: {{ $json.userPrompt.toJsonString() }}\n\nCurrent Date & Time: {{ $now.toString() }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=⚠️ **CRITICAL OUTPUT FORMAT - READ FIRST** ⚠️\n\nWhen you finish, output ONLY this exact JSON structure (copy this template and fill it in):\n\nSTART OF REQUIRED OUTPUT (copy this structure):\n{\n  \"executionSteps\": [],\n  \"guildsUsed\": [],\n  \"contactsUsed\": [],\n  \"toolsUsed\": [],\n  \"answerToUserPrompt\": \"\"\n}\nEND OF REQUIRED OUTPUT\n\n**CRITICAL RULES:**\n1. Output ONLY the JSON object above (filled in with your data)\n2. Do NOT add any wrapper like `{\"output\": {...}}`\n3. Do NOT add markdown code blocks\n4. Do NOT add any text before or after the JSON\n5. Start your response with `{` and end with `}`\n\nThe structured output parser expects your fields directly at the root. If you wrap them in `{\"output\": {...}}`, the parser will fail.\n\n---\n\n## Your responsibility is to answer the user's prompt as accurately as possible, using context searching and step executions when required.\n\n## Two Types of Tools - Understand the Difference\n\n**1. Discord Context Scout (Discovery Tool)**\n- Use this to DISCOVER contacts, guilds, and available MCP tools.\n- This is ONLY for searching/looking up information - NOT for execution.\n- Do NOT put \"Discord Context Scout\" or \"Discord_Smart_Agent\" in executionSteps.\n- This tool returns: contacts (with IDs), guilds (with IDs), and available Discord MCP tools (with schemas).\n\n**2. Discord MCP Tools (Execution Tools)**\n- These are actual Discord operations like `discord_read_channel`, `discord_send_message`, `discord_list_channels`, etc.\n- Tool names start with \"discord_\" (e.g., `discord_read_channel`, `discord_send_message`).\n- These go IN executionSteps.\n- Use the Context Scout with `entity: \"tool\"` to discover which MCP tools are available and their schemas.\n\n## Execution Flow (Follow This Order)\n\n1. **Call the Discord Context Scout** (as many times as needed) to discover required entities.\n   - Search for contacts, guilds, or tools using appropriate `entity` values.\n   - Extract IDs and tool schemas from scout results.\n   - Remember: Scout results are for DISCOVERY only, not execution.\n\n2. **Construct executionSteps** with actual Discord MCP tools.\n   - Each step's `toolName` MUST be a Discord MCP tool name (starts with \"discord_\").\n   - Examples: `discord_read_channel`, `discord_send_message`, `discord_list_channels`, `discord_list_messages`.\n   - Use IDs from scout results (contact IDs, guild IDs, channel IDs) in `callParams`.\n   - Every executionStep must be fully resolved at generation time.\n   - You may not invent IDs - only use values from scout results.\n   - If you need to discover tool schemas, use scout with `entity: \"tool\"` first.\n\n3. **Call the Step Executor tool** with your executionSteps array.\n   - You MUST call the Step Executor tool if you create any `executionSteps`.\n   - Pass the complete executionSteps array and wait for execution results.\n   - The executor will actually run your Discord MCP tools and return data.\n\n4. **Use executor results** to produce your complete answer.\n   - Use execution results from Step Executor (not just scout results) to answer the user.\n   - Populate:\n     - executionSteps: the exact steps you executed (each with toolName and callParams). Use empty array `[]` if no execution was needed.\n     - guildsUsed: all guilds referenced in those steps. Use empty array `[]` if none.\n     - contactsUsed: all contacts referenced in those steps (from scout results or execution). Use empty array `[]` if none.\n     - toolsUsed: the specific Discord MCP tool specifications actually used in executionSteps. Use empty array `[]` if no MCP tools were executed.\n   - Produce the final answer based on actual execution results (or scout results if no execution was needed).\n\n## Critical Rules\n\n**1. executionSteps must contain Discord MCP tools, NOT the Context Scout.**\n   - WRONG: `toolName: \"Discord_Smart_Agent\"` or `toolName: \"Discord Context Scout\"`\n   - CORRECT: `toolName: \"discord_read_channel\"` or `toolName: \"discord_send_message\"`\n\n**2. You MUST call Step Executor after creating executionSteps.**\n   - You cannot answer based on planned steps or scout results alone.\n   - Wait for Step Executor to return actual execution results before finalizing your answer.\n   - Exception: If executionSteps is empty `[]` (discovery-only query), you can skip Step Executor.\n\n**3. If the user prompt only requires discovery (e.g., \"who is Sano?\"), you may:**\n   - Use scout to find the contact.\n   - Answer directly from scout results.\n   - Set executionSteps to empty array `[]`.\n   - Set toolsUsed to empty array `[]` (since no MCP tools were executed).\n   - Populate contactsUsed with contacts found via scout.\n\n## Output Format Requirements\n\nYour output MUST be valid JSON matching this exact structure. All fields are required and MUST be at the TOP LEVEL (not nested under \"output\" or any other key):\n\n```json\n{\n  \"executionSteps\": [],\n  \"guildsUsed\": [],\n  \"contactsUsed\": [],\n  \"toolsUsed\": [],\n  \"answerToUserPrompt\": \"Your answer here\"\n}\n```\n\nField specifications:\n- `executionSteps`: Array of objects with `toolName`, `callParams`, and optionally `reasoning`. Can be empty array `[]` if no execution needed.\n- `guildsUsed`: Array of guild objects with `id` (string), `name` (string), `channels` (object). Can be empty array `[]`.\n- `contactsUsed`: Array of contact objects with `id` (string or number), `username` (optional string), `displayName` (optional string). Can be empty array `[]`.\n- `toolsUsed`: Array of MCP tool objects with `name`, `description`, `inputSchema`. Can be empty array `[]`.\n- `answerToUserPrompt`: String with markdown-formatted answer.\n\n**CRITICAL JSON OUTPUT RULES:**\n\n1. **NO WRAPPING:** Output the JSON object directly. Do NOT wrap it in `{\"output\": {...}}` or any other wrapper.\n2. **NO MARKDOWN CODE BLOCKS:** Do NOT wrap the JSON in ```json or ``` code blocks.\n3. **NO EXPLANATORY TEXT:** Do NOT include any text before or after the JSON object like \"Here is the JSON:\" or similar.\n4. **STRICT COMPLIANCE:** The JSON must match the schema exactly. No extra fields (schema has `additionalProperties: false`).\n5. **TOP LEVEL ONLY:** All required fields (`executionSteps`, `guildsUsed`, `contactsUsed`, `toolsUsed`, `answerToUserPrompt`) must be at the root level of the JSON object.\n\n**Example of CORRECT output:**\n```\n{\"executionSteps\":[],\"guildsUsed\":[],\"contactsUsed\":[{\"id\":\"123\",\"username\":\"user\",\"displayName\":\"User\"}],\"toolsUsed\":[],\"answerToUserPrompt\":\"Answer here\"}\n```\n\n**Example of WRONG output (DO NOT DO THIS):**\n```\n{\"output\": {\"executionSteps\":[],...}}\n```\n```json\n{\"executionSteps\":[],...}\n```\n\n## Your Discord profile:\n{{ $json.myProfile?.toJsonString() ?? 'No profile available' }}\n\nYOU MUST USE THE FOLLOWING KEYWORDS to SEARCH and RETRIEVE TOOL SCHEMAS before constructing executionSteps:\n\n    \"read\": [\"read\", \"fetch\", \"history\", \"logs\", \"pagination\"]\n    \"search\": [\"search\", \"query\", \"find\", \"filter\", \"match\"]\n    \"send\": [\"send\", \"post\", \"reply\", \"write\", \"notify\"]\n    \"edit\": [\"edit\", \"update\", \"modify\"]\n    \"delete\": [\"delete\", \"remove\", \"erase\"]\n    \"attachments\": [\"download\", \"attachments\", \"files\", \"media\"]\n    \"guilds\": [\"guild\", \"server\", \"members\", \"roles\"]\n    \"channels\": [\"channel\", \"list\", \"filter\", \"permissions\"]\n    \"messages\": [\"message\", \"talk\", \"chat\", \"dm\", \"contacts\", \"friends\", \"direct\"]\n    \"user\": [\"user\", \"profile\", \"account\"]\n\n---\n## Media output rules\n\nWhen your executionSteps read, download, or otherwise reference Discord attachments (images, videos, audio, files), you MUST document them in the `answerToUserPrompt` markdown using this pattern:\n\n### Media\n\n- **Type**: <image|video|audio|file|other>\n- **Source**: <channel name> in <guild name> (Discord)\n- **When**: <timestamp or relative time, if available>\n- **From**: <sender display name or username, if available>\n- **File**: `<filename or identifier>`\n- **Local path**: `<absolute path on disk>` (if provided)\n- **Message link**: [Open in Discord](<message URL>, only if provided)\n\nIf a safe HTTP(S) URL is present in tool results, add:\n\n- **Preview**:\n\n  ![Last media item](<http or https URL>)\n\nNEVER invent URLs or file paths. Only use values that appear in the tool or executor outputs.\n\n---\n\n⚠️ **FINAL REMINDER - YOUR OUTPUT MUST BE:** ⚠️\n\n{\"executionSteps\":[...],\"guildsUsed\":[...],\"contactsUsed\":[...],\"toolsUsed\":[...],\"answerToUserPrompt\":\"...\"}\n\nThat's it. No wrapper. No `{\"output\":` prefix. No markdown. No explanation. Just the JSON object above, filled in with your actual data.\n\nThe parser will fail if you wrap it. Output the JSON fields directly at the root level.\n",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1216,
        112
      ],
      "id": "5b3749cc-4b46-4285-988a-1c91cbaf9928",
      "name": "Context Optimizer AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1072,
        544
      ],
      "id": "10bb4322-a169-4562-b993-64d4a576a396",
      "name": "Gemini Model (Context Optimizer)",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -288,
        112
      ],
      "id": "58391c37-e320-4f43-9a54-1e8490d2c1f9",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1488,
        112
      ],
      "id": "da358a6f-1692-4bea-9906-a792eb4b1a32",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "347af2c5-ac8d-49f1-91dc-f0465f61835a",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            },
            {
              "id": "73f80685-faeb-4d12-9e17-0386b0afb330",
              "name": "userPrompt",
              "value": "={{ $('When Executed by Another Workflow').item.json.userPrompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        112
      ],
      "id": "335ad423-7607-4bf4-81fe-bcd611bbe2e9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "description": "This sub-workflow provides a fast, consistent lookup system for Discord data by combining MCP tools, structured normalization, caching, and fuzzy search.\n\nIt supports four entity types:\n\n**contact**\nSearches Discord contacts using RAG (semantic search) for better matching on names, usernames, and context. Uses the `paragon-os-contacts` collection internally. The workflow normalizes each contact to include id, username, displayName, lastMessage, and contactType.\n\n**guild**\nRepresents a Discord server returned by the `discord_list_guilds` MCP tool. Each guild is normalized to include id, name, memberCount, and channels.\n\n**tool**\nRepresents an MCP tool exposed by the Discord MCP server. Each item includes the tool name, description and the exact tool call schema.\n\n**self**\nRepresents current user's own discord profile. It's a single item includes the displayName, userId, username etc. This entity ignores the `query` parameter.\n\n### What the workflow does\n\n**1. Retrieval**\nWhen an entity type is requested, the workflow fetches the relevant raw data from the appropriate MCP tool unless valid cached data is already available.\n\n**2. Normalization**\nFetched data is transformed into a predictable format for each entity category, enabling reliable fuzzy matching downstream.\n\n**3. Caching**\nAll data types are cached independently with a TTL to reduce repeated MCP calls and improve tool execution speed.\n\n**4. Query Processing**\nThe workflow accepts a search query along with an entity type, then performs RAG-based semantic search for contacts or fuzzy matching for other entity types, returning the most relevant matches along with match scores.\n\n**5. RAG Operations**\nFor RAG-based entity types (contact), the workflow uses semantic search and can store/retrieve information from vector collections.\n\nUse this tool whenever a workflow needs structured Discord data lookup for contacts, guilds, or discord MCP tools.\n",
        "workflowId": {
          "__rl": true,
          "value": "se6HJcNvN5iki6D3",
          "mode": "list",
          "cachedResultUrl": "/workflow/se6HJcNvN5iki6D3",
          "cachedResultName": "Discord Context Scout"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `Space separated keywords used to search Discord contacts, guilds, or MCP tools. This query is fuzzily matched against the fields relevant to the selected entity type.\n\nexample: \"read messages\"`, 'string') }}",
            "entity": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('entity', `Specifies which dataset to search. Must be one of the following:\n\n**contact**\nSearches through Discord contacts using username, display name, and contact type.\n\n**guild**\nSearches through Discord guilds using server name and channel names.\n\n**tool**\nSearches through MCP tools using tool name and description.`, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "entity",
              "displayName": "entity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1136,
        336
      ],
      "id": "2a714430-22db-48cc-a1cd-084807941f8b",
      "name": "Discord Smart Agent"
    },
    {
      "parameters": {
        "description": "Call this tool with a valid executionSteps array to execute a sequence of MCP calls and get results from Discord or Telegram",
        "workflowId": {
          "__rl": true,
          "value": "F8FXNTM2Nkmn6HDY",
          "mode": "list",
          "cachedResultUrl": "/workflow/F8FXNTM2Nkmn6HDY",
          "cachedResultName": "[HELPERS] Discord & Telegram Step Executor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "executionSteps": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('executionSteps', ``, 'json') }}",
            "targetMcp": "DISCORD"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "executionSteps",
              "displayName": "executionSteps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "targetMcp",
              "displayName": "targetMcp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1008,
        336
      ],
      "id": "7c6fcd04-0f99-446f-9981-ac8683830885",
      "name": "Step Executor"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1264,
        336
      ],
      "id": "5461d125-1a56-4ec1-8c6a-d2f11d12b86d",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Optimizer Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Context Optimizer AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Context Optimizer AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model (Context Optimizer)": {
      "ai_languageModel": [
        [
          {
            "node": "Context Optimizer AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Context Optimizer Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Context Optimizer AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Smart Agent": {
      "ai_tool": [
        [
          {
            "node": "Context Optimizer AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Step Executor": {
      "ai_tool": [
        [
          {
            "node": "Context Optimizer AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Context Optimizer AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "f0bf3a19-022a-4cee-afa0-02ac19e1dd17",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-08T18:55:41.314Z",
      "createdAt": "2025-12-08T18:55:41.314Z",
      "role": "workflow:owner",
      "workflowId": "BFbTKhLH4c3es8j3",
      "projectId": "GEUEn6ArNROzJ5FY"
    }
  ],
  "activeVersion": null,
  "tags": []
}