n8n-agent/workflows/Discord Context Scout.json
{
  "updatedAt": "2025-11-30T20:56:38.000Z",
  "createdAt": "2025-11-30T05:19:38.311Z",
  "id": "BB1zsros5LmyJO9N",
  "name": "Discord Context Scout",
  "description": "This workflow provides a fast, consistent lookup system for Discord data by combining MCP tools, structured normalization, caching, and fuzzy search.\n\nIt supports four entity types:\n\n**contact**\nRepresents a Discord user contact returned by the `discord_list_contacts` MCP tool. The workflow normalizes each contact to include id, username, displayName, lastMessage, and contactType.\n\n**guild**\nRepresents a Discord server returned by the `discord_list_guilds` MCP tool. Each guild is normalized to include id, name, memberCount, and channels.\n\n**tool**\nRepresents an MCP tool exposed by the Discord MCP server. Each item includes the tool name, description and the exact tool call schema.\n\n**self**\nRepresents current user's own discord profile. It's a single item includes the displayName, userId, username etc. This entity ignores the `query` parameter.\n\n### What the workflow does\n\n**1. Retrieval**\nWhen an entity type is requested, the workflow fetches the relevant raw data from the appropriate MCP tool unless valid cached data is already available.\n\n**2. Normalization**\nFetched data is transformed into a predictable format for each entity category, enabling reliable fuzzy matching downstream.\n\n**3. Caching**\nAll data types are cached independently with a TTL to reduce repeated MCP calls and improve tool execution speed.\n\n**4. Query Processing**\nThe workflow accepts a search query along with an entity type, then performs fuzzy matching over the appropriate cached dataset and returns the most relevant matches along with match scores.\n\nUse this tool whenever a workflow needs structured Discord data lookup for contacts, guilds, or discord MCP tools.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=discord_list_contacts",
        "toolParameters": "={{ {\n    limit: 100\n} }}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -32,
        32
      ],
      "id": "49f42eeb-cf59-429c-b7a0-ea5ff2788d15",
      "name": "List Contacts",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Generic helper function (inline)\nfunction simplifyMCPData(input, dataKey, mcpDataKey, mapper, errorMsg) {\n  let rawData = [];\n  try {\n    if (input.result?.content?.[0]) {\n      const parsed = JSON.parse(input.result.content[0].text);\n      rawData = parsed?.[mcpDataKey] || [];\n    } else if (input[dataKey]) {\n      rawData = Array.isArray(input[dataKey]) ? input[dataKey] : [];\n    } else if (input.output?.[dataKey]) {\n      rawData = Array.isArray(input.output[dataKey]) ? input.output[dataKey] : [];\n    }\n    \n    if (!Array.isArray(rawData) || rawData.length === 0) {\n      return { [dataKey]: [], error: errorMsg, shouldFetch: true };\n    }\n    \n    return { [dataKey]: rawData.map(mapper) };\n  } catch (error) {\n    return { [dataKey]: [], error: error.message, shouldFetch: true };\n  }\n}\n\n// Use it\nreturn simplifyMCPData(\n  input,\n  'contacts',\n  'contacts',\n  (c) => ({\n    id: c.id,\n    username: c.tag,\n    displayName: c.displayName,\n    lastMessage: c.lastMessageAtRelative,\n    contactType: c.type\n  }),\n  'No valid contacts found'\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        32
      ],
      "id": "67d70d0a-a304-4e07-9ee6-fe5f12bc2851",
      "name": "Contact Data Simplifier"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HTXqB729RFNozetP",
          "mode": "list",
          "cachedResultUrl": "/workflow/HTXqB729RFNozetP",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cacheKey": "discordContacts",
            "trueToWrite": false,
            "writeTTLms": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -256,
        -48
      ],
      "id": "0fd2182f-489d-4ade-a72e-4400361b5aa8",
      "name": "Check Contact Cache",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HTXqB729RFNozetP",
          "mode": "list",
          "cachedResultUrl": "/workflow/HTXqB729RFNozetP",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "writeTTLms": "={{ 6 * 60 * 60 * 1000 }}",
            "cacheKey": "discordContacts",
            "writeValue": "={{ {discordContacts: $json.contacts} }}",
            "trueToWrite": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        416,
        32
      ],
      "id": "ed60c4c3-7cf0-4570-ae1a-31c569aac66a",
      "name": "Update Contact Cache"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        -48
      ],
      "id": "a954205b-95e9-46d2-93c3-2a23e01cf4f7",
      "name": "All Contacts"
    },
    {
      "parameters": {
        "query": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "arrayField": "discordContacts",
        "searchKeys": "username\ndisplayName\ncontactType",
        "matchQuality": 60,
        "limit": 10,
        "advancedOptions": {
          "includeScore": true,
          "matchIndividualWords": false
        }
      },
      "type": "n8n-nodes-paragon-os.fuzzySearch",
      "typeVersion": 1,
      "position": [
        864,
        -48
      ],
      "id": "c420fcff-4d74-44ed-a87e-a12dfadf7917",
      "name": "FuzzySearch"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "entity"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        384
      ],
      "id": "2ffc6c7b-37a1-4c90-99a0-e90bc4e23be6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HTXqB729RFNozetP",
          "mode": "list",
          "cachedResultUrl": "/workflow/HTXqB729RFNozetP",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cacheKey": "discordGuilds",
            "trueToWrite": false,
            "writeTTLms": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -256,
        240
      ],
      "id": "c6d58466-937e-49a9-8cb3-8b593699e338",
      "name": "Check Guild Cache",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HTXqB729RFNozetP",
          "mode": "list",
          "cachedResultUrl": "/workflow/HTXqB729RFNozetP",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "writeTTLms": "={{ 6 * 60 * 60 * 1000 }}",
            "cacheKey": "discordGuilds",
            "writeValue": "={{ {serversOrGuilds: $json.guilds} }}",
            "trueToWrite": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        416,
        320
      ],
      "id": "e0ee4ba5-8d58-47d4-a79d-64e2d8fd2395",
      "name": "Update Guild Cache"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Generic helper function (inline)\nfunction simplifyMCPData(input, dataKey, mcpDataKey, mapper, errorMsg) {\n  let rawData = [];\n  try {\n    if (input.result?.content?.[0]) {\n      const parsed = JSON.parse(input.result.content[0].text);\n      rawData = parsed?.[mcpDataKey] || [];\n    } else if (input[dataKey]) {\n      rawData = Array.isArray(input[dataKey]) ? input[dataKey] : [];\n    } else if (input.output?.[dataKey]) {\n      rawData = Array.isArray(input.output[dataKey]) ? input.output[dataKey] : [];\n    }\n    \n    if (!Array.isArray(rawData) || rawData.length === 0) {\n      return { [dataKey]: [], error: errorMsg, shouldFetch: true };\n    }\n    \n    return { [dataKey]: rawData.map(mapper) };\n  } catch (error) {\n    return { [dataKey]: [], error: error.message, shouldFetch: true };\n  }\n}\n\n// Use it\nreturn simplifyMCPData(\n  input,\n  'guilds',\n  'guilds',\n  (g) => ({\n    id: g.id,\n    name: g.name,\n    members: g.memberCount,\n    channels: g.channels ?? []\n  }),\n  'No valid guilds found'\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        320
      ],
      "id": "0f36e079-1775-4029-a013-ed69e5cb9f63",
      "name": "Guild Data Simplifier"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=discord_list_guilds",
        "toolParameters": "={}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -32,
        320
      ],
      "id": "25c8a50c-4f24-448b-a654-6210297dc642",
      "name": "List Guilds/Servers",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        240
      ],
      "id": "fdda22de-063d-4083-8ee8-6d830763d37f",
      "name": "All Guilds"
    },
    {
      "parameters": {
        "query": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "arrayField": "serversOrGuilds",
        "searchKeys": "name\nchannels",
        "matchQuality": 50,
        "limit": 10,
        "advancedOptions": {
          "includeScore": true,
          "matchIndividualWords": false
        }
      },
      "type": "n8n-nodes-paragon-os.fuzzySearch",
      "typeVersion": 1,
      "position": [
        864,
        240
      ],
      "id": "421b73f4-6b16-4116-8507-177a18722bbe",
      "name": "FuzzySearch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.entity }}",
                    "rightValue": "contact",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6dc18cbc-3b80-4fb6-8cc1-20e75425f01e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CONTACT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "484a0437-7044-4f46-9754-94fe811a0e4c",
                    "leftValue": "={{ $json.entity }}",
                    "rightValue": "guild",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GUILD"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d81ad9c6-548b-4a69-833f-7a7ba4dc3061",
                    "leftValue": "={{ $json.entity }}",
                    "rightValue": "tool",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TOOL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c99297b4-a4d9-4ac3-8393-84b5bc2e1406",
                    "leftValue": "={{ $json.entity }}",
                    "rightValue": "self",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SELF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -480,
        352
      ],
      "id": "27fd1bbc-2da7-4eb7-88a4-5c333b75c157",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -32,
        608
      ],
      "id": "db22d498-c391-4a79-b8df-1b3b2e4bd299",
      "name": "List MCP Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HTXqB729RFNozetP",
          "mode": "list",
          "cachedResultUrl": "/workflow/HTXqB729RFNozetP",
          "cachedResultName": "Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cacheKey": "discordTools",
            "trueToWrite": false,
            "writeTTLms": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -256,
        528
      ],
      "id": "2bd6e739-4739-4201-a490-226aea6b753b",
      "name": "Check Tool Cache",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Validate cache result - check if tools exist and is valid\nif (!input || !input.tools || (Array.isArray(input.tools) && input.tools.length === 0) || (typeof input.tools === 'object' && Object.keys(input.tools).length === 0)) {\n  // Invalid/empty cache - return error to trigger fetch\n  return {\n    error: 'Invalid or empty cache result',\n    shouldFetch: true,\n    output: { tools: [] }\n  };\n}\n\nreturn {\n  output: {\n    tools: input.tools\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        608
      ],
      "id": "3350d759-0619-4387-a945-0cd1b868c7ef",
      "name": "Tool Data Simplifier"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HTXqB729RFNozetP",
          "mode": "list",
          "cachedResultUrl": "/workflow/HTXqB729RFNozetP",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "writeTTLms": "={{ 6 * 60 * 60 * 1000 }}",
            "cacheKey": "discordTools",
            "writeValue": "={{ $json.output }}",
            "trueToWrite": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        416,
        608
      ],
      "id": "f8a3598f-bafe-4e82-8886-b340371730ea",
      "name": "Update Tool Cache"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        528
      ],
      "id": "77956b1c-6e30-4e9d-9d8a-606969e6e529",
      "name": "All Tools"
    },
    {
      "parameters": {
        "query": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "arrayField": "tools",
        "searchKeys": "name\ndescription",
        "matchQuality": 50,
        "limit": 10,
        "advancedOptions": {
          "includeScore": true,
          "matchIndividualWords": false
        }
      },
      "type": "n8n-nodes-paragon-os.fuzzySearch",
      "typeVersion": 1,
      "position": [
        864,
        528
      ],
      "id": "7ab8e2fc-7718-4857-83fe-b8ca9bcfa476",
      "name": "FuzzySearch2"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1296,
        352
      ],
      "id": "303bab70-9898-4771-a6a0-99ec7bd2e984",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=discord_get_user_info",
        "toolParameters": "={}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        192,
        912
      ],
      "id": "2b9768ed-6437-444f-9935-4ff3245484d6",
      "name": "Get My Profile",
      "credentials": {
        "mcpClientApi": {
          "id": "ZFofx3k2ze1wsifx",
          "name": "Discord MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n    myProfile: JSON.parse($input.first().json.result.content[0].text)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        912
      ],
      "id": "eecc46a9-03ff-4c0c-9697-05b4c5d0de87",
      "name": "User Profile Simplifier"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HTXqB729RFNozetP",
          "mode": "list",
          "cachedResultUrl": "/workflow/HTXqB729RFNozetP",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cacheKey": "discordProfile",
            "trueToWrite": false,
            "writeTTLms": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -32,
        848
      ],
      "id": "4d6fa135-798e-474f-a5dd-5cb2bcae117b",
      "name": "Check Profile Cache",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HTXqB729RFNozetP",
          "mode": "list",
          "cachedResultUrl": "/workflow/HTXqB729RFNozetP",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "writeTTLms": "={{ 6 * 60 * 60 * 1000 }}",
            "cacheKey": "discordProfile",
            "writeValue": "={{ {myProfile: $json.myProfile} }}",
            "trueToWrite": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        848,
        912
      ],
      "id": "77358c38-d7e5-466e-b734-b39ada9be8e3",
      "name": "Update Profile Cache"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1072,
        848
      ],
      "id": "bc3c3555-718e-41b4-a142-3029b720fdc3",
      "name": "My Profile"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28248755-7525-42a6-93f8-f1b7d47718af",
              "name": "myProfile.id",
              "value": "={{ $json.myProfile.user.id }}",
              "type": "string"
            },
            {
              "id": "fd0027ad-00d3-49a2-ae08-15c9596be04d",
              "name": "myProfile.username",
              "value": "={{ $json.myProfile.user.username }}",
              "type": "string"
            },
            {
              "id": "14d22bc3-4531-434a-a92f-daa7a5328300",
              "name": "myProfile.discriminator",
              "value": "={{ $json.myProfile.user.discriminator }}",
              "type": "string"
            },
            {
              "id": "10c16ef6-25a1-4a39-bc31-f8cb1fd7e383",
              "name": "myProfile.tag",
              "value": "={{ $json.myProfile.user.tag }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        912
      ],
      "id": "70a5bc0a-dad6-4ce9-b26a-e90e3c67333d",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "List Contacts": {
      "main": [
        [
          {
            "node": "Contact Data Simplifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Data Simplifier": {
      "main": [
        [
          {
            "node": "Update Contact Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Contact Cache": {
      "main": [
        [
          {
            "node": "All Contacts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact Cache": {
      "main": [
        [
          {
            "node": "All Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Contacts": {
      "main": [
        [
          {
            "node": "FuzzySearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FuzzySearch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Guild Cache": {
      "main": [
        [
          {
            "node": "All Guilds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Guilds/Servers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Guild Cache": {
      "main": [
        [
          {
            "node": "All Guilds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guild Data Simplifier": {
      "main": [
        [
          {
            "node": "Update Guild Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Guilds/Servers": {
      "main": [
        [
          {
            "node": "Guild Data Simplifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Guilds": {
      "main": [
        [
          {
            "node": "FuzzySearch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Check Contact Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Guild Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Tool Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Profile Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List MCP Tools": {
      "main": [
        [
          {
            "node": "Tool Data Simplifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tool Cache": {
      "main": [
        [
          {
            "node": "All Tools",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List MCP Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Data Simplifier": {
      "main": [
        [
          {
            "node": "Update Tool Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tool Cache": {
      "main": [
        [
          {
            "node": "All Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Tools": {
      "main": [
        [
          {
            "node": "FuzzySearch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FuzzySearch1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "FuzzySearch2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get My Profile": {
      "main": [
        [
          {
            "node": "User Profile Simplifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Profile Simplifier": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Profile Cache": {
      "main": [
        [
          {
            "node": "My Profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get My Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Profile Cache": {
      "main": [
        [
          {
            "node": "My Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "My Profile": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update Profile Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "entity": "self"
        }
      }
    ]
  },
  "versionId": "62a86a49-ad3c-4f7d-b184-bc48fafd1a73",
  "versionCounter": 54,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-30T05:19:38.315Z",
      "createdAt": "2025-11-30T05:19:38.315Z",
      "role": "workflow:owner",
      "workflowId": "BB1zsros5LmyJO9N",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}