n8n-agent/workflows/Discord Context Scout.json
{
  "updatedAt": "2025-12-07T09:57:51.000Z",
  "createdAt": "2025-11-30T05:19:38.311Z",
  "id": "BB1zsros5LmyJO9N",
  "name": "Discord Context Scout",
  "description": "This workflow provides a fast, consistent lookup system for Discord data by combining MCP tools, structured normalization, caching, and fuzzy search.\n\nIt supports four entity types:\n\n**contact**\nSearches Discord contacts using RAG (semantic search) for better matching on names, usernames, and context. Uses the `paragon-os-contacts` collection internally.\n\n**guild**\nRepresents a Discord server returned by the `discord_list_guilds` MCP tool. Each guild is normalized to include id, name, memberCount, and channels.\n\n**tool**\nRepresents an MCP tool exposed by the Discord MCP server. Each item includes the tool name, description and the exact tool call schema.\n\n**self**\nRepresents current user's own discord profile. It's a single item includes the displayName, userId, username etc. This entity ignores the `query` parameter.\n\n### What the workflow does\n\n**1. Retrieval**\nWhen an entity type is requested, the workflow fetches the relevant raw data from the appropriate MCP tool unless valid cached data is already available.\n\n**2. Normalization**\nFetched data is transformed into a predictable format for each entity category, enabling reliable fuzzy matching downstream.\n\n**3. Caching**\nAll data types are cached independently with a TTL to reduce repeated MCP calls and improve tool execution speed.\n\n**4. Query Processing**\nThe workflow accepts a search query along with an entity type, then performs fuzzy matching over the appropriate cached dataset and returns the most relevant matches along with match scores.\n\n**5. RAG Operations**\nFor RAG-based entity types (contact), the workflow uses semantic search and can store/retrieve information from vector collections.\n\nUse this tool whenever a workflow needs structured Discord data lookup for contacts, guilds, or discord MCP tools.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "entity"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        304,
        400
      ],
      "id": "trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Discord Platform Configuration\nconst DISCORD_CONFIG = {\n  platform: \"DISCORD\",\n  mcpCredentialId: \"ZFofx3k2ze1wsifx\",\n  cacheKeyPrefix: \"discord\",\n  defaultTTL: 6 * 60 * 60 * 1000, // 6 hours\n  \n  entities: {\n    \"contact\": {\n      cacheKey: \"discordContacts\",\n      fetchWorkflowId: \"DiscordContactFetch\",\n      mcpTool: {\n        name: \"discord_list_contacts\",\n        parameters: { limit: 100 },\n        mcpDataKey: \"contacts\"\n      },\n      mapper: \"(c) => ({ id: c.id, username: c.tag, displayName: c.displayName, lastMessage: c.lastMessageAtRelative, contactType: c.type, platform: 'DISCORD' })\",\n      dataKey: \"contacts\",\n      searchType: \"rag\",\n      ragConfig: {\n        collectionId: \"paragon-os-contacts\",\n        autoIngest: true\n      },\n      requiresRAGStatusCheck: true\n    },\n    \"guild\": {\n      cacheKey: \"discordGuilds\",\n      fetchWorkflowId: \"DiscordGuildFetch\",\n      mcpTool: {\n        name: \"discord_list_guilds\",\n        parameters: {},\n        mcpDataKey: \"guilds\"\n      },\n      mapper: \"(g) => ({ id: g.id, name: g.name, members: g.memberCount, channels: g.channels ?? [] })\",\n      dataKey: \"guilds\",\n      searchType: \"fuzzy\",\n      fuzzyConfig: {\n        searchKeys: [\"name\", \"channels\"],\n        matchQuality: 50,\n        limit: 10\n      }\n    },\n    \"tool\": {\n      cacheKey: \"discordTools\",\n      fetchWorkflowId: \"DiscordToolFetch\",\n      mapper: \"(t) => t\",\n      dataKey: \"tools\",\n      searchType: \"fuzzy\",\n      fuzzyConfig: {\n        searchKeys: [\"name\", \"description\"],\n        matchQuality: 50,\n        limit: 10\n      }\n    },\n    \"self\": {\n      cacheKey: \"discordProfile\",\n      fetchWorkflowId: \"DiscordProfileFetch\",\n      mapper: \"(p) => p\",\n      dataKey: \"myProfile\",\n      searchType: \"none\",\n      skipQuery: true\n    }\n  }\n};\n\nconst input = $input.first().json;\n\nreturn {\n  query: input.query || '',\n  entity: input.entity || '',\n  platformConfig: DISCORD_CONFIG\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        400
      ],
      "id": "load-config",
      "name": "Load Discord Config"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GenericContextScoutCore",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.query }}",
            "entity": "={{ $json.entity }}",
            "platformConfig": "={{ $json.platformConfig }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "entity",
              "displayName": "entity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "platformConfig",
              "displayName": "platformConfig",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        752,
        400
      ],
      "id": "execute-core",
      "name": "Execute Core"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Load Discord Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Discord Config": {
      "main": [
        [
          {
            "node": "Execute Core",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "",
          "entity": "self"
        }
      }
    ]
  },
  "versionId": "1fa31b1b-569b-478c-ad50-f431c150f24d",
  "activeVersionId": null,
  "versionCounter": 59,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-30T05:19:38.315Z",
      "createdAt": "2025-11-30T05:19:38.315Z",
      "role": "workflow:owner",
      "workflowId": "BB1zsros5LmyJO9N",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}