n8n-agent/workflows/Discord Context Scout.json
{
  "updatedAt": "2025-12-08T23:57:02.698Z",
  "createdAt": "2025-12-08T23:57:02.698Z",
  "id": "JOZ88rkvX4SMXq4h",
  "name": "Discord Context Scout",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "entity"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        304,
        400
      ],
      "id": "trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Discord Platform Configuration\nconst DISCORD_CONFIG = {\n  platform: \"DISCORD\",\n  mcpCredentialId: \"ZFofx3k2ze1wsifx\",\n  cacheKeyPrefix: \"discord\",\n  defaultTTL: 6 * 60 * 60 * 1000, // 6 hours\n  \n  entities: {\n    \"contact\": {\n      cacheKey: \"discordContacts\",\n      fetchWorkflowId: \"JateTZIxaU5RpWd1\",\n      mcpTool: {\n        name: \"discord_list_contacts\",\n        parameters: { limit: 100 },\n        mcpDataKey: \"contacts\"\n      },\n      mapper: \"(c) => ({ id: c.id, username: c.tag, displayName: c.displayName, lastMessage: c.lastMessageAtRelative, contactType: c.type, platform: 'DISCORD' })\",\n      dataKey: \"contacts\",\n      searchType: \"rag\",\n      ragConfig: {\n        collectionId: \"paragon-os-contacts\",\n        autoIngest: true\n      },\n      requiresRAGStatusCheck: true\n    },\n    \"guild\": {\n      cacheKey: \"discordGuilds\",\n      fetchWorkflowId: \"ssmSNWi9AiLqCa5o\",\n      mcpTool: {\n        name: \"discord_list_guilds\",\n        parameters: {},\n        mcpDataKey: \"guilds\"\n      },\n      mapper: \"(g) => ({ id: g.id, name: g.name, members: g.memberCount, channels: g.channels ?? [] })\",\n      dataKey: \"guilds\",\n      searchType: \"fuzzy\",\n      fuzzyConfig: {\n        searchKeys: [\"name\", \"channels\"],\n        matchQuality: 50,\n        limit: 10\n      }\n    },\n    \"tool\": {\n      cacheKey: \"discordTools\",\n      fetchWorkflowId: \"D1eAnmpn6Fs0H0dI\",\n      mapper: \"(t) => t\",\n      dataKey: \"tools\",\n      searchType: \"fuzzy\",\n      fuzzyConfig: {\n        searchKeys: [\"name\", \"description\"],\n        matchQuality: 50,\n        limit: 10\n      }\n    },\n    \"self\": {\n      cacheKey: \"discordProfile\",\n      fetchWorkflowId: \"cRUgh0Bgi661d30i\",\n      mapper: \"(p) => p\",\n      dataKey: \"myProfile\",\n      searchType: \"none\",\n      skipQuery: true\n    }\n  }\n};\n\nconst input = $input.first().json;\n\nreturn {\n  query: input.query || '',\n  entity: input.entity || '',\n  platformConfig: DISCORD_CONFIG\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        400
      ],
      "id": "load-config",
      "name": "Load Discord Config"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3oWOf1fvT3tYjvwF",
          "mode": "list",
          "cachedResultName": "[HELPERS] Generic Context Scout Core",
          "cachedResultUrl": "/workflow/3oWOf1fvT3tYjvwF"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.query }}",
            "entity": "={{ $json.entity }}",
            "platformConfig": "={{ $json.platformConfig }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "entity",
              "displayName": "entity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "platformConfig",
              "displayName": "platformConfig",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        752,
        400
      ],
      "id": "execute-core",
      "name": "Execute Core"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Load Discord Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Discord Config": {
      "main": [
        [
          {
            "node": "Execute Core",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "3a3022da-7036-49a9-b7ad-a34b2536c5e6",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-08T23:57:02.700Z",
      "createdAt": "2025-12-08T23:57:02.700Z",
      "role": "workflow:owner",
      "workflowId": "JOZ88rkvX4SMXq4h",
      "projectId": "GEUEn6ArNROzJ5FY"
    }
  ],
  "activeVersion": null,
  "tags": []
}
