n8n-agent/workflows/ParagonOS Manager.json
{
  "updatedAt": "2025-11-30T06:55:53.000Z",
  "createdAt": "2025-11-06T23:04:10.688Z",
  "id": "z1Ry4y4k5dGR0BqR",
  "name": "ParagonOS Manager",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -512,
        -640
      ],
      "id": "4077b1f3-df5a-4112-a949-a4a86c743d57",
      "name": "When chat message received",
      "webhookId": "171c216b-baf1-4dfc-b52e-280926480ed7"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -288,
        -608
      ],
      "id": "4478f090-adaf-495e-8b71-37592aa93537",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "={{ `\nIntelligently plans and executes Discord operations using cached context and AI-powered sequencing.\\n\\n# How It Works:\\n\\n1. **Context Enrichment**: Automatically retrieves and caches Discord contacts, guilds/servers, channels, available MCP tools, and your profile. Uses a 30-minute cache to minimize API calls.\\n\\n2. **AI Planning**: Analyzes your request against a Discord playbook of common workflows (DMing contacts, catching up on channels, replying to pending messages, searching topics, editing/deleting messages, downloading attachments, triaging guild channels). Recommends relevant tools and generates either:\\n   - A direct answer (if no API calls needed)\\n   - A sequential execution plan with specific MCP tool calls\\n\\n3. **Sequential Execution**: Executes planned steps in order, passing data between steps automatically.\\n\\n4. **Validation & Retry**: Validates execution results against your original request. Automatically retries with refined approach if needed.\\n\\n# Capabilities:\\n\\nRead messages (channels/DMs with pagination, date filtering), search messages, send/edit/delete messages with attachments, download attachments, list guilds/servers/channels/contacts/members, search contacts, get pending channels/DMs (messages after your last reply), manage whitelist/blacklist filters. Supports both server channels and direct messages.\n`}}",
        "workflowId": {
          "__rl": true,
          "value": "vfcxqLBDDMKL5lnG",
          "mode": "list",
          "cachedResultUrl": "/workflow/vfcxqLBDDMKL5lnG",
          "cachedResultName": "Discord MCP Client Sequencer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userPrompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('userPrompt', `Natural language request for Discord operations. Examples: 'Check for unreplied messages in wandrlust admin channel', 'DM sebastian about the meeting', 'What did people say about the launch in metarune-labs?', 'Reply to my pending DMs', 'List all members in the dev server'`, 'string') }}",
            "metadata": "={{ $json.body.metadata }}"
          },
          "matchingColumns": [
            "userPrompt"
          ],
          "schema": [
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -32,
        -608
      ],
      "id": "a85ea5f0-1f3f-4d39-af49-35e27cade5b4",
      "name": "Discord Agent with Caching"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $json.body.chatInput }}",
        "options": {
          "systemMessage": "=You are ParagonOS, an intelligent messaging platform management assistant supporting both Discord and Telegram.\n\n# Your Capabilities:\n\nYou have access to two sophisticated agent tools:\n\n**Discord Agent:**\n- Automatically enriches requests with cached context (contacts, guilds, channels, your profile)\n- Uses an AI planner with a playbook of common Discord workflows\n- Generates and executes sequential MCP tool operations\n- Validates results and retries with refined approaches if needed\n\n**Telegram Agent:**\n- Automatically enriches requests with cached context (contacts, chats, groups, your profile)\n- Uses an AI planner with a playbook of common Telegram workflows\n- Generates and executes sequential MCP tool operations\n- Validates results and retries with refined approaches if needed\n\n# How to Use the Agents:\n\n1. **Pass natural language requests directly** - The agents handle planning and execution automatically\n2. **Provide clear intent** - Be specific about what the user wants (check messages, send DM/message, search topics, etc.)\n3. **Include relevant context** - Mention channel/chat names, contact names, server/group names, time ranges, or specific topics\n4. **Specify the platform** - Clearly indicate whether the request is for Discord or Telegram (or both)\n5. **Trust the sub-workflows** - They will resolve names to IDs, plan multi-step operations, and handle retries\n\n# Good Examples:\n\n**Discord Examples:**\n- \"Check for unreplied messages in the wandrlust admin & dev channel\"\n- \"DM sebastian asking about the deployment status\"\n- \"What were the key points discussed about the token launch in metarune-labs?\"\n- \"Show me all pending DMs that need my attention\"\n- \"Find and list all messages from the past week in the dev-team channel\"\n\n**Telegram Examples:**\n- \"Check for unreplied messages from sebastian in Telegram\"\n- \"Message john about the meeting in Telegram\"\n- \"What did people say about the launch in the dev group on Telegram?\"\n- \"Show me all pending chats that need my attention in Telegram\"\n- \"Find and list all messages from the past week in the team group on Telegram\"\n\n**Cross-Platform Examples:**\n- \"Check for pending messages in both Discord and Telegram\"\n- \"Send a message to sebastian on both platforms about the meeting\"\n- \"What's new in my Discord DMs and Telegram chats?\"\n\n# Your Role:\n\n- Understand user intent and reformulate as clear, actionable requests\n- Determine which platform(s) the user wants to interact with (Discord, Telegram, or both)\n- Interpret the agent results and present them conversationally\n- Handle multi-turn conversations with context from memory\n- Ask clarifying questions if the user's request is ambiguous or doesn't specify a platform",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -168,
        -832
      ],
      "id": "e572d52c-0585-473c-84aa-34fc1b8ee691",
      "name": "Metarune Admin Chat Agent"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatInput"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -512,
        -832
      ],
      "id": "c2a04407-3712-44aa-a758-a324f3b37a33",
      "name": "When Executed by Another Workflow",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        304,
        -832
      ],
      "id": "b435c3de-9724-4add-bbbe-a0f0eeea066e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "description": "Intelligently plans and executes Telegram operations using cached context and AI-powered sequencing.\n\n# How It Works:\n\n1. **Context Enrichment**: Automatically retrieves and caches Telegram contacts, chats (users/groups/supergroups), available MCP tools, and your profile. Uses a 30-minute cache to minimize API calls.\n\n2. **AI Planning**: Analyzes your request against a Telegram playbook of common workflows (messaging contacts, catching up on chats, replying to pending messages, searching topics, editing/deleting messages, downloading attachments, triaging group chats). Recommends relevant tools and generates either:\n   - A direct answer (if no API calls needed)\n   - A sequential execution plan with specific MCP tool calls\n\n3. **Sequential Execution**: Executes planned steps in order, passing data between steps automatically.\n\n4. **Validation & Retry**: Validates execution results against your original request. Automatically retries with refined approach if needed.\n\n# Capabilities:\n\nRead messages (chats/groups with pagination, date filtering), search messages, send/edit/delete messages with attachments, download attachments, list chats/contacts/groups, search contacts, get pending chats (messages after your last reply), manage whitelist/blacklist filters. Supports both direct messages (user chats) and groups/supergroups.",
        "workflowId": {
          "__rl": true,
          "value": "rjoIG01kPyzaQwcU",
          "mode": "list",
          "cachedResultUrl": "/workflow/rjoIG01kPyzaQwcU",
          "cachedResultName": "Telegram MCP Client Sequencer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userPrompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('userPrompt', `Natural language request for Telegram operations. Examples: 'Check for unreplied messages from sebastian', 'Message john about the meeting', 'What did people say about the launch in the dev group?', 'Reply to my pending chats', 'List all contacts', 'Search for messages about deployment in the team group'`, 'string') }}",
            "metadata": "={{ $json.body.metadata }}"
          },
          "matchingColumns": [
            "userPrompt"
          ],
          "schema": [
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        96,
        -608
      ],
      "id": "77779f7b-6217-46a5-a355-4cb35d2e935a",
      "name": "Telegram Agent with Caching"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paragon-os",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -736,
        -1024
      ],
      "id": "4962cf25-a649-4af7-a44d-a551a8e8fb92",
      "name": "Webhook1",
      "webhookId": "33384794-47ae-48e6-aa7d-64e81c9e4358",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a60f9067-0716-491c-9a57-1ebb8b8cfdb9",
              "name": "body.metadata",
              "value": "={{ $json.body.metadata ?? {\n  \"sessionId\": \"sample-session-id-1\",\n  \"messageId\": \"sample-message-id-1\",\n  \"streamUrl\": \"http://localhost:3000/api/stream/update\"\n} }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        -1024
      ],
      "id": "83dc62cb-a639-4cf5-8b96-3e816bd771dc",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Metarune Admin Chat Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Metarune Admin Chat Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Discord Agent with Caching": {
      "ai_tool": [
        [
          {
            "node": "Metarune Admin Chat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Metarune Admin Chat Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Metarune Admin Chat Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Agent with Caching": {
      "ai_tool": [
        [
          {
            "node": "Metarune Admin Chat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Metarune Admin Chat Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "chatInput": "find staryo admin only channel in metarune labs guild, then list messages"
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "body": {
            "userPrompt": "List the last 10 messages in the Discord channel 'staryo-admin'",
            "metadata": {
              "sessionId": "sample-session-id-1",
              "messageId": "sample-message-id-1",
              "streamUrl": "http://localhost:3000/api/stream/update"
            }
          }
        }
      }
    ]
  },
  "versionId": "7366cc98-c376-47a5-9353-a7cca0a585db",
  "versionCounter": 275,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-11-02T21:22:20.646Z",
      "createdAt": "2025-11-02T21:22:20.646Z",
      "id": "95mwWdOxtdnkFLhS",
      "name": "Discord"
    },
    {
      "updatedAt": "2025-11-07T17:59:49.155Z",
      "createdAt": "2025-11-07T17:59:49.155Z",
      "id": "q6mxN2D7JQjPEzuF",
      "name": "Telegram"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-11-06T23:04:10.693Z",
      "createdAt": "2025-11-06T23:04:10.693Z",
      "role": "workflow:owner",
      "workflowId": "z1Ry4y4k5dGR0BqR",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}