n8n-agent/workflows/Telegram MCP Client Sequencer.json
{
  "updatedAt": "2025-11-21T17:31:59.000Z",
  "createdAt": "2025-11-19T21:40:51.636Z",
  "id": "rjoIG01kPyzaQwcU",
  "name": "Telegram MCP Client Sequencer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userPrompt"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        -1464
      ],
      "id": "06dfa42f-0829-4e09-ae87-71bfe7a55218",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ !!$json.output.directAnswer?.toJsonString() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "ff6241e7-5888-44d3-bcd7-543a0deffafe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HAS DIRECT ANSWER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5093fd74-cc07-45b4-8725-2d1de4075919",
                    "leftValue": "={{ $json.output.executionSteps ?? [] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HAS EXECUTION STEPS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        492,
        -1296
      ],
      "id": "4b7d2922-7917-424c-be59-6c06a2dab261",
      "name": "Has a direct answer?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User prompt: \"{{ $json.userPrompt }}\"",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## You are a helpful assistant with the capabilities to generate\n\n- Either a sequence of tool execution steps for a user's prompt to accomplish the task OR a `directAnswer` answer if you can CORRECTLY answer directly from your knowledge.\n- You are NOT a tool executor.\n- You MUST output a valid JSON object\n- If provided, PRIORITIZE recommended contacts instead searching for contacts. If there are one or more matches for the same name, pick the most likely one.\n\nInstructions:\n\n- you are PROHIBITED from using chat/contact/group display names instead of proper IDs as execution parameters.\n- If you only have a name of a chat/contact/group, your TOP PRIORITY is finding the telegram chat/contact IDs.\n- try to use your knowledge of the contact list instead of calling 'telegram_list_contacts'\n- try to use your knowledge of the chats list instead of calling 'telegram_list_chats'\n\n# For ANY operation that requires Telegram API calls, you MUST use executionSteps:\n\n- Reading/list/get operations (list messages, get chat, get user info, etc.)\n- Writing/send operations (send message, edit message, etc.)\n- Finding/searching operations (find contact, search messages, etc.)\n- Any action that retrieves or modifies Telegram data\n\n# Examples:\n\n- \"list messages with user X\" → find contact ID then list messages\n- \"list messages in group Y\" → find chat ID using chat type filter then list messages\n- \"send a message to chat Y\" → find chat ID, then send a message\n- \"who are in my contacts?\" → list contacts\n- \"what's new in my groups?\" → get pending chats filtered by group type\n- \"search for keyword in chat Z\" → find chat ID then search messages\n\n## Your Knowledge of Telegram Chats:\n\n{{ $json.context.telegramChannels?.toJsonString() ?? '[]' }}\n\n## Your Knowledge of Your Own Profile:\n\n{{ $json.context.myProfile?.toJsonString() ?? 'Error! No Profile Info' }}\n\n## Recommended Contacts that could be related to the user's prompt.\n\n{{ $json.context.matchingContacts?.toJsonString() ?? '[]' }}\n\n## Your Knowledge of Recommended Playbook Play: \n\n{{ $json.context.playbookRecommendations?.toJsonString() ?? '[]' }}\n\n## Your Knowledge of Recommended Tools to Use:\n\n{{ $json.context.toolRecommendations?.toJsonString() ?? '[]' }}\n\n## Your Knowledge of Some of the Telegram Contacts:\n\n{{ $json.context.telegramContacts?.toJsonString() ?? '[]' }}",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        48,
        -1296
      ],
      "id": "f776edb3-2867-46ac-8200-669941fe6e59",
      "name": "Execution Planner AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"executionSteps\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"toolName\": {\n            \"type\": \"string\"\n          },\n          \"callParams\": {\n            \"type\": \"object\"\n          }\n        },\n        \"required\": [\"toolName\"],\n        \"additionalProperties\": false\n      },\n      \"description\": \"List MCP tool execution steps to achieve user's goal. ONLY USE WHEN NOT A DIRECT ANSWER\"\n    },\n    \"directAnswer\": {\n      \"type\": \"string\",\n      \"description\": \"You can provide a direct answer instead of providing a list of executionSteps. ONLY USE WHEN YOU CAN DIRECT ANSWER\"\n    }\n  },\n  \"additionalProperties\": false\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        124,
        -1072
      ],
      "id": "015274c8-a347-4c29-acae-678ea039b442",
      "name": "Execution Plan Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        120,
        -864
      ],
      "id": "2bcf1b7e-6d08-40e6-9faf-459f9ea18ec9",
      "name": "Gemini Model (Execution Planner)",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"shouldRetry\": {\n      \"type\": \"boolean\",\n      \"description\": \"Indicates whether the operation should be retried\"\n    },\n    \"retryStrategy\": {\n      \"type\": \"string\",\n      \"description\": \"The retry strategy to use (e.g., 'none', 'exponential', 'linear')\"\n    },\n    \"reasoning\": {\n      \"type\": \"string\",\n      \"description\": \"Explanation of the decision-making process\"\n    },\n    \"directAnswer\": {\n      \"type\": \"string\",\n      \"description\": \"Direct answer to the user's prompt\"\n    }\n  },\n  \"required\": [\"shouldRetry\", \"directAnswer\"],\n  \"additionalProperties\": false\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1240,
        -1072
      ],
      "id": "68e0d78d-ef02-466a-84a9-2bacc276437b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "254965fb-79da-4ee1-a539-3e9e5bda7eae",
              "leftValue": "={{ $json.output.shouldRetry }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1608,
        -1296
      ],
      "id": "f0af5e49-7bce-41ec-94b5-3cfa2fcea60b",
      "name": "Is Successful"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        940,
        -1296
      ],
      "id": "39029062-5166-486b-b4d9-08dac2144872",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## User's prompt input:\n\n\"{{ $('Enrich With Telegram Context').item.json.userPrompt }}\"\n\n## Generated output: \n\n\"{{ $json.executionSteps?.toJsonString() ?? $('Has a direct answer?').item.json.output.directAnswer }}\"\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are SOLELY an AI generated answer validator. You are NOT a tool executor.\n\n# IMPORTANT:\n- You judge the user's prompt vs the generated output answer and output as a {} object.\n- If there is no Generated output, it's automatically a failure.\n\nYou must output in JSON:\n- shouldRetry: boolean\n- retryStrategy: \"refine_prompt\" | \"change_approach\" | \"add_context\" | \"none\"\n- reasoning: string\n- directAnswer: string\n\n# If you receive an already processed Direct Answer to the user's prompt: put that in the `directAnswer` of your output, and pass the validation.\n\n# If you receive a Telegram MCP tool execution result array:\nONLY IF the execution results don't trivially answer the user prompt AND you can confidently answer the question, use `directAnswer` to output an accurate answer based on the available execution results.\n\n# Telegram-specific considerations:\n- Verify chat_id resolution was successful before marking operations as complete\n- Check that message searches returned relevant results before summarizing\n- Confirm contact searches found the intended person before messaging\n- Validate that pending chats analysis included appropriate context_messages\n- Ensure time-based queries used proper from_date/to_date formatting\n- Verify file operations (send/download) completed successfully with valid paths\n\n## Your Knowledge of Telegram Contacts:\n\n{{ $('Enrich With Telegram Context').item.json.context.telegramContacts?.toJsonString() ?? '[]' }}\n\n## Your Knowledge of Telegram Chats:\n\n{{ $('Enrich With Telegram Context').item.json.context.telegramChannels?.toJsonString() ?? '[]' }}\n\n## Your Knowledge of Your Own Profile:\n\n{{ $('Enrich With Telegram Context').item.json.context.myProfile?.toJsonString() ?? 'Error! No Profile Info' }}\n\n## Your Knowledge of Recommended Tools to Use:\n\n{{ $('Enrich With Telegram Context').item.json.context.toolRecommendations?.toJsonString() ?? '[]' }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1164,
        -1296
      ],
      "id": "bffcb933-ef79-407a-a171-e88adc633ef3",
      "name": "Result Validator AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f5e87b1-12e3-45a9-a7f4-e811c57e5477",
              "name": "executionSteps",
              "value": "={{ $('Merge').item.json.executionSteps ?? [] }}",
              "type": "array"
            },
            {
              "id": "c6d2472e-3c6b-4fa5-af80-aa60691fdd36",
              "name": "directAnswer",
              "value": "={{ $('Has a direct answer?').item.json.output.directAnswer ?? $json.output.directAnswer ?? null }}",
              "type": "string"
            },
            {
              "id": "aab0f5f3-c0f4-4f99-b31b-a9181c1d6666",
              "name": "refinedUserPrompt",
              "value": "={{ $('Enrich With Telegram Context').item.json.userPrompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1832,
        -1344
      ],
      "id": "00fe64fa-b463-4f09-b207-1ad07804724a",
      "name": "Format Final Output"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2056,
        -1248
      ],
      "id": "92161848-9ba4-456a-8a70-c0d9c2c153f9",
      "name": "Output"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1236,
        -864
      ],
      "id": "93e15564-cda8-45c0-beed-904d92dc12da",
      "name": "Gemini Model (Validator)",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12099019-73e3-4d7d-9a3e-ae6101e4ede3",
              "name": "userPrompt",
              "value": "={{ $('When Executed by Another Workflow').item.json.userPrompt }}",
              "type": "string"
            },
            {
              "id": "f59a7d1a-f3c6-45f5-bcac-2508d5625233",
              "name": "previousAttempt",
              "value": "={{ $json.output }}",
              "type": "object"
            },
            {
              "id": "00537d7c-a318-4695-bfa8-7d1d7e3a634e",
              "name": "executionSteps",
              "value": "={{ $('Merge').item.json.executionSteps }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1832,
        -944
      ],
      "id": "c352df04-9252-45f7-a7c2-ab3c5fc8934b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WFlhiFmm1Tt6ICRM",
          "mode": "list",
          "cachedResultUrl": "/workflow/WFlhiFmm1Tt6ICRM",
          "cachedResultName": "[HELPERS] Telegram Context Enricher"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userPrompt": "={{ $json.userPrompt }}",
            "previousAttempt": "={{ $json.previousAttempt ?? {} }}"
          },
          "matchingColumns": [
            "userPrompt"
          ],
          "schema": [
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "previousAttempt",
              "displayName": "previousAttempt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -176,
        -1368
      ],
      "id": "138c48d9-8bc7-4a5b-b11e-6e7f5562d1d3",
      "name": "Enrich With Telegram Context"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uoYXevOl4ePWKeNx",
          "mode": "list",
          "cachedResultUrl": "/workflow/uoYXevOl4ePWKeNx",
          "cachedResultName": "[HELPERS] Discord & Telegram Step Executor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "executionSteps": "={{ $json.output.executionSteps }}",
            "targetMcp": "TELEGRAM"
          },
          "matchingColumns": [
            "executionSteps"
          ],
          "schema": [
            {
              "id": "executionSteps",
              "displayName": "executionSteps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "targetMcp",
              "displayName": "targetMcp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        716,
        -1192
      ],
      "id": "14c32d88-be47-4925-a9ef-7e265e9cd503",
      "name": "Call Telegram Step Executor"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "che6u5z0grJ4AoNr",
          "mode": "list",
          "cachedResultUrl": "/workflow/che6u5z0grJ4AoNr",
          "cachedResultName": "[HELPERS] Stream Update Sender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ \n   { telegramSeqInput: $json.userPrompt}\n}}",
            "stage": "telegram_collect_context",
            "status": "in_progress",
            "message": "=Collecting context needed from telegram...",
            "sessionId": "={{ $('When Executed by Another Workflow').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "stage",
              "displayName": "stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -176,
        -1560
      ],
      "id": "1c3ef404-9244-4146-bdc0-52a7be49caa9",
      "name": "Send Stream Update2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "che6u5z0grJ4AoNr",
          "mode": "list",
          "cachedResultUrl": "/workflow/che6u5z0grJ4AoNr",
          "cachedResultName": "[HELPERS] Stream Update Sender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ \n   {\n     toolRecommendations: $json.context.toolRecommendations?.map(tool=> tool.name),\n     matchingContacts: $json.context.matchingContacts?.map(contact => contact.name)\n   }\n}}",
            "stage": "telegram_collect_context",
            "status": "in_progress",
            "message": "=Planning how to perform actions on telegram...",
            "sessionId": "={{ $('When Executed by Another Workflow').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "stage",
              "displayName": "stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        158,
        -1696
      ],
      "id": "7de77ae3-02ee-4310-8c44-a0953040571d",
      "name": "Send Stream Update"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "che6u5z0grJ4AoNr",
          "mode": "list",
          "cachedResultUrl": "/workflow/che6u5z0grJ4AoNr",
          "cachedResultName": "[HELPERS] Stream Update Sender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ \n   {\n     executionSteps: $json.output.executionSteps\n   }\n}}",
            "stage": "telegram_execution_steps",
            "status": "in_progress",
            "message": "=Planned execution steps on telegram!",
            "sessionId": "={{ $('When Executed by Another Workflow').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "stage",
              "displayName": "stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        716,
        -1512
      ],
      "id": "fc222730-a4e8-4f9c-9425-7c4d56e86b44",
      "name": "Send Stream Update1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "che6u5z0grJ4AoNr",
          "mode": "list",
          "cachedResultUrl": "/workflow/che6u5z0grJ4AoNr",
          "cachedResultName": "[HELPERS] Stream Update Sender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ \n   {\n  \"directAnswer\": $json.directAnswer,\n  \"refinedUserPrompt\": $json.refinedUserPrompt\n}\n}}",
            "stage": "telegram_sequence_end",
            "status": "in_progress",
            "message": "=Telegram execution sequence was validated successfully!",
            "sessionId": "={{ $('When Executed by Another Workflow').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "stage",
              "displayName": "stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2056,
        -1440
      ],
      "id": "a2ea841f-a678-48ac-ba7c-c36673f6ae5f",
      "name": "Send Stream Update3"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Enrich With Telegram Context",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Stream Update2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has a direct answer?": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Telegram Step Executor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Stream Update1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Planner AI Agent": {
      "main": [
        [
          {
            "node": "Has a direct answer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Plan Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Execution Planner AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model (Execution Planner)": {
      "ai_languageModel": [
        [
          {
            "node": "Execution Planner AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Execution Plan Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Result Validator AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Is Successful": {
      "main": [
        [
          {
            "node": "Format Final Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Result Validator AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result Validator AI Agent": {
      "main": [
        [
          {
            "node": "Is Successful",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Output": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Stream Update3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model (Validator)": {
      "ai_languageModel": [
        [
          {
            "node": "Result Validator AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Enrich With Telegram Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich With Telegram Context": {
      "main": [
        [
          {
            "node": "Execution Planner AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Stream Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Telegram Step Executor": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "userPrompt": "List last 5 messages with sebastian"
        }
      }
    ],
    "Enrich With Telegram Context": [
      {
        "json": {
          "userPrompt": "List the last 5 messages in the chat with the user \"Sebastian\" (user_id: 6051734492).",
          "context": {
            "telegramChannels": [
              {
                "id": 4000551178,
                "name": "Metarune Management",
                "kind": "group",
                "unread": 0
              },
              {
                "id": 4964947201,
                "name": "Specialized Leads",
                "kind": "group",
                "unread": 0
              },
              {
                "id": 4804388286,
                "name": "Metarune BD & Operations",
                "kind": "group",
                "unread": 0
              },
              {
                "id": 4844833988,
                "name": "Project Management - Metarune",
                "kind": "group",
                "unread": 0
              },
              {
                "id": 4198626061,
                "name": "Standup Meeting Updates",
                "kind": "group",
                "unread": 0
              },
              {
                "id": 4169734127,
                "name": "CVs / Recruitement related",
                "kind": "group",
                "unread": 3
              },
              {
                "id": 4214327750,
                "name": "Metarune Admin Links",
                "kind": "group",
                "unread": 0
              },
              {
                "id": 4573780820,
                "name": "Leave Request Only - Metarune Labs",
                "kind": "group",
                "unread": 0
              },
              {
                "id": 4672296305,
                "name": "Administrative Discussion - Anushika RA",
                "kind": "group",
                "unread": 0
              },
              {
                "id": 2863584619,
                "name": "Ramm_AI | Official Chat",
                "kind": "group",
                "unread": 872
              },
              {
                "id": 714725084,
                "name": "Nishara Malli",
                "kind": "user",
                "unread": 0
              },
              {
                "id": 4965025159,
                "name": "AG Marketplace <Team> Discussion",
                "kind": "group",
                "unread": 1
              },
              {
                "id": 4727175482,
                "name": "Nirasha Admin Discussion Group",
                "kind": "group",
                "unread": 5
              },
              {
                "id": 2163339770,
                "name": "Staryo DEV (Messaging Platform)",
                "kind": "group",
                "unread": 9
              },
              {
                "id": 4621844450,
                "name": "With Nishara",
                "kind": "group",
                "unread": 0
              },
              {
                "id": 1860048845,
                "name": "TypeScript 💻",
                "kind": "group",
                "unread": 1
              },
              {
                "id": 4183002663,
                "name": "Staryo",
                "kind": "group",
                "unread": 32
              },
              {
                "id": 2200914991,
                "name": "Metarune - General",
                "kind": "group",
                "unread": 27
              },
              {
                "id": 4988616199,
                "name": "Kavindu: Internship Discussion",
                "kind": "group",
                "unread": 26
              },
              {
                "id": 4914726498,
                "name": "Anatomea - Admin Discussion",
                "kind": "group",
                "unread": 0
              },
              {
                "id": 5026391000,
                "name": "Business Development Discussion",
                "kind": "group",
                "unread": 16
              },
              {
                "id": 8539645700,
                "name": "Mr. Shammi Forbes",
                "kind": "user",
                "unread": 1
              },
              {
                "id": 5166457578,
                "name": "Bhathiya Dialog",
                "kind": "user",
                "unread": 0
              },
              {
                "id": 348840761,
                "name": "Clemens Ley",
                "kind": "user",
                "unread": 0
              },
              {
                "id": 1525362528,
                "name": "Amayuru Amarasinghe",
                "kind": "user",
                "unread": 1
              },
              {
                "id": 4562201034,
                "name": "Pump.fun / WeMeme DEV Group",
                "kind": "group",
                "unread": 1
              },
              {
                "id": 5225880378,
                "name": "Ian Anderson",
                "kind": "user",
                "unread": 1
              },
              {
                "id": 936198127,
                "name": "Pasindu",
                "kind": "user",
                "unread": 3
              },
              {
                "id": 1249319918,
                "name": "Raphael - DxSale Founder",
                "kind": "user",
                "unread": 0
              },
              {
                "id": 1543386737,
                "name": "Adin Zweigbaum",
                "kind": "user",
                "unread": 0
              },
              {
                "id": 1026488792,
                "name": "Andreas Nicolos | Access Protocol",
                "kind": "user",
                "unread": 0
              },
              {
                "id": 8253865365,
                "name": "Lowmarker",
                "kind": "user",
                "unread": 0
              },
              {
                "id": 416852475,
                "name": "Kratos (David) Dev | CL",
                "kind": "user",
                "unread": 0
              },
              {
                "id": 5002192102,
                "name": "Hey Stream",
                "kind": "group",
                "unread": 1
              },
              {
                "id": 780339289,
                "name": "Trimasha",
                "kind": "user",
                "unread": 0
              },
              {
                "id": 2935877307,
                "name": "Metarune Dev Feed",
                "kind": "group",
                "unread": 110
              },
              {
                "id": 4774776836,
                "name": "Design Related - Metarune",
                "kind": "group",
                "unread": 13
              },
              {
                "id": 1366304779,
                "name": "Le Goat",
                "kind": "user",
                "unread": 0
              },
              {
                "id": 8218870680,
                "name": "Thisum Jayaweera",
                "kind": "user",
                "unread": 0
              },
              {
                "id": 1119827933,
                "name": "Nawodya Ishan Whatsapp",
                "kind": "user",
                "unread": 0
              }
            ],
            "telegramContacts": [
              {
                "id": 333000,
                "displayName": "Kids",
                "contactType": "user",
                "phone": "333"
              },
              {
                "id": 225850636,
                "username": "zlatapaul",
                "displayName": "Zlata Paul",
                "contactType": "user",
                "phone": "995599335201"
              },
              {
                "id": 340351644,
                "username": "SumanthNeppalli",
                "displayName": "Sumanth | Polygon Ventures",
                "contactType": "user"
              },
              {
                "id": 348840761,
                "username": "clemensley",
                "displayName": "Clemens Ley",
                "contactType": "user"
              },
              {
                "id": 363128374,
                "username": "Avihay_H",
                "displayName": "Avihay",
                "contactType": "user"
              },
              {
                "id": 416852475,
                "username": "devkratos",
                "displayName": "Kratos (David) Dev | CL",
                "contactType": "user"
              },
              {
                "id": 520043278,
                "username": "midasch",
                "displayName": "MK | Matt",
                "contactType": "user"
              },
              {
                "id": 543100343,
                "username": "dush88c",
                "displayName": "Crypto - Dark",
                "contactType": "user"
              },
              {
                "id": 586558850,
                "username": "johngvibes",
                "displayName": "John Vibes",
                "contactType": "user",
                "phone": "14436190761"
              },
              {
                "id": 587300333,
                "username": "iCartic",
                "displayName": "Cartic",
                "contactType": "user",
                "phone": "918197536227"
              },
              {
                "id": 624165486,
                "username": "vlkpthrna",
                "displayName": "Venul",
                "contactType": "user"
              },
              {
                "id": 632108563,
                "username": "chaingovernance",
                "displayName": "Chaingovernance",
                "contactType": "user"
              },
              {
                "id": 649401202,
                "username": "wholemealbread69",
                "displayName": "Munchi",
                "contactType": "user",
                "phone": "94715852028"
              },
              {
                "id": 664694900,
                "username": "DonAnarchy",
                "displayName": "Dulmina",
                "contactType": "user",
                "phone": "94763103710"
              },
              {
                "id": 668597892,
                "username": "SanSLR",
                "displayName": "Janitha Metaroon",
                "contactType": "user",
                "phone": "94775527374"
              },
              {
                "id": 678211632,
                "username": "EmilyEmilyert6t4564e6",
                "displayName": "Vajira",
                "contactType": "user",
                "phone": "94710413045"
              },
              {
                "id": 696359483,
                "username": "vivekst1",
                "displayName": "vivek",
                "contactType": "user"
              },
              {
                "id": 714725084,
                "username": "stoXmod",
                "displayName": "Nishara Malli",
                "contactType": "user",
                "phone": "94775777956"
              },
              {
                "id": 722369780,
                "username": "dinukasal",
                "displayName": "Dinuka Salwathura",
                "contactType": "user",
                "phone": "94714697757"
              },
              {
                "id": 742595333,
                "username": "Ruchira_s",
                "displayName": "RUCHIRA SACHINTHANA",
                "contactType": "user",
                "phone": "94778072233"
              },
              {
                "id": 780339289,
                "username": "Trimasha21",
                "displayName": "Trimasha",
                "contactType": "user",
                "phone": "94769083219"
              },
              {
                "id": 822246157,
                "username": "ahamedrikas",
                "displayName": "Team - UCSC",
                "contactType": "user",
                "phone": "94756855515"
              },
              {
                "id": 835380621,
                "username": "nadeeshisu",
                "displayName": "Nadeesh",
                "contactType": "user"
              },
              {
                "id": 837248846,
                "username": "Aayush_Gupta_ji",
                "displayName": "Aayush Gupta",
                "contactType": "user"
              },
              {
                "id": 847498752,
                "username": "sandalu0",
                "displayName": "sandalu 🏎 🐾Hivera",
                "contactType": "user"
              },
              {
                "id": 875774449,
                "username": "SutYKP",
                "displayName": "Kasun Alagiyawanna",
                "contactType": "user"
              },
              {
                "id": 883709109,
                "username": "DNA1945",
                "displayName": "Ayesh - Web3",
                "contactType": "user",
                "phone": "94779420892"
              },
              {
                "id": 894565034,
                "username": "rebeccaa_m",
                "displayName": "Rebecca Meegahapola",
                "contactType": "user"
              },
              {
                "id": 899220754,
                "username": "gabocarranza",
                "displayName": "Gabriel Carranza",
                "contactType": "user"
              },
              {
                "id": 919776951,
                "username": "dxshas",
                "displayName": "Hash - co-founder dx.app",
                "contactType": "user"
              }
            ],
            "matchingContacts": [
              {
                "displayName": "Sebastian",
                "username": "seunwoochan",
                "id": 6051734492
              }
            ],
            "toolRecommendations": [
              {
                "name": "telegram_list_messages",
                "description": "Messages: List messages with filters and return JSON (limit<=50).",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "search_query": {
                      "type": "string"
                    },
                    "from_date": {
                      "type": "string"
                    },
                    "to_date": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              }
            ],
            "playbookRecommendations": [
              {
                "name": "catch_up_on_chat_since_time",
                "whenToUse": "User asks to see or summarize what they missed in a specific chat.",
                "steps": [
                  "Resolve chat name to chat_id using telegram_list_chats; if not found, call with appropriate chat_type filter and match by name.",
                  "If user gives a time window, call telegram_list_messages with chat_id=<chatId> and from_date / to_date; otherwise use a recent limit (e.g. 50).",
                  "Summarize important messages, mentions, and decisions for the user.",
                  "Offer to draft replies and, if accepted, call telegram_reply_to_message or telegram_send_message as appropriate."
                ]
              }
            ],
            "allRelaventTools": [
              {
                "name": "telegram_get_chats",
                "description": "List chats as JSON summaries (paged). Broadcast channels are excluded.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    }
                  },
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_list_chats",
                "description": "List recent chats as JSON summaries; optional kind filter accepting `user`, `group`, or `channel` (case-insensitive). Note: `group` includes both basic groups and supergroups. `channel` is an alias that returns both users and groups. Broadcast channels are excluded.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_type": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_chat",
                "description": "Get a chat by id as a JSON object with basic stats. Note: broadcast channels will have kind=null as they are not supported.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_read_channel",
                "description": "Alias: read a group or user by id; delegates to get_chat. Broadcast channels are not supported.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {},
                    "channelId": {},
                    "limit": {}
                  },
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_create_channel",
                "description": "Create a group; set megagroup=True (recommended) to create a group with extended features; returns ok/message and id. Note: broadcast channels (megagroup=False) are not recommended for use with this MCP server.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "about": {
                      "type": "string"
                    },
                    "megagroup": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "title"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_edit_chat_title",
                "description": "Edit chat title; returns ok/message.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "title": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "chat_id",
                    "title"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_edit_chat_photo",
                "description": "Set chat photo from local file; returns ok/message.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "file_path": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "chat_id",
                    "file_path"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_delete_chat_photo",
                "description": "Delete chat photo; returns ok/message.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_leave_chat",
                "description": "Leave a group by id; returns ok/message. Broadcast channels are not supported.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_pending_chats",
                "description": "List chats needing attention (unread or last inbound), with recent context as JSON.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer"
                    },
                    "context_messages": {
                      "type": "integer"
                    },
                    "include_archived": {
                      "type": "boolean"
                    },
                    "include_muted": {
                      "type": "boolean"
                    }
                  },
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_direct_chat_by_contact",
                "description": "Find direct chats for contacts matching a query; returns JSON list.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact_query": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "contact_query"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_contact_chats",
                "description": "List direct chat and common groups for a contact as JSON.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "contact_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_join_chat_by_link",
                "description": "Join a chat by invite link; returns ok/message.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "link"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_export_chat_invite",
                "description": "Alias: export chat invite; returns {link}.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_import_chat_invite",
                "description": "Alias: join by invite hash; returns ok/message.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "hash": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "hash"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_invite_link",
                "description": "Get an invite link for a chat; returns the link as string (JSON).",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_archive_chat",
                "description": "Archive a chat; returns ok/message.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_unarchive_chat",
                "description": "Unarchive a chat; returns ok/message.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_messages",
                "description": "Messages: List messages (paged) from a chat and return JSON.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_list_messages",
                "description": "Messages: List messages with filters and return JSON (limit<=50).",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "search_query": {
                      "type": "string"
                    },
                    "from_date": {
                      "type": "string"
                    },
                    "to_date": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_send_message",
                "description": "Messages: Send a message to a chat and return { ok, message }.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {},
                    "message": {},
                    "channelId": {},
                    "content": {}
                  },
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_reply_to_message",
                "description": "Messages: Reply to a message and return { ok, message }.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "message_id": {
                      "type": "integer"
                    },
                    "text": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "chat_id",
                    "message_id",
                    "text"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_edit_message",
                "description": "Messages: Edit a message and return { ok, message }.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "message_id": {
                      "type": "integer"
                    },
                    "new_text": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "chat_id",
                    "message_id",
                    "new_text"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_delete_message",
                "description": "Messages: Delete a message and return { ok, message }.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "message_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id",
                    "message_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_forward_message",
                "description": "Messages: Forward a message and return { ok, message }.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "from_chat_id": {
                      "type": "integer"
                    },
                    "message_id": {
                      "type": "integer"
                    },
                    "to_chat_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "from_chat_id",
                    "message_id",
                    "to_chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_pin_message",
                "description": "Messages: Pin a message and return { ok, message }.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "message_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id",
                    "message_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_unpin_message",
                "description": "Messages: Unpin a message and return { ok, message }.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "message_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id",
                    "message_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_mark_as_read",
                "description": "Messages: Mark chat as read and return { ok, message }.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_message_context",
                "description": "Messages: Get message context around a message and return JSON.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "message_id": {
                      "type": "integer"
                    },
                    "context_size": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id",
                    "message_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_search_messages",
                "description": "Messages: Search messages by text and return JSON (limit<=50).",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "query": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id",
                    "query"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_history",
                "description": "Messages: Deprecated alias; use list_messages (returns JSON).",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_pinned_messages",
                "description": "Messages: List pinned messages and return JSON.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_create_poll",
                "description": "Messages: Create a poll in a chat and return { ok, message }.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "question": {
                      "type": "string"
                    },
                    "options": {
                      "type": "array"
                    },
                    "multiple_choice": {
                      "type": "boolean"
                    },
                    "quiz_mode": {
                      "type": "boolean"
                    },
                    "public_votes": {
                      "type": "boolean"
                    },
                    "close_date": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "chat_id",
                    "question",
                    "options"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_react_to_message",
                "description": "\nAdd a reaction to a message using a Unicode emoji.\n",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "message_id": {
                      "type": "integer"
                    },
                    "emoji": {
                      "type": "string"
                    },
                    "big": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "chat_id",
                    "message_id",
                    "emoji"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_unreact_message",
                "description": "\nRemove your own reaction(s) from a message.\n",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "message_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id",
                    "message_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_message_reactions",
                "description": "\nGet aggregated reaction counters for a message as JSON.\n",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "message_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id",
                    "message_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_reactors",
                "description": "\nList users who reacted to a message. Optionally filter by emoji.\n",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "message_id": {
                      "type": "integer"
                    },
                    "emoji": {},
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id",
                    "message_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_list_contacts",
                "description": "Contacts: List contacts as compact JSON with pagination (limit≤50).",
                "schema": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  },
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_search_contacts",
                "description": "Contacts: Search contacts by name/username/phone (limit≤50).",
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "query"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_delete_contact",
                "description": "Contacts: Delete a contact by user_id.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "user_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_block_user",
                "description": "Contacts: Block a user by user_id.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "user_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_unblock_user",
                "description": "Contacts: Unblock a user by user_id.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "user_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_blocked_users",
                "description": "Contacts: List blocked users as JSON (limit≤50).",
                "schema": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  },
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_import_contacts",
                "description": "Contacts: Import contacts from a list of {phone, first_name, last_name}.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "contacts": {
                      "type": "array"
                    }
                  },
                  "required": [
                    "contacts"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_export_contacts",
                "description": "Contacts: Export contacts as JSON (limit≤50).",
                "schema": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  },
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_last_interaction",
                "description": "Contacts: Get recent messages with a user as JSON (limit≤50).",
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "user_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_download_media",
                "description": "Download message media / attachments; returns JSON with mime_type, size, path, resource_uri. path can be used to OCR images",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "message_id": {
                      "type": "integer"
                    },
                    "file_path": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "chat_id",
                    "message_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_send_voice",
                "description": "Send a .ogg/.opus voice note; returns ok/message.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "file_path": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "chat_id",
                    "file_path"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_send_sticker",
                "description": "Send a .webp sticker; returns ok/message.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "file_path": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "chat_id",
                    "file_path"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_send_gif",
                "description": "Send a GIF by Telegram document ID; returns ok/message.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "gif_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id",
                    "gif_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_gif_search",
                "description": "Search GIFs; returns JSON array of Telegram document IDs.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "query"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_media_info",
                "description": "Get basic media info for a message; returns JSON.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "message_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id",
                    "message_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_sticker_sets",
                "description": "List available sticker sets (JSON titles).",
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_list_downloaded_media",
                "description": "List downloaded media files in persistent storage as JSON.",
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_clear_downloaded_media",
                "description": "Clear downloaded media cache; returns ok/message and counts.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "message_id": {
                      "type": "integer"
                    }
                  },
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_participants",
                "description": "Admin: List chat participants as JSON (paginated).",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_invite_to_group",
                "description": "Admin: Invite users to a chat by id.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "user_ids": {
                      "type": "array"
                    }
                  },
                  "required": [
                    "chat_id",
                    "user_ids"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_promote_admin",
                "description": "Admin: Promote a user to admin.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "user_id": {
                      "type": "integer"
                    },
                    "rights": {}
                  },
                  "required": [
                    "chat_id",
                    "user_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_demote_admin",
                "description": "Admin: Demote a user from admin.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "user_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id",
                    "user_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_ban_user",
                "description": "Admin: Ban a user from a chat.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "user_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id",
                    "user_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_unban_user",
                "description": "Admin: Unban a user from a chat.",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "user_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id",
                    "user_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_admins",
                "description": "Admin: List admins as JSON (paginated).",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_banned_users",
                "description": "Admin: List banned users as JSON (paginated).",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_recent_actions",
                "description": "Admin: List recent admin actions (paginated).",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_me",
                "description": "\nGet your own user information.\n",
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_update_profile",
                "description": "\nUpdate your profile information (name, bio).\n",
                "schema": {
                  "type": "object",
                  "properties": {
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "about": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_set_profile_photo",
                "description": "\nSet a new profile photo.\n",
                "schema": {
                  "type": "object",
                  "properties": {
                    "file_path": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "file_path"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_delete_profile_photo",
                "description": "\nDelete your current profile photo.\n",
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_privacy_settings",
                "description": "\nGet your privacy settings for last seen status.\n",
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_set_privacy_settings",
                "description": "\nSet privacy settings (e.g., last seen, phone, etc.).\n\nArgs:\n    key: The privacy setting to modify ('status' for last seen, 'phone', 'profile_photo', etc.)\n    allow_users: List of user IDs to allow\n    disallow_users: List of user IDs to disallow\n",
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "allow_users": {
                      "type": "array"
                    },
                    "disallow_users": {
                      "type": "array"
                    }
                  },
                  "required": [
                    "key"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_user_photos",
                "description": "\nGet profile photos of a user.\n",
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "user_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_user_status",
                "description": "\nGet the online status of a user.\n",
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "user_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_mute_chat",
                "description": "\nMute notifications for a chat.\n",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_unmute_chat",
                "description": "\nUnmute notifications for a chat.\n",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_search_public_chats",
                "description": "\nSearch for public chats, channels, or bots by username or title.\n\nThis is a GLOBAL search across all public Telegram content.\nOnly use this tool when specifically asked to search for global or public chats.\nDo not use for searching within user's personal chats or conversations.\n",
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "query"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_resolve_username",
                "description": "\nResolve a username to a user or chat ID.\n",
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "username"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_get_bot_info",
                "description": "\nGet information about a bot by username.\n",
                "schema": {
                  "type": "object",
                  "properties": {
                    "bot_username": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "bot_username"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_set_bot_commands",
                "description": "\nSet bot commands for a bot you own.\nNote: This function can only be used if the Telegram client is a bot account.\nRegular user accounts cannot set bot commands.\n\nArgs:\n    bot_username: The username of the bot to set commands for.\n    commands: List of command dictionaries with 'command' and 'description' keys.\n",
                "schema": {
                  "type": "object",
                  "properties": {
                    "bot_username": {
                      "type": "string"
                    },
                    "commands": {
                      "type": "array"
                    }
                  },
                  "required": [
                    "bot_username",
                    "commands"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              {
                "name": "telegram_list_topics",
                "description": "\nRetrieve forum topics from a group with the forum feature enabled.\n\nNote for LLM: You can send a message to a selected topic via reply_to_message tool\nby using Topic ID as the message_id parameter.\n\nArgs:\n    chat_id: The ID of the forum-enabled chat (group).\n    limit: Maximum number of topics to retrieve.\n    offset_topic: Topic ID offset for pagination.\n    search_query: Optional query to filter topics by title.\n",
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset_topic": {
                      "type": "integer"
                    },
                    "search_query": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "chat_id"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              }
            ],
            "myProfile": {
              "id": 5008283745,
              "name": "ParagonTheDev | CTO | metarunelabs.dev",
              "type": "user",
              "username": "paragonthedev",
              "phone": "94718857105"
            },
            "previousAttempt": {}
          }
        }
      }
    ],
    "Execution Planner AI Agent": [
      {
        "json": {
          "output": {
            "executionSteps": [
              {
                "toolName": "telegram_list_messages",
                "callParams": {
                  "chat_id": 6051734492,
                  "limit": 5
                }
              }
            ]
          },
          "intermediateSteps": []
        }
      }
    ],
    "Result Validator AI Agent": [
      {
        "json": {
          "output": {
            "shouldRetry": false,
            "directAnswer": "Here are the last 5 messages in the chat with Sebastian:\n\n1. \"we noticed a message on slack saying staryo platform DevOps will be halt by IT-magic starting tomorrw. you might want to respond immediately to avoid any risks of them shutting down the site. an alternate option would be to let our AWS experts to take over and continue maintaining site along side platform improvements. let us know by tomorrow guys\" (2025-11-05)\n2. \"hey sebastian, just woke up.\" (2025-10-17)\n3. \"hey Paragon, are you available right now?\" (2025-10-16)\n4. \"https://meet.google.com/cbp-tttt-gvn\" (2025-10-16)\n5. \"lemme send a link\" (2025-10-16)"
          }
        }
      }
    ]
  },
  "versionId": "b2b3b2d7-5e6a-49d8-a02c-a43dc47fa25d",
  "versionCounter": 292,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2025-11-02T21:22:20.646Z",
      "createdAt": "2025-11-02T21:22:20.646Z",
      "id": "95mwWdOxtdnkFLhS",
      "name": "Discord"
    },
    {
      "updatedAt": "2025-11-02T21:22:14.342Z",
      "createdAt": "2025-11-02T21:22:14.342Z",
      "id": "w6FOnYOvODOXV9os",
      "name": "MCP"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-11-19T21:40:51.641Z",
      "createdAt": "2025-11-19T21:40:51.641Z",
      "role": "workflow:owner",
      "workflowId": "rjoIG01kPyzaQwcU",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}