n8n-agent/workflows/Telegram Context Scout.json
{
  "updatedAt": "2025-12-05T17:47:51.000Z",
  "createdAt": "2025-11-30T21:00:00.000Z",
  "id": "TelegramContextScout",
  "name": "Telegram Context Scout",
  "description": "This workflow provides a fast, consistent lookup system for Telegram data by combining MCP tools, structured normalization, caching, and fuzzy search.\n\nIt supports seven entity types:\n\n**contact**\nRepresents a Telegram contact returned by the `telegram_list_contacts` MCP tool. The workflow normalizes each contact to include id, username, displayName, lastMessage, contactType, and phone.\n\n**chat**\nRepresents a Telegram chat (DM, group, channel) returned by the `telegram_list_chats` MCP tool. Each chat is normalized to include id, name, members, kind, and unread.\n\n**tool**\nRepresents an MCP tool exposed by the Telegram MCP server. Each item includes the tool name, description and the exact tool call schema.\n\n**self**\nRepresents current user's own Telegram profile. It's a single item including id, username, and other profile details. This entity ignores the `query` parameter.\n\n**contact-rag**\nSearches Telegram contacts using RAG (semantic search) for better matching on names, usernames, and context. Uses the `paragon-os-contacts` collection internally.\n\n**message-rag**\nSearches Telegram messages using RAG (semantic search) for finding messages by content, sender, or context. Uses the `paragon-os-messages` collection internally.\n\n**knowledge-rag**\nSearches or stores information in a persistent knowledge base using RAG. Supports SEARCH (query stored knowledge) and INSERT (store new knowledge) modes via the optional `mode` parameter. Uses the `paragon-os-knowledge` collection internally (or `paragon-os-knowledge-dev` when `testMode` is true). Default mode is SEARCH if not specified.\n\n### What the workflow does\n\n**1. Retrieval**\nWhen an entity type is requested, the workflow fetches the relevant raw data from the appropriate MCP tool unless valid cached data is already available.\n\n**2. Normalization**\nFetched data is transformed into a predictable format for each entity category, enabling reliable fuzzy matching downstream.\n\n**3. Caching**\nAll data types are cached independently with a TTL to reduce repeated MCP calls and improve tool execution speed.\n\n**4. Query Processing**\nThe workflow accepts a search query along with an entity type, then performs fuzzy matching over the appropriate cached dataset and returns the most relevant matches along with match scores.\n\n**5. RAG Operations**\nFor RAG-based entity types (contact-rag, message-rag, knowledge-rag), the workflow uses semantic search and can store/retrieve information from vector collections.\n\nUse this tool whenever a workflow needs structured Telegram data lookup for contacts, chats, Telegram MCP tools, or persistent knowledge storage.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "entity"
            },
            {
              "name": "mode"
            },
            {
              "name": "testMode"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        256
      ],
      "id": "telegram-trigger",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZfQPFI7JkUjGspq",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZfQPFI7JkUjGspq",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cacheKey": "telegramContacts",
            "trueToWrite": false,
            "writeTTLms": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -256,
        -320
      ],
      "id": "check-telegram-contact-cache",
      "name": "Check Contact Cache",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=telegram_list_contacts",
        "toolParameters": "={\n  \"limit\": 100\n}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -32,
        -248
      ],
      "id": "list-telegram-contacts",
      "name": "List Contacts",
      "credentials": {
        "mcpClientApi": {
          "id": "aiYCclLDUqob5iQ0",
          "name": "Telegram MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Generic helper function (inline)\nfunction simplifyMCPData(input, dataKey, mcpDataKey, mapper, errorMsg) {\n  let rawData = [];\n  try {\n    if (input.result?.content?.[0]) {\n      const parsed = JSON.parse(input.result.content[0].text);\n      rawData = parsed?.[mcpDataKey] || [];\n    } else if (input[dataKey]) {\n      rawData = Array.isArray(input[dataKey]) ? input[dataKey] : [];\n    } else if (input.output?.[dataKey]) {\n      rawData = Array.isArray(input.output[dataKey]) ? input.output[dataKey] : [];\n    }\n    \n    if (!Array.isArray(rawData) || rawData.length === 0) {\n      return { [dataKey]: [], error: errorMsg, shouldFetch: true };\n    }\n    \n    return { [dataKey]: rawData.map(mapper) };\n  } catch (error) {\n    return { [dataKey]: [], error: error.message, shouldFetch: true };\n  }\n}\n\n// Use it\nreturn simplifyMCPData(\n  input,\n  'contacts',\n  'contacts',\n  (c) => ({\n    id: c.id,\n    username: c.username,\n    displayName: c.name,\n    lastMessage: c.lastMessageAtRelative,\n    contactType: c.type,\n    phone: c.phone\n  }),\n  'No valid contacts found'\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -248
      ],
      "id": "telegram-contact-data-simplifier",
      "name": "Contact Data Simplifier"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZfQPFI7JkUjGspq",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZfQPFI7JkUjGspq",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "writeTTLms": "={{ 6 * 60 * 60 * 1000 }}",
            "cacheKey": "telegramContacts",
            "writeValue": "={{ {telegramContacts: $json.contacts} }}",
            "trueToWrite": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        416,
        -248
      ],
      "id": "update-telegram-contact-cache",
      "name": "Update Contact Cache"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        -320
      ],
      "id": "all-telegram-contacts",
      "name": "All Contacts"
    },
    {
      "parameters": {
        "query": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "arrayField": "telegramContacts",
        "searchKeys": "username\ndisplayName\ncontactType\nphone",
        "matchQuality": 60,
        "limit": 10,
        "advancedOptions": {
          "includeScore": true,
          "matchIndividualWords": false
        }
      },
      "type": "n8n-nodes-paragon-os.fuzzySearch",
      "typeVersion": 1,
      "position": [
        864,
        -320
      ],
      "id": "telegram-fuzzy-contacts",
      "name": "FuzzySearch (Contacts)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZfQPFI7JkUjGspq",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZfQPFI7JkUjGspq",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cacheKey": "telegramChannels",
            "trueToWrite": false,
            "writeTTLms": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -256,
        -32
      ],
      "id": "check-telegram-chat-cache",
      "name": "Check Chat Cache",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=telegram_list_chats",
        "toolParameters": "={\n  \"limit\": 50\n}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -32,
        40
      ],
      "id": "list-telegram-chats",
      "name": "List Chats",
      "credentials": {
        "mcpClientApi": {
          "id": "aiYCclLDUqob5iQ0",
          "name": "Telegram MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Generic helper function (inline)\nfunction simplifyMCPData(input, dataKey, mcpDataKey, mapper, errorMsg) {\n  let rawData = [];\n  try {\n    if (input.result?.content?.[0]) {\n      const parsed = JSON.parse(input.result.content[0].text);\n      rawData = parsed?.[mcpDataKey] || [];\n    } else if (input[dataKey]) {\n      rawData = Array.isArray(input[dataKey]) ? input[dataKey] : [];\n    } else if (input.output?.[dataKey]) {\n      rawData = Array.isArray(input.output[dataKey]) ? input.output[dataKey] : [];\n    }\n    \n    if (!Array.isArray(rawData) || rawData.length === 0) {\n      return { [dataKey]: [], error: errorMsg, shouldFetch: true };\n    }\n    \n    return { [dataKey]: rawData.map(mapper) };\n  } catch (error) {\n    return { [dataKey]: [], error: error.message, shouldFetch: true };\n  }\n}\n\n// Use it\nreturn simplifyMCPData(\n  input,\n  'channels',\n  'items',\n  (g) => ({\n    id: g.id,\n    name: g.name,\n    members: g.memberCount,\n    kind: g.kind,\n    unread: g.unread\n  }),\n  'No valid chats found'\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        40
      ],
      "id": "telegram-chat-data-simplifier",
      "name": "Chat Data Simplifier"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZfQPFI7JkUjGspq",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZfQPFI7JkUjGspq",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "writeTTLms": "={{ 6 * 60 * 60 * 1000 }}",
            "cacheKey": "telegramChannels",
            "writeValue": "={{ {channels: $json.channels} }}",
            "trueToWrite": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        416,
        40
      ],
      "id": "update-telegram-chat-cache",
      "name": "Update Chat Cache"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        -32
      ],
      "id": "all-telegram-chats",
      "name": "All Chats"
    },
    {
      "parameters": {
        "query": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "arrayField": "channels",
        "searchKeys": "name\nkind",
        "matchQuality": 50,
        "limit": 10,
        "advancedOptions": {
          "includeScore": true,
          "matchIndividualWords": false
        }
      },
      "type": "n8n-nodes-paragon-os.fuzzySearch",
      "typeVersion": 1,
      "position": [
        864,
        -32
      ],
      "id": "telegram-fuzzy-chats",
      "name": "FuzzySearch (Chats)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZfQPFI7JkUjGspq",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZfQPFI7JkUjGspq",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cacheKey": "telegramTools",
            "trueToWrite": false,
            "writeTTLms": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -256,
        256
      ],
      "id": "check-telegram-tool-cache",
      "name": "Check Tool Cache",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -32,
        328
      ],
      "id": "list-telegram-tools",
      "name": "List MCP Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "aiYCclLDUqob5iQ0",
          "name": "Telegram MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Validate cache result - check if tools exist and is valid\nif (!input || !input.tools || (Array.isArray(input.tools) && input.tools.length === 0) || (typeof input.tools === 'object' && Object.keys(input.tools).length === 0)) {\n  // Invalid/empty cache - return error to trigger fetch\n  return {\n    error: 'Invalid or empty cache result',\n    shouldFetch: true,\n    output: { tools: [] }\n  };\n}\n\nreturn {\n  output: {\n    tools: input.tools\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        328
      ],
      "id": "telegram-tool-data-simplifier",
      "name": "Tool Data Simplifier"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZfQPFI7JkUjGspq",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZfQPFI7JkUjGspq",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "writeTTLms": "={{ 6 * 60 * 60 * 1000 }}",
            "cacheKey": "telegramTools",
            "writeValue": "={{ $json.output }}",
            "trueToWrite": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        416,
        328
      ],
      "id": "update-telegram-tool-cache",
      "name": "Update Tool Cache"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        256
      ],
      "id": "all-telegram-tools",
      "name": "All Tools"
    },
    {
      "parameters": {
        "query": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "arrayField": "tools",
        "searchKeys": "name\ndescription",
        "matchQuality": 50,
        "limit": 10,
        "advancedOptions": {
          "includeScore": true,
          "matchIndividualWords": false
        }
      },
      "type": "n8n-nodes-paragon-os.fuzzySearch",
      "typeVersion": 1,
      "position": [
        864,
        256
      ],
      "id": "telegram-fuzzy-tools",
      "name": "FuzzySearch (Tools)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZfQPFI7JkUjGspq",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZfQPFI7JkUjGspq",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cacheKey": "telegramProfile",
            "trueToWrite": false,
            "writeTTLms": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -32,
        568
      ],
      "id": "check-telegram-profile-cache",
      "name": "Check Profile Cache",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=telegram_get_me",
        "toolParameters": "={}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        192,
        640
      ],
      "id": "get-telegram-profile",
      "name": "Get My Profile",
      "credentials": {
        "mcpClientApi": {
          "id": "aiYCclLDUqob5iQ0",
          "name": "Telegram MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  myProfile: JSON.parse($input.first().json.result.content[0].text)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        640
      ],
      "id": "telegram-profile-simplifier",
      "name": "User Profile Simplifier"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "telegram-profile-id",
              "name": "myProfile.id",
              "value": "={{ $json.myProfile.id }}",
              "type": "string"
            },
            {
              "id": "telegram-profile-username",
              "name": "myProfile.username",
              "value": "={{ $json.myProfile.username }}",
              "type": "string"
            },
            {
              "id": "telegram-profile-firstName",
              "name": "myProfile.firstName",
              "value": "={{ $json.myProfile.firstName }}",
              "type": "string"
            },
            {
              "id": "telegram-profile-lastName",
              "name": "myProfile.lastName",
              "value": "={{ $json.myProfile.lastName }}",
              "type": "string"
            },
            {
              "id": "telegram-profile-phone",
              "name": "myProfile.phone",
              "value": "={{ $json.myProfile.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        640
      ],
      "id": "telegram-profile-edit-fields",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZfQPFI7JkUjGspq",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZfQPFI7JkUjGspq",
          "cachedResultName": "[HELPERS] Global Cache System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "writeTTLms": "={{ 6 * 60 * 60 * 1000 }}",
            "cacheKey": "telegramProfile",
            "writeValue": "={{ {myProfile: $json.myProfile} }}",
            "trueToWrite": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trueToWrite",
              "displayName": "trueToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "cacheKey",
              "displayName": "cacheKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "writeValue",
              "displayName": "writeValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "writeTTLms",
              "displayName": "writeTTLms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        784,
        640
      ],
      "id": "update-telegram-profile-cache",
      "name": "Update Profile Cache"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1008,
        568
      ],
      "id": "all-telegram-profile",
      "name": "My Profile"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.entity }}",
                    "rightValue": "contact",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "telegram-switch-contact"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CONTACT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "telegram-switch-chat",
                    "leftValue": "={{ $json.entity }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CHAT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "telegram-switch-tool",
                    "leftValue": "={{ $json.entity }}",
                    "rightValue": "tool",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TOOL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "telegram-switch-self",
                    "leftValue": "={{ $json.entity }}",
                    "rightValue": "self",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SELF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fe0ed798-0a79-4ac5-8af0-a56f45ff08f6",
                    "leftValue": "={{ $json.entity }}",
                    "rightValue": "contact-rag",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CONTACT_RAG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "telegram-switch-message-rag",
                    "leftValue": "={{ $json.entity }}",
                    "rightValue": "message-rag",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MESSAGE_RAG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "telegram-switch-knowledge-rag",
                    "leftValue": "={{ $json.entity }}",
                    "rightValue": "knowledge-rag",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "KNOWLEDGE_RAG"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -480,
        208
      ],
      "id": "telegram-entity-switch",
      "name": "Switch"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1088,
        208
      ],
      "id": "telegram-merge-results",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IZa7S90Z9W1qxysr",
          "mode": "list",
          "cachedResultUrl": "/workflow/IZa7S90Z9W1qxysr",
          "cachedResultName": "[HELPERS] Dynamic RAG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "collectionId": "={{ $('When Executed by Another Workflow').item.json.testMode ? 'paragon-os-contacts-dev' : 'paragon-os-contacts' }}",
            "mode": "INSERT",
            "input": "={{ \n  ({\n    content: {\n      contacts: $json.contacts\n    }\n  })\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "collectionId",
              "displayName": "collectionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        416,
        952
      ],
      "id": "cf8f41b0-1a9e-40c9-95d4-4d5b334499de",
      "name": "Contacts Dynamic RAG"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=telegram_list_contacts",
        "toolParameters": "={\n  \"limit\": 100\n}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -32,
        952
      ],
      "id": "c1a55dcd-ddaf-4821-ad50-4b55f3621601",
      "name": "List Contacts1",
      "credentials": {
        "mcpClientApi": {
          "id": "aiYCclLDUqob5iQ0",
          "name": "Telegram MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Generic helper function (inline)\nfunction simplifyMCPData(input, dataKey, mcpDataKey, mapper, errorMsg) {\n  let rawData = [];\n  try {\n    if (input.result?.content?.[0]) {\n      const parsed = JSON.parse(input.result.content[0].text);\n      rawData = parsed?.[mcpDataKey] || [];\n    } else if (input[dataKey]) {\n      rawData = Array.isArray(input[dataKey]) ? input[dataKey] : [];\n    } else if (input.output?.[dataKey]) {\n      rawData = Array.isArray(input.output[dataKey]) ? input.output[dataKey] : [];\n    }\n    \n    if (!Array.isArray(rawData) || rawData.length === 0) {\n      return { [dataKey]: [], error: errorMsg, shouldFetch: true };\n    }\n    \n    return { [dataKey]: rawData.map(mapper) };\n  } catch (error) {\n    return { [dataKey]: [], error: error.message, shouldFetch: true };\n  }\n}\n\n// Use it\nreturn simplifyMCPData(\n  input,\n  'contacts',\n  'contacts',\n  (c) => ({\n    id: c.id,\n    username: c.username,\n    displayName: c.name,\n    lastMessage: c.lastMessageAtRelative,\n    contactType: c.type,\n    phone: c.phone\n  }),\n  'No valid contacts found'\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        952
      ],
      "id": "2c9e44c5-3e3c-40f6-afa1-930364da7dbd",
      "name": "Contact Data Simplifier1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IZa7S90Z9W1qxysr",
          "mode": "list",
          "cachedResultUrl": "/workflow/IZa7S90Z9W1qxysr",
          "cachedResultName": "[HELPERS] Dynamic RAG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mode": "SEARCH",
            "collectionId": "={{ $('When Executed by Another Workflow').item.json.testMode ? 'paragon-os-contacts-dev' : 'paragon-os-contacts' }}",
            "input": "={{ $('When Executed by Another Workflow').item.json.query }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "collectionId",
              "displayName": "collectionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        640,
        880
      ],
      "id": "search-rag-contacts",
      "name": "Search RAG Contacts"
    },
    {
      "parameters": {
        "jsCode": "// Transform RAG search results to match expected format\nconst input = $input.first().json;\n\n// RAG returns results in format: { results: [...] }\n// Each result has: { content: { contacts: [...] }, score: ... }\n// We need to extract contacts and flatten to telegramContacts array\n\nlet telegramContacts = [];\n\ntry {\n  if (input.results && Array.isArray(input.results)) {\n    // Extract contacts from each RAG result\n    for (const result of input.results) {\n      if (result.content && result.content.contacts && Array.isArray(result.content.contacts)) {\n        telegramContacts.push(...result.content.contacts);\n      }\n    }\n  } else if (input.contacts && Array.isArray(input.contacts)) {\n    // Fallback: if contacts are directly in the response\n    telegramContacts = input.contacts;\n  } else if (Array.isArray(input)) {\n    // Fallback: if the response is directly an array\n    telegramContacts = input;\n  }\n} catch (error) {\n  // If transformation fails, return empty array\n  telegramContacts = [];\n}\n\n// Return in the format expected by FuzzySearch\nreturn {\n  telegramContacts: telegramContacts\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        880
      ],
      "id": "transform-rag-results",
      "name": "Transform RAG Results"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1088,
        880
      ],
      "id": "6530fe58-7931-42d9-b79d-4d85c303d55f",
      "name": "All Contacts1"
    },
    {
      "parameters": {
        "query": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "arrayField": "telegramContacts",
        "searchKeys": "username\ndisplayName\ncontactType\nphone",
        "matchQuality": 60,
        "limit": 10,
        "advancedOptions": {
          "includeScore": true,
          "matchIndividualWords": false
        }
      },
      "type": "n8n-nodes-paragon-os.fuzzySearch",
      "typeVersion": 1,
      "position": [
        864,
        880
      ],
      "id": "0a10a614-6852-48fd-bde8-eb1ab1bf7055",
      "name": "FuzzySearch (Contacts)1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IZa7S90Z9W1qxysr",
          "mode": "list",
          "cachedResultUrl": "/workflow/IZa7S90Z9W1qxysr",
          "cachedResultName": "[HELPERS] Dynamic RAG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mode": "STATUS",
            "collectionId": "paragon-os-contacts"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "collectionId",
              "displayName": "collectionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -256,
        880
      ],
      "id": "eb9b444d-5241-4f61-af6f-6f76b44995ff",
      "name": "Check RAG Status",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IZa7S90Z9W1qxysr",
          "mode": "list",
          "cachedResultUrl": "/workflow/IZa7S90Z9W1qxysr",
          "cachedResultName": "[HELPERS] Dynamic RAG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mode": "STATUS",
            "collectionId": "={{ $('When Executed by Another Workflow').item.json.testMode ? 'paragon-os-messages-dev' : 'paragon-os-messages' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "collectionId",
              "displayName": "collectionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -256,
        1040
      ],
      "id": "check-message-rag-status",
      "name": "Check Message RAG Status",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "=telegram_list_messages",
        "toolParameters": "={\n  \"limit\": 100\n}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -32,
        1112
      ],
      "id": "list-messages",
      "name": "List Messages",
      "credentials": {
        "mcpClientApi": {
          "id": "aiYCclLDUqob5iQ0",
          "name": "Telegram MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nfunction simplifyMCPData(input, dataKey, mcpDataKey, mapper, errorMsg) {\n  let rawData = [];\n  try {\n    if (input.result?.content?.[0]) {\n      const parsed = JSON.parse(input.result.content[0].text);\n      rawData = parsed?.[mcpDataKey] || [];\n    } else if (input[dataKey]) {\n      rawData = Array.isArray(input[dataKey]) ? input[dataKey] : [];\n    } else if (input.output?.[dataKey]) {\n      rawData = Array.isArray(input.output[dataKey]) ? input.output[dataKey] : [];\n    }\n    \n    if (!Array.isArray(rawData) || rawData.length === 0) {\n      return { [dataKey]: [], error: errorMsg, shouldFetch: true };\n    }\n    \n    return { [dataKey]: rawData.map(mapper) };\n  } catch (error) {\n    return { [dataKey]: [], error: error.message, shouldFetch: true };\n  }\n}\n\nreturn simplifyMCPData(\n  input,\n  'messages',\n  'messages',\n  (m) => ({\n    id: m.id,\n    chatId: m.chatId,\n    text: m.text || '',\n    senderId: m.senderId,\n    senderName: m.senderName || m.from?.name || '',\n    date: m.date || m.timestamp,\n    kind: m.kind || 'message'\n  }),\n  'No valid messages found'\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        1112
      ],
      "id": "message-data-simplifier",
      "name": "Message Data Simplifier"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IZa7S90Z9W1qxysr",
          "mode": "list",
          "cachedResultUrl": "/workflow/IZa7S90Z9W1qxysr",
          "cachedResultName": "[HELPERS] Dynamic RAG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "collectionId": "={{ $('When Executed by Another Workflow').item.json.testMode ? 'paragon-os-messages-dev' : 'paragon-os-messages' }}",
            "mode": "INSERT",
            "input": "={{ \n  ({\n    content: {\n      messages: $json.messages\n    }\n  })\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "collectionId",
              "displayName": "collectionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        416,
        1112
      ],
      "id": "messages-dynamic-rag",
      "name": "Messages Dynamic RAG"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IZa7S90Z9W1qxysr",
          "mode": "list",
          "cachedResultUrl": "/workflow/IZa7S90Z9W1qxysr",
          "cachedResultName": "[HELPERS] Dynamic RAG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mode": "SEARCH",
            "collectionId": "={{ $('When Executed by Another Workflow').item.json.testMode ? 'paragon-os-messages-dev' : 'paragon-os-messages' }}",
            "input": "={{ $('When Executed by Another Workflow').item.json.query }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "collectionId",
              "displayName": "collectionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        640,
        1040
      ],
      "id": "search-rag-messages",
      "name": "Search RAG Messages"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nlet telegramMessages = [];\n\ntry {\n  if (input.results && Array.isArray(input.results)) {\n    for (const result of input.results) {\n      if (result.content && result.content.messages && Array.isArray(result.content.messages)) {\n        telegramMessages.push(...result.content.messages);\n      }\n    }\n  } else if (input.messages && Array.isArray(input.messages)) {\n    telegramMessages = input.messages;\n  } else if (Array.isArray(input)) {\n    telegramMessages = input;\n  }\n} catch (error) {\n  telegramMessages = [];\n}\n\nreturn {\n  telegramMessages: telegramMessages\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        1040
      ],
      "id": "transform-rag-message-results",
      "name": "Transform RAG Message Results"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1088,
        1040
      ],
      "id": "all-messages",
      "name": "All Messages"
    },
    {
      "parameters": {
        "query": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "arrayField": "telegramMessages",
        "searchKeys": "text\nsenderName",
        "matchQuality": 50,
        "limit": 10,
        "advancedOptions": {
          "includeScore": true,
          "matchIndividualWords": false
        }
      },
      "type": "n8n-nodes-paragon-os.fuzzySearch",
      "typeVersion": 1,
      "position": [
        1312,
        1040
      ],
      "id": "fuzzysearch-messages",
      "name": "FuzzySearch (Messages)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IZa7S90Z9W1qxysr",
          "mode": "list",
          "cachedResultUrl": "/workflow/IZa7S90Z9W1qxysr",
          "cachedResultName": "[HELPERS] Dynamic RAG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mode": "STATUS",
            "collectionId": "={{ $('When Executed by Another Workflow').item.json.testMode ? 'paragon-os-knowledge-dev' : 'paragon-os-knowledge' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "collectionId",
              "displayName": "collectionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -256,
        1200
      ],
      "id": "check-knowledge-rag-status",
      "name": "Check Knowledge RAG Status",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IZa7S90Z9W1qxysr",
          "mode": "list",
          "cachedResultUrl": "/workflow/IZa7S90Z9W1qxysr",
          "cachedResultName": "[HELPERS] Dynamic RAG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mode": "CREATE",
            "collectionId": "={{ $('When Executed by Another Workflow').item.json.testMode ? 'paragon-os-knowledge-dev' : 'paragon-os-knowledge' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "collectionId",
              "displayName": "collectionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -32,
        1200
      ],
      "id": "create-knowledge-collection",
      "name": "Create Knowledge Collection",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const triggerData = $('When Executed by Another Workflow').first().json;\nconst mode = triggerData.mode || 'SEARCH';\nconst query = triggerData.query || '';\nconst testMode = triggerData.testMode || false;\n\n// For INSERT mode, wrap query in proper structure\n// For SEARCH mode, use query as-is\nconst input = mode === 'INSERT' \n  ? { content: { text: query }, metadata: {} }\n  : query;\n\n// Use -dev collections for tests, production collections otherwise\nconst collectionId = testMode ? 'paragon-os-knowledge-dev' : 'paragon-os-knowledge';\n\nreturn {\n  mode: mode,\n  collectionId: collectionId,\n  input: input\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1200
      ],
      "id": "prepare-knowledge-rag-input",
      "name": "Prepare Knowledge RAG Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IZa7S90Z9W1qxysr",
          "mode": "list",
          "cachedResultUrl": "/workflow/IZa7S90Z9W1qxysr",
          "cachedResultName": "[HELPERS] Dynamic RAG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mode": "={{ $json.mode }}",
            "collectionId": "={{ $json.collectionId }}",
            "input": "={{ $json.input }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "collectionId",
              "displayName": "collectionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        640,
        1200
      ],
      "id": "search-insert-knowledge",
      "name": "Search/Insert Knowledge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1088,
        1200
      ],
      "id": "knowledge-rag-result",
      "name": "Knowledge RAG Result"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Contact Cache": {
      "main": [
        [
          {
            "node": "All Contacts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Contacts": {
      "main": [
        [
          {
            "node": "Contact Data Simplifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Data Simplifier": {
      "main": [
        [
          {
            "node": "Update Contact Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact Cache": {
      "main": [
        [
          {
            "node": "All Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Contacts": {
      "main": [
        [
          {
            "node": "FuzzySearch (Contacts)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FuzzySearch (Contacts)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Chat Cache": {
      "main": [
        [
          {
            "node": "All Chats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Chats": {
      "main": [
        [
          {
            "node": "Chat Data Simplifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Data Simplifier": {
      "main": [
        [
          {
            "node": "Update Chat Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Chat Cache": {
      "main": [
        [
          {
            "node": "All Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Chats": {
      "main": [
        [
          {
            "node": "FuzzySearch (Chats)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FuzzySearch (Chats)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check Tool Cache": {
      "main": [
        [
          {
            "node": "All Tools",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List MCP Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List MCP Tools": {
      "main": [
        [
          {
            "node": "Tool Data Simplifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Data Simplifier": {
      "main": [
        [
          {
            "node": "Update Tool Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tool Cache": {
      "main": [
        [
          {
            "node": "All Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Tools": {
      "main": [
        [
          {
            "node": "FuzzySearch (Tools)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FuzzySearch (Tools)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Check Profile Cache": {
      "main": [
        [
          {
            "node": "My Profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get My Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get My Profile": {
      "main": [
        [
          {
            "node": "User Profile Simplifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Profile Simplifier": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update Profile Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Profile Cache": {
      "main": [
        [
          {
            "node": "My Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "My Profile": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Check Contact Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Chat Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Tool Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Profile Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check RAG Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Message RAG Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Knowledge RAG Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Contacts1": {
      "main": [
        [
          {
            "node": "Contact Data Simplifier1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Data Simplifier1": {
      "main": [
        [
          {
            "node": "Contacts Dynamic RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Contacts1": {
      "main": [
        [
          {
            "node": "FuzzySearch (Contacts)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search RAG Contacts": {
      "main": [
        [
          {
            "node": "Transform RAG Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform RAG Results": {
      "main": [
        [
          {
            "node": "All Contacts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contacts Dynamic RAG": {
      "main": [
        [
          {
            "node": "Search RAG Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FuzzySearch (Contacts)1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Check RAG Status": {
      "main": [
        [
          {
            "node": "Search RAG Contacts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Contacts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message RAG Status": {
      "main": [
        [
          {
            "node": "Search RAG Messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Messages": {
      "main": [
        [
          {
            "node": "Message Data Simplifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Data Simplifier": {
      "main": [
        [
          {
            "node": "Messages Dynamic RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Messages Dynamic RAG": {
      "main": [
        [
          {
            "node": "Search RAG Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search RAG Messages": {
      "main": [
        [
          {
            "node": "Transform RAG Message Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform RAG Message Results": {
      "main": [
        [
          {
            "node": "All Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Messages": {
      "main": [
        [
          {
            "node": "FuzzySearch (Messages)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FuzzySearch (Messages)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Check Knowledge RAG Status": {
      "main": [
        [
          {
            "node": "Prepare Knowledge RAG Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Knowledge Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Knowledge Collection": {
      "main": [
        [
          {
            "node": "Prepare Knowledge RAG Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Knowledge RAG Input": {
      "main": [
        [
          {
            "node": "Search/Insert Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search/Insert Knowledge": {
      "main": [
        [
          {
            "node": "Knowledge RAG Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge RAG Result": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "sebastian",
          "entity": "contact-rag"
        }
      }
    ]
  },
  "versionId": "edcc00dc-f0bb-476a-9146-7c4c4db41c8e",
  "activeVersionId": null,
  "versionCounter": 37,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2025-11-07T17:59:49.155Z",
      "createdAt": "2025-11-07T17:59:49.155Z",
      "id": "q6mxN2D7JQjPEzuF",
      "name": "Telegram"
    },
    {
      "updatedAt": "2025-11-02T21:22:14.342Z",
      "createdAt": "2025-11-02T21:22:14.342Z",
      "id": "w6FOnYOvODOXV9os",
      "name": "MCP"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-11-30T20:54:42.692Z",
      "createdAt": "2025-11-30T20:54:42.692Z",
      "role": "workflow:owner",
      "workflowId": "TelegramContextScout",
      "projectId": "GEUEn6ArNROzJ5FY",
      "project": {
        "updatedAt": "2025-10-28T15:11:59.092Z",
        "createdAt": "2025-10-28T15:08:17.462Z",
        "id": "GEUEn6ArNROzJ5FY",
        "name": "Paragon TheDev <paragoncryptodev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}