n8n-agent/workflows/Telegram Smart Agent.json
{
  "updatedAt": "2025-12-09T01:35:05.608Z",
  "createdAt": "2025-12-09T01:23:32.355Z",
  "id": "YpgZ8zoMWyp2SqAi",
  "name": "Telegram Smart Agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userPrompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1712,
        112
      ],
      "id": "telegram-smart-trigger",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1488,
        112
      ],
      "id": "telegram-smart-noop-in",
      "name": "No Operation, do nothing (In)"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"executionSteps\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"toolName\": {\n            \"type\": \"string\",\n            \"description\": \"The exact MCP tool name to execute (e.g., 'telegram_list_messages', 'telegram_send_message')\"\n          },\n          \"callParams\": {\n            \"type\": \"object\",\n            \"description\": \"The parameters object for the tool call with all required IDs and values\",\n            \"additionalProperties\": true\n          },\n          \"reasoning\": {\n            \"type\": \"string\",\n            \"description\": \"Brief explanation of why this step is needed\"\n          }\n        },\n        \"required\": [\"toolName\", \"callParams\"],\n        \"additionalProperties\": false\n      },\n      \"description\": \"Execution step array to achieve the user's goal\"\n    },\n    \"chatsUsed\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"string\"\n          },\n          \"name\": {\n            \"type\": \"string\"\n          },\n          \"kind\": {\n            \"type\": \"string\",\n            \"description\": \"Telegram chat kind, e.g. 'user', 'group', 'supergroup', 'channel'\"\n          },\n          \"unread\": {\n            \"type\": \"boolean\",\n            \"description\": \"Whether this chat currently has unread messages\"\n          }\n        }\n      },\n      \"description\": \"List of chat objects that were referenced when providing the answer to user prompt\"\n    },\n    \"contactsUsed\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"string\"\n          },\n          \"username\": {\n            \"type\": \"string\"\n          },\n          \"displayName\": {\n            \"type\": \"string\"\n          },\n          \"phone\": {\n            \"type\": \"string\"\n          }\n        }\n      },\n      \"description\": \"List of Telegram contacts that were referenced when providing the answer to user prompt\"\n    },\n    \"toolsUsed\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\"\n          },\n          \"description\": {\n            \"type\": \"string\"\n          },\n          \"inputSchema\": {\n            \"type\": \"object\"\n          }\n        }\n      },\n      \"description\": \"List of MCP tool specifications used in the executionStep execution\"\n    },\n    \"answerToUserPrompt\": {\n      \"type\": \"string\",\n      \"description\": \"Your answer to the user prompt after calling Telegram Context Scout & executing Telegram MCP calls for executionSteps. MUST be proper markdown formatted.\"\n    }\n  },\n  \"required\": [\n    \"executionSteps\",\n    \"chatsUsed\",\n    \"contactsUsed\",\n    \"toolsUsed\",\n    \"answerToUserPrompt\"\n  ],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1008,
        336
      ],
      "id": "telegram-smart-output-parser",
      "name": "Smart Agent Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Prompt: {{ $json.userPrompt }}\n\nCurrent Date & Time: {{ $now.toString() }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Role\n\nYou are a high-reliability Telegram assistant. Your job is to answer the user's prompt as accurately as possible by:\n\n- Searching for relevant Telegram contacts, chats, and MCP tools using the **Telegram Context Scout** tool.\n\n- Constructing a fully-resolved sequence of Telegram MCP tool calls (`executionSteps`).\n\n- Executing those steps via the **Step Executor** tool with `targetMcp = \"TELEGRAM\"`.\n\n- Returning a complete markdown answer and explicit provenance (which chats, contacts, and tools you used).\n\n---\n\n## Critical Telegram semantics\n\n- Telegram uses **chat_id** for all conversations (DMs, groups, channels).\n\n- Group/supergroup/channel IDs may be negative, but you must always use the exact ids returned from tools or the scout.\n\n- Do **not** invent or hallucinate `chat_id`, `user_id`, or tool names.\n\n- Every ID you use in `callParams` must come from:\n\n  - Telegram Context Scout results, or\n\n  - Previous Telegram MCP tool calls, or\n\n  - Explicitly provided metadata in the prompt (if it clearly contains a valid id).\n\n---\n\n## Tools you can use\n\n### 1. Telegram Context Scout (toolWorkflow)\n\nYou MUST use this tool anytime you need to:\n\n- Resolve a human-readable **contact name** to a concrete contact (for DM `chat_id`).\n\n- Resolve a human-readable **chat name** (group/channel) to a concrete chat with id and kind.\n\n- Discover which Telegram MCP tools exist and what their input schemas are.\n\nCall it with:\n\n- `query`: space separated keywords, e.g. `\"read messages\"`, `\"send dm sebastian\"`, `\"download attachments\"`.\n\n- `entity`:\n\n  - `\"chat\"` → search in chats and this should be the primary way of finding contacts/chats (name, kind).\n\n  - `\"contact\"` → search in Telegram contacts. Use this only as a fallback to chat search (username, displayName, contactType, phone).\n\n  - `\"contact-rag\"` → search Telegram contacts using RAG (semantic search) for better matching on names, usernames, and context. **The scout manages the `paragon-os-contacts` collection internally - you don't need to specify collection IDs.**\n\n  - `\"message-rag\"` → search Telegram messages using RAG (semantic search) for finding messages by content, sender, or context. Use this when the user asks to find messages containing specific topics or keywords. **The scout manages the `paragon-os-messages` collection internally - you don't need to specify collection IDs.**\n\n  - `\"tool\"` → search in MCP tools (name, description) and inspect inputSchema.\n\n  - `\"self\"` → retrieve and inspect your own Telegram profile.\n\nYou may call the Scout **multiple times** with different queries and entities.\n\n**Important:** The Telegram Context Scout handles all collection IDs internally. When you call it with `entity: \"contact-rag\"` or `entity: \"message-rag\"`, it automatically uses the correct collections (`paragon-os-contacts` and `paragon-os-messages` respectively).\n\n### 2. Step Executor (toolWorkflow)\n\n- Call this tool with a **complete `executionSteps` array** and `targetMcp = \"TELEGRAM\"`.\n\n- It will execute your Telegram MCP sequence and return per-step results.\n\n- You MUST call Step Executor if you produce any `executionSteps`.\n\n---\n\n## ExecutionSteps construction rules\n\n- `executionSteps` is an ordered array. Each step:\n\n  - `toolName`: exact MCP tool name (e.g., `\"telegram_list_messages\"`, `\"telegram_send_message\"`, `\"telegram_search_messages\"`, `\"telegram_download_media\"`).\n\n  - `callParams`: full parameter object that exactly matches the tool schema (use `Telegram Context Scout` + tool schemas to populate this).\n\n  - `reasoning`: short explanation of why the step is needed.\n\n- Never use symbolic references like \"chat from step 1\". Always use concrete ids.\n\n- If you don't yet know a `chat_id` or other identifier, FIRST call the Scout (or an appropriate MCP tool) to find it, then build subsequent steps using those ids.\n\n---\n\n## When to use direct Telegram reads vs writes\n\nAlways use MCP tools (via executionSteps) for **any** Telegram data access:\n\n- Reading/list/get operations (list messages, pending chats, search messages, get profile info).\n\n- Writing/send operations (send message, reply, edit, delete, react, forward, download media).\n\n- Finding/searching operations (search messages, search public chats, etc.).\n\nExamples:\n\n- \"list my unread group chats\" → use tools like `telegram_get_pending_chats` / `telegram_list_chats` and then summarize.\n\n- \"send a DM to Sebastian\" → resolve contact name via Scout, then call `telegram_send_message` with concrete `chat_id`.\n\n- \"summarize what I missed in channel X since yesterday\" → resolve chat via Scout, then list/search messages with appropriate date filters, then summarize.\n\n---\n\n## Output requirements\n\nYou MUST return a valid JSON object matching the structured schema:\n\n- `executionSteps`: the exact array you passed to Step Executor.\n\n- `chatsUsed`: all chats whose ids or names you relied on when answering.\n\n- `contactsUsed`: all contacts you referenced or targeted in your plan.\n\n- `toolsUsed`: MCP tools (name, description, inputSchema) you actually executed.\n\n- `answerToUserPrompt`: final answer as user-facing markdown.\n\nIf the user prompt is purely informational and can be answered without Telegram access, you may still use the Scout to double-check context and then produce an empty `executionSteps` if genuinely no tool calls are needed, but this should be rare.\n\n---\n\n## Your own Telegram profile (if available)\n\nIf you need your own profile (e.g., to detect your own user id), call the Telegram Context Scout with `entity = \"self\"`.\n\n---\n\n## Media output rules\n\nWhen your executionSteps read or download Telegram media (images, videos, voice notes, files), you MUST document them in the `answerToUserPrompt` markdown using this exact pattern:\n\n### Media\n\n- **Type**: <one of: image, video, audio, file, sticker, other>\n\n- **Source chat**: <human-readable chat name> (Telegram)\n\n- **When**: <timestamp or relative time, if available>\n\n- **From**: <sender display name or username, if available>\n\n- **File**: `<filename or identifier>`\n\n- **Local path**: `<absolute path on disk>` (if provided by tools)\n\n- **Message link**: [Open in Telegram](<deep link or message URL, only if provided by tools>)\n\nIf the tool output also includes an HTTP(S) URL that can be shown to the user, then add:\n\n- **Preview**:\n\n  ![Last media item](<http or https URL>)\n\nIMPORTANT:\n\n- Do NOT fabricate or guess URLs or file paths. Only use values explicitly returned by the tools or Step Executor.\n\n- If the tool only gives you a local path (e.g., `/Users/.../chat123_msg456.jpg`), show just that path in backticks.\n\n- If no media was found, omit the `### Media` section entirely.",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1264,
        112
      ],
      "id": "telegram-smart-agent",
      "name": "Telegram Smart Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1136,
        544
      ],
      "id": "telegram-smart-gemini",
      "name": "Gemini Model (Telegram Smart Agent)",
      "credentials": {
        "googlePalmApi": {
          "id": "NIhZoi9otQV2vaAP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "telegram-smart-output-assignment",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            },
            {
              "id": "telegram-smart-userprompt-assignment",
              "name": "userPrompt",
              "value": "={{ $('When Executed by Another Workflow').item.json.userPrompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        112
      ],
      "id": "telegram-smart-set-output",
      "name": "Attach Final Output"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -416,
        112
      ],
      "id": "telegram-smart-noop-out",
      "name": "No Operation, do nothing (Out)"
    },
    {
      "parameters": {
        "description": "Unified Telegram Context Scout search tool for contacts, chats, tools, self profile, and persistent knowledge base.",
        "workflowId": {
          "__rl": true,
          "value": "dTqTW6CcHL7gxqQf",
          "mode": "list",
          "cachedResultName": "Telegram Context Scout",
          "cachedResultUrl": "/workflow/dTqTW6CcHL7gxqQf"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `Space separated keywords used to search Telegram contacts, chats, or MCP tools. This query is fuzzily matched against the fields relevant to the selected entity type.`, 'string') }}",
            "entity": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('entity', `Specifies which dataset to search. Must be one of the following:\\n\\n**contact** - Searches Telegram contacts using RAG (semantic search) for better matching on names, usernames, and context.\\n**contact-rag** - Same as 'contact', searches Telegram contacts using RAG (semantic search). Use this when you need explicit RAG-based contact search.\\n**chat** - Searches through Telegram chats (DMs, groups, channels) using name and kind.\\n**message-rag** - Searches Telegram messages using RAG (semantic search) for finding messages by content, sender, or context.\\n**tool** - Searches through MCP tools using tool name and description.\\n**self** - Returns your own Telegram profile; ignores the query string.`, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "entity",
              "displayName": "entity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1264,
        336
      ],
      "id": "telegram-context-scout-tool",
      "name": "Telegram Context Scout Tool"
    },
    {
      "parameters": {
        "description": "Call this tool with a valid executionSteps array to execute a sequence of MCP calls and get results from Telegram or Discord.",
        "workflowId": {
          "__rl": true,
          "value": "WxIotoTldppUMYHf",
          "mode": "list",
          "cachedResultUrl": "/workflow/WxIotoTldppUMYHf",
          "cachedResultName": "[HELPERS] Discord & Telegram Step Executor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "executionSteps": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('executionSteps', ``, 'json') }}",
            "targetMcp": "TELEGRAM"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "executionSteps",
              "displayName": "executionSteps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "targetMcp",
              "displayName": "targetMcp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1136,
        336
      ],
      "id": "telegram-step-executor-tool",
      "name": "Step Executor (Telegram)"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "No Operation, do nothing (In)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing (In)": {
      "main": [
        [
          {
            "node": "Telegram Smart Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Agent Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Telegram Smart Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Smart Agent": {
      "main": [
        [
          {
            "node": "Attach Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model (Telegram Smart Agent)": {
      "ai_languageModel": [
        [
          {
            "node": "Telegram Smart Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Smart Agent Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Attach Final Output": {
      "main": [
        [
          {
            "node": "No Operation, do nothing (Out)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Context Scout Tool": {
      "ai_tool": [
        [
          {
            "node": "Telegram Smart Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Step Executor (Telegram)": {
      "ai_tool": [
        [
          {
            "node": "Telegram Smart Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "eece8fd6-2ffa-4d01-b74f-7fa296571b87",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-09T01:23:32.358Z",
      "createdAt": "2025-12-09T01:23:32.358Z",
      "role": "workflow:owner",
      "workflowId": "YpgZ8zoMWyp2SqAi",
      "projectId": "GEUEn6ArNROzJ5FY"
    }
  ],
  "activeVersion": null,
  "tags": []
}
